Repository eclipse-hono/hono, pull requests merged in 2018-08, with the labels that each got.

#734 [#633] Command and Control for MQTT.
  adapters/kura/src/main/java/org/eclipse/hono/adapter/kura/KuraProtocolAdapter.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapterTest.java
  adapters/mqtt-vertx/src/main/java/org/eclipse/hono/adapter/mqtt/impl/VertxBasedMqttProtocolAdapter.java
  core/src/main/java/org/eclipse/hono/util/CommandConstants.java
  core/src/main/java/org/eclipse/hono/util/EndpointType.java
  core/src/main/java/org/eclipse/hono/util/MessageTap.java
  core/src/main/java/org/eclipse/hono/util/ResourceIdentifier.java
  example/src/main/java/org/eclipse/hono/vertx/example/base/HonoConsumerBase.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractProtocolAdapterBase.java
  service-base/src/main/java/org/eclipse/hono/service/command/CommandSubscription.java
  service-base/src/test/java/org/eclipse/hono/service/command/CommandSubscriptionTest.java
  services/messaging/src/main/java/org/eclipse/hono/messaging/HonoMessagingMessageFilter.java
  site/content/concepts/command-and-control.md
  site/content/release-notes.md
  site/content/user-guide/mqtt-adapter.md
Labels: C&C, EclipseInt, MQTT Adapter

#759 [#643] AMQP command-line client: Check empty username & password
  cli/src/main/java/org/eclipse/hono/cli/AmqpSend.java
Labels: AMQP Adapter, bug

#728 [#643] AMQP Adapter documentation
  site/content/admin-guide/amqp-adapter-config.md
  site/content/user-guide/amqp-adapter.md
Labels: AMQP Adapter, documentation

#742 Allow to customize vertx options and set option to prefer native sockets
  core/src/main/java/org/eclipse/hono/config/VertxProperties.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractAdapterConfig.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractServiceBase.java
  services/device-registry/src/main/java/org/eclipse/hono/deviceregistry/ApplicationConfig.java
Labels: enhancement

#764 Pull up reusable metrics to top level interface.
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/DropwizardBasedHttpAdapterMetrics.java
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/HttpAdapterMetrics.java
  adapters/kura/src/main/java/org/eclipse/hono/adapter/kura/DropwizardBasedKuraAdapterMetrics.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/DropwizardBasedMqttAdapterMetrics.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/MqttAdapterMetrics.java
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapterTest.java
  deploy/src/main/deploy/influxdb.conf
  service-base/src/main/java/org/eclipse/hono/service/metric/DropwizardBasedMetrics.java
  service-base/src/main/java/org/eclipse/hono/service/metric/Metrics.java
  services/messaging/src/main/java/org/eclipse/hono/messaging/DropwizardBasedMessagingMetrics.java
  site/content/api/Metrics.md
Labels: Metrics, enhancement

#758 [#643] Integrate the AMQP adapter in the example deployment
  demo-certs/ca_opts
  demo-certs/certs/amqp-adapter-cert.pem
  demo-certs/certs/amqp-adapter-key.pem
  demo-certs/certs/amqpKeyStore.p12
  deploy/src/main/config/hono-adapter-amqp-vertx-config.yml
  deploy/src/main/config/qpid/qdrouterd-with-broker.json
  deploy/src/main/deploy/amqp-adapter.credentials
  deploy/src/main/deploy/docker/swarm_deploy.sh
  deploy/src/main/deploy/docker/swarm_undeploy.sh
  deploy/src/main/deploy/example-permissions.json
  deploy/src/main/deploy/kubernetes/kubernetes_deploy.sh
  deploy/src/main/deploy/resource-descriptors/hono-adapter-amqp/hono-adapter-amqp-vertx-deployment.yaml
  deploy/src/main/deploy/resource-descriptors/hono-adapter-amqp/hono-adapter-amqp-vertx-route.yaml
  deploy/src/main/deploy/resource-descriptors/hono-adapter-amqp/hono-adapter-amqp-vertx-sec-route.yaml
  deploy/src/main/deploy/resource-descriptors/hono-adapter-amqp/hono-adapter-amqp-vertx-svc.yaml
  site/content/deployment/kubernetes.md
Labels: AMQP Adapter

#744 [#643] Add support for client certificate based authentication
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/AmqpAdapterSaslAuthenticatorFactory.java
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/AmqpContext.java
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/VertxBasedAmqpProtocolAdapter.java
  adapters/http-vertx/src/main/java/org/eclipse/hono/adapter/http/vertx/VertxBasedHttpProtocolAdapter.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractProtocolAdapterBase.java
  tests/pom.xml
  tests/src/test/java/org/eclipse/hono/tests/IntegrationTestSupport.java
  tests/src/test/java/org/eclipse/hono/tests/amqp/AmqpAdapterTestBase.java
  tests/src/test/java/org/eclipse/hono/tests/http/HttpTestBase.java
  tests/src/test/resources/amqp/application.yml
  tests/src/test/resources/qpid/qdrouterd-with-broker.json
Labels: AMQP Adapter, enhancement

#768 Drop configure_grafana.sh script, as it is no longer used
  deploy/src/main/deploy/configure_grafana.sh
  deploy/src/main/deploy/kubernetes/kubernetes_deploy.sh
Labels: Metrics

#782 Bug Fix: AMQP command-line client
  cli/src/main/java/org/eclipse/hono/cli/AmqpSend.java
Labels: AMQP Adapter, bug

#774 [#643] Include documentation for SASL EXTERNAL
  site/content/user-guide/amqp-adapter.md
Labels: AMQP Adapter, documentation

#689 #688 - add support for more flexible password encoding
  bom/pom.xml
  core/pom.xml
  core/src/main/java/org/eclipse/hono/util/BasePassword.java
  core/src/main/java/org/eclipse/hono/util/ClearTextPassword.java
  core/src/main/java/org/eclipse/hono/util/CredentialsObject.java
  core/src/main/java/org/eclipse/hono/util/EncodedPassword.java
  core/src/main/java/org/eclipse/hono/util/MessageDigestPasswordEncoder.java
  core/src/main/java/org/eclipse/hono/util/PasswordEncoderFactory.java
  service-base/pom.xml
  service-base/src/main/java/org/eclipse/hono/service/auth/device/UsernamePasswordCredentials.java
  service-base/src/test/java/org/eclipse/hono/service/auth/device/UsernamePasswordCredentialsTest.java
  site/content/api/Credentials-API.md
  tests/src/test/java/org/eclipse/hono/tests/registry/CredentialsAmqpIT.java
Labels: enhancement

#731 Coap adapter 0.7
  adapters/coap-vertx-base/pom.xml
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/AbstractVertxBasedCoapAdapter.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/CoapAdapterMetrics.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/CoapAdapterProperties.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/CoapErrorResponse.java
  adapters/coap-vertx-base/src/test/java/org/eclipse/hono/adapter/coap/AbstractVertxBasedCoapAdapterTest.java
  adapters/coap-vertx-base/src/test/resources/logback-test.xml
  adapters/coap-vertx/pom.xml
  adapters/coap-vertx/src/main/java/org/eclipse/hono/adapter/coap/vertx/Application.java
  adapters/coap-vertx/src/main/java/org/eclipse/hono/adapter/coap/vertx/CoapRequestHandler.java
  adapters/coap-vertx/src/main/java/org/eclipse/hono/adapter/coap/vertx/Config.java
  adapters/coap-vertx/src/main/java/org/eclipse/hono/adapter/coap/vertx/ExtendedDevice.java
  adapters/coap-vertx/src/main/java/org/eclipse/hono/adapter/coap/vertx/VertxBasedCoapAdapter.java
  adapters/coap-vertx/src/main/java/org/eclipse/hono/adapter/coap/vertx/VertxCoapResource.java
  adapters/coap-vertx/src/main/resources/banner.txt
  adapters/coap-vertx/src/main/resources/logback-spring.xml
  adapters/coap-vertx/src/test/resources/logback-test.xml
  adapters/pom.xml
  bom/pom.xml
  core/src/main/java/org/eclipse/hono/util/Constants.java
Labels: CoAP Adapter

#788 New schematics for the Architecture section in documentation
  site/content/architecture/component-view/Component-View.md
  site/content/architecture/component-view/Device-Registry.jpg
  site/content/architecture/component-view/Hono-Messaging.jpg
  site/content/architecture/component-view/Top-Level.jpg
  site/content/architecture/component-view/device-registry.png
  site/content/architecture/component-view/device-registry.xml
  site/content/architecture/component-view/hono-messaging.png
  site/content/architecture/component-view/hono-messaging.xml
  site/content/architecture/component-view/top-level.png
  site/content/architecture/component-view/top-level.xml
Labels: documentation

#793 Fix coap metrics.
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/DropwizardBasedCoapAdapterMetrics.java
Labels: CoAP Adapter

#790 Deprecate usage of send queue drain handler.
  client/src/main/java/org/eclipse/hono/client/MessageSender.java
  client/src/main/java/org/eclipse/hono/client/impl/AbstractSender.java
Labels: Client, enhancement

#796 [#771] Add Command and Control support in CLI
  cli/src/main/java/org/eclipse/hono/cli/AbstractClient.java
  cli/src/main/java/org/eclipse/hono/cli/Commander.java
  cli/src/main/java/org/eclipse/hono/cli/Receiver.java
  cli/src/main/resources/application.yml
  site/content/getting-started.md
  site/content/release-notes.md
Labels: Client

#799 Updated LICENSE file with EPL 2.0 from https://www.eclipse.org/org/documen…
  LICENSE
Labels: documentation

#802 split tenant API regarding mandatory and optional operation
  service-base/src/main/java/org/eclipse/hono/service/tenant/BaseTenantService.java
  service-base/src/main/java/org/eclipse/hono/service/tenant/CompleteBaseTenantService.java
  service-base/src/main/java/org/eclipse/hono/service/tenant/CompleteTenantService.java
  service-base/src/main/java/org/eclipse/hono/service/tenant/TenantService.java
  service-base/src/test/java/org/eclipse/hono/service/tenant/BaseTenantServiceTest.java
  service-base/src/test/java/org/eclipse/hono/service/tenant/CompleteBaseTenantServiceTest.java
  services/device-registry/src/main/java/org/eclipse/hono/deviceregistry/FileBasedTenantService.java
Labels: Device Registry, enhancement

#806 update relase-notes with the services APIs refactoring
  site/content/release-notes.md
Labels: Device Registry, enhancement

#798 Add DTLS pre-shared-key authentication.
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/AbstractVertxBasedCoapAdapter.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/CoapAdapterProperties.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/CoapAuthenticationHandler.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/CoapErrorResponse.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/CoapPreSharedKeyHandler.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/PreSharedKeyDeviceIdentity.java
  adapters/coap-vertx-base/src/test/java/org/eclipse/hono/adapter/coap/AbstractVertxBasedCoapAdapterTest.java
  adapters/coap-vertx/src/main/java/org/eclipse/hono/adapter/coap/vertx/CoapRequestHandler.java
  adapters/coap-vertx/src/main/java/org/eclipse/hono/adapter/coap/vertx/ExtendedDevice.java
  adapters/coap-vertx/src/main/java/org/eclipse/hono/adapter/coap/vertx/VertxBasedCoapAdapter.java
  adapters/coap-vertx/src/main/java/org/eclipse/hono/adapter/coap/vertx/VertxCoapResource.java
Labels: CoAP Adapter
