Repository eclipse-hono/hono, pull requests merged in 2018-06, with the labels that each got.

#650 Add bi-weekly project call
  site/content/community/get-in-touch.md
  site/content/community/project-call.ics
Labels: documentation

#652 [#319] Add high level tracing to HTTP and MQTT adapters.
  adapters/http-vertx-base/pom.xml
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapter.java
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/ComponentMetaDataDecorator.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/MqttContext.java
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapterTest.java
  adapters/pom.xml
  bom/pom.xml
  core/pom.xml
  core/src/main/java/org/eclipse/hono/tracing/TracingHelper.java
  core/src/main/java/org/eclipse/hono/util/ExecutionContext.java
  legal/legal/NOTICE.md
  service-base/pom.xml
  service-base/src/main/java/org/eclipse/hono/service/AbstractAdapterConfig.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractProtocolAdapterBase.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractServiceBase.java
Labels: HTTP Adapter, MQTT Adapter, enhancement

#673 [#319] Add support for tracing messages being sent by AbstractSender.
  client/pom.xml
  client/src/main/java/org/eclipse/hono/client/MessageSender.java
  client/src/main/java/org/eclipse/hono/client/impl/AbstractHonoClient.java
  client/src/main/java/org/eclipse/hono/client/impl/AbstractSender.java
  client/src/main/java/org/eclipse/hono/client/impl/EventSenderImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/HonoClientImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/TelemetrySenderImpl.java
  client/src/test/java/org/eclipse/hono/client/impl/AbstractSenderTest.java
  core/src/main/java/org/eclipse/hono/tracing/MessageAnnotationsInjectAdapter.java
  core/src/main/java/org/eclipse/hono/tracing/TracingHelper.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractServiceBase.java
  service-base/src/main/java/org/eclipse/hono/service/command/CommandResponseSenderImpl.java
Labels: Client, enhancement
