Repository eclipse-hono/hono, pull requests merged in 2018-12, with the labels that each got.

#941 Make it easier to implement custom services
  service-base/src/main/java/org/eclipse/hono/service/AbstractApplication.java
Labels: enhancement

#939 trivial fixes/improvements
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/AmqpAdapterSaslAuthenticatorFactory.java
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/VertxBasedAmqpProtocolAdapter.java
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapter.java
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/HonoBasicAuthHandler.java
  adapters/http-vertx/src/main/java/org/eclipse/hono/adapter/http/vertx/VertxBasedHttpProtocolAdapter.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
  jmeter/src/main/java/org/eclipse/hono/jmeter/sampleresult/HonoCommanderSampleResult.java
  service-base/src/main/java/org/eclipse/hono/service/auth/device/HonoChainAuthHandler.java
  service-base/src/main/java/org/eclipse/hono/service/http/HttpUtils.java
  service-base/src/test/java/org/eclipse/hono/service/auth/device/UsernamePasswordCredentialsTest.java
  services/auth/src/main/java/org/eclipse/hono/service/auth/impl/FileBasedAuthenticationService.java
  services/auth/src/main/java/org/eclipse/hono/service/auth/impl/SimpleAuthenticationServer.java
  services/messaging/src/main/java/org/eclipse/hono/messaging/ForwardingDownstreamAdapter.java
  services/messaging/src/main/java/org/eclipse/hono/messaging/HonoMessagingApplication.java
Labels: enhancement

#947 Finish Span created in createAndSendRequest()
  client/src/main/java/org/eclipse/hono/client/impl/AbstractRequestResponseClient.java
Labels: Client, Tracing, bug

#948 [#914] Extract SpanContext in EventBusService; put in EventBusMessage
  core/src/main/java/org/eclipse/hono/util/EventBusMessage.java
  service-base/src/main/java/org/eclipse/hono/service/EventBusService.java
Labels: Device Registry, Tracing, enhancement

#960 [Page: Get in Touch] Provide link to eclipse-hono (tag) specific StackOverflow page instead of home page.
  site/content/community/get-in-touch.md
Labels: documentation, enhancement

#949 [#871] Add hashing of plaintext passwords to Credentials API.
  core/src/main/java/org/eclipse/hono/util/ClearTextPassword.java
  core/src/main/java/org/eclipse/hono/util/CredentialsConstants.java
  core/src/main/java/org/eclipse/hono/util/CredentialsObject.java
  core/src/test/java/org/eclipse/hono/util/ClearTextPasswordTest.java
  core/src/test/java/org/eclipse/hono/util/CredentialsObjectTest.java
  service-base/src/main/java/org/eclipse/hono/service/credentials/CompleteBaseCredentialsService.java
  service-base/src/test/java/org/eclipse/hono/service/credentials/CompleteBaseCredentialsServiceTest.java
  site/content/user-guide/device-registry.md
Labels: Device Registry, enhancement

#962 [#914] Create span in "assertRegistration" methods (2)
  service-base/src/main/java/org/eclipse/hono/service/registration/BaseRegistrationService.java
  service-base/src/main/java/org/eclipse/hono/service/registration/RegistrationService.java
  services/device-registry/src/main/java/org/eclipse/hono/deviceregistry/DummyRegistrationService.java
  site/content/release-notes.md
Labels: Device Registry, Tracing

#959 [#750] Health check for all verticle instances.
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/Config.java
  adapters/coap-vertx/src/main/java/org/eclipse/hono/adapter/coap/vertx/Config.java
  adapters/http-vertx/src/main/java/org/eclipse/hono/adapter/http/vertx/Config.java
  adapters/kura/src/main/java/org/eclipse/hono/adapter/kura/Config.java
  adapters/mqtt-vertx/src/main/java/org/eclipse/hono/adapter/mqtt/impl/Config.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractAdapterConfig.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractApplication.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractServiceBase.java
  service-base/src/main/java/org/eclipse/hono/service/HealthCheckServer.java
  service-base/src/main/java/org/eclipse/hono/service/NoopHealthCheckServer.java
  service-base/src/main/java/org/eclipse/hono/service/VertxBasedHealthCheckServer.java
  services/device-registry/src/main/java/org/eclipse/hono/deviceregistry/ApplicationConfig.java
  services/messaging/src/main/java/org/eclipse/hono/messaging/HonoMessagingApplicationConfig.java
Labels: enhancement

#963 [#914] Create span for TenantService.get
  service-base/src/main/java/org/eclipse/hono/service/tenant/BaseTenantService.java
  service-base/src/main/java/org/eclipse/hono/service/tenant/TenantService.java
  service-base/src/test/java/org/eclipse/hono/service/tenant/BaseTenantServiceTest.java
  service-base/src/test/java/org/eclipse/hono/service/tenant/CompleteBaseTenantServiceTest.java
  services/device-registry/src/main/java/org/eclipse/hono/deviceregistry/DummyTenantService.java
  services/device-registry/src/main/java/org/eclipse/hono/deviceregistry/FileBasedTenantService.java
  site/content/release-notes.md
Labels: C&C, Device Registry, enhancement

#968 Http/Mqtt adapter: Add getter for metrics.
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapter.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
Labels: HTTP Adapter, MQTT Adapter, Metrics, enhancement

#969 Let "logError" only create one log entry (with event=error included).
  core/src/main/java/org/eclipse/hono/tracing/TracingHelper.java
Labels: Tracing, enhancement

#957 [#914] Create span for CredentialsService.get
  core/src/main/java/org/eclipse/hono/util/EventBusMessage.java
  service-base/src/main/java/org/eclipse/hono/service/credentials/BaseCredentialsService.java
  service-base/src/main/java/org/eclipse/hono/service/credentials/CompleteBaseCredentialsService.java
  service-base/src/main/java/org/eclipse/hono/service/credentials/CompleteCredentialsService.java
  service-base/src/main/java/org/eclipse/hono/service/credentials/CredentialsService.java
  service-base/src/test/java/org/eclipse/hono/service/credentials/BaseCredentialsServiceTest.java
  service-base/src/test/java/org/eclipse/hono/service/credentials/CompleteBaseCredentialsServiceTest.java
  services/device-registry/src/main/java/org/eclipse/hono/deviceregistry/DummyCredentialsService.java
  services/device-registry/src/main/java/org/eclipse/hono/deviceregistry/FileBasedCredentialsService.java
Labels: Device Registry, Tracing
