Repository eclipse-hono/hono, pull requests merged in 2019-01, with the labels that each got.

#946 Deploy the OLM in a separate script
  deploy/src/main/deploy/kubernetes/common.sh
  deploy/src/main/deploy/kubernetes/kubernetes_deploy.sh
  deploy/src/main/deploy/kubernetes/olm_deploy.sh
  deploy/src/main/deploy/kubernetes/olm_undeploy.sh
  site/content/deployment/kubernetes.md
Labels: Metrics, enhancement

#977 Apply some tracing related fixes
  client/src/main/java/org/eclipse/hono/client/impl/AbstractRequestResponseClient.java
  client/src/main/java/org/eclipse/hono/client/impl/CommandClientImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/RegistrationClientImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/TelemetrySenderImpl.java
  service-base/src/main/java/org/eclipse/hono/service/registration/BaseRegistrationService.java
Labels: Tracing, enhancement

#981 Consolidate OpenShift deployments
  deploy/pom.xml
  deploy/src/main/deploy/openshift/.gitignore
  deploy/src/main/deploy/openshift/addresses.json
  deploy/src/main/deploy/openshift/admin/storage/local/grafana-pv.yml
  deploy/src/main/deploy/openshift/admin/storage/local/hono-pv.yml
  deploy/src/main/deploy/openshift/admin/storage/nfs/grafana-pv.yml
  deploy/src/main/deploy/openshift/admin/storage/nfs/hono-pv.yml
  deploy/src/main/deploy/openshift/common.sh
  deploy/src/main/deploy/openshift/containers/custom-base/Dockerfile
  deploy/src/main/deploy/openshift/containers/grafana/Dockerfile
  deploy/src/main/deploy/openshift/grafana-template.yml
  deploy/src/main/deploy/openshift/hono-address-space.yml
  deploy/src/main/deploy/openshift/hono-template.yml
  deploy/src/main/deploy/openshift/hono-tenant-template.yml
  deploy/src/main/deploy/openshift/jaeger/imagestream.yml
  deploy/src/main/deploy/openshift/openshift_deploy.sh
  deploy/src/main/deploy/openshift/openshift_undeploy.sh
  deploy/src/main/deploy/openshift_s2i/README.md
  site/content/deployment/openshift.md
  site/content/deployment/openshift_s2i.md
  site/content/download.md
  site/content/release-notes.md
Labels: documentation

#983 [#349] Add integration tests for X.509 based authentication.
  tests/pom.xml
  tests/src/test/java/org/eclipse/hono/tests/IntegrationTestSupport.java
  tests/src/test/java/org/eclipse/hono/tests/mqtt/CommandAndControlMqttIT.java
  tests/src/test/java/org/eclipse/hono/tests/mqtt/MqttConnectionIT.java
  tests/src/test/java/org/eclipse/hono/tests/mqtt/MqttPublishTestBase.java
  tests/src/test/java/org/eclipse/hono/tests/mqtt/MqttTestBase.java
  tests/src/test/resources/mqtt/logback-spring.xml
Labels: MQTT Adapter

#982 [#484] Add timeout handling for AbstractSender.sendMessage()
  client/src/main/java/org/eclipse/hono/client/impl/AbstractSender.java
  client/src/main/java/org/eclipse/hono/client/impl/EventSenderImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/TelemetrySenderImpl.java
  client/src/test/java/org/eclipse/hono/client/impl/AbstractSenderTest.java
  client/src/test/java/org/eclipse/hono/client/impl/TelemetrySenderImplTest.java
  core/src/main/java/org/eclipse/hono/config/ClientConfigProperties.java
  site/content/admin-guide/hono-client-configuration.md
Labels: Client

#976 [#974] Add Tracing support for CredentialsClient
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/AmqpAdapterSaslAuthenticatorFactory.java
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/VertxBasedAmqpProtocolAdapter.java
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/HonoBasicAuthHandler.java
  adapters/http-vertx-base/src/test/java/org/eclipse/hono/adapter/http/HonoBasicAuthHandlerTest.java
  adapters/http-vertx/src/main/java/org/eclipse/hono/adapter/http/vertx/VertxBasedHttpProtocolAdapter.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
  client/src/main/java/org/eclipse/hono/client/CredentialsClient.java
  client/src/main/java/org/eclipse/hono/client/impl/AbstractRequestResponseClient.java
  client/src/main/java/org/eclipse/hono/client/impl/CredentialsClientImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/HonoClientImpl.java
  core/src/main/java/org/eclipse/hono/tracing/JsonObjectExtractAdapter.java
  core/src/main/java/org/eclipse/hono/tracing/JsonObjectInjectAdapter.java
  core/src/main/java/org/eclipse/hono/tracing/TracingHelper.java
  core/src/test/java/org/eclipse/hono/tracing/JsonObjectInjectExtractAdapterTest.java
  service-base/src/main/java/org/eclipse/hono/service/auth/device/CredentialsApiAuthProvider.java
  service-base/src/main/java/org/eclipse/hono/service/auth/device/HonoClientBasedAuthProvider.java
  service-base/src/main/java/org/eclipse/hono/service/auth/device/UsernamePasswordAuthProvider.java
  service-base/src/main/java/org/eclipse/hono/service/auth/device/X509AuthProvider.java
  service-base/src/test/java/org/eclipse/hono/service/auth/device/CredentialsApiAuthProviderTest.java
  service-base/src/test/java/org/eclipse/hono/service/auth/device/UsernamePasswordAuthProviderTest.java
Labels: Client, Tracing

#988 Ensure OpenTracing span is finished if connection is closed prematurely
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapter.java
Labels: HTTP Adapter, Tracing, bug

#989 Mqtt Adapter: Create span for sending a disconnected event
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
Labels: MQTT Adapter, Tracing, enhancement

#990 AMQP Adapter: Create span for sending a detach event
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/VertxBasedAmqpProtocolAdapter.java
Labels: AMQP Adapter, Tracing, enhancement

#992 [#991] Make the 'heartbeat' ProtonClient option configurable
  cli/src/main/java/org/eclipse/hono/cli/AmqpSend.java
  core/src/main/java/org/eclipse/hono/config/ClientConfigProperties.java
  core/src/main/java/org/eclipse/hono/connection/impl/ConnectionFactoryImpl.java
  site/content/admin-guide/hono-client-configuration.md
Labels: Client, enhancement

#998 Reactivate unused testCallbacksInvokedOnReconnect test
  service-base/src/test/java/org/eclipse/hono/service/AbstractProtocolAdapterBaseTest.java
Labels: enhancement

#997 Fix wrong status code being used on released/modified delivery state
  client/src/main/java/org/eclipse/hono/client/impl/AbstractRequestResponseClient.java
  client/src/main/java/org/eclipse/hono/client/impl/AbstractSender.java
  client/src/main/java/org/eclipse/hono/client/impl/TelemetrySenderImpl.java
Labels: Client, bug

#1000 Describe the new HonoClient config options in the release notes
  site/content/release-notes.md
Labels: documentation

#1001 Copy legal files to hono-service-base test jar
  service-base/pom.xml
Labels: documentation

#869 [#832] Add support for publishing commands with QoS 1 in MQTT adapter
  adapters/kura/src/main/java/org/eclipse/hono/adapter/kura/KuraAdapterProperties.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/CommandHandler.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/CommandSubscription.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/MqttProtocolAdapterProperties.java
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapterTest.java
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/CommandSubscriptionTest.java
  adapters/mqtt-vertx/src/main/java/org/eclipse/hono/adapter/mqtt/impl/Config.java
  adapters/mqtt-vertx/src/main/java/org/eclipse/hono/adapter/mqtt/impl/VertxBasedMqttProtocolAdapter.java
  adapters/mqtt-vertx/src/test/java/org/eclipse/hono/adapter/mqtt/impl/VertxBasedMqttProtocolAdapterTest.java
  client/pom.xml
  site/content/release-notes.md
  site/content/user-guide/mqtt-adapter.md
  tests/src/test/java/org/eclipse/hono/tests/mqtt/CommandAndControlMqttIT.java
Labels: C&C, MQTT Adapter
