Repository eclipse-hono/hono, pull requests merged in 2019-05, with the labels that each got.

#1139 [#929 Part-1] Add data volume limits to the tenant config
  core/src/main/java/org/eclipse/hono/util/TenantConstants.java
  core/src/main/java/org/eclipse/hono/util/TenantObject.java
  core/src/test/java/org/eclipse/hono/util/TenantObjectTest.java
  service-base/src/main/java/org/eclipse/hono/service/plan/PrometheusBasedResourceLimitChecks.java
  service-base/src/test/java/org/eclipse/hono/service/plan/PrometheusBasedResourceLimitChecksTest.java
Labels: Device Registry

#1187 Minor Command improvements
  client/src/main/java/org/eclipse/hono/client/Command.java
  client/src/main/java/org/eclipse/hono/client/CommandResponse.java
  client/src/test/java/org/eclipse/hono/client/CommandTest.java
Labels: C&C, enhancement

#1218 Remove redundant mapping.
  core/src/main/java/org/eclipse/hono/util/CredentialsObject.java
Labels: enhancement

#1145 [#930] Add tenant-scoped command consumer
  client/src/main/java/org/eclipse/hono/client/CommandConsumerFactory.java
  client/src/main/java/org/eclipse/hono/client/CommandContext.java
  client/src/main/java/org/eclipse/hono/client/DelegatedCommandSender.java
  client/src/main/java/org/eclipse/hono/client/GatewayMapper.java
  client/src/main/java/org/eclipse/hono/client/impl/AbstractSender.java
  client/src/main/java/org/eclipse/hono/client/impl/CommandConsumer.java
  client/src/main/java/org/eclipse/hono/client/impl/CommandConsumerFactoryImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/ConnectionLifecycleWrapper.java
  client/src/main/java/org/eclipse/hono/client/impl/DelegatedCommandSenderImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/DelegatingCommandHandler.java
  client/src/main/java/org/eclipse/hono/client/impl/DeviceSpecificCommandConsumer.java
  client/src/main/java/org/eclipse/hono/client/impl/GatewayMapperImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/GatewayMappingCommandHandler.java
  client/src/main/java/org/eclipse/hono/client/impl/TenantScopedCommandConsumer.java
  client/src/test/java/org/eclipse/hono/client/impl/CommandConsumerFactoryImplTest.java
  core/src/main/java/org/eclipse/hono/util/MessageHelper.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractAdapterConfig.java
Labels: C&C, Client

#1156 [#930] Add "registration/*:get" permissions for protocol adapters
  deploy/src/main/deploy/example-permissions.json
  deploy/src/main/sandbox/sandbox-permissions.json
  services/auth/src/main/resources/permissions.json
  services/auth/src/test/resources/authentication-service-test-permissions.json
  tests/src/test/resources/auth/permissions.json
Labels: C&C, Client

#1198 docker push profile added to maven build
  adapters/amqp-vertx/pom.xml
  adapters/coap-vertx/pom.xml
  adapters/http-vertx/pom.xml
  adapters/kura/pom.xml
  adapters/lora-vertx/pom.xml
  adapters/mqtt-vertx/pom.xml
  pom.xml
  services/auth/pom.xml
  services/device-registry/pom.xml
Labels: Deployment, enhancement

#1224 [#930] Fix command error handling; unify tracing/logging
  client/src/main/java/org/eclipse/hono/client/impl/AbstractSender.java
  client/src/main/java/org/eclipse/hono/client/impl/DelegatedCommandSenderImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/TelemetrySenderImpl.java
Labels: C&C, Client

#1213 [#1203] Add caching mechanism to credentials client factory implementation.
  client/src/main/java/org/eclipse/hono/client/CredentialsClientFactory.java
  client/src/main/java/org/eclipse/hono/client/impl/CredentialsClientFactoryImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/CredentialsClientImpl.java
  client/src/test/java/org/eclipse/hono/client/impl/CredentialsClientImplTest.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractAdapterConfig.java
Labels: Client

#1222 Add 'get' method in RegistrationClient with SpanContext parameter
  client/src/main/java/org/eclipse/hono/client/RegistrationClient.java
  client/src/main/java/org/eclipse/hono/client/impl/AbstractRequestResponseClient.java
  client/src/main/java/org/eclipse/hono/client/impl/RegistrationClientImpl.java
Labels: Client

#1215 [#930] Make getDevice() a mandatory operation
  service-base/src/main/java/org/eclipse/hono/service/registration/CompleteRegistrationService.java
  service-base/src/main/java/org/eclipse/hono/service/registration/RegistrationService.java
  service-base/src/test/java/org/eclipse/hono/service/registration/BaseRegistrationServiceTest.java
  service-base/src/test/java/org/eclipse/hono/service/registration/CompleteBaseRegistrationServiceTest.java
  site/content/api/Device-Registration-API.md
  site/content/release-notes.md
Labels: Device Registry

#1231 [ #1203] Update release notes.
  site/content/release-notes.md
Labels: Client

#1233 Add CommandContext.disposition(); skip flowing credits if prefetch set
  client/src/main/java/org/eclipse/hono/client/CommandContext.java
  client/src/main/java/org/eclipse/hono/client/impl/DelegateViaDownstreamPeerCommandHandler.java
  client/src/test/java/org/eclipse/hono/client/impl/DelegateViaDownstreamPeerCommandHandlerTest.java
Labels: C&C, Client

#1234 Introduce retries in CachingClientFactory#getOrCreateClient()
  client/src/main/java/org/eclipse/hono/client/impl/ApplicationClientFactoryImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/CachingClientFactory.java
  client/src/main/java/org/eclipse/hono/client/impl/CommandConsumerFactoryImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/CredentialsClientFactoryImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/DownstreamSenderFactoryImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/RegistrationClientFactoryImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/TenantClientFactoryImpl.java
  client/src/test/java/org/eclipse/hono/client/impl/CachingClientFactoryTest.java
  client/src/test/java/org/eclipse/hono/client/impl/DownstreamSenderFactoryImplTest.java
Labels: Client

#1243 Minor tracing fixes/improvements
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
  client/src/main/java/org/eclipse/hono/client/impl/CredentialsClientImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/RegistrationClientImpl.java
  core/src/main/java/org/eclipse/hono/tracing/TracingHelper.java
  core/src/test/java/org/eclipse/hono/tracing/TracingHelperTest.java
Labels: Client

#1232 [#1230] Remove assertion token.
  adapters/amqp-vertx/src/test/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapterTest.java
  adapters/coap-vertx-base/src/test/java/org/eclipse/hono/adapter/coap/AbstractVertxBasedCoapAdapterTest.java
  adapters/http-vertx-base/src/test/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapterTest.java
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapterTest.java
  client/src/test/java/org/eclipse/hono/client/impl/RegistrationClientImplTest.java
  core/src/main/java/org/eclipse/hono/util/RegistrationConstants.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractProtocolAdapterBase.java
  service-base/src/main/java/org/eclipse/hono/service/registration/BaseRegistrationService.java
  service-base/src/main/java/org/eclipse/hono/service/registration/RegistrationAssertionHelper.java
  service-base/src/main/java/org/eclipse/hono/service/registration/RegistrationAssertionHelperImpl.java
  service-base/src/test/java/org/eclipse/hono/service/AbstractProtocolAdapterBaseTest.java
  service-base/src/test/java/org/eclipse/hono/service/registration/BaseRegistrationServiceTest.java
  service-base/src/test/java/org/eclipse/hono/service/registration/CompleteBaseRegistrationServiceTest.java
  service-base/src/test/java/org/eclipse/hono/service/registration/RegistrationAssertionHelperImplTest.java
  services/device-registry/src/main/java/org/eclipse/hono/deviceregistry/ApplicationConfig.java
  services/device-registry/src/main/java/org/eclipse/hono/deviceregistry/FileBasedRegistrationConfigProperties.java
  services/device-registry/src/main/java/org/eclipse/hono/deviceregistry/FileBasedRegistrationService.java
  site/content/api/Device-Registration-API.md
  site/content/concepts/device-identity.md
  site/content/release-notes.md
  tests/src/test/java/org/eclipse/hono/tests/registry/DeviceRegistrationAmqpIT.java
Labels: Device Registry

#1246 [#1229] Remove usage of deprecated Vertx method.
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/AmqpAdapterSaslAuthenticatorFactory.java
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapter.java
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapter.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
  client/src/main/java/org/eclipse/hono/client/AuthenticationServerClient.java
  client/src/main/java/org/eclipse/hono/client/impl/AbstractSender.java
  client/src/main/java/org/eclipse/hono/client/impl/CommandClientImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/HonoConnectionImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/RegistrationClientImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/TelemetrySenderImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/TenantClientImpl.java
  example/src/main/java/org/eclipse/hono/vertx/example/base/HonoExampleApplicationBase.java
  jmeter/src/main/java/org/eclipse/hono/jmeter/client/AbstractClient.java
  jmeter/src/main/java/org/eclipse/hono/jmeter/client/HonoCommander.java
  jmeter/src/main/java/org/eclipse/hono/jmeter/client/HonoReceiver.java
  jmeter/src/main/java/org/eclipse/hono/jmeter/client/HonoSender.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractApplication.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractServiceBase.java
  service-base/src/main/java/org/eclipse/hono/service/VertxBasedHealthCheckServer.java
  service-base/src/main/java/org/eclipse/hono/service/amqp/AmqpServiceBase.java
  service-base/src/main/java/org/eclipse/hono/service/auth/HonoSaslAuthenticator.java
  service-base/src/main/java/org/eclipse/hono/service/credentials/BaseCredentialsService.java
  service-base/src/main/java/org/eclipse/hono/service/credentials/CompleteBaseCredentialsService.java
  service-base/src/main/java/org/eclipse/hono/service/http/HttpServiceBase.java
  service-base/src/main/java/org/eclipse/hono/service/registration/BaseRegistrationService.java
  service-base/src/main/java/org/eclipse/hono/service/registration/CompleteBaseRegistrationService.java
  service-base/src/main/java/org/eclipse/hono/service/tenant/BaseTenantService.java
  service-base/src/main/java/org/eclipse/hono/service/tenant/CompleteBaseTenantService.java
  service-base/src/test/java/org/eclipse/hono/service/registration/AbstractCompleteRegistrationServiceTest.java
  service-base/src/test/java/org/eclipse/hono/service/tenant/AbstractCompleteTenantServiceTest.java
  services/device-registry/src/main/java/org/eclipse/hono/deviceregistry/Application.java
  services/device-registry/src/main/java/org/eclipse/hono/deviceregistry/FileBasedCredentialsService.java
  services/device-registry/src/main/java/org/eclipse/hono/deviceregistry/FileBasedRegistrationService.java
  services/device-registry/src/main/java/org/eclipse/hono/deviceregistry/FileBasedTenantService.java
  site/content/release-notes.md
  tests/src/test/java/org/eclipse/hono/tests/IntegrationTestSupport.java
  tests/src/test/java/org/eclipse/hono/tests/mqtt/MqttTestBase.java
  tests/src/test/java/org/eclipse/hono/tests/registry/DeviceRegistryAmqpTestSupport.java
Labels: enhancement

#1242 Use common disposition method; improve logging/tracing
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapter.java
  client/src/main/java/org/eclipse/hono/client/CommandContext.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractProtocolAdapterBase.java
Labels: AMQP Adapter

#1162 [#929 Part-2] Extend ResourceLimitChecks API to verify the messages limit.
  service-base/src/main/java/org/eclipse/hono/service/AbstractAdapterConfig.java
  service-base/src/main/java/org/eclipse/hono/service/plan/NoopResourceLimitChecks.java
  service-base/src/main/java/org/eclipse/hono/service/plan/PrometheusBasedResourceLimitChecks.java
  service-base/src/main/java/org/eclipse/hono/service/plan/PrometheusBasedResourceLimitChecksConfig.java
  service-base/src/main/java/org/eclipse/hono/service/plan/ResourceLimitChecks.java
  service-base/src/test/java/org/eclipse/hono/service/plan/PrometheusBasedResourceLimitChecksTest.java
Labels: AMQP Adapter, CoAP Adapter, HTTP Adapter, MQTT Adapter

#1244 Fix/Improve command related tracing and logging
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapter.java
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapter.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/impl/LoraProtocolAdapter.java
  client/src/main/java/org/eclipse/hono/client/CommandResponse.java
  client/src/main/java/org/eclipse/hono/client/impl/AbstractRequestResponseClient.java
  client/src/main/java/org/eclipse/hono/client/impl/CommandConsumerFactoryImpl.java
  core/src/main/java/org/eclipse/hono/util/MessageHelper.java
  service-base/src/test/java/org/eclipse/hono/service/amqp/RequestResponseEndpointTest.java
Labels: LoRa Adapter, bug

#1237 [#930] Let command client use a tenant-scoped sender link address
  client/src/main/java/org/eclipse/hono/client/impl/AbstractRequestResponseClient.java
  client/src/main/java/org/eclipse/hono/client/impl/AsyncCommandClientImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/CommandClientImpl.java
Labels: C&C, Client

#1254 [#929] Fix calculation of data usage period during message limit check.
  service-base/src/main/java/org/eclipse/hono/service/plan/PrometheusBasedResourceLimitChecks.java
Labels: bug

#1248 [#1245] Add indication of GW usage to assertRegistration response JSON
  core/src/main/java/org/eclipse/hono/util/RegistrationConstants.java
  service-base/src/main/java/org/eclipse/hono/service/registration/BaseRegistrationService.java
  site/content/api/Device-Registration-API.md
  site/content/release-notes.md
Labels: Device Registry

#1253 [#1245] Extract methods for handling the bit flag used in the Command class
  adapters/amqp-vertx/src/test/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapterTest.java
  client/src/main/java/org/eclipse/hono/client/Command.java
  client/src/main/java/org/eclipse/hono/client/CommandResponse.java
  client/src/test/java/org/eclipse/hono/client/CommandResponseTest.java
  client/src/test/java/org/eclipse/hono/client/CommandTest.java
Labels: C&C

#1130 Device Registry HTTP API
  site/content/release-notes.md
  site/static/api/device-registry-v1.yaml
Labels: Device Registry

#1199 Pass through original message in LoRaWAN adapter
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/LoraCommandProperties.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/LoraConstants.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/LoraMessageType.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/impl/Application.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/impl/Config.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/impl/LoraProtocolAdapter.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/providers/ActilityProvider.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/providers/EverynetProvider.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/providers/KerlinkProvider.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/providers/LoraProvider.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/providers/LoraProviderDownlinkException.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/providers/LoraProviderMalformedPayloadException.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/providers/LoraUtils.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/providers/ObjeniousProvider.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/providers/ProximusProvider.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/providers/ThingsNetworkProvider.java
  adapters/lora-vertx/src/test/java/org/eclipse/hono/adapter/lora/LoraUtilsTest.java
  adapters/lora-vertx/src/test/java/org/eclipse/hono/adapter/lora/impl/LoraProtocolAdapterTest.java
  adapters/lora-vertx/src/test/java/org/eclipse/hono/adapter/lora/providers/ActilityProviderTest.java
  adapters/lora-vertx/src/test/java/org/eclipse/hono/adapter/lora/providers/EverynetProviderTest.java
  adapters/lora-vertx/src/test/java/org/eclipse/hono/adapter/lora/providers/KerlinkProviderTest.java
  adapters/lora-vertx/src/test/java/org/eclipse/hono/adapter/lora/providers/LoraTestUtil.java
  adapters/lora-vertx/src/test/java/org/eclipse/hono/adapter/lora/providers/ObjeniousProviderTest.java
  adapters/lora-vertx/src/test/java/org/eclipse/hono/adapter/lora/providers/ProximusProviderTest.java
  adapters/lora-vertx/src/test/java/org/eclipse/hono/adapter/lora/providers/ThingsNetworkProviderTest.java
Labels: LoRa Adapter

#1249 [#929] Equip MQTT adapter to check the message limit
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapterTest.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractProtocolAdapterBase.java
Labels: MQTT Adapter

#1260 Limit the use of "suppress unchecked"
  client/src/test/java/org/eclipse/hono/client/impl/AbstractRequestResponseClientTest.java
  client/src/test/java/org/eclipse/hono/client/impl/AbstractSenderTest.java
  client/src/test/java/org/eclipse/hono/client/impl/CachingClientFactoryTest.java
  client/src/test/java/org/eclipse/hono/client/impl/CommandClientImplTest.java
  client/src/test/java/org/eclipse/hono/client/impl/CommandConsumerFactoryImplTest.java
  client/src/test/java/org/eclipse/hono/client/impl/CredentialsClientImplTest.java
  client/src/test/java/org/eclipse/hono/client/impl/DelegateViaDownstreamPeerCommandHandlerTest.java
  client/src/test/java/org/eclipse/hono/client/impl/DownstreamSenderFactoryImplTest.java
  client/src/test/java/org/eclipse/hono/client/impl/EventConsumerImplTest.java
  client/src/test/java/org/eclipse/hono/client/impl/EventSenderImplTest.java
  client/src/test/java/org/eclipse/hono/client/impl/GatewayMappingCommandHandlerTest.java
  client/src/test/java/org/eclipse/hono/client/impl/HonoClientUnitTestHelper.java
  client/src/test/java/org/eclipse/hono/client/impl/HonoConnectionImplTest.java
  client/src/test/java/org/eclipse/hono/client/impl/RegistrationClientImplTest.java
  client/src/test/java/org/eclipse/hono/client/impl/TelemetrySenderImplTest.java
  client/src/test/java/org/eclipse/hono/client/impl/TenantClientImplTest.java
  client/src/test/java/org/eclipse/hono/client/impl/VertxMockSupport.java
  core/src/test/java/org/eclipse/hono/tracing/TracingHelperTest.java
Labels: enhancement

#1265 [#929 AMQP Adapter] Use "amqp:resource-limit-exceeded" when message limit exceeds.
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/impl/AmqpContext.java
Labels: AMQP Adapter, enhancement

#1256 [#929] Update documentation and release notes for message limit checks.
  site/content/admin-guide/amqp-adapter-config.md
  site/content/admin-guide/http-adapter-config.md
  site/content/admin-guide/kura-adapter-config.md
  site/content/admin-guide/mqtt-adapter-config.md
  site/content/api/Tenant-API.md
  site/content/concepts/resource-limits.md
  site/content/deployment/resource-limitation.md
  site/content/release-notes.md
  site/content/user-guide/amqp-adapter.md
  site/content/user-guide/http-adapter.md
  site/content/user-guide/mqtt-adapter.md
Labels: AMQP Adapter, HTTP Adapter, Kura Adapter, MQTT Adapter, Metrics, documentation

#1228 Add a basic Sigfox protocol adapter
  adapters/pom.xml
  adapters/sigfox-vertx/pom.xml
  adapters/sigfox-vertx/src/main/java/org/eclipse/hono/adapter/sigfox/impl/Application.java
  adapters/sigfox-vertx/src/main/java/org/eclipse/hono/adapter/sigfox/impl/Config.java
  adapters/sigfox-vertx/src/main/java/org/eclipse/hono/adapter/sigfox/impl/SigfoxProtocolAdapter.java
  core/src/main/java/org/eclipse/hono/util/Constants.java
  service-base/src/main/java/org/eclipse/hono/service/http/DefaultFailureHandler.java
  site/content/release-notes.md
  site/content/user-guide/sigfox-adapter.md
Labels: enhancement
