Repository eclipse-hono/hono, pull requests merged in 2019-04, with the labels that each got.

#1123 Do not include registration assertion in downstream messages anymore.
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapter.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/AbstractVertxBasedCoapAdapter.java
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapter.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
  client/src/main/java/org/eclipse/hono/client/MessageSender.java
  client/src/main/java/org/eclipse/hono/client/impl/AbstractSender.java
  client/src/main/java/org/eclipse/hono/client/impl/TelemetrySenderImpl.java
  client/src/test/java/org/eclipse/hono/client/impl/AbstractSenderTest.java
  client/src/test/java/org/eclipse/hono/client/impl/EventSenderImplTest.java
  client/src/test/java/org/eclipse/hono/client/impl/TelemetrySenderImplTest.java
  jmeter/src/jmeter/amqp_messaging_throughput_test.jmx
  jmeter/src/main/java/org/eclipse/hono/jmeter/HonoSenderSampler.java
  jmeter/src/main/java/org/eclipse/hono/jmeter/client/HonoSender.java
  jmeter/src/main/java/org/eclipse/hono/jmeter/ui/HonoSenderSamplerUI.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractProtocolAdapterBase.java
  service-base/src/main/java/org/eclipse/hono/service/monitoring/AbstractMessageSenderConnectionEventProducer.java
  service-base/src/test/java/org/eclipse/hono/service/AbstractProtocolAdapterBaseTest.java
  site/content/release-notes.md
Labels: Client

#1126 Add LoRaWAN adapter build profile
  adapters/lora-vertx/pom.xml
Labels: LoRa Adapter

#1125 Check if amqp adapter is enabled or not only after successful authentication.
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/AmqpAdapterSaslAuthenticatorFactory.java
Labels: AMQP Adapter

#1124 Fix IT test for disabled amqp adapter.
  tests/src/test/java/org/eclipse/hono/tests/amqp/AmqpConnectionIT.java
Labels: AMQP Adapter

#1128 [#927] Limit the number of simultaneously connected devices per tenant in Amqp adapter.
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/AmqpAdapterSaslAuthenticatorFactory.java
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapter.java
Labels: AMQP Adapter, enhancement

#1132 [#1131] Add maven filters for processing helm resources
  deploy/pom.xml
Labels: Device Registry

#1141 Move 'via' fields from BaseRegistrationService to RegistrationConstants
  core/src/main/java/org/eclipse/hono/util/RegistrationConstants.java
  service-base/src/main/java/org/eclipse/hono/service/registration/BaseRegistrationService.java
  service-base/src/main/java/org/eclipse/hono/service/registration/CompleteBaseRegistrationService.java
  service-base/src/test/java/org/eclipse/hono/service/registration/BaseRegistrationServiceTest.java
  service-base/src/test/java/org/eclipse/hono/service/registration/CompleteBaseRegistrationServiceTest.java
  services/device-registry/src/test/java/org/eclipse/hono/deviceregistry/FileBasedRegistrationServiceTest.java
Labels: Device Registry

#1134 [#780] Use TenantClientFactory instead of HonoClient.
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/AmqpAdapterSaslAuthenticatorFactory.java
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapter.java
  adapters/amqp-vertx/src/test/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapterTest.java
  adapters/coap-vertx-base/src/test/java/org/eclipse/hono/adapter/coap/AbstractVertxBasedCoapAdapterTest.java
  adapters/http-vertx-base/src/test/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapterTest.java
  adapters/http-vertx/src/main/java/org/eclipse/hono/adapter/http/impl/VertxBasedHttpProtocolAdapter.java
  adapters/http-vertx/src/test/java/org/eclipse/hono/adapter/http/impl/VertxBasedHttpProtocolAdapterTest.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/LoraProtocolAdapter.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapterTest.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractAdapterConfig.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractProtocolAdapterBase.java
  service-base/src/main/java/org/eclipse/hono/service/auth/device/TenantServiceBasedX509Authentication.java
  service-base/src/test/java/org/eclipse/hono/service/AbstractProtocolAdapterBaseTest.java
  site/content/release-notes.md
Labels: Client

#1146 [#780] Use RegistrationClientFactory instead of HonoClient.
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/impl/Config.java
  adapters/amqp-vertx/src/test/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapterTest.java
  adapters/coap-vertx-base/src/test/java/org/eclipse/hono/adapter/coap/AbstractVertxBasedCoapAdapterTest.java
  adapters/coap-vertx/src/main/java/org/eclipse/hono/adapter/coap/impl/Config.java
  adapters/http-vertx-base/src/test/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapterTest.java
  adapters/http-vertx/src/main/java/org/eclipse/hono/adapter/http/impl/Config.java
  adapters/http-vertx/src/test/java/org/eclipse/hono/adapter/http/impl/VertxBasedHttpProtocolAdapterTest.java
  adapters/kura/src/main/java/org/eclipse/hono/adapter/kura/impl/Config.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/Config.java
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapterTest.java
  adapters/mqtt-vertx/src/main/java/org/eclipse/hono/adapter/mqtt/impl/Config.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractAdapterConfig.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractProtocolAdapterBase.java
  service-base/src/test/java/org/eclipse/hono/service/AbstractProtocolAdapterBaseTest.java
  site/content/release-notes.md
Labels: Client

#1147 Fix a couple of typos in the contributing guideline
  CONTRIBUTING.md
Labels: documentation

#1144 [#927] Improve Prometheus based limits implementation.
  service-base/src/main/java/org/eclipse/hono/service/plan/PrometheusBasedResourceLimitChecks.java
Labels: AMQP Adapter, MQTT Adapter

#1150 [#780] Use CredentialsClientFactory instead of HonoClient.
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/AmqpAdapterSaslAuthenticatorFactory.java
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/impl/Config.java
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapter.java
  adapters/amqp-vertx/src/test/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapterTest.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/AbstractVertxBasedCoapAdapter.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/CoapPreSharedKeyHandler.java
  adapters/coap-vertx-base/src/test/java/org/eclipse/hono/adapter/coap/AbstractVertxBasedCoapAdapterTest.java
  adapters/coap-vertx/src/main/java/org/eclipse/hono/adapter/coap/impl/Config.java
  adapters/http-vertx-base/src/test/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapterTest.java
  adapters/http-vertx/src/main/java/org/eclipse/hono/adapter/http/impl/Config.java
  adapters/http-vertx/src/main/java/org/eclipse/hono/adapter/http/impl/VertxBasedHttpProtocolAdapter.java
  adapters/http-vertx/src/test/java/org/eclipse/hono/adapter/http/impl/VertxBasedHttpProtocolAdapterTest.java
  adapters/kura/src/main/java/org/eclipse/hono/adapter/kura/impl/Config.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/Config.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/LoraProtocolAdapter.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapterTest.java
  adapters/mqtt-vertx/src/main/java/org/eclipse/hono/adapter/mqtt/impl/Config.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractAdapterConfig.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractProtocolAdapterBase.java
  service-base/src/main/java/org/eclipse/hono/service/auth/device/CredentialsApiAuthProvider.java
  service-base/src/main/java/org/eclipse/hono/service/auth/device/UsernamePasswordAuthProvider.java
  service-base/src/main/java/org/eclipse/hono/service/auth/device/X509AuthProvider.java
  service-base/src/test/java/org/eclipse/hono/service/AbstractProtocolAdapterBaseTest.java
  site/content/release-notes.md
Labels: Client

#1140 [#1137] Use Java target level 1.8 for core and client modules.
  client/pom.xml
  core/pom.xml
  core/src/main/java/org/eclipse/hono/tracing/MessageAnnotationsExtractAdapter.java
  core/src/main/java/org/eclipse/hono/util/AuthenticationConstants.java
  core/src/main/java/org/eclipse/hono/util/Hostnames.java
  core/src/main/java/org/eclipse/hono/util/ResourceIdentifier.java
  pom.xml
  site/content/release-notes.md
Labels: CQ, Client

#1122 Add Kerlink Provider tests
  adapters/lora-vertx/pom.xml
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/providers/KerlinkProvider.java
  adapters/lora-vertx/src/test/java/org/eclipse/hono/adapter/lora/providers/KerlinkProviderTest.java
  adapters/lora-vertx/src/test/java/org/eclipse/hono/adapter/lora/providers/LoraTestUtil.java
  bom/pom.xml
Labels: CQ, LoRa Adapter, enhancement

#1155 [#1149] Use all tags when reporting metrics to PrometheusMeterRegistry.
  service-base/src/main/java/org/eclipse/hono/service/metric/MetricsTags.java
  service-base/src/main/java/org/eclipse/hono/service/metric/MicrometerBasedMetrics.java
  service-base/src/test/java/org/eclipse/hono/service/metric/MicrometerBasedMetricsTest.java
  site/content/api/Metrics.md
  site/content/release-notes.md
Labels: Metrics, bug

#1159 #780] Use DownstreamSenderFactory instead of HonoClient.
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/impl/Config.java
  adapters/amqp-vertx/src/test/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapterTest.java
  adapters/coap-vertx-base/src/test/java/org/eclipse/hono/adapter/coap/AbstractVertxBasedCoapAdapterTest.java
  adapters/coap-vertx/src/main/java/org/eclipse/hono/adapter/coap/impl/Config.java
  adapters/http-vertx-base/src/test/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapterTest.java
  adapters/http-vertx/src/main/java/org/eclipse/hono/adapter/http/impl/Config.java
  adapters/http-vertx/src/test/java/org/eclipse/hono/adapter/http/impl/VertxBasedHttpProtocolAdapterTest.java
  adapters/kura/src/main/java/org/eclipse/hono/adapter/kura/impl/Config.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/Config.java
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapterTest.java
  adapters/mqtt-vertx/src/main/java/org/eclipse/hono/adapter/mqtt/impl/Config.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractAdapterConfig.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractProtocolAdapterBase.java
  service-base/src/main/java/org/eclipse/hono/service/monitoring/AbstractMessageSenderConnectionEventProducer.java
  service-base/src/main/java/org/eclipse/hono/service/monitoring/ConnectionEventProducer.java
  service-base/src/main/java/org/eclipse/hono/service/monitoring/HonoEventConnectionEventProducer.java
  service-base/src/test/java/org/eclipse/hono/service/AbstractProtocolAdapterBaseTest.java
  site/content/release-notes.md
Labels: Client

#1133 [#927] Add user guide for limiting connections per tenant.
  site/content/admin-guide/amqp-adapter-config.md
  site/content/admin-guide/mqtt-adapter-config.md
  site/content/api/Tenant-API.md
  site/content/concepts/resource-limits.md
  site/content/deployment/resource-limitation.md
  site/content/user-guide/amqp-adapter.md
  site/content/user-guide/mqtt-adapter.md
Labels: AMQP Adapter, MQTT Adapter, documentation

#1151 Split operations into mandatory and optional to implement.
  site/content/api/Credentials-API.md
  site/content/api/Device-Registration-API.md
  site/content/api/Tenant-API.md
  site/content/release-notes.md
Labels: Device Registry, documentation

#1161 Fix checking logic of connection limit.
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapterTest.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractProtocolAdapterBase.java
  service-base/src/main/java/org/eclipse/hono/service/plan/NoopResourceLimitChecks.java
  service-base/src/main/java/org/eclipse/hono/service/plan/PrometheusBasedResourceLimitChecks.java
  service-base/src/main/java/org/eclipse/hono/service/plan/ResourceLimitChecks.java
Labels: AMQP Adapter, MQTT Adapter

#1168 Align naming with other protocol adapters, see #1074
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/impl/Application.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/impl/Config.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/impl/LoraProtocolAdapter.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/providers/KerlinkProvider.java
  adapters/lora-vertx/src/test/java/org/eclipse/hono/adapter/lora/impl/LoraProtocolAdapterTest.java
Labels: LoRa Adapter

#1164 [#1035] Add FAQ section to documentation.
  site/content/faq.md
Labels: documentation, enhancement

#1171 Fix K8s docs concerning deployment without using Tiller service
  site/content/deployment/kubernetes.md
Labels: Deployment

#1174 [#927] Update release notes for resource-limits.
  site/content/release-notes.md
Labels: documentation

#1148 [#1055] Add option to deploy Jaeger in docker swarm
  bom/pom.xml
  deploy/src/main/deploy/docker/swarm_deploy.sh
  deploy/src/main/deploy/docker/swarm_undeploy.sh
Labels: Deployment

#1165 Create tenant CA for DEFAULT_TENANT.
  demo-certs/certs/default_tenant-cert.pem
  demo-certs/certs/default_tenant-key.pem
  demo-certs/certs/device-4711-cert.pem
  demo-certs/certs/device-4711-key.pem
  demo-certs/certs/trust-anchor.properties
  demo-certs/create_certs.sh
Labels: Deployment, enhancement

#1178 Fix: Javadoc in CachingClientFactory.
  client/src/main/java/org/eclipse/hono/client/impl/CachingClientFactory.java
Labels: bug, documentation

#1177 Fix: Javadoc in CredentialsApiAuthProvider.
  service-base/src/main/java/org/eclipse/hono/service/auth/device/CredentialsApiAuthProvider.java
Labels: bug, documentation

#1181 MQTT Adapter: Add checks before uploading command responses.
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
Labels: MQTT Adapter, bug

#1180 Update release notes for PR #1179.
  site/content/release-notes.md
Labels: documentation

#1184 AMQP Adapter: Add checks before uploading command responses.
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapter.java
Labels: AMQP Adapter, bug

#1182 Support pushing images to other container registries.
  push_hono_images.sh
  push_hono_images_private.sh
  site/content/deployment/azure-aks-helm.md
  site/content/deployment/azure-aks.md
Labels: Deployment

#1080 Upgrade micrometer to 1.1.x, specifically 1.1.3
  bom/pom.xml
Labels: Metrics

#1192 Add Hugo document header, fix layout issues for AKS Helm guide
  site/content/deployment/azure-aks-helm.md
Labels: Deployment, documentation

#1167 Configure nexus plugin in a dedicated profile
  pom.xml
Labels: enhancement

#1194 [#1183] Fix internal server error when sending malformed authentication header
  service-base/src/main/java/org/eclipse/hono/service/http/HonoBasicAuthHandler.java
  service-base/src/test/java/org/eclipse/hono/service/http/HonoBasicAuthHandlerTest.java
Labels: HTTP Adapter, bug

#1196 Fix typos in documentation
  site/content/concepts/device-notifications.md
  site/content/deployment/azure-aks.md
Labels: documentation

#1197 Upgrade to JJWT 0.10.6
  bom/pom.xml
  client/src/test/java/org/eclipse/hono/client/impl/RegistrationClientImplTest.java
  core/pom.xml
  service-base/pom.xml
  service-base/src/main/java/org/eclipse/hono/service/auth/AuthTokenHelperImpl.java
  service-base/src/main/java/org/eclipse/hono/service/registration/RegistrationAssertionHelperImpl.java
Labels: Device Registry

#1201 Fix missing field while copying properties
  core/src/main/java/org/eclipse/hono/config/ClientConfigProperties.java
Labels: bug

#1200 Fix javadoc and imports.
  client/src/main/java/org/eclipse/hono/client/impl/CommandClientImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/TenantClientImpl.java
Labels: Client, documentation

#1204 Increase/fix some test timeouts.
  adapters/amqp-vertx/src/test/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapterTest.java
  adapters/http-vertx-base/src/test/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapterTest.java
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapterTest.java
  client/src/test/java/org/eclipse/hono/client/impl/HonoConnectionImplTest.java
Labels: bug
