Repository eclipse-hono/hono, pull requests merged in 2019-08, with the labels that each got.

#1419 Add missing properties to copy constructor of ClientConfigProperties
  core/src/main/java/org/eclipse/hono/config/ClientConfigProperties.java
Labels: Client

#1428 Rename config from "hono.http" to "hono.lora"
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/LoraProtocolAdapterProperties.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/impl/Config.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/impl/LoraProtocolAdapter.java
  adapters/lora-vertx/src/test/java/org/eclipse/hono/adapter/lora/impl/LoraProtocolAdapterTest.java
Labels: LoRa Adapter

#1427 Fix type name
  adapters/sigfox-vertx/src/main/java/org/eclipse/hono/adapter/sigfox/impl/SigfoxProtocolAdapter.java
Labels: SigFox Adapter, bug

#1429 Fix typo.
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/DefaultDeviceResolver.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/PreSharedKeyDeviceIdentity.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
  core/src/main/java/org/eclipse/hono/util/HonoProtonHelper.java
Labels: documentation, enhancement

#1431 Show the actual device and stack trace
  adapters/mqtt-vertx/src/main/java/org/eclipse/hono/adapter/mqtt/impl/VertxBasedMqttProtocolAdapter.java
Labels: MQTT Adapter

#1436 Fixed broken links from Getting started guide to API documentation.
  site/homepage/content/getting-started/index.md
Labels: documentation, enhancement

#1426 Add information about command & control
  site/documentation/content/user-guide/sigfox-adapter.md
Labels: SigFox Adapter, documentation

#1442 Fix webchat link.
  site/homepage/content/community/get-in-touch.md
Labels: website

#1425 [#1406] Add trace sampling mode properties in the Management API spec
  core/src/main/java/org/eclipse/hono/util/RegistryManagementConstants.java
  core/src/main/java/org/eclipse/hono/util/TenantConstants.java
  core/src/main/java/org/eclipse/hono/util/TenantObject.java
  core/src/main/java/org/eclipse/hono/util/TenantTracingConfig.java
  core/src/main/java/org/eclipse/hono/util/TracingSamplingMode.java
  service-base/src/main/java/org/eclipse/hono/service/management/tenant/Tenant.java
  service-base/src/test/java/org/eclipse/hono/service/http/TenantTraceSamplingHandlerTest.java
  service-base/src/test/java/org/eclipse/hono/service/management/tenant/TenantTest.java
  services/device-registry/src/main/java/org/eclipse/hono/deviceregistry/FileBasedTenantService.java
  services/device-registry/src/test/java/org/eclipse/hono/deviceregistry/FileBasedTenantServiceTest.java
  site/documentation/content/api/management/device-registry-v1.yaml
Labels: Device Registry, Management API

#1438 Let the updateLastGateway operation run asynchronously
  client/src/main/java/org/eclipse/hono/client/impl/DeviceConnectionClientImpl.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractProtocolAdapterBase.java
Labels: enhancement

#1449 [#1445] Omit minikube profile parameter
  site/documentation/content/deployment/create-kubernetes-cluster.md
Labels: documentation

#1421 Chain API calls for Management API value objects.
  service-base/src/main/java/org/eclipse/hono/service/management/credentials/CommonCredential.java
  service-base/src/main/java/org/eclipse/hono/service/management/credentials/CommonSecret.java
  service-base/src/main/java/org/eclipse/hono/service/management/credentials/GenericCredential.java
  service-base/src/main/java/org/eclipse/hono/service/management/credentials/GenericSecret.java
  service-base/src/main/java/org/eclipse/hono/service/management/credentials/PasswordCredential.java
  service-base/src/main/java/org/eclipse/hono/service/management/credentials/PasswordSecret.java
  service-base/src/main/java/org/eclipse/hono/service/management/credentials/PskCredential.java
  service-base/src/main/java/org/eclipse/hono/service/management/credentials/PskSecret.java
  service-base/src/main/java/org/eclipse/hono/service/management/credentials/X509CertificateCredential.java
  service-base/src/main/java/org/eclipse/hono/service/management/credentials/X509CertificateSecret.java
  service-base/src/main/java/org/eclipse/hono/service/management/device/Device.java
  service-base/src/main/java/org/eclipse/hono/service/management/tenant/ResourceLimits.java
  service-base/src/main/java/org/eclipse/hono/service/management/tenant/Tenant.java
  service-base/src/main/java/org/eclipse/hono/service/management/tenant/TrustedCertificateAuthority.java
  service-base/src/test/java/org/eclipse/hono/service/management/credentials/CredentialsTest.java
  tests/src/test/java/org/eclipse/hono/tests/Tenants.java
  tests/src/test/java/org/eclipse/hono/tests/http/HttpTestBase.java
  tests/src/test/java/org/eclipse/hono/tests/registry/CredentialsHttpIT.java
Labels: Device Registry, Management API, enhancement

#1451 [#1450] Upgrade to Netty 4.1.39.
  bom/pom.xml
Labels: bug, security

#1437 Add Span parameter to getDevice method
  service-base/src/main/java/org/eclipse/hono/service/registration/AbstractRegistrationService.java
  service-base/src/main/java/org/eclipse/hono/service/registration/BaseRegistrationService.java
  service-base/src/test/java/org/eclipse/hono/service/registration/BaseRegistrationServiceTest.java
  services/device-registry/src/main/java/org/eclipse/hono/deviceregistry/DummyRegistrationService.java
  services/device-registry/src/main/java/org/eclipse/hono/deviceregistry/FileBasedRegistrationService.java
Labels: Device Registry, Tracing

#1453 add support for auhentication for the device management HTTP API
  service-base/src/main/java/org/eclipse/hono/service/http/HttpServiceBase.java
Labels: Device Registry

#1374 [#1378] Support datetime format with timezone offset
  service-base/pom.xml
  service-base/src/main/java/org/eclipse/hono/service/management/credentials/CommonSecret.java
  service-base/src/test/java/org/eclipse/hono/service/management/credentials/CredentialsTest.java
  service-base/src/test/java/org/eclipse/hono/service/management/credentials/SecretsTest.java
  services/device-registry/src/main/java/org/eclipse/hono/deviceregistry/FileBasedCredentialsService.java
  services/device-registry/src/test/java/org/eclipse/hono/deviceregistry/FileBasedCredentialsServiceTest.java
Labels: Device Registry

#1435 [#1396] Implement trace sampling mode option in AMQP adapter
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/AmqpAdapterConstants.java
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/AmqpAdapterSaslAuthenticatorFactory.java
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/SaslResponseContext.java
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/impl/AmqpContext.java
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/impl/AmqpContextTenantAndAuthIdProvider.java
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapter.java
  adapters/amqp-vertx/src/test/java/org/eclipse/hono/adapter/amqp/AmqpAdapterSaslAuthenticatorFactoryTest.java
  service-base/src/main/java/org/eclipse/hono/service/tenant/BaseExecutionContextTenantAndAuthIdProvider.java
Labels: AMQP Adapter, Tracing

#1446 Implement toString for Result and OperationResult
  service-base/src/main/java/org/eclipse/hono/service/management/OperationResult.java
  service-base/src/main/java/org/eclipse/hono/service/management/Result.java
Labels: enhancement

#1452 Align image tags with helm deployment and registry deployment improvements.
  bom/pom.xml
  deploy/pom.xml
  deploy/src/main/deploy/helm/templates/hono-adapter-amqp/hono-adapter-amqp-vertx-deployment.yaml
  deploy/src/main/deploy/helm/templates/hono-adapter-coap/hono-adapter-coap-vertx-deployment.yaml
  deploy/src/main/deploy/helm/templates/hono-adapter-http/hono-adapter-http-vertx-deployment.yaml
  deploy/src/main/deploy/helm/templates/hono-adapter-kura/hono-adapter-kura-deployment.yaml
  deploy/src/main/deploy/helm/templates/hono-adapter-mqtt/hono-adapter-mqtt-vertx-deployment.yaml
  deploy/src/main/deploy/helm/templates/hono-service-auth/hono-service-auth-deployment.yaml
  deploy/src/main/deploy/helm/templates/hono-service-device-connection/hono-service-device-connection-deployment.yaml
  deploy/src/main/deploy/helm/templates/hono-service-device-registry/hono-service-device-registry-deployment.yaml
  deploy/src/main/deploy/helm/templates/hono-service-device-registry/hono-service-device-registry-pvc.yaml
  deploy/src/main/deploy/helm/values.yaml
  pom.xml
  site/documentation/content/deployment/create-kubernetes-cluster.md
  site/documentation/content/deployment/helm-based-deployment.md
Labels: Deployment

#1458 Extract fport for TTN
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/impl/LoraProtocolAdapter.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/providers/ThingsNetworkProvider.java
Labels: LoRa Adapter, enhancement

#1464 Fix website pipeline: invalid stable tag.
  site/documentation/tag_stable.txt
Labels: website

#1461 Consider SSLException terminal for connection attempt.
  client/src/main/java/org/eclipse/hono/client/impl/HonoConnectionImpl.java
  core/src/test/java/org/eclipse/hono/connection/impl/ConnectionFactoryImplTest.java
  tests/src/test/java/org/eclipse/hono/tests/client/HonoClientImplIT.java
  tests/src/test/resources/logback-test.xml
Labels: Client
