Repository eclipse-hono/hono, pull requests merged in 2019-10, with the labels that each got.

#1530 Replace the answers in FAQ with links to the questions on Stackoverflow.
  site/homepage/content/faq.md
Labels: enhancement, website

#1533 Add link to hono gitter chat in homepage footer.
  site/homepage/layouts/partials/footer.html
Labels: website

#1539 Fix topic names for subscribing to commands.
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/CommandSubscription.java
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/CommandSubscriptionTest.java
  adapters/pom.xml
  site/documentation/content/concepts/command-and-control.md
  site/documentation/content/concepts/command_control_concept_mqtt.svg
  site/documentation/content/concepts/command_control_concept_one_way_mqtt.svg
  site/documentation/content/user-guide/mqtt-adapter.md
  tests/src/test/java/org/eclipse/hono/tests/mqtt/CommandAndControlMqttIT.java
  tests/src/test/java/org/eclipse/hono/tests/mqtt/MqttCommandEndpointConfiguration.java
Labels: MQTT Adapter

#1538 Improve log output of parameterized tests
  tests/src/test/java/org/eclipse/hono/tests/IntegrationTestSupport.java
  tests/src/test/java/org/eclipse/hono/tests/amqp/AmqpConnectionIT.java
  tests/src/test/java/org/eclipse/hono/tests/amqp/AmqpUploadTestBase.java
  tests/src/test/java/org/eclipse/hono/tests/amqp/CommandAndControlAmqpIT.java
  tests/src/test/java/org/eclipse/hono/tests/http/HttpTestBase.java
  tests/src/test/java/org/eclipse/hono/tests/mqtt/CommandAndControlMqttIT.java
Labels: enhancement

#1532 [#1138] Add CORS headers to device registry management API
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/HttpProtocolAdapterProperties.java
  core/src/main/java/org/eclipse/hono/config/ServiceConfigProperties.java
  service-base/src/main/java/org/eclipse/hono/service/http/AbstractHttpEndpoint.java
  service-base/src/main/java/org/eclipse/hono/service/management/credentials/CredentialsManagementHttpEndpoint.java
  service-base/src/main/java/org/eclipse/hono/service/management/device/DeviceManagementHttpEndpoint.java
  service-base/src/main/java/org/eclipse/hono/service/management/tenant/TenantManagementHttpEndpoint.java
  tests/src/test/java/org/eclipse/hono/tests/CrudHttpClient.java
  tests/src/test/java/org/eclipse/hono/tests/DeviceRegistryHttpClient.java
  tests/src/test/java/org/eclipse/hono/tests/http/CorsIT.java
  tests/src/test/java/org/eclipse/hono/tests/registry/CorsIT.java
Labels: Device Registry

#1531 Rename resources to suit the resource limits context.
  adapters/amqp-vertx/src/test/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapterTest.java
  adapters/coap-vertx-base/src/test/java/org/eclipse/hono/adapter/coap/AbstractVertxBasedCoapAdapterTest.java
  adapters/http-vertx-base/src/test/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapterTest.java
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapterTest.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractAdapterConfig.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractProtocolAdapterBase.java
  service-base/src/main/java/org/eclipse/hono/service/resourcelimits/NoopResourceLimitChecks.java
  service-base/src/main/java/org/eclipse/hono/service/resourcelimits/PrometheusBasedResourceLimitChecks.java
  service-base/src/main/java/org/eclipse/hono/service/resourcelimits/PrometheusBasedResourceLimitChecksConfig.java
  service-base/src/main/java/org/eclipse/hono/service/resourcelimits/ResourceLimitChecks.java
  service-base/src/test/java/org/eclipse/hono/service/AbstractProtocolAdapterBaseTest.java
  service-base/src/test/java/org/eclipse/hono/service/resourcelimits/PrometheusBasedResourceLimitChecksTest.java
  site/documentation/content/admin-guide/amqp-adapter-config.md
  site/documentation/content/admin-guide/http-adapter-config.md
  site/documentation/content/admin-guide/kura-adapter-config.md
  site/documentation/content/admin-guide/mqtt-adapter-config.md
  site/homepage/content/release-notes.md
Labels: Metrics

#1550 Add cors support to release notes and remove proxy from the spec
  site/documentation/content/api/management/device-registry-v1.yaml
  site/homepage/content/release-notes.md
Labels: Management API, documentation

#1547 Unnecessary trademark signs removed from deployment guide.
  site/documentation/content/deployment/helm-based-deployment.md
Labels: documentation, enhancement

#1551 Add convenience methods for creating new downstream messages.
  core/src/main/java/org/eclipse/hono/util/MessageHelper.java
  core/src/main/java/org/eclipse/hono/util/ResourceIdentifier.java
  core/src/test/java/org/eclipse/hono/util/MessageHelperTest.java
  legal/src/main/resources/checkstyle/default.xml
  service-base/src/main/java/org/eclipse/hono/service/AbstractProtocolAdapterBase.java
  service-base/src/test/java/org/eclipse/hono/service/AbstractProtocolAdapterBaseTest.java
  site/homepage/content/release-notes.md
Labels: Client, enhancement

#1542 [#1541] Allow null link address for anonymous relay in createSender()
  client/src/main/java/org/eclipse/hono/client/HonoConnection.java
  client/src/main/java/org/eclipse/hono/client/impl/HonoConnectionImpl.java
  core/src/main/java/org/eclipse/hono/util/HonoProtonHelper.java
Labels: Client

#1554 [#1553] Update concept documentation of "Device Registration".
  site/documentation/content/concepts/device-identity.md
Labels: documentation, enhancement

#1557 Update concept documentation
  site/documentation/content/concepts/command-and-control.md
  site/documentation/content/concepts/device-identity.md
  site/documentation/content/concepts/device-notifications.md
  site/documentation/content/concepts/tenancy.md
Labels: documentation, enhancement

#1561 Minor cosmetic changes
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapter.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/AbstractVertxBasedCoapAdapter.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/CoapErrorResponse.java
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapter.java
  adapters/http-vertx/src/main/java/org/eclipse/hono/adapter/http/impl/VertxBasedHttpProtocolAdapter.java
  adapters/kura/src/main/java/org/eclipse/hono/adapter/kura/impl/KuraProtocolAdapter.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
  adapters/mqtt-vertx/src/main/java/org/eclipse/hono/adapter/mqtt/impl/VertxBasedMqttProtocolAdapter.java
  cli/src/main/java/org/eclipse/hono/cli/AbstractCliClient.java
  cli/src/main/java/org/eclipse/hono/cli/Application.java
  cli/src/main/java/org/eclipse/hono/cli/adapter/AmqpCliClient.java
  cli/src/main/java/org/eclipse/hono/cli/adapter/CommandAndControlClient.java
  cli/src/main/java/org/eclipse/hono/cli/app/Commander.java
  cli/src/main/java/org/eclipse/hono/cli/app/Receiver.java
  client/src/main/java/org/eclipse/hono/client/CommandContext.java
  client/src/main/java/org/eclipse/hono/client/impl/AbstractSender.java
  client/src/main/java/org/eclipse/hono/client/impl/DelegatedCommandSenderImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/TelemetrySenderImpl.java
  core/src/main/java/org/eclipse/hono/auth/AuthoritiesImpl.java
  core/src/main/java/org/eclipse/hono/tracing/TracingHelper.java
  example/src/main/java/org/eclipse/hono/devices/HonoHttpDevice.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractProtocolAdapterBase.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractServiceBase.java
  service-base/src/main/java/org/eclipse/hono/service/amqp/AmqpServiceBase.java
  service-base/src/main/java/org/eclipse/hono/service/http/AbstractHttpEndpoint.java
  service-base/src/main/java/org/eclipse/hono/service/http/HttpServiceBase.java
  service-base/src/main/java/org/eclipse/hono/service/management/credentials/CredentialsManagementHttpEndpoint.java
  service-base/src/main/java/org/eclipse/hono/service/management/tenant/TenantManagementHttpEndpoint.java
  tests/src/test/java/org/eclipse/hono/tests/CrudHttpClient.java
Labels: enhancement

#1563 Fix whitespace in documentation for json code
  site/documentation/content/api/device-registration/index.md
  site/documentation/content/api/tenant/index.md
  site/documentation/content/user-guide/device-registry.md
  site/documentation/content/user-guide/http-adapter.md
  site/documentation/content/user-guide/mqtt-adapter.md
  site/homepage/content/getting-started/index.md
Labels: documentation, enhancement

#1564 Various small fixes and harmonizations in the HTTP User Guide.
  site/documentation/content/user-guide/http-adapter.md
Labels: HTTP Adapter, documentation, enhancement

#1562 [#1555] Validate tenant management payload before adding or updating a tenant.
  service-base/src/main/java/org/eclipse/hono/service/management/tenant/EventBusTenantManagementAdapter.java
  service-base/src/main/java/org/eclipse/hono/service/management/tenant/Tenant.java
  service-base/src/test/java/org/eclipse/hono/service/management/tenant/EventBusTenantManagementAdapterTest.java
  service-base/src/test/java/org/eclipse/hono/service/management/tenant/TenantTest.java
Labels: Device Registry, bug

#1567 [#1566] No two adapters can have same type during tenant registration.
  service-base/src/main/java/org/eclipse/hono/service/management/tenant/Tenant.java
  service-base/src/test/java/org/eclipse/hono/service/management/tenant/EventBusTenantManagementAdapterTest.java
  service-base/src/test/java/org/eclipse/hono/service/management/tenant/TenantTest.java
Labels: Device Registry, enhancement

#1568 [#623] Support multiple CAs in Registry Management and Tenant APIs.
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/AmqpAdapterSaslAuthenticatorFactory.java
  core/src/main/java/org/eclipse/hono/util/TenantObject.java
  core/src/test/java/org/eclipse/hono/util/TenantObjectTest.java
  service-base/src/main/java/org/eclipse/hono/service/auth/device/TenantServiceBasedX509Authentication.java
  service-base/src/main/java/org/eclipse/hono/service/management/tenant/Tenant.java
  service-base/src/main/java/org/eclipse/hono/service/management/tenant/TrustedCertificateAuthority.java
  service-base/src/test/java/org/eclipse/hono/service/management/tenant/EventBusTenantManagementAdapterTest.java
  service-base/src/test/java/org/eclipse/hono/service/management/tenant/TenantTest.java
  service-base/src/test/java/org/eclipse/hono/service/management/tenant/TrustedCertificateAuthorityTest.java
  service-base/src/test/java/org/eclipse/hono/service/tenant/AbstractTenantServiceTest.java
  services/device-registry/src/main/java/org/eclipse/hono/deviceregistry/FileBasedTenantService.java
  services/device-registry/src/test/java/org/eclipse/hono/deviceregistry/FileBasedTenantServiceTest.java
  site/documentation/content/api/management/device-registry-v1.yaml
  site/documentation/content/api/tenant/index.md
  site/homepage/content/release-notes.md
  tests/src/test/java/org/eclipse/hono/tests/Tenants.java
  tests/src/test/java/org/eclipse/hono/tests/registry/TenantApiTests.java
Labels: Device Registry, Management API, enhancement

#1575 Fix Javadoc: wrong parameter name in TenantTraceSamplingHelper.java.
  service-base/src/main/java/org/eclipse/hono/service/tenant/TenantTraceSamplingHelper.java
Labels: bug, documentation

#1574 Deprecate defining password secrets using password hash, function and…
  site/documentation/content/api/management/device-registry-v1.yaml
  site/homepage/content/release-notes.md
Labels: Management API, documentation

#1570 Improve display of code blocks, formatting and syntax highlighting.
  site/documentation/content/admin-guide/monitoring-tracing-config.md
  site/documentation/content/deployment/helm-based-deployment.md
  site/documentation/content/dev-guide/java_client_consumer.md
  site/documentation/content/user-guide/amqp-adapter.md
  site/documentation/content/user-guide/device-registry.md
  site/documentation/content/user-guide/mqtt-adapter.md
Labels: documentation, enhancement

#1552 [#1523] Enable gateways to subscribe for commands of a specific device
  client/src/main/java/org/eclipse/hono/client/Command.java
  client/src/main/java/org/eclipse/hono/client/CommandConsumerFactory.java
  client/src/main/java/org/eclipse/hono/client/impl/CommandConsumerFactoryImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/CommandHandlerWrapper.java
  client/src/main/java/org/eclipse/hono/client/impl/DelegateViaDownstreamPeerCommandHandler.java
  client/src/main/java/org/eclipse/hono/client/impl/DestinationCommandConsumer.java
  client/src/main/java/org/eclipse/hono/client/impl/DeviceSpecificCommandConsumer.java
  client/src/main/java/org/eclipse/hono/client/impl/MappingAndDelegatingCommandConsumer.java
  client/src/test/java/org/eclipse/hono/client/impl/CommandConsumerFactoryImplTest.java
Labels: C&C

#1528 Prepare configuration of customers/clients/adopters section on homepage.
  site/homepage/data/clients/1.yaml
  site/homepage/data/clients/2.yaml
  site/homepage/data/clients/3.yaml
  site/homepage/layouts/partials/clients.html
  site/homepage/layouts/partials/scripts.html
  site/homepage/static/css/custom.css
  site/homepage/static/css/style.hono.css
  site/homepage/static/img/clients/acme2.svg
  site/homepage/static/img/clients/companyx.svg
  site/homepage/static/img/clients/theinc.svg
  site/homepage/static/js/front.js
Labels: enhancement, website

#1576 Various fixes and improvements in documentation.
  site/documentation/content/_index.md
  site/documentation/content/admin-guide/_index.md
  site/documentation/content/admin-guide/hono-client-configuration.md
  site/documentation/content/api/_index.md
  site/documentation/content/api/event/index.md
  site/documentation/content/api/telemetry/index.md
  site/documentation/content/architecture/_index.md
  site/documentation/content/concepts/_index.md
  site/documentation/content/deployment/_index.md
  site/documentation/content/dev-guide/_index.md
  site/documentation/content/user-guide/_index.md
  site/documentation/content/user-guide/amqp-adapter.md
  site/documentation/content/user-guide/http-adapter.md
  site/documentation/content/user-guide/mqtt-adapter.md
Labels: documentation, enhancement

#1584 [#1534] Document limitations when deploying to Kubernetes 1.16.
  site/documentation/content/deployment/create-kubernetes-cluster.md
  site/documentation/content/deployment/helm-based-deployment.md
Labels: Deployment

#1579 [#1523] HTTP adapter: Let gateways subscribe for commands of a specific device
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapter.java
Labels: C&C, HTTP Adapter

#1578 [#1523] AMQP adapter: Let gateways subscribe for commands of a specific device
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapter.java
Labels: AMQP Adapter, C&C

#1577 [#1523] MQTT adapter: Let gateways subscribe for commands of a specific device
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/CommandSubscription.java
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/CommandSubscriptionTest.java
Labels: C&C, MQTT Adapter

#1582 [#1523] Document cases for gateways subscribing for device commands
  site/documentation/content/user-guide/amqp-adapter.md
  site/documentation/content/user-guide/mqtt-adapter.md
  site/homepage/content/release-notes.md
Labels: C&C

#1572 [#1569] Support setting max-ttd value as an extension property.
  adapters/http-vertx-base/src/test/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapterTest.java
  core/src/main/java/org/eclipse/hono/util/TenantConstants.java
  core/src/main/java/org/eclipse/hono/util/TenantObject.java
  core/src/test/java/org/eclipse/hono/util/TenantObjectTest.java
  site/documentation/content/user-guide/http-adapter.md
  site/homepage/content/release-notes.md
Labels: HTTP Adapter, bug

#1581 [#1523] HTTP adapter: Add http header with command target device
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapter.java
  core/src/main/java/org/eclipse/hono/util/Constants.java
  site/documentation/content/user-guide/http-adapter.md
Labels: C&C, HTTP Adapter

#1580 [#1523] Add integration tests for gateways subscribing for device commands
  tests/pom.xml
  tests/src/test/java/org/eclipse/hono/tests/CommandEndpointConfiguration.java
  tests/src/test/java/org/eclipse/hono/tests/IntegrationTestSupport.java
  tests/src/test/java/org/eclipse/hono/tests/amqp/AmqpCommandEndpointConfiguration.java
  tests/src/test/java/org/eclipse/hono/tests/amqp/CommandAndControlAmqpIT.java
  tests/src/test/java/org/eclipse/hono/tests/http/HttpCommandEndpointConfiguration.java
  tests/src/test/java/org/eclipse/hono/tests/http/HttpTestBase.java
  tests/src/test/java/org/eclipse/hono/tests/mqtt/CommandAndControlMqttIT.java
  tests/src/test/java/org/eclipse/hono/tests/mqtt/MqttCommandEndpointConfiguration.java
Labels: C&C

#1583 Add namespace to the templates
  deploy/src/main/deploy/helm/templates/_helpers.tpl
Labels: Deployment

#1301 [#1109] Remove Eclipse incubation logo and replace it by IoT WG logo.
  site/homepage/layouts/partials/footer.html
  site/homepage/static/css/custom.css
  site/homepage/static/img/iot-logo.png
Labels: website

#1588 Minor fixes and improvements.
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/impl/LoraProtocolAdapter.java
  core/src/main/java/org/eclipse/hono/auth/AuthoritiesImpl.java
  service-base/src/main/java/org/eclipse/hono/service/VertxBasedHealthCheckServer.java
  service-base/src/main/java/org/eclipse/hono/service/http/HttpUtils.java
  services/device-registry/src/main/java/org/eclipse/hono/deviceregistry/FileBasedCredentialsService.java
Labels: enhancement

#1590 Fix links.
  deploy/src/main/deploy/helm/values.yaml
  site/homepage/config.toml
  site/homepage/content/getting-started/index.md
  site/homepage/content/release-notes.md
  site/homepage/layouts/partials/footer.html
Labels: documentation, website

#1595 Change URLs that produce redirects to speed up browsing.
  site/documentation/config.toml
  site/documentation/content/admin-guide/device-registry-config.md
  site/documentation/content/deployment/helm-based-deployment.md
  site/documentation/content/dev-guide/custom_http_adapter.md
  site/documentation/content/user-guide/amqp-adapter.md
  site/documentation/content/user-guide/http-adapter.md
  site/documentation/content/user-guide/mqtt-adapter.md
Labels: documentation, enhancement

#1596 Azure: Fix ARM template and provide option to define k8s version for AKS
  deploy/src/main/deploy/azure/arm/honoInfrastructureDeployment.json
  deploy/src/main/deploy/azure/arm/templates/kubernetesDeploy.json
  site/documentation/content/deployment/create-kubernetes-cluster.md
Labels: Deployment, enhancement
