Repository eclipse-hono/hono, pull requests merged in 2019-07, with the labels that each got.

#1335 [#1210] Improve reconnect interval handling
  client/src/main/java/org/eclipse/hono/client/HonoConnection.java
  client/src/main/java/org/eclipse/hono/client/impl/HonoConnectionImpl.java
  client/src/test/java/org/eclipse/hono/client/impl/HonoConnectionImplTest.java
  core/src/main/java/org/eclipse/hono/config/ClientConfigProperties.java
  core/src/main/java/org/eclipse/hono/util/Constants.java
  site/documentation/content/admin-guide/hono-client-configuration.md
Labels: Client, enhancement

#1342 [#1238] Split up hono.app by introducing health check config properties
  core/src/main/java/org/eclipse/hono/config/ApplicationConfigProperties.java
  core/src/main/java/org/eclipse/hono/config/ServerConfig.java
  core/src/main/java/org/eclipse/hono/config/ServiceConfigProperties.java
  deploy/src/main/config/hono-adapter-amqp-vertx-config.yml
  deploy/src/main/config/hono-adapter-coap-vertx-config.yml
  deploy/src/main/config/hono-adapter-http-vertx-config-enmasse.yml
  deploy/src/main/config/hono-adapter-http-vertx-config.yml
  deploy/src/main/config/hono-adapter-kura-config-enmasse.yml
  deploy/src/main/config/hono-adapter-kura-config.yml
  deploy/src/main/config/hono-adapter-mqtt-vertx-config-enmasse.yml
  deploy/src/main/config/hono-adapter-mqtt-vertx-config.yml
  deploy/src/main/config/hono-service-auth-config.yml
  deploy/src/main/config/hono-service-device-registry-config.yml
  deploy/src/main/deploy/openshift/hono-template.yml
  deploy/src/main/sandbox/hono-adapter-amqp-vertx-config.yml
  deploy/src/main/sandbox/hono-adapter-http-vertx-config.yml
  deploy/src/main/sandbox/hono-adapter-kura-config.yml
  deploy/src/main/sandbox/hono-adapter-mqtt-vertx-config.yml
  deploy/src/main/sandbox/hono-service-auth-config.yml
  deploy/src/main/sandbox/hono-service-device-registry-config.yml
  service-base/src/main/java/org/eclipse/hono/service/AbstractAdapterConfig.java
  service-base/src/main/java/org/eclipse/hono/service/VertxBasedHealthCheckServer.java
  services/auth/src/main/java/org/eclipse/hono/service/auth/impl/ApplicationConfig.java
  services/device-registry-legacy/src/main/java/org/eclipse/hono/deviceregistry/ApplicationConfig.java
  services/device-registry/src/main/java/org/eclipse/hono/deviceregistry/ApplicationConfig.java
  site/documentation/content/admin-guide/amqp-adapter-config.md
  site/documentation/content/admin-guide/device-registry-config.md
  site/documentation/content/admin-guide/http-adapter-config.md
  site/documentation/content/admin-guide/kura-adapter-config.md
  site/documentation/content/admin-guide/mqtt-adapter-config.md
  site/homepage/content/release-notes.md
  tests/src/test/resources/amqp/application.yml
  tests/src/test/resources/auth/application.yml
  tests/src/test/resources/coap/application.yml
  tests/src/test/resources/deviceregistry/application.yml
  tests/src/test/resources/http/application.yml
  tests/src/test/resources/mqtt/application.yml
Labels: Metrics

#1351 Fix typos and minor issues
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/providers/LoraProvider.java
  core/src/main/java/org/eclipse/hono/util/CredentialsObject.java
  services/device-registry-legacy/src/main/java/org/eclipse/hono/deviceregistry/DeviceRegistryAmqpServer.java
  tests/src/test/java/org/eclipse/hono/tests/registry/legacy/LegacyDeviceRegistrationHttpIT.java
Labels: bug, enhancement

#1358 Fix page title landing page.
  site/homepage/content/_index.md
Labels: website

#1357 Fix broken links on the homepage.
  site/homepage/content/getting-started/index.md
  site/homepage/content/sandbox.md
Labels: documentation, website

#1363 Minor fixes in message limit documentation for MQTT Adapter.
  site/documentation/content/user-guide/mqtt-adapter.md
Labels: bug, documentation

#1365 Fix typos.
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/CommandSubscription.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/MqttProtocolAdapterProperties.java
  client/src/main/java/org/eclipse/hono/client/AuthenticationServerClient.java
  client/src/main/java/org/eclipse/hono/client/MessageSender.java
  client/src/test/java/org/eclipse/hono/client/impl/DelegateViaDownstreamPeerCommandHandlerTest.java
  core/src/main/java/org/eclipse/hono/util/HonoProtonHelper.java
  core/src/main/java/org/eclipse/hono/util/MessageHelper.java
  service-base/src/main/java/org/eclipse/hono/service/limiting/DefaultConnectionLimitManager.java
Labels: bug, documentation

#1361 Use "doclink" shortcode for all links from homepage to documentation.
  site/homepage/content/downloads.md
  site/homepage/content/faq.md
  site/homepage/content/release-notes.md
  site/homepage/content/sandbox.md
Labels: documentation, website

#1368 [#1302] Configure documentation of 1.0-M5 as current "stable" version.
  jenkins/Hono-Website-Pipeline.groovy
  readme.md
  site/documentation/config.toml
  site/documentation/layouts/partials/old-version-hint.html
  site/documentation/static/api/device-registry-v1.yaml
  site/homepage/config.toml
  site/homepage/tag_stable.txt
  site/homepage/versions_supported.csv
Labels: website

#1372 [#1302] Fix build of documentation versions.
  jenkins/Hono-Website-Pipeline.groovy
  site/documentation/config.toml
  site/homepage/menu_main.toml
Labels: website

#1376 Management API : allow empty body for creating tenant or device with generated ID
  service-base/src/main/java/org/eclipse/hono/service/http/AbstractHttpEndpoint.java
  service-base/src/main/java/org/eclipse/hono/service/management/device/DeviceManagementHttpEndpoint.java
  service-base/src/main/java/org/eclipse/hono/service/management/tenant/TenantManagementHttpEndpoint.java
  tests/src/test/java/org/eclipse/hono/tests/registry/DeviceRegistrationHttpIT.java
  tests/src/test/java/org/eclipse/hono/tests/registry/TenantHttpIT.java
Labels: Device Registry, bug

#1380 [#1355] Change the format of credentials temporarily
  deploy/src/main/deploy/example-credentials.json
Labels: Device Registry

#1349 [#1238] Introduce secure in addition to insecure health check endpoints
  core/src/main/java/org/eclipse/hono/config/ServerConfig.java
  deploy/src/main/config/hono-adapter-amqp-vertx-config.yml
  deploy/src/main/config/hono-adapter-coap-vertx-config.yml
  deploy/src/main/config/hono-adapter-http-vertx-config-enmasse.yml
  deploy/src/main/config/hono-adapter-http-vertx-config.yml
  deploy/src/main/config/hono-adapter-kura-config-enmasse.yml
  deploy/src/main/config/hono-adapter-kura-config.yml
  deploy/src/main/config/hono-adapter-mqtt-vertx-config-enmasse.yml
  deploy/src/main/config/hono-adapter-mqtt-vertx-config.yml
  deploy/src/main/config/hono-service-auth-config.yml
  deploy/src/main/config/hono-service-device-registry-config.yml
  deploy/src/main/deploy/helm/templates/hono-adapter-amqp/hono-adapter-amqp-vertx-deployment.yaml
  deploy/src/main/deploy/helm/templates/hono-adapter-http/hono-adapter-http-vertx-deployment.yaml
  deploy/src/main/deploy/helm/templates/hono-adapter-kura/hono-adapter-kura-deployment.yaml
  deploy/src/main/deploy/helm/templates/hono-adapter-mqtt/hono-adapter-mqtt-vertx-deployment.yaml
  deploy/src/main/deploy/helm/templates/hono-service-auth/hono-service-auth-deployment.yaml
  deploy/src/main/deploy/helm/templates/hono-service-device-registry/hono-service-device-registry-deployment.yaml
  deploy/src/main/deploy/openshift/hono-template.yml
  deploy/src/main/sandbox/hono-adapter-amqp-vertx-config.yml
  deploy/src/main/sandbox/hono-adapter-http-vertx-config.yml
  deploy/src/main/sandbox/hono-adapter-kura-config.yml
  deploy/src/main/sandbox/hono-adapter-mqtt-vertx-config.yml
  deploy/src/main/sandbox/hono-service-auth-config.yml
  deploy/src/main/sandbox/hono-service-device-registry-config.yml
  service-base/src/main/java/org/eclipse/hono/service/VertxBasedHealthCheckServer.java
  service-base/src/test/java/org/eclipse/hono/service/VertxBasedHealthCheckServerTest.java
  site/documentation/content/admin-guide/amqp-adapter-config.md
  site/documentation/content/admin-guide/device-registry-config.md
  site/documentation/content/admin-guide/http-adapter-config.md
  site/documentation/content/admin-guide/kura-adapter-config.md
  site/documentation/content/admin-guide/mqtt-adapter-config.md
  site/documentation/content/admin-guide/secure_communication.md
  site/documentation/content/deployment/openshift.md
  site/homepage/content/release-notes.md
  tests/src/test/resources/amqp/application.yml
  tests/src/test/resources/auth/application.yml
  tests/src/test/resources/coap/application.yml
  tests/src/test/resources/deviceregistry/application.yml
  tests/src/test/resources/http/application.yml
  tests/src/test/resources/mqtt/application.yml
Labels: Metrics

#1384 Add a spec version in the API management URLs
  core/src/main/java/org/eclipse/hono/util/RegistryManagementConstants.java
  service-base/src/main/java/org/eclipse/hono/service/management/credentials/CredentialsManagementHttpEndpoint.java
  service-base/src/main/java/org/eclipse/hono/service/management/device/DeviceManagementHttpEndpoint.java
  service-base/src/main/java/org/eclipse/hono/service/management/tenant/TenantManagementHttpEndpoint.java
  tests/src/test/java/org/eclipse/hono/tests/DeviceRegistryHttpClient.java
Labels: Device Registry, Management API

#1373 Add default config values for healthCheck server.
  core/src/main/java/org/eclipse/hono/config/ServerConfig.java
  service-base/src/main/java/org/eclipse/hono/service/VertxBasedHealthCheckServer.java
  site/documentation/content/admin-guide/amqp-adapter-config.md
  site/documentation/content/admin-guide/auth-server-config.md
  site/documentation/content/admin-guide/device-registry-config.md
  site/documentation/content/admin-guide/http-adapter-config.md
  site/documentation/content/admin-guide/kura-adapter-config.md
  site/documentation/content/admin-guide/mqtt-adapter-config.md
  site/homepage/content/release-notes.md
Labels: Metrics

#1382 [#896] Implement trace sampling mode option in HTTP adapter
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapter.java
  adapters/http-vertx/src/main/java/org/eclipse/hono/adapter/http/impl/VertxBasedHttpProtocolAdapter.java
  adapters/http-vertx/src/test/java/org/eclipse/hono/adapter/http/impl/VertxBasedHttpProtocolAdapterTest.java
  core/src/main/java/org/eclipse/hono/tracing/TracingHelper.java
  core/src/main/java/org/eclipse/hono/util/TenantConstants.java
  core/src/main/java/org/eclipse/hono/util/TenantObject.java
  service-base/src/main/java/org/eclipse/hono/service/http/HttpContext.java
  service-base/src/main/java/org/eclipse/hono/service/http/HttpContextTenantAndAuthIdProvider.java
  service-base/src/main/java/org/eclipse/hono/service/http/TenantTraceSamplingHandler.java
  service-base/src/main/java/org/eclipse/hono/service/tenant/BaseExecutionContextTenantAndAuthIdProvider.java
  service-base/src/main/java/org/eclipse/hono/service/tenant/ExecutionContextTenantAndAuthIdProvider.java
  service-base/src/main/java/org/eclipse/hono/service/tenant/TenantObjectWithAuthId.java
  service-base/src/main/java/org/eclipse/hono/service/tenant/TenantTraceSamplingHelper.java
  service-base/src/test/java/org/eclipse/hono/service/http/TenantTraceSamplingHandlerTest.java
Labels: AMQP Adapter, HTTP Adapter, MQTT Adapter, Tracing

#1390 [#1389] Implement trace sampling mode option in MQTT adapter
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/MqttContextTenantAndAuthIdProvider.java
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapterTest.java
Labels: MQTT Adapter, Tracing

#1391 Improve the selection of documentation versions.
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapter.java
  adapters/http-vertx/readme.md
  adapters/http-vertx/src/main/java/org/eclipse/hono/adapter/http/impl/VertxBasedHttpProtocolAdapter.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
  adapters/mqtt-vertx/readme.md
  client/src/main/java/org/eclipse/hono/client/CommandClient.java
  client/src/main/java/org/eclipse/hono/client/CredentialsClient.java
  client/src/main/java/org/eclipse/hono/client/DeviceConnectionClient.java
  client/src/main/java/org/eclipse/hono/client/RegistrationClient.java
  client/src/main/java/org/eclipse/hono/client/TenantClient.java
  client/src/main/java/org/eclipse/hono/client/impl/CredentialsClientImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/DeviceConnectionClientImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/RegistrationClientImpl.java
  core/src/main/java/org/eclipse/hono/auth/EncodedPassword.java
  core/src/main/java/org/eclipse/hono/auth/HonoPasswordEncoder.java
  core/src/main/java/org/eclipse/hono/config/ProtocolAdapterProperties.java
  core/src/main/java/org/eclipse/hono/util/CredentialsObject.java
  core/src/main/java/org/eclipse/hono/util/TenantObject.java
  jenkins/Hono-Release-Pipeline.groovy
  jenkins/Hono-Website-Pipeline.groovy
  readme.md
  service-base/src/main/java/org/eclipse/hono/service/AbstractProtocolAdapterBase.java
  service-base/src/main/java/org/eclipse/hono/service/auth/device/HonoClientBasedAuthProvider.java
  service-base/src/main/java/org/eclipse/hono/service/auth/device/TenantServiceBasedX509Authentication.java
  service-base/src/main/java/org/eclipse/hono/service/credentials/CredentialsAmqpEndpoint.java
  service-base/src/main/java/org/eclipse/hono/service/credentials/CredentialsHttpEndpoint.java
  service-base/src/main/java/org/eclipse/hono/service/credentials/CredentialsService.java
  service-base/src/main/java/org/eclipse/hono/service/deviceconnection/DeviceConnectionAmqpEndpoint.java
  service-base/src/main/java/org/eclipse/hono/service/deviceconnection/DeviceConnectionService.java
  service-base/src/main/java/org/eclipse/hono/service/registration/CompleteRegistrationService.java
  service-base/src/main/java/org/eclipse/hono/service/registration/RegistrationAmqpEndpoint.java
  service-base/src/main/java/org/eclipse/hono/service/registration/RegistrationHttpEndpoint.java
  service-base/src/main/java/org/eclipse/hono/service/registration/RegistrationService.java
  service-base/src/main/java/org/eclipse/hono/service/tenant/CompleteTenantService.java
  service-base/src/main/java/org/eclipse/hono/service/tenant/TenantAmqpEndpoint.java
  service-base/src/main/java/org/eclipse/hono/service/tenant/TenantHttpEndpoint.java
  service-base/src/main/java/org/eclipse/hono/service/tenant/TenantService.java
  services/device-registry-legacy/src/main/java/org/eclipse/hono/deviceregistry/Application.java
  services/device-registry/readme.md
  services/device-registry/src/main/java/org/eclipse/hono/deviceregistry/Application.java
  site/build-site.sh
  site/documentation/config.toml
  site/documentation/config_version.toml
  site/documentation/content/_index.md
  site/documentation/i18n/stable.toml
  site/documentation/layouts/partials/logo.html
  site/documentation/layouts/partials/menu-footer.html
  site/documentation/layouts/partials/menu.html
  site/documentation/layouts/partials/old-version-hint.html
  site/documentation/static/api/device-registry-v1.yaml
  site/documentation/static/css/hono.css
  site/documentation/tag_stable.txt
  site/documentation/versions_supported.csv
  site/homepage/config.toml
  site/homepage/layouts/partials/nav.html
  site/homepage/menu_main.toml
  site/readme.md
Labels: website

#1371 update getting started guide to the new management API
  site/homepage/content/getting-started/index.md
Labels: website

#1401 [#1347] Adapt the device registry guide to the new HTTP API
  site/documentation/content/user-guide/device-registry.md
Labels: Device Registry, documentation

#1404 Make order in which HTTP handlers are added more obvious
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapter.java
  service-base/src/main/java/org/eclipse/hono/service/http/HttpServiceBase.java
Labels: HTTP Adapter, Tracing, enhancement

#1329 Remove deprecated variant of getRegistrationAssertion.
  service-base/src/main/java/org/eclipse/hono/service/AbstractProtocolAdapterBase.java
  service-base/src/test/java/org/eclipse/hono/service/AbstractProtocolAdapterBaseTest.java
  site/homepage/content/release-notes.md
Labels: enhancement

#1411 Remove deprecated methods from AbstractProtocolAdapterBase.
  service-base/src/main/java/org/eclipse/hono/service/AbstractProtocolAdapterBase.java
  site/homepage/content/release-notes.md
Labels: enhancement

#1409 Add HTTP Management API to API section.
  site/documentation/content/api/management/device-registry-v1.yaml
  site/documentation/content/api/management/index.md
  site/documentation/layouts/partials/custom-header.html
  site/documentation/layouts/shortcodes/swagger.html
  site/documentation/static/css/hono.css
  site/documentation/static/css/swagger-ui.css
  site/documentation/static/js/swagger-ui-bundle.js
  site/documentation/static/js/swagger-ui-standalone-preset.js
Labels: Management API, documentation

#1375 Remove usage of TenantObject in code performing tenant API client requests
  service-base/src/main/java/org/eclipse/hono/service/management/tenant/Adapter.java
  service-base/src/main/java/org/eclipse/hono/service/management/tenant/ResourceLimits.java
  service-base/src/main/java/org/eclipse/hono/service/management/tenant/Tenant.java
  service-base/src/test/java/org/eclipse/hono/service/management/tenant/TenantTest.java
  tests/src/test/java/org/eclipse/hono/tests/DeviceRegistryHttpClient.java
  tests/src/test/java/org/eclipse/hono/tests/Tenants.java
  tests/src/test/java/org/eclipse/hono/tests/amqp/AmqpConnectionIT.java
  tests/src/test/java/org/eclipse/hono/tests/amqp/AmqpUploadTestBase.java
  tests/src/test/java/org/eclipse/hono/tests/coap/CoapTestBase.java
  tests/src/test/java/org/eclipse/hono/tests/http/HttpTestBase.java
  tests/src/test/java/org/eclipse/hono/tests/mqtt/MqttConnectionIT.java
  tests/src/test/java/org/eclipse/hono/tests/registry/TenantApiTests.java
  tests/src/test/java/org/eclipse/hono/tests/registry/TenantHttpIT.java
Labels: Device Registry, Management API
