Repository eclipse-hono/hono, pull requests merged in 2019-09, with the labels that each got.

#1474 [#1457] Create sender link with device specific address.
  client/src/main/java/org/eclipse/hono/client/impl/CommandConsumerFactoryImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/DelegateViaDownstreamPeerCommandHandler.java
  client/src/main/java/org/eclipse/hono/client/impl/DelegatedCommandSenderImpl.java
  client/src/test/java/org/eclipse/hono/client/impl/DelegateViaDownstreamPeerCommandHandlerTest.java
Labels: C&C

#1467 [#1448] Use max-ttl to limit downstream event TTL.
  client/src/test/java/org/eclipse/hono/client/impl/TenantClientImplTest.java
  core/src/main/java/org/eclipse/hono/util/DataVolume.java
  core/src/main/java/org/eclipse/hono/util/ResourceLimits.java
  core/src/main/java/org/eclipse/hono/util/TenantConstants.java
  core/src/main/java/org/eclipse/hono/util/TenantObject.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractProtocolAdapterBase.java
  service-base/src/test/java/org/eclipse/hono/service/AbstractProtocolAdapterBaseTest.java
  service-base/src/test/java/org/eclipse/hono/service/management/tenant/TenantTest.java
  site/documentation/content/api/management/device-registry-v1.yaml
  site/documentation/content/api/tenant/index.md
  site/documentation/content/concepts/resource-limits.md
  site/documentation/content/user-guide/amqp-adapter.md
  site/documentation/content/user-guide/http-adapter.md
  site/documentation/content/user-guide/kura-adapter.md
  site/documentation/content/user-guide/mqtt-adapter.md
  site/homepage/content/release-notes.md
  tests/src/test/java/org/eclipse/hono/tests/mqtt/EventMqttIT.java
  tests/src/test/java/org/eclipse/hono/tests/registry/TenantApiTests.java
Labels: AMQP Adapter, CoAP Adapter, HTTP Adapter, LoRa Adapter, MQTT Adapter, SigFox Adapter

#1473 [#1471] Fix broken "terminal error" connection handling
  client/src/main/java/org/eclipse/hono/client/impl/HonoConnectionImpl.java
  client/src/test/java/org/eclipse/hono/client/impl/HonoConnectionImplTest.java
  tests/src/test/java/org/eclipse/hono/tests/client/HonoClientImplIT.java
  tests/src/test/resources/amqp/logback-spring.xml
  tests/src/test/resources/auth/logback-spring.xml
  tests/src/test/resources/coap/logback-spring.xml
  tests/src/test/resources/http/logback-spring.xml
  tests/src/test/resources/logback-test.xml
  tests/src/test/resources/mqtt/logback-spring.xml
Labels: Client

#1492 Fix broken links in user guide.
  site/documentation/content/concepts/resource-limits.md
  site/documentation/content/user-guide/http-adapter.md
Labels: bug, documentation

#1494 [#1488] Add 'device_id' property for gateway commands; update docs
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapter.java
  site/documentation/content/user-guide/amqp-adapter.md
Labels: AMQP Adapter, C&C

#1497 Fix: look up files in page bundle in same directory for index files.
  site/documentation/content/api/credentials/index.md
  site/documentation/content/architecture/auth/index.md
  site/documentation/content/architecture/component-view/index.md
Labels: website

#1491 [#1337] Update user guide and release notes.
  site/documentation/content/concepts/resource-limits.md
  site/homepage/content/release-notes.md
Labels: Metrics, documentation

#1498 [#1482] Replace "Depreciation" by "Deprecation" in release notes.
  site/homepage/content/release-notes.md
Labels: documentation, enhancement

#1500 Fix broken links in the release notes.
  site/homepage/content/release-notes.md
Labels: bug, documentation

#1503 [#1484] CLI: Allow TLS for basic auth.
  cli/src/main/java/org/eclipse/hono/cli/adapter/AmqpCliClient.java
  cli/src/main/resources/application.yml
Labels: AMQP Adapter, Client, bug

#1493 Remove metrics when tenant times out.
  service-base/src/main/java/org/eclipse/hono/service/metric/MicrometerBasedMetrics.java
  service-base/src/test/java/org/eclipse/hono/service/metric/MicrometerBasedMetricsTest.java
  site/homepage/content/release-notes.md
Labels: Metrics, enhancement

#1489 [#266] Equip HTTP Adapter to support setting TTL value for events published by devices.
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapter.java
  adapters/http-vertx-base/src/test/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapterTest.java
  core/src/main/java/org/eclipse/hono/util/Constants.java
  core/src/main/java/org/eclipse/hono/util/MessageHelper.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractProtocolAdapterBase.java
  service-base/src/main/java/org/eclipse/hono/service/http/HttpUtils.java
  service-base/src/test/java/org/eclipse/hono/service/AbstractProtocolAdapterBaseTest.java
  service-base/src/test/java/org/eclipse/hono/service/http/HttpUtilsTest.java
  site/documentation/content/user-guide/http-adapter.md
  site/homepage/content/release-notes.md
Labels: HTTP Adapter, enhancement

#1476 Firefly lora provider added
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/providers/FireflyProvider.java
  adapters/lora-vertx/src/test/java/org/eclipse/hono/adapter/lora/providers/FireflyProviderTest.java
  adapters/lora-vertx/src/test/resources/payload/firefly.uplink.json
Labels: LoRa Adapter, enhancement

#1505 Increase font size of homepage to look more like the documentation.
  site/homepage/static/css/custom.css
Labels: enhancement, website

#1502 Add lora adapter to helm deploy
  deploy/src/main/deploy/example-permissions.json
  deploy/src/main/deploy/helm/templates/hono-adapter-lora/headless-svc.yaml
  deploy/src/main/deploy/helm/templates/hono-adapter-lora/hono-adapter-lora-vertx-deployment.yaml
  deploy/src/main/deploy/helm/templates/hono-adapter-lora/hono-adapter-lora-vertx-route.yaml
  deploy/src/main/deploy/helm/templates/hono-adapter-lora/hono-adapter-lora-vertx-sec-route.yaml
  deploy/src/main/deploy/helm/templates/hono-adapter-lora/hono-adapter-lora-vertx-secret.yaml
  deploy/src/main/deploy/helm/templates/hono-adapter-lora/hono-adapter-lora-vertx-svc.yaml
  deploy/src/main/deploy/helm/templates/prometheus/prometheus-config.yaml
  deploy/src/main/deploy/helm/values.yaml
  deploy/src/main/deploy/lora-adapter.credentials
Labels: Deployment, LoRa Adapter

#1507 Improve documentation.
  site/documentation/content/user-guide/amqp-adapter.md
  site/documentation/content/user-guide/mqtt-adapter.md
Labels: AMQP Adapter, MQTT Adapter, documentation, enhancement

#1510 Parse actility meta data properly
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/providers/ActilityProvider.java
  adapters/lora-vertx/src/test/java/org/eclipse/hono/adapter/lora/providers/ActilityProviderTest.java
Labels: LoRa Adapter, bug

#1511 [#1508] Add links to "Getting Started" and "Home" to documentation menu.
  site/documentation/config.toml
  site/documentation/layouts/partials/menu.html
Labels: enhancement, website

#1513 Add multiple gateways to Actility LoraWan provider
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/providers/ActilityProvider.java
  adapters/lora-vertx/src/test/java/org/eclipse/hono/adapter/lora/providers/ActilityProviderTest.java
  adapters/lora-vertx/src/test/resources/payload/actility.uplink.json
Labels: LoRa Adapter, enhancement

#1490 Extract AddressAuthzHelper out of SimpleAuthenticationServer
  service-base/src/main/java/org/eclipse/hono/service/auth/AddressAuthzHelper.java
  services/auth/src/main/java/org/eclipse/hono/service/auth/impl/SimpleAuthenticationServer.java
  services/auth/src/test/java/org/eclipse/hono/service/auth/impl/SimpleAuthenticationServerTest.java
Labels: Auth Server, enhancement

#1519 [#1512] Remove Legacy Device Registry and deprecated base classes.
  .travis.yml
  core/src/main/java/org/eclipse/hono/util/CredentialsConstants.java
  service-base/src/main/java/org/eclipse/hono/service/credentials/BaseCredentialsService.java
  service-base/src/main/java/org/eclipse/hono/service/credentials/CompleteBaseCredentialsService.java
  service-base/src/main/java/org/eclipse/hono/service/credentials/CompleteCredentialsService.java
  service-base/src/main/java/org/eclipse/hono/service/credentials/CredentialsHttpEndpoint.java
  service-base/src/main/java/org/eclipse/hono/service/credentials/EventBusCompleteCredentialsAdapter.java
  service-base/src/main/java/org/eclipse/hono/service/deviceconnection/BaseDeviceConnectionService.java
  service-base/src/main/java/org/eclipse/hono/service/registration/BaseRegistrationService.java
  service-base/src/main/java/org/eclipse/hono/service/registration/CompleteBaseRegistrationService.java
  service-base/src/main/java/org/eclipse/hono/service/registration/CompleteRegistrationService.java
  service-base/src/main/java/org/eclipse/hono/service/registration/RegistrationHttpEndpoint.java
  service-base/src/main/java/org/eclipse/hono/service/tenant/BaseTenantService.java
  service-base/src/main/java/org/eclipse/hono/service/tenant/CompleteBaseTenantService.java
  service-base/src/main/java/org/eclipse/hono/service/tenant/CompleteTenantService.java
  service-base/src/main/java/org/eclipse/hono/service/tenant/TenantHttpEndpoint.java
  service-base/src/test/java/org/eclipse/hono/service/credentials/AbstractCompleteCredentialsServiceTest.java
  service-base/src/test/java/org/eclipse/hono/service/credentials/CompleteBaseCredentialsServiceTest.java
  service-base/src/test/java/org/eclipse/hono/service/deviceconnection/BaseDeviceConnectionServiceTest.java
  service-base/src/test/java/org/eclipse/hono/service/registration/AbstractCompleteRegistrationServiceTest.java
  service-base/src/test/java/org/eclipse/hono/service/tenant/AbstractCompleteTenantServiceTest.java
  service-base/src/test/java/org/eclipse/hono/service/tenant/BaseTenantServiceTest.java
  service-base/src/test/java/org/eclipse/hono/service/tenant/CompleteBaseTenantServiceTest.java
  services/device-registry-legacy/pom.xml
  services/device-registry-legacy/readme.md
  services/device-registry-legacy/src/main/java/org/eclipse/hono/deviceregistry/AbstractFileBasedRegistryConfigProperties.java
  services/device-registry-legacy/src/main/java/org/eclipse/hono/deviceregistry/Application.java
  services/device-registry-legacy/src/main/java/org/eclipse/hono/deviceregistry/ApplicationConfig.java
  services/device-registry-legacy/src/main/java/org/eclipse/hono/deviceregistry/DeviceRegistryAmqpServer.java
  services/device-registry-legacy/src/main/java/org/eclipse/hono/deviceregistry/DeviceRegistryRestServer.java
  services/device-registry-legacy/src/main/java/org/eclipse/hono/deviceregistry/DummyCredentialsService.java
  services/device-registry-legacy/src/main/java/org/eclipse/hono/deviceregistry/DummyRegistrationService.java
  services/device-registry-legacy/src/main/java/org/eclipse/hono/deviceregistry/DummyTenantService.java
  services/device-registry-legacy/src/main/java/org/eclipse/hono/deviceregistry/FileBasedCredentialsConfigProperties.java
  services/device-registry-legacy/src/main/java/org/eclipse/hono/deviceregistry/FileBasedCredentialsService.java
  services/device-registry-legacy/src/main/java/org/eclipse/hono/deviceregistry/FileBasedRegistrationConfigProperties.java
  services/device-registry-legacy/src/main/java/org/eclipse/hono/deviceregistry/FileBasedRegistrationService.java
  services/device-registry-legacy/src/main/java/org/eclipse/hono/deviceregistry/FileBasedTenantService.java
  services/device-registry-legacy/src/main/java/org/eclipse/hono/deviceregistry/FileBasedTenantsConfigProperties.java
  services/device-registry-legacy/src/main/java/org/eclipse/hono/deviceregistry/MapBasedDeviceConnectionService.java
  services/device-registry-legacy/src/main/java/org/eclipse/hono/deviceregistry/MapBasedDeviceConnectionsConfigProperties.java
  services/device-registry-legacy/src/main/java/org/eclipse/hono/deviceregistry/package-info.java
  services/device-registry-legacy/src/main/resources/banner.txt
  services/device-registry-legacy/src/main/resources/logback-spring.xml
  services/device-registry-legacy/src/test/java/org/eclipse/hono/deviceregistry/DeviceRegistryTestUtils.java
  services/device-registry-legacy/src/test/java/org/eclipse/hono/deviceregistry/FileBasedCredentialsServiceTest.java
  services/device-registry-legacy/src/test/java/org/eclipse/hono/deviceregistry/FileBasedRegistrationServiceTest.java
  services/device-registry-legacy/src/test/java/org/eclipse/hono/deviceregistry/FileBasedTenantServiceTest.java
  services/device-registry-legacy/src/test/java/org/eclipse/hono/deviceregistry/MapBasedDeviceConnectionServiceTest.java
  services/device-registry-legacy/src/test/resources/credentials.json
  services/device-registry-legacy/src/test/resources/device-identities.json
  services/device-registry-legacy/src/test/resources/logback-test.xml
  services/device-registry-legacy/src/test/resources/tenants.json
  services/pom.xml
  site/homepage/content/release-notes.md
  tests/pom.xml
  tests/src/test/java/org/eclipse/hono/tests/LegacyDeviceRegistryHttpClient.java
  tests/src/test/java/org/eclipse/hono/tests/registry/legacy/LegacyCredentialsHttpIT.java
  tests/src/test/java/org/eclipse/hono/tests/registry/legacy/LegacyDeviceRegistrationHttpIT.java
  tests/src/test/java/org/eclipse/hono/tests/registry/legacy/LegacyTenantHttpIT.java
Labels: Device Registry

#1522 Adapt http jmeter tests to current Hono API.
  jmeter/src/jmeter/http_messaging_throughput_test.jmx
Labels: Load test, bug

#1525 Improve Getting started Guide part that covers C & C.
  cli/src/main/java/org/eclipse/hono/cli/app/Commander.java
  site/homepage/content/getting-started/index.md
Labels: documentation, enhancement

#1524 [#267] Equip MQTT Adapter to support setting TTL for events published by devices.
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/MqttContext.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/PropertyBag.java
  adapters/mqtt-vertx-base/src/test/java/PropertyBagTest.java
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapterTest.java
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/MqttContextTest.java
  site/documentation/content/user-guide/mqtt-adapter.md
  site/homepage/content/release-notes.md
Labels: MQTT Adapter, enhancement

#1526 Adapt Azure guidance to helm changes.
  site/documentation/content/deployment/helm-based-deployment.md
Labels: Deployment, enhancement
