Repository eclipse-hono/hono, pull requests merged in 2019-12, with the labels that each got.

#1639 [#1617] Add SNI configuration support
  core/src/main/java/org/eclipse/hono/config/ServerConfig.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractServiceBase.java
  service-base/src/test/java/org/eclipse/hono/service/AbstractServiceBaseTest.java
  site/documentation/content/admin-guide/amqp-adapter-config.md
  site/documentation/content/admin-guide/hono-client-configuration.md
  site/documentation/content/admin-guide/http-adapter-config.md
  site/documentation/content/admin-guide/kura-adapter-config.md
  site/documentation/content/admin-guide/mqtt-adapter-config.md
  site/documentation/content/admin-guide/secure_communication.md
Labels: AMQP Adapter, HTTP Adapter, Kura Adapter, LoRa Adapter, MQTT Adapter, SigFox Adapter, enhancement

#1649 Fix tracing of received commands
  client/src/main/java/org/eclipse/hono/client/impl/CommandConsumer.java
  client/src/main/java/org/eclipse/hono/client/impl/CommandConsumerFactoryImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/DelegatedCommandSenderImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/DestinationCommandConsumer.java
  client/src/test/java/org/eclipse/hono/client/impl/DelegateViaDownstreamPeerCommandHandlerTest.java
Labels: C&C, Tracing

#1654 [#1653] Prevent the commandConsumer from not getting closed
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapter.java
  adapters/http-vertx-base/src/test/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapterTest.java
Labels: C&C, HTTP Adapter, bug

#1659 [#1247] Adapt Artemis logging config to the new version
  deploy/src/main/config/artemis/logging.properties
  deploy/src/main/config/artemis/login.config
  tests/src/test/resources/artemis/logging.properties
  tests/src/test/resources/artemis/login.config
Labels: enhancement

#1631 [#1296] Add feature auto provisioning
  client/src/main/java/org/eclipse/hono/client/CredentialsClient.java
  client/src/main/java/org/eclipse/hono/client/impl/AbstractRequestResponseClient.java
  client/src/main/java/org/eclipse/hono/client/impl/CredentialsClientImpl.java
  core/src/main/java/org/eclipse/hono/util/CredentialsConstants.java
  core/src/main/java/org/eclipse/hono/util/TenantConstants.java
  core/src/main/java/org/eclipse/hono/util/TenantObject.java
  core/src/test/java/org/eclipse/hono/util/TenantObjectTest.java
  service-base/src/main/java/org/eclipse/hono/service/auth/device/AbstractDeviceCredentials.java
  service-base/src/main/java/org/eclipse/hono/service/auth/device/CredentialsApiAuthProvider.java
  service-base/src/main/java/org/eclipse/hono/service/auth/device/DeviceCredentials.java
  service-base/src/main/java/org/eclipse/hono/service/auth/device/SubjectDnCredentials.java
  service-base/src/main/java/org/eclipse/hono/service/auth/device/TenantServiceBasedX509Authentication.java
  service-base/src/main/java/org/eclipse/hono/service/auth/device/X509AuthProvider.java
  service-base/src/main/java/org/eclipse/hono/service/management/tenant/TrustedCertificateAuthority.java
  service-base/src/test/java/org/eclipse/hono/service/auth/device/SubjectDnCredentialsTest.java
  service-base/src/test/java/org/eclipse/hono/service/auth/device/TenantServiceBasedX509AuthenticationTest.java
  service-base/src/test/java/org/eclipse/hono/service/auth/device/X509AuthProviderTest.java
  service-base/src/test/java/org/eclipse/hono/service/tenant/AbstractTenantServiceTest.java
  services/device-registry/src/test/java/org/eclipse/hono/deviceregistry/FileBasedTenantServiceTest.java
  site/documentation/content/api/credentials/index.md
  site/documentation/content/api/management/device-registry-v1.yaml
  site/documentation/content/api/tenant/index.md
  site/documentation/content/concepts/device-provisioning/auto-provisioning.svg
  site/documentation/content/concepts/device-provisioning/index.md
  site/homepage/content/release-notes.md
  tests/src/test/java/org/eclipse/hono/tests/jms/JmsBasedCredentialsClient.java
Labels: Feature Request

#1663 Fix links to Hono documentation in JavaDoc.
  client/src/main/java/org/eclipse/hono/client/CommandClient.java
  client/src/main/java/org/eclipse/hono/client/CredentialsClient.java
  client/src/main/java/org/eclipse/hono/client/DeviceConnectionClient.java
  client/src/main/java/org/eclipse/hono/client/RegistrationClient.java
  client/src/main/java/org/eclipse/hono/client/TenantClient.java
  client/src/main/java/org/eclipse/hono/client/impl/CredentialsClientImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/DeviceConnectionClientImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/RegistrationClientImpl.java
  core/src/main/java/org/eclipse/hono/auth/EncodedPassword.java
  core/src/main/java/org/eclipse/hono/auth/HonoPasswordEncoder.java
  core/src/main/java/org/eclipse/hono/config/ProtocolAdapterProperties.java
  core/src/main/java/org/eclipse/hono/util/CredentialsObject.java
  core/src/main/java/org/eclipse/hono/util/TenantObject.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractProtocolAdapterBase.java
  service-base/src/main/java/org/eclipse/hono/service/auth/device/HonoClientBasedAuthProvider.java
  service-base/src/main/java/org/eclipse/hono/service/auth/device/TenantServiceBasedX509Authentication.java
  service-base/src/main/java/org/eclipse/hono/service/credentials/CredentialsAmqpEndpoint.java
  service-base/src/main/java/org/eclipse/hono/service/credentials/CredentialsService.java
  service-base/src/main/java/org/eclipse/hono/service/deviceconnection/DeviceConnectionAmqpEndpoint.java
  service-base/src/main/java/org/eclipse/hono/service/deviceconnection/DeviceConnectionService.java
  service-base/src/main/java/org/eclipse/hono/service/management/credentials/CredentialsManagementHttpEndpoint.java
  service-base/src/main/java/org/eclipse/hono/service/management/credentials/CredentialsManagementService.java
  service-base/src/main/java/org/eclipse/hono/service/management/credentials/GenericCredential.java
  service-base/src/main/java/org/eclipse/hono/service/management/credentials/PasswordCredential.java
  service-base/src/main/java/org/eclipse/hono/service/management/credentials/PskCredential.java
  service-base/src/main/java/org/eclipse/hono/service/management/credentials/X509CertificateCredential.java
  service-base/src/main/java/org/eclipse/hono/service/management/device/DeviceManagementHttpEndpoint.java
  service-base/src/main/java/org/eclipse/hono/service/management/device/DeviceManagementService.java
  service-base/src/main/java/org/eclipse/hono/service/management/tenant/TenantManagementHttpEndpoint.java
  service-base/src/main/java/org/eclipse/hono/service/management/tenant/TenantManagementService.java
  service-base/src/main/java/org/eclipse/hono/service/registration/AbstractRegistrationService.java
  service-base/src/main/java/org/eclipse/hono/service/registration/RegistrationAmqpEndpoint.java
  service-base/src/main/java/org/eclipse/hono/service/registration/RegistrationService.java
  service-base/src/main/java/org/eclipse/hono/service/tenant/TenantAmqpEndpoint.java
  service-base/src/main/java/org/eclipse/hono/service/tenant/TenantService.java
  services/device-connection/src/main/java/org/eclipse/hono/deviceconnection/infinispan/Application.java
  services/device-registry/src/main/java/org/eclipse/hono/deviceregistry/Application.java
  tests/src/test/java/org/eclipse/hono/tests/LegacyCommandClient.java
Labels: bug, documentation

#1664 [#1644] Improve documentation on Command & Control and gateways
  site/documentation/content/user-guide/amqp-adapter.md
  site/documentation/content/user-guide/mqtt-adapter.md
Labels: C&C, documentation

#1657 [#1645] Add tenant option disabling gateway mapping (HTTP adapter)
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/AbstractVertxBasedCoapAdapter.java
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapter.java
  adapters/http-vertx-base/src/test/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapterTest.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
  core/src/main/java/org/eclipse/hono/util/JsonBackedValueObject.java
  core/src/main/java/org/eclipse/hono/util/JsonHelper.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractProtocolAdapterBase.java
  site/documentation/content/user-guide/http-adapter.md
  site/homepage/content/release-notes.md
  tests/src/test/java/org/eclipse/hono/tests/http/HttpTestBase.java
Labels: C&C, HTTP Adapter

#1668 [#1515] Use configured initial credits in DestinationCommandConsumer
  client/src/main/java/org/eclipse/hono/client/CommandContext.java
  client/src/main/java/org/eclipse/hono/client/impl/DestinationCommandConsumer.java
  client/src/test/java/org/eclipse/hono/client/impl/CommandConsumerFactoryImplTest.java
Labels: AMQP Adapter, C&C, MQTT Adapter

#1666 [#1661, #504] Include MQTT client ID in Credentials.get request
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/ConnectPacketAuthHandler.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/X509AuthHandler.java
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/ConnectPacketAuthHandlerTest.java
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/X509AuthHandlerTest.java
  service-base/src/main/java/org/eclipse/hono/service/auth/device/AuthHandler.java
  service-base/src/main/java/org/eclipse/hono/service/auth/device/ExecutionContextAuthHandler.java
  service-base/src/test/java/org/eclipse/hono/service/credentials/AbstractCredentialsServiceTest.java
  services/device-registry/src/main/java/org/eclipse/hono/deviceregistry/FileBasedCredentialsService.java
  services/device-registry/src/test/java/org/eclipse/hono/deviceregistry/FileBasedCredentialsServiceTest.java
  site/documentation/content/user-guide/mqtt-adapter.md
Labels: MQTT Adapter

#1675 [#1674] Make resource requests/limits of containers configurable
  deploy/src/main/deploy/helm/templates/artemis/artemis-deployment.yaml
  deploy/src/main/deploy/helm/templates/dispatch-router/dispatch-router-deployment.yaml
  deploy/src/main/deploy/helm/templates/example-data-grid/statefulset.yaml
  deploy/src/main/deploy/helm/templates/hono-adapter-amqp/hono-adapter-amqp-vertx-deployment.yaml
  deploy/src/main/deploy/helm/templates/hono-adapter-coap/hono-adapter-coap-vertx-deployment.yaml
  deploy/src/main/deploy/helm/templates/hono-adapter-http/hono-adapter-http-vertx-deployment.yaml
  deploy/src/main/deploy/helm/templates/hono-adapter-kura/hono-adapter-kura-deployment.yaml
  deploy/src/main/deploy/helm/templates/hono-adapter-lora/hono-adapter-lora-vertx-deployment.yaml
  deploy/src/main/deploy/helm/templates/hono-adapter-mqtt/hono-adapter-mqtt-vertx-deployment.yaml
  deploy/src/main/deploy/helm/templates/hono-service-auth/hono-service-auth-deployment.yaml
  deploy/src/main/deploy/helm/templates/hono-service-device-connection/hono-service-device-connection-deployment.yaml
  deploy/src/main/deploy/helm/templates/hono-service-device-registry/hono-service-device-registry-deployment.yaml
  deploy/src/main/deploy/helm/templates/jaeger/jaeger-deployment.yaml
  deploy/src/main/deploy/helm/values.yaml
Labels: Deployment, enhancement

#1680 [#1673] Let checkConnected() wait on concurrent connect attempts
  client/src/main/java/org/eclipse/hono/client/impl/HonoConnectionImpl.java
  client/src/test/java/org/eclipse/hono/client/impl/HonoConnectionImplTest.java
Labels: Client
