Repository eclipse-hono/hono, pull requests merged in 2019-11, with the labels that each got.

#1604 Use Ubuntu Bionic image for running integration tests on Travis.
  .travis.yml
Labels: enhancement

#1613 [#1585] Adapt command & control concept page
  site/documentation/content/concepts/command-and-control.md
  site/documentation/content/concepts/command_control_concept.svg
  site/documentation/content/concepts/command_control_concept_delegate_1.svg
  site/documentation/content/concepts/command_control_concept_delegate_2.svg
  site/documentation/content/concepts/command_control_concept_delegate_3.svg
  site/documentation/content/concepts/command_control_concept_gateway_1.svg
  site/documentation/content/concepts/command_control_concept_gateway_2.svg
  site/documentation/content/concepts/command_control_concept_gateway_3.svg
  site/documentation/content/concepts/command_control_concept_gateway_all_devices_1.svg
Labels: C&C, documentation

#1611 [#1392] Track processing of CoAP requests using OpenTracing.
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/AbstractVertxBasedCoapAdapter.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/CoapAdapterProperties.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/CoapErrorResponse.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/DefaultDeviceResolver.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/TracingSupportingHonoResource.java
  adapters/coap-vertx-base/src/test/java/org/eclipse/hono/adapter/coap/AbstractVertxBasedCoapAdapterTest.java
  adapters/coap-vertx/src/main/java/org/eclipse/hono/adapter/coap/impl/VertxBasedCoapAdapter.java
Labels: CoAP Adapter, Tracing

#1615 Fix OpenTracing span potentially not getting finished; improve logging
  client/src/main/java/org/eclipse/hono/client/impl/GatewayMapperImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/GatewayMappingCommandHandler.java
Labels: Tracing

#1616 Increase request timeout in integration tests
  tests/pom.xml
  tests/src/test/resources/amqp/application.yml
  tests/src/test/resources/coap/application.yml
  tests/src/test/resources/http/application.yml
  tests/src/test/resources/mqtt/application.yml
Labels: enhancement

#1614 Migration to vert.x 3.8.3 step1
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/impl/LoraProtocolAdapter.java
  bom/pom.xml
  client/src/main/java/org/eclipse/hono/client/AuthenticationServerClient.java
  client/src/main/java/org/eclipse/hono/client/HonoConnection.java
  client/src/main/java/org/eclipse/hono/client/impl/AbstractRequestResponseClient.java
  client/src/main/java/org/eclipse/hono/client/impl/AbstractSender.java
  client/src/main/java/org/eclipse/hono/client/impl/ApplicationClientFactoryImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/CommandClientImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/CommandConsumerFactoryImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/CredentialsClientFactoryImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/CredentialsClientImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/DelegatedCommandSenderImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/DeviceConnectionClientFactoryImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/DeviceConnectionClientImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/DownstreamSenderFactoryImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/GatewayMapperImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/HonoConnectionImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/RegistrationClientFactoryImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/RegistrationClientImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/TelemetrySenderImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/TenantClientFactoryImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/TenantClientImpl.java
  client/src/test/java/org/eclipse/hono/client/impl/AbstractSenderTest.java
  client/src/test/java/org/eclipse/hono/client/impl/CachingClientFactoryTest.java
  client/src/test/java/org/eclipse/hono/client/impl/CommandConsumerFactoryImplTest.java
  client/src/test/java/org/eclipse/hono/client/impl/DownstreamSenderFactoryImplTest.java
  client/src/test/java/org/eclipse/hono/client/impl/HonoClientUnitTestHelper.java
  client/src/test/java/org/eclipse/hono/client/impl/HonoConnectionImplTest.java
  core/src/main/java/org/eclipse/hono/util/HonoProtonHelper.java
  core/src/test/java/org/eclipse/hono/connection/impl/ConnectionFactoryImplTest.java
  services/device-connection/src/main/java/org/eclipse/hono/deviceconnection/infinispan/RemoteCacheBasedDeviceConnectionService.java
  tests/src/test/java/org/eclipse/hono/tests/GenericMessageSenderImpl.java
Labels: Client, enhancement

#1624 added loriot lora provider + updated firefly provider to provide bandwidth
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/LoraConstants.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/providers/FireflyProvider.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/providers/LoriotProvider.java
  adapters/lora-vertx/src/test/java/org/eclipse/hono/adapter/lora/providers/LoriotProviderTest.java
  adapters/lora-vertx/src/test/resources/payload/loriot.uplink.json
  site/homepage/content/release-notes.md
Labels: LoRa Adapter, enhancement

#1626 Prevent NPE in closeAndFree() if connection is not established
  client/src/main/java/org/eclipse/hono/client/HonoConnection.java
  client/src/main/java/org/eclipse/hono/client/impl/HonoConnectionImpl.java
Labels: Client, bug

#1627 Fix example deployment to Kubernetes 1.16
  deploy/src/main/deploy/helm/requirements.yaml
  deploy/src/main/deploy/helm/values.yaml
  site/documentation/content/deployment/helm-based-deployment.md
  site/homepage/content/release-notes.md
Labels: Deployment, bug
