Repository eclipse-hono/hono, pull requests merged in 2020-07, with the labels that each got.

#2040 [#2026] Renaming config property for ACK timeout of MQTT adapter.
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/AmqpAdapterProperties.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/CommandSubscriptionsManager.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/MqttProtocolAdapterProperties.java
  site/documentation/content/admin-guide/kura-adapter-config.md
  site/documentation/content/admin-guide/mqtt-adapter-config.md
  site/homepage/content/release-notes.md
Labels: MQTT Adapter

#2060 Fix JavaDoc
  client/src/main/java/org/eclipse/hono/client/RequestResponseClientConfigProperties.java
  service-base/src/main/java/org/eclipse/hono/service/resourcelimits/PrometheusBasedResourceLimitChecksConfig.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/credentials/CommonCredential.java
  services/device-registry-file/src/main/java/org/eclipse/hono/deviceregistry/file/FileBasedCredentialsService.java
Labels: documentation, enhancement

#2056 Use parallel jobs to test both registry variants
  .travis.yml
Labels: build system

#2061 Do not enforce values to be returned from remote cache
  bom/pom.xml
  client-device-connection-infinispan/src/main/java/org/eclipse/hono/deviceconnection/infinispan/client/HotrodCache.java
  client-device-connection-infinispan/src/main/java/org/eclipse/hono/deviceconnection/infinispan/client/HotrodCacheConfig.java
  site/homepage/content/release-notes.md
Labels: C&C, enhancement

#2065 Fix content type of the LoRaWAN adapter
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/LoraConstants.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/impl/LoraProtocolAdapter.java
Labels: LoRa Adapter, bug

#2066 Fix return codes of Device Connection service implementations
  services/device-connection/src/main/java/org/eclipse/hono/deviceconnection/infinispan/CacheBasedDeviceConnectionService.java
  services/device-connection/src/test/java/org/eclipse/hono/deviceconnection/infinispan/CacheBasedDeviceConnectionServiceTest.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/deviceconnection/MapBasedDeviceConnectionService.java
  services/device-registry-base/src/test/java/org/eclipse/hono/deviceregistry/service/deviceconnection/MapBasedDeviceConnectionServiceTest.java
  tests/src/test/java/org/eclipse/hono/tests/registry/DeviceConnectionApiTests.java
Labels: Device Connection, bug

#2016 [#1960] add status section for devices in API spec
  core/src/main/java/org/eclipse/hono/util/RegistryManagementConstants.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/device/Device.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/device/Status.java
  services/device-registry-base/src/test/java/org/eclipse/hono/service/management/device/DeviceTest.java
  services/device-registry-base/src/test/java/org/eclipse/hono/service/management/device/StatusTest.java
  site/documentation/content/api/management/device-registry-v1.yaml
  tests/src/test/java/org/eclipse/hono/tests/registry/DeviceManagementIT.java
Labels: Management API

#2073 Fix wrong tag "device-id" by replacing it with "auth-id".
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/DefaultDeviceResolver.java
Labels: CoAP Adapter, Tracing, bug

#2077 Remove obsolete ComponentScan
  adapters/kura/src/main/java/org/eclipse/hono/adapter/kura/impl/Application.java
Labels: Kura Adapter

#2076 [#2075] Check adapter connection limit for unauthenticated devices
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapter.java
  adapters/amqp-vertx/src/test/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapterTest.java
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapterTest.java
Labels: AMQP Adapter, bug

#2057 [#2030] Handle closed MQTT connection during CONNECT processing
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapterTest.java
Labels: MQTT Adapter, bug

#2079 [#1607] Rename customize*Config methods to get*ConfigDefaults
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/impl/Config.java
  adapters/coap-vertx/src/main/java/org/eclipse/hono/adapter/coap/impl/Config.java
  adapters/http-vertx/src/main/java/org/eclipse/hono/adapter/http/impl/Config.java
  adapters/kura/src/main/java/org/eclipse/hono/adapter/kura/impl/Config.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/impl/Config.java
  adapters/mqtt-vertx/src/main/java/org/eclipse/hono/adapter/mqtt/impl/Config.java
  adapters/sigfox-vertx/src/main/java/org/eclipse/hono/adapter/sigfox/impl/Config.java
  core/src/main/java/org/eclipse/hono/config/AuthenticatingClientConfigProperties.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractAdapterConfig.java
  site/homepage/content/release-notes.md
Labels: bug

#2080 [#2074] Prevent IllegalStateException if request is already cancelled
  client/src/main/java/org/eclipse/hono/client/impl/AbstractRequestResponseClient.java
Labels: Client, bug

#2071 [#2070] Implement downstream address rewrite feature
  client/src/main/java/org/eclipse/hono/client/impl/AmqpAdapterClientFactoryImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/CommandClientImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/CommandResponseSenderImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/DownstreamSenderFactoryImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/EventSenderImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/ProtocolAdapterCommandConsumerFactoryImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/TelemetrySenderImpl.java
  core/src/main/java/org/eclipse/hono/config/ClientConfigProperties.java
  core/src/main/java/org/eclipse/hono/util/AddressHelper.java
  core/src/main/java/org/eclipse/hono/util/RegistryManagementConstants.java
  core/src/test/java/org/eclipse/hono/util/AddressHelperTest.java
  site/documentation/content/admin-guide/hono-client-configuration.md
Labels: Client, enhancement

#2086 linux profiles MUST NOT contain mac os dependencies
  adapters/pom.xml
  services/pom.xml
Labels: bug

#2089 CoAP adapter: Skip 'PSK-getDeviceIdentityInfo' span if no lookup is done
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/DefaultDeviceResolver.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/PreSharedKeyDeviceIdentity.java
Labels: CoAP Adapter, Tracing
