Repository eclipse-hono/hono, pull requests merged in 2020-06, with the labels that each got.

#1990 Adapt configuration for maximum connections and dtls retransmission
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/AbstractVertxBasedCoapAdapter.java
Labels: CoAP Adapter, enhancement

#1997 [#1977] Implement remove(key,value) for a RemoteCache
  client-device-connection-infinispan/src/main/java/org/eclipse/hono/deviceconnection/infinispan/client/HotrodCache.java
  client-device-connection-infinispan/src/test/java/org/eclipse/hono/deviceconnection/infinispan/client/AbstractBasicCacheTest.java
  client-device-connection-infinispan/src/test/java/org/eclipse/hono/deviceconnection/infinispan/client/HotrodCacheTest.java
Labels: Device Connection, bug

#1999 [#1998] Set lifespan for lastKnownGateway cache entries
  client-device-connection-infinispan/src/main/java/org/eclipse/hono/deviceconnection/infinispan/client/CacheBasedDeviceConnectionInfo.java
  client-device-connection-infinispan/src/test/java/org/eclipse/hono/deviceconnection/infinispan/client/CacheBasedDeviceConnectionInfoTest.java
Labels: Device Connection, bug

#2000 [#1858] Remove 'updateOnly' param in setCommandHandlingAdapterInstance
  client-device-connection-infinispan/src/main/java/org/eclipse/hono/deviceconnection/infinispan/client/BasicCache.java
  client-device-connection-infinispan/src/main/java/org/eclipse/hono/deviceconnection/infinispan/client/Cache.java
  client-device-connection-infinispan/src/main/java/org/eclipse/hono/deviceconnection/infinispan/client/CacheBasedDeviceConnectionClient.java
  client-device-connection-infinispan/src/main/java/org/eclipse/hono/deviceconnection/infinispan/client/CacheBasedDeviceConnectionInfo.java
  client-device-connection-infinispan/src/main/java/org/eclipse/hono/deviceconnection/infinispan/client/DeviceConnectionInfo.java
  client-device-connection-infinispan/src/test/java/org/eclipse/hono/deviceconnection/infinispan/client/CacheBasedDeviceConnectionInfoTest.java
  client/src/main/java/org/eclipse/hono/client/DeviceConnectionClient.java
  client/src/main/java/org/eclipse/hono/client/impl/DeviceConnectionClientImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/ProtocolAdapterCommandConsumerFactoryImpl.java
  client/src/test/java/org/eclipse/hono/client/impl/DeviceConnectionClientImplTest.java
  client/src/test/java/org/eclipse/hono/client/impl/ProtocolAdapterCommandConsumerFactoryImplTest.java
  core/src/main/java/org/eclipse/hono/util/MessageHelper.java
  service-base/src/main/java/org/eclipse/hono/service/deviceconnection/DelegatingDeviceConnectionAmqpEndpoint.java
  service-base/src/main/java/org/eclipse/hono/service/deviceconnection/DeviceConnectionService.java
  services/device-connection/src/main/java/org/eclipse/hono/deviceconnection/infinispan/CacheBasedDeviceConnectionService.java
  services/device-connection/src/test/java/org/eclipse/hono/deviceconnection/infinispan/CacheBasedDeviceConnectionServiceTest.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/deviceconnection/MapBasedDeviceConnectionService.java
  services/device-registry-base/src/test/java/org/eclipse/hono/deviceregistry/service/deviceconnection/MapBasedDeviceConnectionServiceTest.java
  site/documentation/content/api/device-connection/index.md
  tests/src/test/java/org/eclipse/hono/tests/jms/JmsBasedDeviceConnectionClient.java
  tests/src/test/java/org/eclipse/hono/tests/registry/DeviceConnectionApiTests.java
Labels: Device Connection

#2007 [#1983] Run single Mongo DB instance for unit tests
  services/device-registry-mongodb/pom.xml
  services/device-registry-mongodb/src/test/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedCredentialServiceTest.java
  services/device-registry-mongodb/src/test/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedRegistrationServiceTest.java
  services/device-registry-mongodb/src/test/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedTenantServiceTest.java
  services/device-registry-mongodb/src/test/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbTestUtils.java
Labels: MongoDB Device Registry

#1993 [#1679] Integration tests for the mongo db based device registry
  tests/pom.xml
  tests/src/test/resources/deviceregistry-mongodb/application.yml
  tests/src/test/resources/deviceregistry-mongodb/logback-spring.xml
  tests/src/test/resources/mongodb/init_db/1_users.js
Labels: MongoDB Device Registry

#2010 1.2: Add tracing in HotrodBasedDeviceConnectionClient
  client-device-connection-infinispan/src/main/java/org/eclipse/hono/deviceconnection/infinispan/client/HotrodBasedDeviceConnectionClient.java
  client-device-connection-infinispan/src/main/java/org/eclipse/hono/deviceconnection/infinispan/client/HotrodBasedDeviceConnectionClientFactory.java
  core/src/main/java/org/eclipse/hono/tracing/TracingHelper.java
  service-base/src/main/java/org/eclipse/hono/service/deviceconnection/DeviceConnectionService.java
Labels: Device Connection, Tracing, enhancement

#2002 1.2.x: Ensure Tracer gets autowired into HonoConnection
  service-base/src/main/java/org/eclipse/hono/service/AbstractAdapterConfig.java
Labels: C&C, Tracing, bug

#2011 Minor improvements in device registry
  services/device-registry-file/src/main/java/org/eclipse/hono/deviceregistry/file/FileBasedCredentialsService.java
  services/device-registry-file/src/test/java/org/eclipse/hono/deviceregistry/file/FileBasedCredentialsServiceTest.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/config/AbstractMongoDbBasedRegistryConfigProperties.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/utils/MongoDbDeviceRegistryUtils.java
Labels: MongoDB Device Registry

#2014 Minor fix in release notes
  site/homepage/content/release-notes.md
Labels: documentation

#2003 [#2001] Use current vert.x context in Futures.create()
  core/src/main/java/org/eclipse/hono/util/Futures.java
  core/src/test/java/org/eclipse/hono/util/FuturesTest.java
Labels: Device Connection

#2008 Add tracing in CacheBasedDeviceConnectionClient
  client-device-connection-infinispan/src/main/java/org/eclipse/hono/deviceconnection/infinispan/client/CacheBasedDeviceConnectionClient.java
  client-device-connection-infinispan/src/main/java/org/eclipse/hono/deviceconnection/infinispan/client/CacheBasedDeviceConnectionClientFactory.java
  client-device-connection-infinispan/src/main/java/org/eclipse/hono/deviceconnection/infinispan/client/CacheBasedDeviceConnectionInfo.java
  client-device-connection-infinispan/src/main/java/org/eclipse/hono/deviceconnection/infinispan/client/DeviceConnectionInfo.java
  client-device-connection-infinispan/src/test/java/org/eclipse/hono/deviceconnection/infinispan/client/CacheBasedDeviceConnectionInfoTest.java
  service-base/src/main/java/org/eclipse/hono/service/deviceconnection/DeviceConnectionService.java
  services/device-connection/src/main/java/org/eclipse/hono/deviceconnection/infinispan/CacheBasedDeviceConnectionService.java
  services/device-connection/src/test/java/org/eclipse/hono/deviceconnection/infinispan/CacheBasedDeviceConnectionServiceTest.java
Labels: Device Connection, Tracing

#2019 [#2017] 1.2.x: Fix reconnect-handling concerning command_internal links
  client/src/main/java/org/eclipse/hono/client/impl/DelegatedCommandSenderImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/MappingAndDelegatingCommandHandler.java
  client/src/main/java/org/eclipse/hono/client/impl/ProtocolAdapterCommandConsumerFactoryImpl.java
Labels: C&C, bug

#2018 [#2017] Fix reconnect-handling concerning command_internal links
  client/src/main/java/org/eclipse/hono/client/impl/DelegatedCommandSenderImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/MappingAndDelegatingCommandHandler.java
  client/src/main/java/org/eclipse/hono/client/impl/ProtocolAdapterCommandConsumerFactoryImpl.java
Labels: C&C, bug

#2013 [#1679] Update the integration tests readme doc for the mongo db based device registry
  tests/readme.md
Labels: MongoDB Device Registry

#2021 Use 'eclipse-hono' prefixed service names in the docs and try to get h…
  site/documentation/content/deployment/helm-based-deployment.md
  site/homepage/content/getting-started/index.md
Labels: Deployment, documentation

#2023 Improve LoraProvider implementations
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/LoraMessage.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/UplinkLoraMessage.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/impl/LoraProtocolAdapter.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/providers/ActilityProvider.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/providers/BaseLoraProvider.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/providers/ChirpStackProvider.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/providers/EverynetProvider.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/providers/FireflyProvider.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/providers/KerlinkProvider.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/providers/LoraProvider.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/providers/LoraProviderMalformedPayloadException.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/providers/LoraUtils.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/providers/LoriotProvider.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/providers/ObjeniousProvider.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/providers/ProximusProvider.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/providers/ThingsNetworkProvider.java
  adapters/lora-vertx/src/test/java/org/eclipse/hono/adapter/lora/impl/LoraProtocolAdapterTest.java
  adapters/lora-vertx/src/test/java/org/eclipse/hono/adapter/lora/providers/ActilityProviderTest.java
  adapters/lora-vertx/src/test/java/org/eclipse/hono/adapter/lora/providers/ChirpStackProviderTest.java
  adapters/lora-vertx/src/test/java/org/eclipse/hono/adapter/lora/providers/EverynetProviderTest.java
  adapters/lora-vertx/src/test/java/org/eclipse/hono/adapter/lora/providers/FireflyProviderTest.java
  adapters/lora-vertx/src/test/java/org/eclipse/hono/adapter/lora/providers/KerlinkProviderTest.java
  adapters/lora-vertx/src/test/java/org/eclipse/hono/adapter/lora/providers/LoraProviderTestBase.java
  adapters/lora-vertx/src/test/java/org/eclipse/hono/adapter/lora/providers/LoraTestUtil.java
  adapters/lora-vertx/src/test/java/org/eclipse/hono/adapter/lora/providers/LoriotProviderTest.java
  adapters/lora-vertx/src/test/java/org/eclipse/hono/adapter/lora/providers/ObjeniousProviderTest.java
  adapters/lora-vertx/src/test/java/org/eclipse/hono/adapter/lora/providers/ProximusProviderTest.java
  adapters/lora-vertx/src/test/java/org/eclipse/hono/adapter/lora/providers/ThingsNetworkProviderTest.java
  adapters/lora-vertx/src/test/resources/payload/actility.uplink.json
  adapters/lora-vertx/src/test/resources/payload/chirpStack.uplink.json
  adapters/lora-vertx/src/test/resources/payload/everynet.uplink.json
  adapters/lora-vertx/src/test/resources/payload/firefly.uplink.json
  adapters/lora-vertx/src/test/resources/payload/kerlink.uplink.json
  adapters/lora-vertx/src/test/resources/payload/loriot.uplink.json
  adapters/lora-vertx/src/test/resources/payload/objenious.uplink.json
  adapters/lora-vertx/src/test/resources/payload/proximus.uplink.json
  adapters/lora-vertx/src/test/resources/payload/ttn.uplink.json
Labels: LoRa Adapter

#1974 Renamed example to examples.
  examples/hono-client-examples/pom.xml
  examples/hono-client-examples/readme.md
  examples/hono-client-examples/src/main/java/org/eclipse/hono/devices/AmqpExampleDevice.java
  examples/hono-client-examples/src/main/java/org/eclipse/hono/devices/HonoHttpDevice.java
  examples/hono-client-examples/src/main/java/org/eclipse/hono/vertx/example/HonoExampleApplication.java
  examples/hono-client-examples/src/main/java/org/eclipse/hono/vertx/example/base/HonoExampleApplicationBase.java
  examples/hono-client-examples/src/main/java/org/eclipse/hono/vertx/example/base/HonoExampleConstants.java
  examples/hono-client-examples/src/main/resources/logback.xml
  examples/pom.xml
  examples/protocol-gateway-example/README.md
  examples/protocol-gateway-example/pom.xml
  examples/protocol-gateway-example/scripts/create_hono_device.sh
  examples/protocol-gateway-example/src/main/java/org/eclipse/hono/example/protocolgateway/Application.java
  examples/protocol-gateway-example/src/main/java/org/eclipse/hono/example/protocolgateway/TcpServer.java
  examples/protocol-gateway-example/src/main/java/org/eclipse/hono/example/protocolgateway/controller/ProtocolGateway.java
  examples/protocol-gateway-example/src/main/resources/application.yml
  examples/protocol-gateway-example/src/main/resources/banner.txt
  examples/protocol-gateway-example/src/main/resources/logback-spring.xml
  examples/protocol-gateway-example/src/test/resources/logback-test.xml
  examples/quickstart-python/README.md
  examples/quickstart-python/pom.xml
  examples/quickstart-python/src/main/python/quickstart.py
  examples/quickstart-python/src/main/python/requirements.txt
  legal/src/main/resources/legal/NOTICE.md
  pom.xml
  site/documentation/content/concepts/connecting-devices/index.md
  site/documentation/content/dev-guide/java_client_consumer.md
  site/homepage/content/getting-started/index.md
Labels: documentation

#2033 [#2032] Fix error in reconnect delay calculation
  client/src/main/java/org/eclipse/hono/client/impl/HonoConnectionImpl.java
  client/src/test/java/org/eclipse/hono/client/impl/HonoConnectionImplTest.java
Labels: Client, bug

#2027 [#1679] Update admin guide for the MongoDB based device registry
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/config/MongoDbConfigProperties.java
  site/documentation/content/admin-guide/file-based-device-registry-config.md
  site/documentation/content/admin-guide/mongodb-device-registry-config.md
  site/documentation/content/admin-guide/secure_communication.md
  site/documentation/content/concepts/command-and-control.md
  site/documentation/content/concepts/device-identity.md
  site/documentation/content/user-guide/amqp-adapter.md
  site/documentation/content/user-guide/coap-adapter.md
  site/documentation/content/user-guide/http-adapter.md
  site/documentation/content/user-guide/mqtt-adapter.md
Labels: MongoDB Device Registry, documentation

#2034 Allow to use empty payloads with the TTN provider
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/impl/LoraProtocolAdapter.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/providers/ThingsNetworkProvider.java
  adapters/lora-vertx/src/test/java/org/eclipse/hono/adapter/lora/providers/LoraTestUtil.java
  adapters/lora-vertx/src/test/java/org/eclipse/hono/adapter/lora/providers/LoraUtilsTest.java
  adapters/lora-vertx/src/test/java/org/eclipse/hono/adapter/lora/providers/ThingsNetworkProviderTest.java
  adapters/lora-vertx/src/test/resources/payload/ttn.uplink.with-null-payload.json
Labels: LoRa Adapter, bug

#2038 Create demo certificate for example gateway.
  demo-certs/README.md
  demo-certs/ca_opts
  demo-certs/certs/example-gateway-cert.pem
  demo-certs/certs/example-gateway-key.pem
  demo-certs/certs/exampleGatewayKeyStore.p12
  demo-certs/create_certs.sh
Labels: enhancement

#2035 [#1679] Add user guide and release notes
  site/documentation/content/admin-guide/file-based-device-registry-config.md
  site/documentation/content/concepts/device-provisioning/index.md
  site/documentation/content/concepts/tenancy.md
  site/documentation/content/user-guide/file-based-device-registry.md
  site/documentation/content/user-guide/mongodb-based-device-registry.md
  site/homepage/content/release-notes.md
Labels: MongoDB Device Registry, documentation

#2047 Add link to the user guide in the release notes for the MongoDB device registry
  site/homepage/content/release-notes.md
Labels: MongoDB Device Registry

#2045 [#1023] Adding metric for rejected connections
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapter.java
  adapters/amqp-vertx/src/test/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapterTest.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapterTest.java
  service-base/src/main/java/org/eclipse/hono/service/metric/Metrics.java
  service-base/src/main/java/org/eclipse/hono/service/metric/MetricsTags.java
  service-base/src/main/java/org/eclipse/hono/service/metric/MicrometerBasedMetrics.java
  service-base/src/main/java/org/eclipse/hono/service/metric/NoopBasedMetrics.java
  site/documentation/content/api/Metrics.md
Labels: Metrics

#2046 [#2020] Reject unknown properties in Tenant Management HTTP endpoint
  core/src/main/java/org/eclipse/hono/util/Adapter.java
  core/src/main/java/org/eclipse/hono/util/RegistryManagementConstants.java
  service-base/src/main/java/org/eclipse/hono/service/http/AbstractHttpEndpoint.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/AbstractDelegatingRegistryHttpEndpoint.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/Id.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/device/DelegatingDeviceManagementHttpEndpoint.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/tenant/DelegatingTenantManagementHttpEndpoint.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/tenant/Tenant.java
  services/device-registry-base/src/test/java/org/eclipse/hono/service/management/tenant/TenantTest.java
  services/device-registry-base/src/test/java/org/eclipse/hono/service/management/tenant/TrustedCertificateAuthorityTest.java
  services/device-registry-file/src/main/java/org/eclipse/hono/deviceregistry/file/FileBasedTenantService.java
  services/device-registry-file/src/test/java/org/eclipse/hono/deviceregistry/file/FileBasedTenantServiceTest.java
  tests/src/test/java/org/eclipse/hono/tests/DeviceRegistryHttpClient.java
  tests/src/test/java/org/eclipse/hono/tests/IntegrationTestSupport.java
  tests/src/test/java/org/eclipse/hono/tests/registry/DeviceManagementIT.java
  tests/src/test/java/org/eclipse/hono/tests/registry/TenantManagementIT.java
Labels: Device Registry, Management API, MongoDB Device Registry

#2043 Improve description of credentials resources
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/credentials/CommonCredential.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/credentials/CommonSecret.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/credentials/GenericSecret.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/credentials/PasswordSecret.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/credentials/PskSecret.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/credentials/X509CertificateSecret.java
  services/device-registry-base/src/test/java/org/eclipse/hono/service/management/credentials/CredentialsTest.java
  services/device-registry-base/src/test/java/org/eclipse/hono/service/management/credentials/SecretsTest.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/model/CredentialsDto.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedCredentialsService.java
  site/documentation/content/api/management/device-registry-v1.yaml
Labels: Management API

#2050 [#2020] Reject unknown properties in Device Management HTTP endpoint
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/device/DelegatingDeviceManagementHttpEndpoint.java
  services/device-registry-base/src/test/java/org/eclipse/hono/service/management/device/DeviceTest.java
  tests/src/test/java/org/eclipse/hono/tests/IntegrationTestSupport.java
  tests/src/test/java/org/eclipse/hono/tests/registry/DeviceManagementIT.java
Labels: Management API

#2052 [#2020] Reject unknown properties in Credentials Management endpoint
  core/src/main/java/org/eclipse/hono/util/CredentialsConstants.java
  service-base/src/main/java/org/eclipse/hono/service/http/AbstractHttpEndpoint.java
  services/base-jdbc/src/test/java/org/eclipse/hono/service/base/jdbc/store/device/JsonStoreTest.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/AbstractDelegatingRegistryHttpEndpoint.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/credentials/CommonCredential.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/credentials/DelegatingCredentialsManagementHttpEndpoint.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/credentials/GenericCredential.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/credentials/PasswordCredential.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/credentials/PskCredential.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/credentials/X509CertificateCredential.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/device/AutoProvisioningEnabledDeviceBackend.java
  services/device-registry-base/src/test/java/org/eclipse/hono/service/credentials/AbstractCredentialsServiceTest.java
  services/device-registry-base/src/test/java/org/eclipse/hono/service/management/credentials/CredentialsTest.java
  services/device-registry-file/src/test/java/org/eclipse/hono/deviceregistry/file/FileBasedCredentialsServiceTest.java
  tests/src/test/java/org/eclipse/hono/tests/DeviceRegistryHttpClient.java
  tests/src/test/java/org/eclipse/hono/tests/mqtt/MqttConnectionIT.java
  tests/src/test/java/org/eclipse/hono/tests/registry/CredentialsApiTests.java
  tests/src/test/java/org/eclipse/hono/tests/registry/CredentialsManagementIT.java
Labels: Management API

#2051 #1856 negative authenticated connection count
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapter.java
  adapters/amqp-vertx/src/test/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapterTest.java
Labels: AMQP Adapter, Metrics, bug

#2044 Introduce value objects for meta data
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/GatewayInfo.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/Location.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/LoraConstants.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/LoraMetaData.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/UplinkLoraMessage.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/impl/LoraProtocolAdapter.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/providers/ActilityProvider.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/providers/BaseLoraProvider.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/providers/ChirpStackProvider.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/providers/EverynetProvider.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/providers/FireflyProvider.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/providers/JsonBasedLoraProvider.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/providers/KerlinkProvider.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/providers/LoraProvider.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/providers/LoraUtils.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/providers/LoriotProvider.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/providers/ObjeniousProvider.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/providers/ProximusProvider.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/providers/ThingsNetworkProvider.java
  adapters/lora-vertx/src/test/java/org/eclipse/hono/adapter/lora/impl/LoraProtocolAdapterTest.java
  adapters/lora-vertx/src/test/java/org/eclipse/hono/adapter/lora/providers/ActilityProviderTest.java
  adapters/lora-vertx/src/test/java/org/eclipse/hono/adapter/lora/providers/ChirpStackProviderTest.java
  adapters/lora-vertx/src/test/java/org/eclipse/hono/adapter/lora/providers/EverynetProviderTest.java
  adapters/lora-vertx/src/test/java/org/eclipse/hono/adapter/lora/providers/FireflyProviderTest.java
  adapters/lora-vertx/src/test/java/org/eclipse/hono/adapter/lora/providers/LoraProviderTestBase.java
  adapters/lora-vertx/src/test/java/org/eclipse/hono/adapter/lora/providers/LoraTestUtil.java
  adapters/lora-vertx/src/test/java/org/eclipse/hono/adapter/lora/providers/LoriotProviderTest.java
  adapters/lora-vertx/src/test/java/org/eclipse/hono/adapter/lora/providers/ObjeniousProviderTest.java
  adapters/lora-vertx/src/test/java/org/eclipse/hono/adapter/lora/providers/ProximusProviderTest.java
  adapters/lora-vertx/src/test/java/org/eclipse/hono/adapter/lora/providers/ThingsNetworkProviderTest.java
  adapters/lora-vertx/src/test/resources/payload/everynet.uplink.json
  adapters/lora-vertx/src/test/resources/payload/firefly.uplink.json
  adapters/lora-vertx/src/test/resources/payload/loriot.uplink.json
  adapters/lora-vertx/src/test/resources/payload/ttn.uplink.json
Labels: LoRa Adapter

#2054 Fix broken doc links
  site/documentation/content/api/tenant/index.md
  site/documentation/content/dev-guide/java_client_consumer.md
  site/documentation/content/user-guide/coap-adapter.md
  site/documentation/content/user-guide/http-adapter.md
Labels: documentation

#2048 [#1367] Add examples for registry management endpoints
  site/documentation/content/admin-guide/file-based-device-registry-config.md
  site/documentation/content/admin-guide/mongodb-device-registry-config.md
  site/documentation/content/api/management/device-registry-v1.yaml
  site/documentation/content/user-guide/file-based-device-registry.md
  site/documentation/content/user-guide/mongodb-based-device-registry.md
Labels: Management API, documentation
