Repository eclipse-hono/hono, pull requests merged in 2020-08, with the labels that each got.

#2091 Refactor protocol adapters to support non spring based implementations
  adapters/amqp-vertx/pom.xml
  adapters/base-spring/pom.xml
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/impl/VertxBasedCoapAdapter.java
  adapters/coap-vertx/pom.xml
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/impl/VertxBasedHttpProtocolAdapter.java
  adapters/http-vertx/pom.xml
  adapters/kura/pom.xml
  adapters/lora-vertx/pom.xml
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/MappedMessage.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/MessageMapping.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/impl/HttpBasedMessageMapping.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/impl/VertxBasedMqttProtocolAdapter.java
  adapters/mqtt-vertx/pom.xml
  adapters/mqtt-vertx/src/main/java/org/eclipse/hono/adapter/mqtt/impl/Config.java
  adapters/pom.xml
  adapters/sigfox-vertx/pom.xml
Labels: enhancement

#2097 Docu: adding the stable version additionally under its version number.
  jenkins/Hono-Website-Pipeline.groovy
Labels: documentation, website

#2096 [#2095] Restore links to device registry user guide and admin guide.
  site/documentation/content/admin-guide/device-registry-config.md
  site/documentation/content/user-guide/device-registry.md
Labels: bug, documentation

#2090 Improve configuration classes
  core/src/main/java/org/eclipse/hono/config/AbstractConfig.java
  core/src/main/java/org/eclipse/hono/config/AuthenticatingClientConfigProperties.java
  core/src/main/java/org/eclipse/hono/config/ClientConfigProperties.java
  core/src/main/java/org/eclipse/hono/config/KeyLoader.java
  core/src/main/java/org/eclipse/hono/config/ProtocolAdapterProperties.java
  core/src/main/java/org/eclipse/hono/config/ServerConfig.java
  core/src/main/java/org/eclipse/hono/config/ServiceConfigProperties.java
Labels: enhancement

#2105 Add link to MQTT protocol gateway template.
  site/documentation/content/concepts/connecting-devices/index.md
Labels: documentation

#2093 Quarkus based HTTP protocol adapter
  adapters/http-vertx-base/pom.xml
  adapters/http-vertx-quarkus/.dockerignore
  adapters/http-vertx-quarkus/.gitignore
  adapters/http-vertx-quarkus/README.md
  adapters/http-vertx-quarkus/pom.xml
  adapters/http-vertx-quarkus/src/main/docker/Dockerfile.jvm
  adapters/http-vertx-quarkus/src/main/docker/Dockerfile.native
  adapters/http-vertx-quarkus/src/main/java/org/eclipse/hono/adapter/http/quarkus/Application.java
  adapters/http-vertx-quarkus/src/main/java/org/eclipse/hono/adapter/http/quarkus/CaffeineBasedExpiringValueCache.java
  adapters/http-vertx-quarkus/src/main/java/org/eclipse/hono/adapter/http/quarkus/HonoConfig.java
  adapters/http-vertx-quarkus/src/main/java/org/eclipse/hono/adapter/http/quarkus/TracerFactory.java
  adapters/http-vertx-quarkus/src/main/resources/application.yml
  adapters/http-vertx-quarkus/src/main/resources/default_banner.txt
  adapters/http-vertx-quarkus/src/main/resources/logback.xml
  adapters/http-vertx-quarkus/src/main/resources/reflection-config.json
  adapters/http-vertx-quarkus/src/main/resources/resources-config.json
  adapters/pom.xml
  bom/pom.xml
  client/pom.xml
  core/pom.xml
  core/src/main/java/org/eclipse/hono/util/JsonBackedValueObject.java
  pom.xml
  tests/pom.xml
  tests/src/test/resources/http/application.yml
Labels: HTTP Adapter

#2101 Add authenticated device to execution context
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/impl/AmqpContext.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/AbstractVertxBasedCoapAdapter.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/CoapContext.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/impl/VertxBasedCoapAdapter.java
  adapters/coap-vertx-base/src/test/java/org/eclipse/hono/adapter/coap/AbstractVertxBasedCoapAdapterTest.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/impl/LoraProtocolAdapter.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/MqttContext.java
  adapters/sigfox-vertx/src/main/java/org/eclipse/hono/adapter/sigfox/impl/SigfoxProtocolAdapter.java
  core/src/main/java/org/eclipse/hono/util/ExecutionContext.java
  core/src/main/java/org/eclipse/hono/util/MapBasedTelemetryExecutionContext.java
  core/src/main/java/org/eclipse/hono/util/TelemetryExecutionContext.java
  service-base/src/main/java/org/eclipse/hono/service/http/HttpContext.java
Labels: AMQP Adapter, CoAP Adapter, HTTP Adapter, Kura Adapter, LoRa Adapter, MQTT Adapter, SigFox Adapter

#2100 [#1023] Add connection attempt outcomes for failure scenarios
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/AmqpAdapterSaslAuthenticatorFactory.java
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapter.java
  adapters/amqp-vertx/src/test/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapterTest.java
  adapters/http-vertx/src/test/java/org/eclipse/hono/adapter/http/impl/VertxBasedHttpProtocolAdapterTest.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapterTest.java
  client/src/main/java/org/eclipse/hono/client/ClientErrorException.java
  client/src/main/java/org/eclipse/hono/client/ResourceConflictException.java
  client/src/main/java/org/eclipse/hono/client/ServerErrorException.java
  client/src/main/java/org/eclipse/hono/client/ServiceInvocationException.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractProtocolAdapterBase.java
  service-base/src/main/java/org/eclipse/hono/service/AdapterConnectionsExceededException.java
  service-base/src/main/java/org/eclipse/hono/service/AdapterDisabledException.java
  service-base/src/main/java/org/eclipse/hono/service/AuthorizationException.java
  service-base/src/main/java/org/eclipse/hono/service/ConnectionDurationExceededException.java
  service-base/src/main/java/org/eclipse/hono/service/DataVolumeExceededException.java
  service-base/src/main/java/org/eclipse/hono/service/RegistrationAssertionException.java
  service-base/src/main/java/org/eclipse/hono/service/TenantConnectionsExceededException.java
  service-base/src/main/java/org/eclipse/hono/service/metric/Metrics.java
  service-base/src/main/java/org/eclipse/hono/service/metric/MetricsTags.java
  service-base/src/main/java/org/eclipse/hono/service/metric/MicrometerBasedMetrics.java
  service-base/src/main/java/org/eclipse/hono/service/metric/NoopBasedMetrics.java
  service-base/src/test/java/org/eclipse/hono/service/AbstractProtocolAdapterBaseTest.java
  site/documentation/content/api/Metrics.md
  site/homepage/content/release-notes.md
  tests/src/test/java/org/eclipse/hono/tests/coap/CoapTestBase.java
  tests/src/test/java/org/eclipse/hono/tests/http/HttpProtocolException.java
  tests/src/test/java/org/eclipse/hono/tests/http/HttpTestBase.java
  tests/src/test/java/org/eclipse/hono/tests/mqtt/MqttConnectionIT.java
Labels: AMQP Adapter, Kura Adapter, MQTT Adapter, Metrics

#2106 actility enterprise provider added + ability to configure multiple URIs per loraProvider
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/impl/LoraProtocolAdapter.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/providers/ActilityBaseProvider.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/providers/ActilityEnterpriseProvider.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/providers/ActilityWirelessProvider.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/providers/ChirpStackProvider.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/providers/EverynetProvider.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/providers/FireflyProvider.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/providers/KerlinkProvider.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/providers/LoraProvider.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/providers/LoriotProvider.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/providers/ObjeniousProvider.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/providers/ProximusProvider.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/providers/ThingsNetworkProvider.java
  adapters/lora-vertx/src/test/java/org/eclipse/hono/adapter/lora/impl/LoraProtocolAdapterTest.java
  adapters/lora-vertx/src/test/java/org/eclipse/hono/adapter/lora/providers/ActilityEnterpriseProviderTest.java
  adapters/lora-vertx/src/test/java/org/eclipse/hono/adapter/lora/providers/ActilityWirelessProviderTest.java
  adapters/lora-vertx/src/test/resources/payload/actilityEnterprise.uplink.json
  adapters/lora-vertx/src/test/resources/payload/actilityWireless.uplink.json
  site/homepage/content/release-notes.md
Labels: LoRa Adapter

#2107 Orbiwise provider
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/providers/OrbiwiseProvider.java
  adapters/lora-vertx/src/test/java/org/eclipse/hono/adapter/lora/providers/OrbiwiseProviderTest.java
  adapters/lora-vertx/src/test/resources/payload/orbiwise.uplink.json
  site/homepage/content/release-notes.md
Labels: LoRa Adapter

#1995 Add searchDevicesForTenant operation in openAPI
  site/documentation/content/api/management/device-registry-v1.yaml
Labels: Management API

#2109 [#1958] Use query parameters instead of request body
  site/documentation/content/api/management/device-registry-v1.yaml
Labels: Management API

#2108 [#1395] Implement trace sampling mode option in CoAP adapter
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/AbstractVertxBasedCoapAdapter.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/CoapContext.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/CoapContextTenantAndAuthIdProvider.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/DefaultDeviceResolver.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/RequestDeviceAndAuth.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/TracingSupportingHonoResource.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/impl/VertxBasedCoapAdapter.java
  adapters/coap-vertx-base/src/test/java/org/eclipse/hono/adapter/coap/AbstractVertxBasedCoapAdapterTest.java
  adapters/coap-vertx-base/src/test/java/org/eclipse/hono/adapter/coap/TracingSupportingHonoResourceTest.java
Labels: CoAP Adapter, Tracing

#2117 Fix documentation of hono.coap.timeoutToAck property
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/CoapAdapterProperties.java
  site/documentation/content/admin-guide/coap-adapter-config.md
Labels: CoAP Adapter, documentation

#2116 [#2112] Add search devices operation in MongoDB based device registry
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedDeviceBackend.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedRegistrationService.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/utils/MongoDbDocumentBuilder.java
Labels: MongoDB Device Registry

#2122 [#2112] Add unit tests for search devices operation
  services/device-registry-base/src/test/java/org/eclipse/hono/service/management/device/AbstractDeviceManagementSearchDevicesTest.java
  services/device-registry-mongodb/src/test/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDBBasedDeviceManagementSearchDevicesTest.java
Labels: Device Registry, MongoDB Device Registry

#2127 Make resource limit related DTOs immutable
  core/src/main/java/org/eclipse/hono/annotation/HonoTimestamp.java
  core/src/main/java/org/eclipse/hono/util/ConnectionDuration.java
  core/src/main/java/org/eclipse/hono/util/DataVolume.java
  core/src/main/java/org/eclipse/hono/util/LimitedResource.java
  core/src/main/java/org/eclipse/hono/util/ResourceLimitsPeriod.java
  core/src/test/java/org/eclipse/hono/util/TenantObjectTest.java
  service-base/src/main/java/org/eclipse/hono/service/resourcelimits/PrometheusBasedResourceLimitChecks.java
  service-base/src/test/java/org/eclipse/hono/service/resourcelimits/PrometheusBasedResourceLimitChecksTest.java
  tests/src/test/java/org/eclipse/hono/tests/registry/TenantApiTests.java
Labels: Device Registry, enhancement

#2128 Use Vert.x WebClient API in integration tests
  tests/src/test/java/org/eclipse/hono/tests/CrudHttpClient.java
Labels: enhancement

#2129 Minor fixes and improvements in device registry integration tests
  tests/src/test/java/org/eclipse/hono/tests/DeviceRegistryHttpClient.java
  tests/src/test/java/org/eclipse/hono/tests/IntegrationTestSupport.java
  tests/src/test/java/org/eclipse/hono/tests/mqtt/MqttTestBase.java
  tests/src/test/java/org/eclipse/hono/tests/registry/CredentialsManagementIT.java
  tests/src/test/java/org/eclipse/hono/tests/registry/DeviceManagementIT.java
  tests/src/test/java/org/eclipse/hono/tests/registry/TenantManagementIT.java
Labels: enhancement

#2130 Mark hono.registry.rest property prefix as deprecated
  core/src/main/java/org/eclipse/hono/util/Constants.java
  deploy/src/main/sandbox/hono-service-device-registry-config.yml
  service-base/src/main/java/org/eclipse/hono/service/http/AbstractHttpEndpoint.java
  service-base/src/main/java/org/eclipse/hono/service/http/HttpServiceBase.java
  services/device-registry-file/src/main/java/org/eclipse/hono/deviceregistry/file/FileBasedServiceConfig.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/ApplicationConfig.java
  site/documentation/content/admin-guide/file-based-device-registry-config.md
  tests/src/test/resources/deviceregistry/application.yml
Labels: Device Registry, enhancement

#2136 Fix sorting of devices during search devices operation in MongoDB device registry
  services/device-registry-base/src/test/java/org/eclipse/hono/service/management/device/AbstractDeviceManagementSearchDevicesTest.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/utils/MongoDbDocumentBuilder.java
Labels: Device Registry
