Repository eclipse-hono/hono, pull requests merged in 2020-02, with the labels that each got.

#1751 [#1750] Fix shutdown/disconnect if used on event loop thread.
  client/src/main/java/org/eclipse/hono/client/HonoConnection.java
  client/src/main/java/org/eclipse/hono/client/impl/HonoConnectionImpl.java
Labels: Client

#1749 Require vertx param in HonoConnection to be not null
  client/src/main/java/org/eclipse/hono/client/HonoConnection.java
  client/src/main/java/org/eclipse/hono/client/impl/HonoConnectionImpl.java
  site/homepage/content/release-notes.md
Labels: Client

#1748 Improve logging in Sender classes
  client/src/main/java/org/eclipse/hono/client/impl/AbstractSender.java
  client/src/main/java/org/eclipse/hono/client/impl/DelegatedCommandSenderImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/EventSenderImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/TelemetrySenderImpl.java
Labels: Client, enhancement

#1745 [#1716] Update documentation for limiting the overall connection time.
  site/documentation/content/deployment/resource-limitation.md
Labels: Metrics, documentation

#1744 [#1726] Fix: accept command responses without payload in AMQP adapter.
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapter.java
  adapters/amqp-vertx/src/test/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapterTest.java
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapter.java
  adapters/http-vertx-base/src/test/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapterTest.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapterTest.java
Labels: AMQP Adapter, bug

#1752 Add missing check for Command without replyId in reply-to
  adapters/lora-vertx/src/test/java/org/eclipse/hono/adapter/lora/providers/KerlinkProviderTest.java
  client/src/main/java/org/eclipse/hono/client/Command.java
  client/src/test/java/org/eclipse/hono/client/CommandResponseTest.java
  client/src/test/java/org/eclipse/hono/client/CommandTest.java
Labels: C&C, bug

#1747 Update documentation for removal of the obsolete DataVolumePeriod
  core/src/main/java/org/eclipse/hono/util/ConnectionDuration.java
  service-base/src/main/java/org/eclipse/hono/service/resourcelimits/PrometheusBasedResourceLimitChecks.java
  site/documentation/content/api/management/device-registry-v1.yaml
  site/documentation/content/api/tenant/index.md
  site/documentation/content/concepts/resource-limits.md
Labels: Metrics

#1753 Minor fix and improve sandbox documentation.
  site/homepage/content/sandbox.md
Labels: Sandbox, documentation

#1756 [#1728] Update Prometheus in sandbox to version 2.15.2
  deploy/src/main/sandbox/sandbox_deploy.sh
Labels: Metrics, Sandbox

#1724 [#1646] Add documentation how to implement a third party protocol adapter
  example/hono-client-examples/pom.xml
  example/hono-client-examples/readme.md
  example/hono-client-examples/src/main/java/org/eclipse/hono/devices/HonoHttpDevice.java
  example/hono-client-examples/src/main/java/org/eclipse/hono/vertx/example/HonoExampleApplication.java
  example/hono-client-examples/src/main/java/org/eclipse/hono/vertx/example/base/HonoExampleApplicationBase.java
  example/hono-client-examples/src/main/java/org/eclipse/hono/vertx/example/base/HonoExampleConstants.java
  example/hono-client-examples/src/main/resources/logback.xml
  example/pom.xml
  example/protocol-gateway-example/README.md
  example/protocol-gateway-example/pom.xml
  example/protocol-gateway-example/scripts/create_hono_device.sh
  example/protocol-gateway-example/src/main/java/org/eclipse/hono/example/protocolgateway/DemoTCPApplication.java
  example/protocol-gateway-example/src/main/java/org/eclipse/hono/example/protocolgateway/ServiceProperties.java
  example/protocol-gateway-example/src/main/java/org/eclipse/hono/example/protocolgateway/adapter/CommandAndControlReceiver.java
  example/protocol-gateway-example/src/main/java/org/eclipse/hono/example/protocolgateway/adapter/TelemetryAndEventSender.java
  example/protocol-gateway-example/src/main/java/org/eclipse/hono/example/protocolgateway/controller/ProtocolGatewayExample.java
  example/protocol-gateway-example/src/main/java/org/eclipse/hono/example/protocolgateway/interfaces/CommandHandler.java
  example/protocol-gateway-example/src/main/resources/application.yml
  site/documentation/content/concepts/conntecting-devices.md
  site/documentation/content/concepts/device-provisioning/index.md
  site/documentation/content/concepts/protocol_gateway.png
Labels: documentation

#1759 [#1754] Upgrade to latest Spring releases
  bom/pom.xml
Labels: enhancement

#1771 Add mic to FireFly Lora adapter
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/LoraConstants.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/providers/FireflyProvider.java
  adapters/lora-vertx/src/test/java/org/eclipse/hono/adapter/lora/providers/FireflyProviderTest.java
Labels: LoRa Adapter, enhancement

#1769 [#1736] Make the body optional in tenant creation request
  service-base/src/main/java/org/eclipse/hono/service/management/tenant/AbstractTenantManagementHttpEndpoint.java
  site/documentation/content/api/management/device-registry-v1.yaml
  site/documentation/content/user-guide/device-registry.md
  site/homepage/content/release-notes.md
  tests/src/test/java/org/eclipse/hono/tests/DeviceRegistryHttpClient.java
  tests/src/test/java/org/eclipse/hono/tests/registry/DeviceRegistrationHttpIT.java
  tests/src/test/java/org/eclipse/hono/tests/registry/TenantHttpIT.java
Labels: Device Registry, bug

#1788 Use better fitting exception type in decodeCredential
  service-base/src/main/java/org/eclipse/hono/service/management/credentials/AbstractCredentialsManagementHttpEndpoint.java
Labels: Management API

#1784 [#1781] Fix use of command response topic with device but no tenant
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
  client/src/main/java/org/eclipse/hono/client/CommandResponse.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractProtocolAdapterBase.java
  service-base/src/test/java/org/eclipse/hono/service/AbstractProtocolAdapterBaseTest.java
  tests/src/test/java/org/eclipse/hono/tests/mqtt/CommandAndControlMqttIT.java
  tests/src/test/java/org/eclipse/hono/tests/mqtt/MqttCommandEndpointConfiguration.java
Labels: C&C, MQTT Adapter, bug

#1786 [#1785] Fix gateway id getting set in reply-to address
  client/src/main/java/org/eclipse/hono/client/Command.java
  client/src/test/java/org/eclipse/hono/client/CommandTest.java
  tests/src/test/java/org/eclipse/hono/tests/amqp/CommandAndControlAmqpIT.java
Labels: AMQP Adapter, C&C, bug

#1787 Fix wrong command response URI getting used in tests
  tests/src/test/java/org/eclipse/hono/tests/http/HttpCommandEndpointConfiguration.java
  tests/src/test/java/org/eclipse/hono/tests/http/HttpTestBase.java
Labels: C&C, HTTP Adapter

#1779 [#1778] Upgrade to vert.x. 3.8.5
  bom/pom.xml
Labels: enhancement

#1683 Pr/1072 gateway groups
  core/src/main/java/org/eclipse/hono/util/RegistrationConstants.java
  service-base/src/main/java/org/eclipse/hono/service/management/device/Device.java
  service-base/src/main/java/org/eclipse/hono/service/registration/AbstractRegistrationService.java
  service-base/src/test/java/org/eclipse/hono/service/management/device/DeviceTest.java
  service-base/src/test/java/org/eclipse/hono/service/registration/AbstractRegistrationServiceTest.java
  service-base/src/test/java/org/eclipse/hono/service/registration/BaseRegistrationServiceTest.java
  services/device-registry/src/main/java/org/eclipse/hono/deviceregistry/DummyRegistrationService.java
  services/device-registry/src/main/java/org/eclipse/hono/deviceregistry/FileBasedRegistrationService.java
  services/device-registry/src/test/resources/device-identities.json
  site/documentation/content/api/management/device-registry-v1.yaml
  site/documentation/content/concepts/gateways.md
  tests/src/test/java/org/eclipse/hono/tests/registry/DeviceRegistrationApiTests.java
Labels: Device Registry, Management API

#1773 Fix http/lora/sigfox metrics
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/impl/Config.java
  adapters/sigfox-vertx/src/main/java/org/eclipse/hono/adapter/sigfox/impl/Config.java
Labels: HTTP Adapter, LoRa Adapter, SigFox Adapter

#1792 Handle potential failures in resolveGroupMembers()
  service-base/src/main/java/org/eclipse/hono/service/registration/AbstractRegistrationService.java
  services/device-registry/src/main/java/org/eclipse/hono/deviceregistry/DummyRegistrationService.java
Labels: Device Registry

#1799 add description of the integration test execution to the developer documentation
  site/documentation/content/dev-guide/building_hono.md
Labels: documentation, enhancement
