Repository eclipse-hono/hono, pull requests merged in 2020-04, with the labels that each got.

#1842 [#1679] Add mongodb based implementation of device registration and management services
  bom/pom.xml
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/util/DeviceRegistryUtils.java
  services/device-registry-mongodb/pom.xml
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/Application.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/ApplicationConfig.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/config/AbstractMongoDbBasedRegistryConfigProperties.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/config/MongoDbBasedRegistrationConfigProperties.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/config/MongoDbConfigProperties.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/model/BaseDto.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/model/DeviceDto.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedCredentialsService.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedDeviceBackend.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedRegistrationService.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/utils/MongoDbCallExecutor.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/utils/MongoDbDeviceRegistryUtils.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/utils/MongoDbDocumentBuilder.java
  services/device-registry-mongodb/src/main/resources/banner.txt
  services/device-registry-mongodb/src/main/resources/logback-spring.xml
  services/pom.xml
Labels: Device Registry

#1872 Add NOOP TenantInformationService
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/credentials/AbstractCredentialsService.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/device/AbstractRegistrationService.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/tenant/NoopTenantInformationService.java
Labels: Device Registry

#1874 Add missing description to JavaDoc
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/model/DeviceDto.java
Labels: Device Registry, documentation

#1877 [#1679] Pull up a utility method for reuse in MongoDB based device registry implementation
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedRegistrationService.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/utils/MongoDbDeviceRegistryUtils.java
Labels: Device Registry

#1876 [#1679] Return the version of the updated device.
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedRegistrationService.java
Labels: Device Registry

#1878 [#1794] Remove deprecated classes
  service-base/src/main/java/org/eclipse/hono/service/credentials/CredentialsAmqpEndpoint.java
  service-base/src/main/java/org/eclipse/hono/service/credentials/EventBusCredentialsAdapter.java
  service-base/src/main/java/org/eclipse/hono/service/deviceconnection/DeviceConnectionAmqpEndpoint.java
  service-base/src/main/java/org/eclipse/hono/service/deviceconnection/EventBusDeviceConnectionAdapter.java
  service-base/src/main/java/org/eclipse/hono/service/management/credentials/CredentialsManagementHttpEndpoint.java
  service-base/src/main/java/org/eclipse/hono/service/management/credentials/EventBusCredentialsManagementAdapter.java
  service-base/src/main/java/org/eclipse/hono/service/management/device/DeviceManagementHttpEndpoint.java
  service-base/src/main/java/org/eclipse/hono/service/management/device/EventBusDeviceManagementAdapter.java
  service-base/src/main/java/org/eclipse/hono/service/management/tenant/EventBusTenantManagementAdapter.java
  service-base/src/main/java/org/eclipse/hono/service/management/tenant/TenantManagementHttpEndpoint.java
  service-base/src/main/java/org/eclipse/hono/service/registration/EventBusRegistrationAdapter.java
  service-base/src/main/java/org/eclipse/hono/service/registration/RegistrationAmqpEndpoint.java
  service-base/src/main/java/org/eclipse/hono/service/tenant/EventBusTenantAdapter.java
  service-base/src/main/java/org/eclipse/hono/service/tenant/TenantAmqpEndpoint.java
  service-base/src/test/java/org/eclipse/hono/service/credentials/BaseCredentialsServiceTest.java
  service-base/src/test/java/org/eclipse/hono/service/management/tenant/EventBusTenantManagementAdapterTest.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/credentials/AutowiredCredentialsAdapter.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/credentials/AutowiredCredentialsManagementAdapter.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/device/AutowiredDeviceManagementAdapter.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/device/AutowiredRegistrationAdapter.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/deviceconnection/AutowiredDeviceConnectionAdapter.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/tenant/AutowiredTenantAdapter.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/tenant/AutowiredTenantManagementAdapter.java
Labels: Device Registry

#1871 (1.2.x) [#1860] Use unique adapter instance id per consumer factory
  service-base/src/main/java/org/eclipse/hono/service/AbstractAdapterConfig.java
Labels: C&C, bug

#1879 [#1679] Update JavaDoc of the Device Management APIs for status codes
  service-base/src/main/java/org/eclipse/hono/service/credentials/CredentialsService.java
  service-base/src/main/java/org/eclipse/hono/service/management/device/DeviceManagementService.java
  service-base/src/main/java/org/eclipse/hono/service/management/tenant/TenantManagementService.java
Labels: Device Registry, documentation

#1885 Adapt documentation to the new Command & Control handling
  site/documentation/content/concepts/command-and-control.md
  site/documentation/content/concepts/command_control_concept.svg
  site/documentation/content/concepts/command_control_concept_delegate_1.svg
  site/documentation/content/concepts/command_control_concept_delegate_2.svg
  site/documentation/content/concepts/command_control_concept_delegate_3.svg
  site/documentation/content/concepts/command_control_concept_gateway_1.svg
  site/documentation/content/concepts/command_control_concept_gateway_2.svg
  site/documentation/content/concepts/command_control_concept_gateway_3.svg
  site/documentation/content/concepts/command_control_concept_gateway_all_devices_1.svg
  site/documentation/content/concepts/command_control_concept_gateway_all_devices_2.svg
  site/documentation/content/user-guide/amqp-adapter.md
  site/documentation/content/user-guide/coap-adapter.md
  site/documentation/content/user-guide/http-adapter.md
  site/documentation/content/user-guide/mqtt-adapter.md
Labels: C&C, documentation

#1861 [#1860] Use unique adapter instance id per consumer factory
  client/src/main/java/org/eclipse/hono/client/HonoConnection.java
  client/src/main/java/org/eclipse/hono/client/ProtocolAdapterCommandConsumerFactory.java
  client/src/main/java/org/eclipse/hono/client/impl/AbstractHonoClient.java
  client/src/main/java/org/eclipse/hono/client/impl/AdapterInstanceCommandHandler.java
  client/src/main/java/org/eclipse/hono/client/impl/HonoConnectionImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/ProtocolAdapterCommandConsumerFactoryImpl.java
  client/src/test/java/org/eclipse/hono/client/impl/DisconnectHandlerProvidingConnectionFactory.java
  client/src/test/java/org/eclipse/hono/client/impl/HonoConnectionImplTest.java
  client/src/test/java/org/eclipse/hono/client/impl/ProtocolAdapterCommandConsumerFactoryImplTest.java
  core/src/main/java/org/eclipse/hono/config/ClientConfigProperties.java
  core/src/main/java/org/eclipse/hono/connection/ConnectionFactory.java
  core/src/main/java/org/eclipse/hono/connection/impl/ConnectionFactoryImpl.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractAdapterConfig.java
  site/homepage/content/release-notes.md
Labels: C&C, bug

#1884 Manage life cycle of device registry beans from endpoints
  service-base/src/main/java/org/eclipse/hono/service/amqp/AbstractDelegatingRequestResponseEndpoint.java
  service-base/src/main/java/org/eclipse/hono/service/credentials/DelegatingCredentialsAmqpEndpoint.java
  service-base/src/main/java/org/eclipse/hono/service/deviceconnection/AutowiredDeviceConnectionAmqpEndpoint.java
  service-base/src/main/java/org/eclipse/hono/service/deviceconnection/DelegatingDeviceConnectionAmqpEndpoint.java
  service-base/src/main/java/org/eclipse/hono/service/http/AbstractDelegatingHttpEndpoint.java
  service-base/src/main/java/org/eclipse/hono/service/management/credentials/DelegatingCredentialsManagementHttpEndpoint.java
  service-base/src/main/java/org/eclipse/hono/service/management/device/DelegatingDeviceManagementHttpEndpoint.java
  service-base/src/main/java/org/eclipse/hono/service/management/tenant/DelegatingTenantManagementHttpEndpoint.java
  service-base/src/main/java/org/eclipse/hono/service/registration/DelegatingRegistrationAmqpEndpoint.java
  service-base/src/main/java/org/eclipse/hono/service/tenant/DelegatingTenantAmqpEndpoint.java
  services/device-connection/src/main/java/org/eclipse/hono/deviceconnection/infinispan/ApplicationConfig.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/credentials/AutowiredCredentialsAmqpEndpoint.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/credentials/AutowiredCredentialsManagementHttpEndpoint.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/device/AutowiredDeviceManagementHttpEndpoint.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/device/AutowiredRegistrationAmqpEndpoint.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/deviceconnection/MapBasedDeviceConnectionService.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/tenant/AutowiredTenantAmqpEndpoint.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/tenant/AutowiredTenantManagementHttpEndpoint.java
  services/device-registry-base/src/test/java/org/eclipse/hono/deviceregistry/service/deviceconnection/MapBasedDeviceConnectionServiceTest.java
  services/device-registry-file/src/main/java/org/eclipse/hono/deviceregistry/Application.java
  services/device-registry-file/src/main/java/org/eclipse/hono/deviceregistry/ApplicationConfig.java
  services/device-registry-file/src/main/java/org/eclipse/hono/deviceregistry/file/FileBasedCredentialsService.java
  services/device-registry-file/src/main/java/org/eclipse/hono/deviceregistry/file/FileBasedDeviceBackend.java
  services/device-registry-file/src/main/java/org/eclipse/hono/deviceregistry/file/FileBasedRegistrationService.java
  services/device-registry-file/src/main/java/org/eclipse/hono/deviceregistry/file/FileBasedTenantBackend.java
  services/device-registry-file/src/main/java/org/eclipse/hono/deviceregistry/file/FileBasedTenantService.java
  services/device-registry-file/src/test/java/org/eclipse/hono/deviceregistry/file/FileBasedCredentialsServiceTest.java
  services/device-registry-file/src/test/java/org/eclipse/hono/deviceregistry/file/FileBasedRegistrationServiceTest.java
  services/device-registry-file/src/test/java/org/eclipse/hono/deviceregistry/file/FileBasedTenantServiceTest.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/ApplicationConfig.java
Labels: Device Registry

#1891 [#1720] Ensure getOrCreateClient result handler doesn't get called twice
  client/src/main/java/org/eclipse/hono/client/impl/CachingClientFactory.java
  client/src/test/java/org/eclipse/hono/client/impl/CachingClientFactoryTest.java
Labels: Client, bug

#1889 Add more values to coap-adapter configuration.
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/AbstractVertxBasedCoapAdapter.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/CoapAdapterProperties.java
  site/documentation/content/admin-guide/coap-adapter-config.md
Labels: CoAP Adapter

#1886 [#1679] Add implementation to resolve group members in MongoDB based device registry
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedRegistrationService.java
Labels: MongoDB Device Registry

#1880 Add base work for the JDBC device registry implementation
  bom/pom.xml
  services/base-jdbc/pom.xml
  services/base-jdbc/src/main/java/org/eclipse/hono/service/base/jdbc/config/JdbcDeviceProperties.java
  services/base-jdbc/src/main/java/org/eclipse/hono/service/base/jdbc/config/JdbcProperties.java
  services/base-jdbc/src/main/java/org/eclipse/hono/service/base/jdbc/config/Mode.java
  services/base-jdbc/src/main/java/org/eclipse/hono/service/base/jdbc/store/AbstractStore.java
  services/base-jdbc/src/main/java/org/eclipse/hono/service/base/jdbc/store/DuplicateKeyException.java
  services/base-jdbc/src/main/java/org/eclipse/hono/service/base/jdbc/store/EntityNotFoundException.java
  services/base-jdbc/src/main/java/org/eclipse/hono/service/base/jdbc/store/OptimisticLockingException.java
  services/base-jdbc/src/main/java/org/eclipse/hono/service/base/jdbc/store/SQL.java
  services/base-jdbc/src/main/java/org/eclipse/hono/service/base/jdbc/store/Statement.java
  services/base-jdbc/src/main/java/org/eclipse/hono/service/base/jdbc/store/StatementConfiguration.java
  services/base-jdbc/src/main/java/org/eclipse/hono/service/base/jdbc/store/devcon/DeviceState.java
  services/base-jdbc/src/main/java/org/eclipse/hono/service/base/jdbc/store/devcon/Store.java
  services/base-jdbc/src/main/java/org/eclipse/hono/service/base/jdbc/store/device/AbstractDeviceAdapterStore.java
  services/base-jdbc/src/main/java/org/eclipse/hono/service/base/jdbc/store/device/AbstractDeviceManagementStore.java
  services/base-jdbc/src/main/java/org/eclipse/hono/service/base/jdbc/store/device/AbstractDeviceStore.java
  services/base-jdbc/src/main/java/org/eclipse/hono/service/base/jdbc/store/device/Configurations.java
  services/base-jdbc/src/main/java/org/eclipse/hono/service/base/jdbc/store/device/CredentialsReadResult.java
  services/base-jdbc/src/main/java/org/eclipse/hono/service/base/jdbc/store/device/DeviceReadResult.java
  services/base-jdbc/src/main/java/org/eclipse/hono/service/base/jdbc/store/device/DeviceStores.java
  services/base-jdbc/src/main/java/org/eclipse/hono/service/base/jdbc/store/device/JsonAdapterStore.java
  services/base-jdbc/src/main/java/org/eclipse/hono/service/base/jdbc/store/device/JsonManagementStore.java
  services/base-jdbc/src/main/java/org/eclipse/hono/service/base/jdbc/store/device/TableAdapterStore.java
  services/base-jdbc/src/main/java/org/eclipse/hono/service/base/jdbc/store/device/TableManagementStore.java
  services/base-jdbc/src/test/java/org/eclipse/hono/service/base/jdbc/store/QueryTest.java
  services/base-jdbc/src/test/java/org/eclipse/hono/service/base/jdbc/store/SQLTest.java
  services/base-jdbc/src/test/java/org/eclipse/hono/service/base/jdbc/store/StatementTest.java
  services/base-jdbc/src/test/java/org/eclipse/hono/service/base/jdbc/store/device/JsonStoreTest.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/deviceconnection/DeviceConnectionKey.java
  services/pom.xml
Labels: Device Connection, Device Registry

#1900 [#1679] Avoid conversion from Device to JsonObject in MongoDB based assertRegistration
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedRegistrationService.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/utils/MongoDbDeviceRegistryUtils.java
Labels: MongoDB Device Registry

#1904 Remove unused constants and methods
  core/src/main/java/org/eclipse/hono/util/RegistrationConstants.java
  core/src/main/java/org/eclipse/hono/util/RegistryManagementConstants.java
Labels: Device Registry

#1903 [#1679] Add tests for MongoDB based device registration services
  bom/pom.xml
  services/device-registry-mongodb/pom.xml
  services/device-registry-mongodb/src/test/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedRegistrationServiceTest.java
  services/device-registry-mongodb/src/test/resources/logback-test.xml
Labels: MongoDB Device Registry

#1905 Fix auto-wiring of service instances in MongoDB based device registry.
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/ApplicationConfig.java
Labels: MongoDB Device Registry, bug

#1894 [#1732] Use timeout to wait for disposition update
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/AmqpAdapterProperties.java
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapter.java
  adapters/amqp-vertx/src/test/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapterTest.java
  site/documentation/content/admin-guide/amqp-adapter-config.md
Labels: AMQP Adapter, enhancement

#1906 Add missing JavaDoc
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/model/DeviceDto.java
Labels: Device Registry

#1909 Fix missing password encoder for the file based device registry
  services/device-registry-file/src/main/java/org/eclipse/hono/deviceregistry/file/FileBasedServiceConfig.java
Labels: Device Registry, bug

#1536 Enable Integration Tests to use already running docker containers
  pom.xml
  tests/pom.xml
  tests/readme.md
Labels: enhancement

#1911 Add spanContext param for handleRequestMessage()
  service-base/src/main/java/org/eclipse/hono/service/amqp/AbstractRequestResponseEndpoint.java
  service-base/src/main/java/org/eclipse/hono/service/credentials/DelegatingCredentialsAmqpEndpoint.java
  service-base/src/main/java/org/eclipse/hono/service/deviceconnection/DelegatingDeviceConnectionAmqpEndpoint.java
  service-base/src/main/java/org/eclipse/hono/service/registration/DelegatingRegistrationAmqpEndpoint.java
  service-base/src/main/java/org/eclipse/hono/service/tenant/DelegatingTenantAmqpEndpoint.java
Labels: Device Registry

#1913 Add option to run integration tests with Jaeger
  bom/pom.xml
  tests/pom.xml
  tests/readme.md
Labels: Tracing, enhancement

#1908 [#1858] Add lifespan to setCommandHandlingAdapterInstance
  client-device-connection-infinispan/src/main/java/org/eclipse/hono/deviceconnection/infinispan/client/BasicCache.java
  client-device-connection-infinispan/src/main/java/org/eclipse/hono/deviceconnection/infinispan/client/Cache.java
  client-device-connection-infinispan/src/main/java/org/eclipse/hono/deviceconnection/infinispan/client/CacheBasedDeviceConnectionClient.java
  client-device-connection-infinispan/src/main/java/org/eclipse/hono/deviceconnection/infinispan/client/CacheBasedDeviceConnectionInfo.java
  client-device-connection-infinispan/src/main/java/org/eclipse/hono/deviceconnection/infinispan/client/DeviceConnectionInfo.java
  client-device-connection-infinispan/src/test/java/org/eclipse/hono/deviceconnection/infinispan/client/AbstractBasicCacheTest.java
  client-device-connection-infinispan/src/test/java/org/eclipse/hono/deviceconnection/infinispan/client/CacheBasedDeviceConnectionInfoTest.java
  client/src/main/java/org/eclipse/hono/client/DeviceConnectionClient.java
  client/src/main/java/org/eclipse/hono/client/impl/DeviceConnectionClientImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/ProtocolAdapterCommandConsumerFactoryImpl.java
  client/src/test/java/org/eclipse/hono/client/impl/DeviceConnectionClientImplTest.java
  client/src/test/java/org/eclipse/hono/client/impl/ProtocolAdapterCommandConsumerFactoryImplTest.java
  core/src/main/java/org/eclipse/hono/cache/BasicExpiringValue.java
  core/src/main/java/org/eclipse/hono/util/MessageHelper.java
  service-base/src/main/java/org/eclipse/hono/service/deviceconnection/DelegatingDeviceConnectionAmqpEndpoint.java
  service-base/src/main/java/org/eclipse/hono/service/deviceconnection/DeviceConnectionService.java
  services/device-connection/src/main/java/org/eclipse/hono/deviceconnection/infinispan/CacheBasedDeviceConnectionService.java
  services/device-connection/src/test/java/org/eclipse/hono/deviceconnection/infinispan/RemoteCacheBasedDeviceConnectionServiceTest.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/deviceconnection/MapBasedDeviceConnectionService.java
  services/device-registry-base/src/test/java/org/eclipse/hono/deviceregistry/service/deviceconnection/MapBasedDeviceConnectionServiceTest.java
  site/documentation/content/api/device-connection/index.md
  site/documentation/content/api/device-connection/set_cmd_handling_adapter_instance.svg
  tests/src/test/java/org/eclipse/hono/tests/jms/JmsBasedDeviceConnectionClient.java
  tests/src/test/java/org/eclipse/hono/tests/registry/DeviceConnectionApiTests.java
Labels: C&C, Device Connection

#1915 Fix JavaDoc of ProtocolAdapterProperties
  core/src/main/java/org/eclipse/hono/config/ProtocolAdapterProperties.java
Labels: documentation

#1888 Add simple receiver statistic to cli client.
  cli/src/main/java/org/eclipse/hono/cli/app/Receiver.java
  cli/src/main/java/org/eclipse/hono/cli/app/ReceiverStatistics.java
  cli/src/main/resources/application.yml
Labels: Client, enhancement

#1902 Prevent usage of Java > 11 language features
  adapters/pom.xml
  cli/pom.xml
  client/pom.xml
  core/pom.xml
  example/pom.xml
  pom.xml
  services/pom.xml
Labels: enhancement

#1882 [#1865] Hono resource limits : add timeout for Prometheus queries
  service-base/src/main/java/org/eclipse/hono/service/resourcelimits/PrometheusBasedResourceLimitChecks.java
  service-base/src/main/java/org/eclipse/hono/service/resourcelimits/PrometheusBasedResourceLimitChecksConfig.java
  service-base/src/test/java/org/eclipse/hono/service/resourcelimits/PrometheusBasedResourceLimitChecksTest.java
  site/documentation/content/admin-guide/common-config.md
  site/homepage/content/release-notes.md
Labels: Metrics, enhancement

#1916 [#1858] Use ttd as command consumer lifespan
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapter.java
  adapters/amqp-vertx/src/test/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapterTest.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/AbstractVertxBasedCoapAdapter.java
  adapters/coap-vertx-base/src/test/java/org/eclipse/hono/adapter/coap/AbstractVertxBasedCoapAdapterTest.java
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapter.java
  adapters/http-vertx-base/src/test/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapterTest.java
  adapters/http-vertx/src/test/java/org/eclipse/hono/adapter/http/impl/VertxBasedHttpProtocolAdapterTest.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/impl/LoraProtocolAdapter.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapterTest.java
  client-device-connection-infinispan/src/main/java/org/eclipse/hono/deviceconnection/infinispan/client/CacheBasedDeviceConnectionClient.java
  client-device-connection-infinispan/src/main/java/org/eclipse/hono/deviceconnection/infinispan/client/CacheBasedDeviceConnectionInfo.java
  client-device-connection-infinispan/src/main/java/org/eclipse/hono/deviceconnection/infinispan/client/DeviceConnectionInfo.java
  client-device-connection-infinispan/src/test/java/org/eclipse/hono/deviceconnection/infinispan/client/CacheBasedDeviceConnectionInfoTest.java
  client/src/main/java/org/eclipse/hono/client/DeviceConnectionClient.java
  client/src/main/java/org/eclipse/hono/client/ProtocolAdapterCommandConsumerFactory.java
  client/src/main/java/org/eclipse/hono/client/impl/DeviceConnectionClientImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/ProtocolAdapterCommandConsumerFactoryImpl.java
  client/src/test/java/org/eclipse/hono/client/impl/DeviceConnectionClientImplTest.java
  client/src/test/java/org/eclipse/hono/client/impl/ProtocolAdapterCommandConsumerFactoryImplTest.java
  core/src/main/java/org/eclipse/hono/util/MessageHelper.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractProtocolAdapterBase.java
  service-base/src/main/java/org/eclipse/hono/service/deviceconnection/DelegatingDeviceConnectionAmqpEndpoint.java
  service-base/src/main/java/org/eclipse/hono/service/deviceconnection/DeviceConnectionService.java
  services/device-connection/src/main/java/org/eclipse/hono/deviceconnection/infinispan/CacheBasedDeviceConnectionService.java
  services/device-connection/src/test/java/org/eclipse/hono/deviceconnection/infinispan/RemoteCacheBasedDeviceConnectionServiceTest.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/deviceconnection/MapBasedDeviceConnectionService.java
  services/device-registry-base/src/test/java/org/eclipse/hono/deviceregistry/service/deviceconnection/MapBasedDeviceConnectionServiceTest.java
  tests/src/test/java/org/eclipse/hono/tests/jms/JmsBasedDeviceConnectionClient.java
  tests/src/test/java/org/eclipse/hono/tests/registry/DeviceConnectionApiTests.java
Labels: C&C, Device Connection

#1917 [#1858] Describe 'lifespan' as mandatory for API implementations
  site/documentation/content/api/device-connection/index.md
Labels: Device Connection, documentation

#1899 added ChirpStack lora provider
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/providers/ChirpStackProvider.java
  adapters/lora-vertx/src/test/java/org/eclipse/hono/adapter/lora/providers/ChirpStackProviderTest.java
  adapters/lora-vertx/src/test/resources/payload/chirpStack.uplink.json
Labels: LoRa Adapter, enhancement

#1919 [#1632] Close command consumer on closed device link
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapter.java
  adapters/amqp-vertx/src/test/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapterTest.java
  tests/src/test/java/org/eclipse/hono/tests/amqp/CommandAndControlAmqpIT.java
Labels: AMQP Adapter, C&C

#1924 Allow setting the name of the cache, explicitly mention sasl realm
  client-device-connection-infinispan/src/main/java/org/eclipse/hono/deviceconnection/infinispan/client/CommonCacheConfig.java
  client-device-connection-infinispan/src/main/java/org/eclipse/hono/deviceconnection/infinispan/client/HotrodCacheConfig.java
  core/src/main/java/org/eclipse/hono/util/DeviceConnectionConstants.java
  services/device-connection/src/main/java/org/eclipse/hono/deviceconnection/infinispan/ApplicationConfig.java
  services/device-connection/src/main/java/org/eclipse/hono/deviceconnection/infinispan/EmbeddedCacheConfig.java
  services/device-connection/src/main/java/org/eclipse/hono/deviceconnection/infinispan/RemoteCacheConfig.java
  site/documentation/content/admin-guide/device-connection-config.md
Labels: Device Connection, enhancement

#1926 [#1858] Don't treat removeCmdHandlingAdapterInstance 404 as error
  client-device-connection-infinispan/src/main/java/org/eclipse/hono/deviceconnection/infinispan/client/CacheBasedDeviceConnectionClient.java
  client-device-connection-infinispan/src/main/java/org/eclipse/hono/deviceconnection/infinispan/client/CacheBasedDeviceConnectionInfo.java
  client-device-connection-infinispan/src/main/java/org/eclipse/hono/deviceconnection/infinispan/client/DeviceConnectionInfo.java
  client-device-connection-infinispan/src/test/java/org/eclipse/hono/deviceconnection/infinispan/client/CacheBasedDeviceConnectionInfoTest.java
  client/src/main/java/org/eclipse/hono/client/DeviceConnectionClient.java
  client/src/main/java/org/eclipse/hono/client/impl/DeviceConnectionClientImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/ProtocolAdapterCommandConsumerFactoryImpl.java
  client/src/test/java/org/eclipse/hono/client/impl/DeviceConnectionClientImplTest.java
  client/src/test/java/org/eclipse/hono/client/impl/ProtocolAdapterCommandConsumerFactoryImplTest.java
  tests/src/test/java/org/eclipse/hono/tests/jms/JmsBasedDeviceConnectionClient.java
  tests/src/test/java/org/eclipse/hono/tests/registry/DeviceConnectionApiTests.java
Labels: C&C, Device Connection

#1920 [#1848] Fix limit verification outcomes in AMQP adapter.
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/AmqpAdapterSaslAuthenticatorFactory.java
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapter.java
  adapters/amqp-vertx/src/test/java/org/eclipse/hono/adapter/amqp/AmqpAdapterSaslAuthenticatorFactoryTest.java
  adapters/amqp-vertx/src/test/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapterTest.java
  site/documentation/content/user-guide/amqp-adapter.md
  site/homepage/content/release-notes.md
  tests/src/test/java/org/eclipse/hono/tests/amqp/AmqpConnectionIT.java
Labels: AMQP Adapter, enhancement

#1930 [#1929] remove hashed password deprecation comment
  site/documentation/content/api/management/device-registry-v1.yaml
Labels: Management API, bug, documentation
