Repository eclipse-hono/hono, pull requests merged in 2020-10, with the labels that each got.

#2223 Remove auth-id and credentials type regex pattern from API
  core/src/main/java/org/eclipse/hono/util/CredentialsConstants.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/credentials/CommonCredential.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/credentials/GenericCredential.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/credentials/PasswordCredential.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/credentials/PskCredential.java
  services/device-registry-base/src/test/java/org/eclipse/hono/service/management/credentials/CredentialsTest.java
  site/documentation/content/api/management/device-registry-v1.yaml
Labels: Device Registry, Management API

#2212 [#2115] Use PreCredentialsValidationHandler in HTTP adapter
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapter.java
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/impl/VertxBasedHttpProtocolAdapter.java
  adapters/http-vertx-base/src/test/java/org/eclipse/hono/adapter/http/impl/VertxBasedHttpProtocolAdapterTest.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/impl/LoraProtocolAdapter.java
  adapters/sigfox-vertx/src/main/java/org/eclipse/hono/adapter/sigfox/impl/SigfoxProtocolAdapter.java
  service-base/src/main/java/org/eclipse/hono/service/http/HonoBasicAuthHandler.java
  service-base/src/main/java/org/eclipse/hono/service/http/HonoChainAuthHandler.java
  service-base/src/main/java/org/eclipse/hono/service/http/HonoHttpAuthHandler.java
  service-base/src/main/java/org/eclipse/hono/service/http/HttpAuthProviderAdapter.java
  service-base/src/main/java/org/eclipse/hono/service/http/HttpContextTenantAndAuthIdProvider.java
  service-base/src/main/java/org/eclipse/hono/service/http/TenantTraceSamplingHandler.java
  service-base/src/main/java/org/eclipse/hono/service/http/X509AuthHandler.java
  service-base/src/test/java/org/eclipse/hono/service/http/HonoBasicAuthHandlerTest.java
  service-base/src/test/java/org/eclipse/hono/service/http/HonoChainAuthHandlerTest.java
  service-base/src/test/java/org/eclipse/hono/service/http/TenantTraceSamplingHandlerTest.java
  service-base/src/test/java/org/eclipse/hono/service/http/X509AuthHandlerTest.java
Labels: HTTP Adapter, enhancement

#2228 Upgrade to Quarkus 1.8.1
  bom/pom.xml
  pom.xml
Labels: enhancement

#2009 [#1958] implementation of the search devices operation for the file-based registry
  services/device-registry-file/src/main/java/org/eclipse/hono/deviceregistry/file/FileBasedDeviceBackend.java
  services/device-registry-file/src/main/java/org/eclipse/hono/deviceregistry/file/FileBasedRegistrationService.java
  services/device-registry-file/src/test/java/org/eclipse/hono/deviceregistry/file/FileBasedDeviceManagementSearchDevicesTest.java
  services/device-registry-file/src/test/java/org/eclipse/hono/deviceregistry/file/FileBasedRegistrationServiceTest.java
  tests/pom.xml
Labels: Device Registry

#2229 Extend search devices operation to support wildcards in the file-based device registry
  services/device-registry-file/src/main/java/org/eclipse/hono/deviceregistry/file/FileBasedRegistrationService.java
Labels: Device Registry, bug

#2224 Add GitHub Actions workflow for CI build and running integration tests
  .github/workflows/ci.yml
  jmeter/pom.xml
  tests/pom.xml
Labels: build system, enhancement

#2227 [#2174][#2183] Accept X.509 credentials
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/credentials/AbstractCredentialsManagementService.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/util/DeviceRegistryUtils.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/credentials/CommonSecret.java
  services/device-registry-base/src/test/java/org/eclipse/hono/service/credentials/AbstractCredentialsServiceTest.java
  services/device-registry-file/src/main/java/org/eclipse/hono/deviceregistry/file/FileBasedCredentialsService.java
  services/device-registry-file/src/main/java/org/eclipse/hono/deviceregistry/file/FileBasedServiceConfig.java
  services/device-registry-file/src/test/java/org/eclipse/hono/deviceregistry/file/FileBasedCredentialsServiceTest.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/model/CredentialsDto.java
  site/documentation/content/api/management/device-registry-v1.yaml
  tests/src/test/java/org/eclipse/hono/tests/registry/CredentialsManagementIT.java
Labels: Device Registry, MongoDB Device Registry, bug

#2231 Update release notes regarding search devices operation in the file-based registry
  site/homepage/content/release-notes.md
Labels: documentation

#2218 Release and settle delivery when waiting for update timed out
  client/src/main/java/org/eclipse/hono/client/impl/AbstractSender.java
  client/src/main/java/org/eclipse/hono/client/impl/DelegatedCommandSenderImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/TelemetrySenderImpl.java
  tests/src/test/java/org/eclipse/hono/tests/http/TelemetryHttpIT.java
Labels: Client, bug

#2237 Fix JavaDocs and error message
  client/src/main/java/org/eclipse/hono/client/impl/AbstractRequestResponseClient.java
  service-base/src/main/java/org/eclipse/hono/service/http/AbstractHttpEndpoint.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/credentials/X509CertificateCredential.java
  tests/src/test/java/org/eclipse/hono/tests/registry/DeviceManagementIT.java
Labels: documentation

#2196 Orig address and content type added to headers which are passed to the mapper
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/impl/HttpBasedMessageMapping.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/impl/VertxBasedMqttProtocolAdapter.java
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/impl/HttpBasedMessageMappingTest.java
  site/documentation/content/admin-guide/mqtt-adapter-config.md
Labels: MQTT Adapter

#2240 Use the existing static method to get status codes for exceptions
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
  examples/hono-client-examples/src/main/java/org/eclipse/hono/devices/AmqpExampleDevice.java
  service-base/src/main/java/org/eclipse/hono/service/auth/BaseAuthenticationService.java
  service-base/src/main/java/org/eclipse/hono/service/auth/device/CredentialsApiAuthProvider.java
  tests/src/test/java/org/eclipse/hono/tests/jms/JmsBasedDeviceConnectionClient.java
Labels: enhancement

#2233 Remove UNKNOWN QoS level
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapter.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/MqttContext.java
  core/src/main/java/org/eclipse/hono/util/MessageHelper.java
  core/src/main/java/org/eclipse/hono/util/QoS.java
  core/src/main/java/org/eclipse/hono/util/TelemetryExecutionContext.java
  service-base/src/main/java/org/eclipse/hono/service/http/HttpContext.java
Labels: Client, HTTP Adapter, MQTT Adapter

#2242 Fix the static method to extract status code from exceptions
  client/src/main/java/org/eclipse/hono/client/ServiceInvocationException.java
  client/src/test/java/org/eclipse/hono/client/ServiceInvocationExceptionTest.java
Labels: enhancement

#2241 Fix unit test
  services/device-registry-base/src/test/java/org/eclipse/hono/service/credentials/AbstractCredentialsServiceTest.java
Labels: Device Registry

#2168 [#2156] Add Hono API client interfaces for protocol adapters
  clients/adapter/pom.xml
  clients/adapter/src/main/java/org/eclipse/hono/adapter/client/command/Command.java
  clients/adapter/src/main/java/org/eclipse/hono/adapter/client/command/CommandConsumer.java
  clients/adapter/src/main/java/org/eclipse/hono/adapter/client/command/CommandResponse.java
  clients/adapter/src/main/java/org/eclipse/hono/adapter/client/command/CommandResponseSender.java
  clients/adapter/src/main/java/org/eclipse/hono/adapter/client/registry/CredentialsClient.java
  clients/adapter/src/main/java/org/eclipse/hono/adapter/client/registry/DeviceRegistrationClient.java
  clients/adapter/src/main/java/org/eclipse/hono/adapter/client/registry/RegistrationAssertion.java
  clients/adapter/src/main/java/org/eclipse/hono/adapter/client/registry/TenantClient.java
  clients/adapter/src/main/java/org/eclipse/hono/adapter/client/telemetry/EventSender.java
  clients/adapter/src/main/java/org/eclipse/hono/adapter/client/telemetry/TelemetrySender.java
  clients/pom.xml
  pom.xml
Labels: Client

#2245 Add missing null checks for arguments
  core/src/main/java/org/eclipse/hono/util/JsonHelper.java
Labels: enhancement

#2159 Add JDBC device registry
  .github/workflows/ci.yml
  .travis.yml
  bom/pom.xml
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/tenant/AbstractTenantManagementService.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/tenant/AbstractTenantService.java
  services/device-registry-jdbc/pom.xml
  services/device-registry-jdbc/src/main/java/org/eclipse/hono/deviceregistry/jdbc/Application.java
  services/device-registry-jdbc/src/main/java/org/eclipse/hono/deviceregistry/jdbc/ApplicationConfig.java
  services/device-registry-jdbc/src/main/java/org/eclipse/hono/deviceregistry/jdbc/Profiles.java
  services/device-registry-jdbc/src/main/java/org/eclipse/hono/deviceregistry/jdbc/config/DeviceServiceProperties.java
  services/device-registry-jdbc/src/main/java/org/eclipse/hono/deviceregistry/jdbc/config/TenantServiceProperties.java
  services/device-registry-jdbc/src/main/java/org/eclipse/hono/deviceregistry/jdbc/impl/CredentialsManagementServiceImpl.java
  services/device-registry-jdbc/src/main/java/org/eclipse/hono/deviceregistry/jdbc/impl/CredentialsServiceImpl.java
  services/device-registry-jdbc/src/main/java/org/eclipse/hono/deviceregistry/jdbc/impl/DeviceManagementServiceImpl.java
  services/device-registry-jdbc/src/main/java/org/eclipse/hono/deviceregistry/jdbc/impl/RegistrationServiceImpl.java
  services/device-registry-jdbc/src/main/java/org/eclipse/hono/deviceregistry/jdbc/impl/Services.java
  services/device-registry-jdbc/src/main/java/org/eclipse/hono/deviceregistry/jdbc/impl/TenantManagementServiceImpl.java
  services/device-registry-jdbc/src/main/java/org/eclipse/hono/deviceregistry/jdbc/impl/TenantServiceImpl.java
  services/device-registry-jdbc/src/main/resources/banner.txt
  services/device-registry-jdbc/src/main/resources/logback-spring.xml
  services/device-registry-jdbc/src/test/java/org/eclipse/hono/deviceregistry/jdbc/impl/AbstractJdbcRegistryTest.java
  services/device-registry-jdbc/src/test/java/org/eclipse/hono/deviceregistry/jdbc/impl/JdbcBasedCredentialsServiceTest.java
  services/device-registry-jdbc/src/test/java/org/eclipse/hono/deviceregistry/jdbc/impl/JdbcBasedDeviceManagementSearchDevicesTest.java
  services/device-registry-jdbc/src/test/java/org/eclipse/hono/deviceregistry/jdbc/impl/JdbcBasedRegistrationServiceTest.java
  services/device-registry-jdbc/src/test/java/org/eclipse/hono/deviceregistry/jdbc/impl/JdbcBasedTenantServiceTest.java
  services/device-registry-jdbc/src/test/java/org/eclipse/hono/deviceregistry/jdbc/impl/RegistryServiceTest.java
  services/device-registry-jdbc/src/test/java/org/eclipse/hono/deviceregistry/jdbc/impl/ResolveGroupsTest.java
  services/device-registry-jdbc/src/test/java/org/eclipse/hono/deviceregistry/jdbc/impl/TenantServiceTest.java
  services/device-registry-jdbc/src/test/resources/logback-test.xml
  services/pom.xml
  site/documentation/content/admin-guide/jdbc-device-registry-config.md
  tests/pom.xml
Labels: JDBC Device Registry

#2235 [#2234] Reject command message with unsupported body section
  client/src/main/java/org/eclipse/hono/client/Command.java
  client/src/test/java/org/eclipse/hono/client/CommandTest.java
  clients/adapter/src/main/java/org/eclipse/hono/adapter/client/command/Command.java
  core/src/main/java/org/eclipse/hono/util/MessageHelper.java
  core/src/test/java/org/eclipse/hono/util/MessageHelperTest.java
Labels: C&C, bug

#2248 Fix retrieval of valid secrets by filtering out disabled secrets
  core/src/main/java/org/eclipse/hono/util/CredentialsObject.java
  core/src/test/java/org/eclipse/hono/util/CredentialsObjectTest.java
  site/homepage/content/release-notes.md
Labels: bug

#2249 Add test-utils module
  adapters/amqp-vertx/src/test/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapterTest.java
  adapters/coap-vertx-base/src/test/java/org/eclipse/hono/adapter/coap/AbstractVertxBasedCoapAdapterTest.java
  adapters/http-vertx-base/src/test/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapterTest.java
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapterTest.java
  adapters/pom.xml
  bom/pom.xml
  pom.xml
  service-base/src/test/java/org/eclipse/hono/service/AbstractProtocolAdapterBaseTest.java
  test-utils/pom.xml
  test-utils/service-base-test-utils/pom.xml
  test-utils/service-base-test-utils/src/main/java/org/eclipse/hono/service/test/ProtocolAdapterTestSupport.java
Labels: enhancement

#2252 Fix Hono CI build by encoding unsafe characters while creating URI
  services/base-jdbc/src/main/java/org/eclipse/hono/service/base/jdbc/store/SQL.java
Labels: JDBC Device Registry, bug

#2253 [#2252] Fix error while creating URI by encoding unsafe characters
  services/base-jdbc/src/main/java/org/eclipse/hono/service/base/jdbc/store/SQL.java
Labels: JDBC Device Registry, bug

#2251 [#2244] Skip sendDisconnectedTtdEvent if consumer not mapped
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapter.java
  adapters/amqp-vertx/src/test/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapterTest.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/AbstractVertxBasedCoapAdapter.java
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapter.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/CommandSubscriptionsManager.java
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapterTest.java
  client/src/main/java/org/eclipse/hono/client/DeviceConnectionClient.java
  client/src/main/java/org/eclipse/hono/client/ProtocolAdapterCommandConsumer.java
  client/src/main/java/org/eclipse/hono/client/impl/AdapterInstanceCommandHandler.java
  client/src/main/java/org/eclipse/hono/client/impl/CommandHandlerWrapper.java
  client/src/main/java/org/eclipse/hono/client/impl/ProtocolAdapterCommandConsumerFactoryImpl.java
  core/src/main/java/org/eclipse/hono/util/Pair.java
  core/src/test/java/org/eclipse/hono/util/PairTest.java
Labels: AMQP Adapter, C&C, MQTT Adapter, bug

#2256 Use void future in client removeCommandHandlingAdapterInstance()
  client-device-connection-infinispan/src/main/java/org/eclipse/hono/deviceconnection/infinispan/client/CacheBasedDeviceConnectionClient.java
  client-device-connection-infinispan/src/main/java/org/eclipse/hono/deviceconnection/infinispan/client/CacheBasedDeviceConnectionInfo.java
  client-device-connection-infinispan/src/main/java/org/eclipse/hono/deviceconnection/infinispan/client/DeviceConnectionInfo.java
  client-device-connection-infinispan/src/test/java/org/eclipse/hono/deviceconnection/infinispan/client/CacheBasedDeviceConnectionInfoTest.java
  client/src/main/java/org/eclipse/hono/client/DeviceConnectionClient.java
  client/src/main/java/org/eclipse/hono/client/impl/DeviceConnectionClientImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/ProtocolAdapterCommandConsumerFactoryImpl.java
  client/src/test/java/org/eclipse/hono/client/impl/DeviceConnectionClientImplTest.java
  client/src/test/java/org/eclipse/hono/client/impl/ProtocolAdapterCommandConsumerFactoryImplTest.java
  services/device-connection/src/main/java/org/eclipse/hono/deviceconnection/infinispan/CacheBasedDeviceConnectionService.java
  services/device-connection/src/test/java/org/eclipse/hono/deviceconnection/infinispan/CacheBasedDeviceConnectionServiceTest.java
  tests/src/test/java/org/eclipse/hono/tests/jms/JmsBasedDeviceConnectionClient.java
  tests/src/test/java/org/eclipse/hono/tests/registry/DeviceConnectionApiTests.java
Labels: C&C, Client, Device Connection

#2259 Make tenant ID property mandatory
  core/src/main/java/org/eclipse/hono/util/TenantObject.java
  core/src/test/java/org/eclipse/hono/util/TenantObjectTest.java
  service-base/src/test/java/org/eclipse/hono/service/auth/device/TenantServiceBasedX509AuthenticationTest.java
  service-base/src/test/java/org/eclipse/hono/service/monitoring/HonoEventConnectionEventProducerTest.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/tenant/NoopTenantService.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/util/DeviceRegistryUtils.java
Labels: enhancement

#2266 [#2115] Fix wrong exception if tenant not found in PreCredentialsValidationHandler
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapter.java
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapter.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
  service-base/src/main/java/org/eclipse/hono/service/auth/device/CredentialsApiAuthProvider.java
  tests/src/test/java/org/eclipse/hono/tests/amqp/AmqpConnectionIT.java
  tests/src/test/java/org/eclipse/hono/tests/http/HttpTestBase.java
  tests/src/test/java/org/eclipse/hono/tests/mqtt/MqttConnectionIT.java
Labels: bug

#2189 [#1960] Implementing status property for device registrations.
  services/base-jdbc/src/main/java/org/eclipse/hono/service/base/jdbc/store/device/TableManagementStore.java
  services/base-jdbc/src/main/java/org/eclipse/hono/service/base/jdbc/store/model/JdbcBasedDeviceDto.java
  services/base-jdbc/src/main/resources/org/eclipse/hono/service/base/jdbc/store/device/base.postgresql.sql.yaml
  services/base-jdbc/src/main/resources/org/eclipse/hono/service/base/jdbc/store/device/base.sql.yaml
  services/base-jdbc/src/main/sql/h2/create.devices.sql
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/BaseDto.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/device/Device.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/device/DeviceDto.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/device/Status.java
  services/device-registry-base/src/test/java/org/eclipse/hono/service/management/device/DeviceTest.java
  services/device-registry-base/src/test/java/org/eclipse/hono/service/management/device/StatusTest.java
  services/device-registry-base/src/test/java/org/eclipse/hono/service/registration/RegistrationServiceTests.java
  services/device-registry-file/src/main/java/org/eclipse/hono/deviceregistry/file/FileBasedRegistrationService.java
  services/device-registry-file/src/test/java/org/eclipse/hono/deviceregistry/file/FileBasedRegistrationServiceTest.java
  services/device-registry-file/src/test/resources/device-identities.json
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/model/BaseDto.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/model/CredentialsDto.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/model/DeviceDto.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/model/MongoDbBasedDeviceDto.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/model/TenantDto.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedCredentialsService.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedRegistrationService.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedTenantService.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/utils/MongoDbDeviceRegistryUtils.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/utils/MongoDbDocumentBuilder.java
  services/device-registry-mongodb/src/test/java/org/eclipse/hono/deviceregistry/mongodb/model/CredentialsDtoTest.java
  services/device-registry-mongodb/src/test/java/org/eclipse/hono/deviceregistry/mongodb/utils/MongoDbDocumentBuilderTest.java
Labels: Device Registry, JDBC Device Registry, MongoDB Device Registry

#2263 [#2258] Specify the content-type of a telemetry/event message via MQTT property bag
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/MqttContext.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/PropertyBag.java
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/MqttContextTest.java
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/PropertyBagTest.java
  site/documentation/content/user-guide/mqtt-adapter.md
  site/homepage/content/release-notes.md
Labels: MQTT Adapter, enhancement

#2271 Fix javadoc in TelmetrySender and EventSender
  clients/adapter-amqp/src/main/java/org/eclipse/hono/adapter/client/amqp/SenderCachingServiceClient.java
  clients/adapter/src/main/java/org/eclipse/hono/adapter/client/telemetry/EventSender.java
  clients/adapter/src/main/java/org/eclipse/hono/adapter/client/telemetry/TelemetrySender.java
Labels: enhancement

#2270 [#2260] Check if adapter enabled for tenant earlier on
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapter.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
  core/src/main/java/org/eclipse/hono/util/TenantObject.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractProtocolAdapterBase.java
  service-base/src/main/java/org/eclipse/hono/service/http/AuthHandlerTools.java
Labels: enhancement

#2275 Create downstream message from properties gathered from context
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/impl/AmqpContext.java
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapter.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/AbstractVertxBasedCoapAdapter.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/CoapContext.java
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapter.java
  adapters/http-vertx-base/src/test/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapterTest.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/impl/LoraProtocolAdapter.java
  adapters/lora-vertx/src/test/java/org/eclipse/hono/adapter/lora/impl/LoraProtocolAdapterTest.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/MqttContext.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/PropertyBag.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/impl/VertxBasedMqttProtocolAdapter.java
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/PropertyBagTest.java
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/impl/HttpBasedMessageMappingTest.java
  adapters/sigfox-vertx/src/main/java/org/eclipse/hono/adapter/sigfox/impl/SigfoxProtocolAdapter.java
  core/src/main/java/org/eclipse/hono/util/TelemetryExecutionContext.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractProtocolAdapterBase.java
  service-base/src/main/java/org/eclipse/hono/service/http/HttpContext.java
  service-base/src/test/java/org/eclipse/hono/service/AbstractProtocolAdapterBaseTest.java
  service-base/src/test/java/org/eclipse/hono/service/http/HttpContextTest.java
  test-utils/service-base-test-utils/pom.xml
  test-utils/service-base-test-utils/src/main/java/org/eclipse/hono/service/test/ProtocolAdapterTestSupport.java
Labels: Client
