Repository eclipse-hono/hono, pull requests merged in 2020-11, with the labels that each got.

#2276 [#2267] Add AMQP 1.0 based Telemetry/EventSender implementation
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapter.java
  adapters/amqp-vertx/src/test/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapterTest.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/AbstractVertxBasedCoapAdapter.java
  adapters/coap-vertx-base/src/test/java/org/eclipse/hono/adapter/coap/AbstractVertxBasedCoapAdapterTest.java
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapter.java
  adapters/http-vertx-base/src/test/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapterTest.java
  adapters/http-vertx-quarkus/src/main/java/org/eclipse/hono/adapter/http/quarkus/Application.java
  adapters/lora-vertx/src/test/java/org/eclipse/hono/adapter/lora/impl/LoraProtocolAdapterTest.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapterTest.java
  adapters/mqtt-vertx-quarkus/src/main/java/org/eclipse/hono/adapter/mqtt/quarkus/Application.java
  bom/pom.xml
  clients/adapter-amqp/src/main/java/org/eclipse/hono/adapter/client/telemetry/amqp/ProtonBasedDownstreamSender.java
  service-base/pom.xml
  service-base/src/main/java/org/eclipse/hono/service/AbstractAdapterConfig.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractProtocolAdapterBase.java
  service-base/src/main/java/org/eclipse/hono/service/monitoring/AbstractMessageSenderConnectionEventProducer.java
  service-base/src/main/java/org/eclipse/hono/service/monitoring/ConnectionEventProducer.java
  service-base/src/main/java/org/eclipse/hono/service/monitoring/HonoEventConnectionEventProducer.java
  service-base/src/test/java/org/eclipse/hono/service/AbstractProtocolAdapterBaseTest.java
  service-base/src/test/java/org/eclipse/hono/service/monitoring/HonoEventConnectionEventProducerTest.java
  test-utils/service-base-test-utils/src/main/java/org/eclipse/hono/service/test/ProtocolAdapterTestSupport.java
Labels: Client

#2269 Remove obsolete code
  core/src/main/java/org/eclipse/hono/util/Constants.java
  service-base/src/main/java/org/eclipse/hono/service/amqp/AmqpServiceBase.java
  service-base/src/test/java/org/eclipse/hono/service/amqp/AmqpServiceBaseTest.java
  services/auth/src/main/java/org/eclipse/hono/service/auth/impl/SimpleAuthenticationServer.java
Labels: enhancement

#2277 [#2267] Add AMQP 1.0 based TenantClient implementation
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapter.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/AbstractVertxBasedCoapAdapter.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/DefaultDeviceResolver.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/TracingSupportingHonoResource.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/impl/VertxBasedCoapAdapter.java
  adapters/coap-vertx-base/src/test/java/org/eclipse/hono/adapter/coap/AbstractVertxBasedCoapAdapterTest.java
  adapters/coap-vertx-base/src/test/java/org/eclipse/hono/adapter/coap/TracingSupportingHonoResourceTest.java
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/impl/VertxBasedHttpProtocolAdapter.java
  adapters/http-vertx-quarkus/src/main/java/org/eclipse/hono/adapter/http/quarkus/Application.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/impl/LoraProtocolAdapter.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
  adapters/mqtt-vertx-quarkus/src/main/java/org/eclipse/hono/adapter/mqtt/quarkus/Application.java
  clients/adapter-amqp/src/main/java/org/eclipse/hono/adapter/client/amqp/AbstractServiceClient.java
  clients/adapter-amqp/src/main/java/org/eclipse/hono/adapter/client/registry/amqp/AbstractRequestResponseClient.java
  clients/adapter-amqp/src/main/java/org/eclipse/hono/adapter/client/registry/amqp/ProtonBasedTenantClient.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractAdapterConfig.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractProtocolAdapterBase.java
  service-base/src/main/java/org/eclipse/hono/service/auth/device/TenantServiceBasedX509Authentication.java
  service-base/src/main/java/org/eclipse/hono/service/monitoring/AbstractMessageSenderConnectionEventProducer.java
  service-base/src/main/java/org/eclipse/hono/service/monitoring/ConnectionEventProducer.java
  service-base/src/test/java/org/eclipse/hono/service/AbstractProtocolAdapterBaseTest.java
  service-base/src/test/java/org/eclipse/hono/service/auth/device/TenantServiceBasedX509AuthenticationTest.java
  service-base/src/test/java/org/eclipse/hono/service/monitoring/HonoEventConnectionEventProducerTest.java
  test-utils/service-base-test-utils/src/main/java/org/eclipse/hono/service/test/ProtocolAdapterTestSupport.java
Labels: Client

#2278 [#2267] Add AMQP 1.0 based DeviceRegistrationClient implementation
  adapters/amqp-vertx/src/test/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapterTest.java
  adapters/coap-vertx-base/src/test/java/org/eclipse/hono/adapter/coap/AbstractVertxBasedCoapAdapterTest.java
  adapters/http-vertx-base/src/test/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapterTest.java
  adapters/http-vertx-base/src/test/java/org/eclipse/hono/adapter/http/impl/VertxBasedHttpProtocolAdapterTest.java
  adapters/http-vertx-quarkus/src/main/java/org/eclipse/hono/adapter/http/quarkus/Application.java
  adapters/lora-vertx/src/test/java/org/eclipse/hono/adapter/lora/impl/LoraProtocolAdapterTest.java
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapterTest.java
  adapters/mqtt-vertx-quarkus/src/main/java/org/eclipse/hono/adapter/mqtt/quarkus/Application.java
  client/src/main/java/org/eclipse/hono/client/CommandTargetMapper.java
  client/src/main/java/org/eclipse/hono/client/impl/CommandTargetMapperImpl.java
  client/src/test/java/org/eclipse/hono/client/impl/CommandTargetMapperImplTest.java
  clients/adapter-amqp/src/main/java/org/eclipse/hono/adapter/client/registry/amqp/ProtonBasedDeviceRegistrationClient.java
  clients/adapter/src/main/java/org/eclipse/hono/adapter/client/registry/DeviceRegistrationClient.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractAdapterConfig.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractProtocolAdapterBase.java
  service-base/src/test/java/org/eclipse/hono/service/AbstractProtocolAdapterBaseTest.java
  test-utils/service-base-test-utils/src/main/java/org/eclipse/hono/service/test/ProtocolAdapterTestSupport.java
Labels: Client

#2281 Use Maven profile for running Quarkus based adapters in ITs
  adapters/base-quarkus/pom.xml
  adapters/http-vertx-quarkus/src/main/docker/Dockerfile.jvm
  adapters/http-vertx-quarkus/src/main/java/org/eclipse/hono/adapter/http/quarkus/MetricsFactory.java
  adapters/mqtt-vertx-quarkus/src/main/docker/Dockerfile.jvm
  adapters/mqtt-vertx-quarkus/src/main/java/org/eclipse/hono/adapter/mqtt/quarkus/Application.java
  adapters/mqtt-vertx-quarkus/src/main/java/org/eclipse/hono/adapter/mqtt/quarkus/MetricsFactory.java
  bom/pom.xml
  service-base-quarkus/pom.xml
  tests/pom.xml
  tests/readme.md
  tests/src/test/resources/http/application.yml
  tests/src/test/resources/mqtt/application.yml
Labels: HTTP Adapter, MQTT Adapter, build system

#2284 [#2267] Add AMQP 1.0 based CredentialsClient implementation
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapter.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/AbstractVertxBasedCoapAdapter.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/DefaultDeviceResolver.java
  adapters/coap-vertx-base/src/test/java/org/eclipse/hono/adapter/coap/AbstractVertxBasedCoapAdapterTest.java
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/impl/VertxBasedHttpProtocolAdapter.java
  adapters/http-vertx-quarkus/src/main/java/org/eclipse/hono/adapter/http/quarkus/Application.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/impl/LoraProtocolAdapter.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
  adapters/mqtt-vertx-quarkus/src/main/java/org/eclipse/hono/adapter/mqtt/quarkus/Application.java
  adapters/sigfox-vertx/src/main/java/org/eclipse/hono/adapter/sigfox/impl/SigfoxProtocolAdapter.java
  clients/adapter-amqp/src/main/java/org/eclipse/hono/adapter/client/registry/amqp/ProtonBasedCredentialsClient.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractAdapterConfig.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractProtocolAdapterBase.java
  service-base/src/main/java/org/eclipse/hono/service/auth/device/CredentialsApiAuthProvider.java
  service-base/src/main/java/org/eclipse/hono/service/auth/device/UsernamePasswordAuthProvider.java
  service-base/src/main/java/org/eclipse/hono/service/auth/device/X509AuthProvider.java
  service-base/src/test/java/org/eclipse/hono/service/AbstractProtocolAdapterBaseTest.java
  service-base/src/test/java/org/eclipse/hono/service/auth/device/CredentialsApiAuthProviderTest.java
  service-base/src/test/java/org/eclipse/hono/service/auth/device/UsernamePasswordAuthProviderTest.java
  service-base/src/test/java/org/eclipse/hono/service/auth/device/X509AuthProviderTest.java
  test-utils/service-base-test-utils/src/main/java/org/eclipse/hono/service/test/ProtocolAdapterTestSupport.java
Labels: Client

#2285 [#2267] Decouple command consumer from device connection client factory
  client/src/main/java/org/eclipse/hono/client/ProtocolAdapterCommandConsumerFactory.java
  client/src/main/java/org/eclipse/hono/client/impl/ProtocolAdapterCommandConsumerFactoryImpl.java
  client/src/test/java/org/eclipse/hono/client/impl/ProtocolAdapterCommandConsumerFactoryImplTest.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractProtocolAdapterBase.java
Labels: Client

#2286 [#2267] Add AMQP 1.0 based DeviceConnectionClient implementation
  adapters/base-spring/pom.xml
  adapters/coap-vertx-base/src/test/java/org/eclipse/hono/adapter/coap/AbstractVertxBasedCoapAdapterTest.java
  adapters/http-vertx-quarkus/src/main/java/org/eclipse/hono/adapter/http/quarkus/Application.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapterTest.java
  adapters/mqtt-vertx-quarkus/src/main/java/org/eclipse/hono/adapter/mqtt/quarkus/Application.java
  adapters/pom.xml
  client-device-connection-infinispan/pom.xml
  client-device-connection-infinispan/src/main/java/org/eclipse/hono/deviceconnection/infinispan/client/BasicCache.java
  client-device-connection-infinispan/src/main/java/org/eclipse/hono/deviceconnection/infinispan/client/CacheBasedDeviceConnectionClient.java
  client-device-connection-infinispan/src/main/java/org/eclipse/hono/deviceconnection/infinispan/client/CacheBasedDeviceConnectionClientFactory.java
  client-device-connection-infinispan/src/main/java/org/eclipse/hono/deviceconnection/infinispan/client/CacheBasedDeviceConnectionInfo.java
  client-device-connection-infinispan/src/main/java/org/eclipse/hono/deviceconnection/infinispan/client/EmbeddedCache.java
  client-device-connection-infinispan/src/main/java/org/eclipse/hono/deviceconnection/infinispan/client/HotrodCacheConfig.java
  client-device-connection-infinispan/src/test/java/org/eclipse/hono/deviceconnection/infinispan/client/AbstractBasicCacheTest.java
  client-device-connection-infinispan/src/test/java/org/eclipse/hono/deviceconnection/infinispan/client/CacheBasedDeviceConnectionInfoTest.java
  clients/adapter-amqp/src/main/java/org/eclipse/hono/adapter/client/amqp/AbstractRequestResponseClient.java
  clients/adapter-amqp/src/main/java/org/eclipse/hono/adapter/client/command/amqp/ProtonBasedDeviceConnectionClient.java
  clients/adapter-amqp/src/main/java/org/eclipse/hono/adapter/client/registry/amqp/ProtonBasedCredentialsClient.java
  clients/adapter-amqp/src/main/java/org/eclipse/hono/adapter/client/registry/amqp/ProtonBasedDeviceRegistrationClient.java
  clients/adapter-amqp/src/main/java/org/eclipse/hono/adapter/client/registry/amqp/ProtonBasedTenantClient.java
  clients/adapter/src/main/java/org/eclipse/hono/adapter/client/command/DeviceConnectionClient.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractAdapterConfig.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractProtocolAdapterBase.java
  service-base/src/test/java/org/eclipse/hono/service/AbstractProtocolAdapterBaseTest.java
  services/device-connection/src/main/java/org/eclipse/hono/deviceconnection/infinispan/CacheBasedDeviceConnectionService.java
  services/pom.xml
  test-utils/service-base-test-utils/src/main/java/org/eclipse/hono/service/test/ProtocolAdapterTestSupport.java
Labels: Client

#2290 Add MockSupport classes in core-test-utils
  client-device-connection-infinispan/pom.xml
  client-device-connection-infinispan/src/test/java/org/eclipse/hono/deviceconnection/infinispan/client/CacheBasedDeviceConnectionInfoTest.java
  client/pom.xml
  client/src/test/java/org/eclipse/hono/client/AbstractAmqpAdapterClientDownstreamSenderTestBase.java
  client/src/test/java/org/eclipse/hono/client/CommandTest.java
  client/src/test/java/org/eclipse/hono/client/device/amqp/internal/AmqpAdapterClientCommandConsumerTest.java
  client/src/test/java/org/eclipse/hono/client/impl/AbstractRequestResponseClientTest.java
  client/src/test/java/org/eclipse/hono/client/impl/AbstractSenderTest.java
  client/src/test/java/org/eclipse/hono/client/impl/AbstractTenantTimeoutRelatedClientFactoryTest.java
  client/src/test/java/org/eclipse/hono/client/impl/AdapterInstanceCommandHandlerTest.java
  client/src/test/java/org/eclipse/hono/client/impl/CachingClientFactoryTest.java
  client/src/test/java/org/eclipse/hono/client/impl/CommandClientImplTest.java
  client/src/test/java/org/eclipse/hono/client/impl/CommandTargetMapperImplTest.java
  client/src/test/java/org/eclipse/hono/client/impl/CredentialsClientImplTest.java
  client/src/test/java/org/eclipse/hono/client/impl/DeviceConnectionClientImplTest.java
  client/src/test/java/org/eclipse/hono/client/impl/DownstreamSenderFactoryImplTest.java
  client/src/test/java/org/eclipse/hono/client/impl/EventConsumerImplTest.java
  client/src/test/java/org/eclipse/hono/client/impl/EventSenderImplTest.java
  client/src/test/java/org/eclipse/hono/client/impl/HonoClientUnitTestHelper.java
  client/src/test/java/org/eclipse/hono/client/impl/HonoConnectionImplTest.java
  client/src/test/java/org/eclipse/hono/client/impl/MappingAndDelegatingCommandHandlerTest.java
  client/src/test/java/org/eclipse/hono/client/impl/ProtocolAdapterCommandConsumerFactoryImplTest.java
  client/src/test/java/org/eclipse/hono/client/impl/RegistrationClientImplTest.java
  client/src/test/java/org/eclipse/hono/client/impl/TelemetrySenderImplTest.java
  client/src/test/java/org/eclipse/hono/client/impl/TenantClientImplTest.java
  test-utils/core-test-utils/pom.xml
  test-utils/core-test-utils/src/main/java/org/eclipse/hono/test/TracingMockSupport.java
  test-utils/core-test-utils/src/main/java/org/eclipse/hono/test/VertxMockSupport.java
  test-utils/service-base-test-utils/pom.xml
Labels: enhancement

#2280 [#2029] Add Command Router API specification
  site/documentation/content/api/command-router/index.md
  site/documentation/content/api/command-router/preconditions.svg
  site/documentation/content/api/command-router/register_cmd_consumer.svg
  site/documentation/content/api/command-router/set_last_known_gateway_success.svg
  site/documentation/content/api/command-router/unregister_cmd_consumer.svg
Labels: C&C, enhancement

#2289 Reduce code duplication in Quarkus based adapters
  adapters/http-vertx-quarkus/src/main/java/org/eclipse/hono/adapter/http/quarkus/Application.java
  adapters/http-vertx-quarkus/src/main/java/org/eclipse/hono/adapter/http/quarkus/HonoConfig.java
  adapters/http-vertx-quarkus/src/main/java/org/eclipse/hono/adapter/http/quarkus/MetricsFactory.java
  adapters/http-vertx-quarkus/src/main/java/org/eclipse/hono/adapter/http/quarkus/QuarkusHttpProtocolAdapterProperties.java
  adapters/mqtt-vertx-quarkus/src/main/java/org/eclipse/hono/adapter/mqtt/quarkus/Application.java
  adapters/mqtt-vertx-quarkus/src/main/java/org/eclipse/hono/adapter/mqtt/quarkus/MetricsFactory.java
  adapters/mqtt-vertx-quarkus/src/main/java/org/eclipse/hono/adapter/mqtt/quarkus/QuarkusMqttProtocolAdapterProperties.java
  adapters/mqtt-vertx-quarkus/src/main/java/org/eclipse/hono/adapter/mqtt/quarkus/ResourceLimitChecksFactory.java
  service-base-quarkus/src/main/java/org/eclipse/hono/service/quarkus/AbstractProtocolAdapterApplication.java
  service-base-quarkus/src/main/java/org/eclipse/hono/service/quarkus/ProtocolAdapterConfig.java
  service-base-quarkus/src/main/java/org/eclipse/hono/service/quarkus/metric/HealthCheckServerResourceProducer.java
  service-base-quarkus/src/main/java/org/eclipse/hono/service/quarkus/metric/MeterRegistryProducer.java
  service-base-quarkus/src/main/java/org/eclipse/hono/service/quarkus/resourcelimits/ResourceLimitChecksProducer.java
  service-base/src/main/java/org/eclipse/hono/service/cache/CaffeineBasedExpiringValueCache.java
Labels: HTTP Adapter, MQTT Adapter

#2293 [#2029] Add Command Router client
  clients/adapter-amqp/pom.xml
  clients/adapter-amqp/src/main/java/org/eclipse/hono/adapter/client/command/amqp/ProtonBasedCommandRouterClient.java
  clients/adapter-amqp/src/main/java/org/eclipse/hono/adapter/client/command/amqp/ProtonBasedTenantCommandRouterClient.java
  clients/adapter-amqp/src/test/java/org/eclipse/hono/adapter/client/command/amqp/ProtonBasedTenantCommandRouterClientTest.java
  clients/adapter-amqp/src/test/resources/logback-test.xml
  clients/adapter/src/main/java/org/eclipse/hono/adapter/client/command/CommandRouterClient.java
  core/src/main/java/org/eclipse/hono/util/CommandRouterConstants.java
  core/src/main/java/org/eclipse/hono/util/Constants.java
Labels: C&C, Client, enhancement

#2297 [#2267] Do not use Spring autowiring for adapters anymore
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/MicrometerBasedAmqpAdapterMetrics.java
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/impl/Config.java
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapter.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/AbstractVertxBasedCoapAdapter.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/MicrometerBasedCoapAdapterMetrics.java
  adapters/coap-vertx-base/src/test/java/org/eclipse/hono/adapter/coap/AbstractVertxBasedCoapAdapterTest.java
  adapters/coap-vertx/src/main/java/org/eclipse/hono/adapter/coap/impl/Config.java
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapter.java
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/MicrometerBasedHttpAdapterMetrics.java
  adapters/http-vertx-quarkus/src/main/java/org/eclipse/hono/adapter/http/quarkus/Application.java
  adapters/http-vertx/src/main/java/org/eclipse/hono/adapter/http/impl/Config.java
  adapters/kura/src/main/java/org/eclipse/hono/adapter/kura/impl/Config.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/impl/Config.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/impl/LoraProtocolAdapter.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/MicrometerBasedMqttAdapterMetrics.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/impl/VertxBasedMqttProtocolAdapter.java
  adapters/mqtt-vertx-quarkus/src/main/java/org/eclipse/hono/adapter/mqtt/quarkus/Application.java
  adapters/mqtt-vertx/src/main/java/org/eclipse/hono/adapter/mqtt/impl/Config.java
  adapters/sigfox-vertx/src/main/java/org/eclipse/hono/adapter/sigfox/impl/Config.java
  service-base-quarkus/src/main/java/org/eclipse/hono/service/quarkus/AbstractProtocolAdapterApplication.java
  service-base-quarkus/src/main/java/org/eclipse/hono/service/quarkus/ProtocolAdapterConfig.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractAdapterConfig.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractProtocolAdapterBase.java
  service-base/src/main/java/org/eclipse/hono/service/monitoring/ConnectionEventProducerConfig.java
  service-base/src/test/java/org/eclipse/hono/service/AbstractProtocolAdapterBaseTest.java
  test-utils/service-base-test-utils/src/main/java/org/eclipse/hono/service/test/ProtocolAdapterTestSupport.java
Labels: AMQP Adapter, CoAP Adapter, HTTP Adapter, LoRa Adapter, MQTT Adapter, SigFox Adapter

#2287 [#2053] Adding registry-internal auto-provisioning properties to devi…
  core/src/main/java/org/eclipse/hono/util/RegistryManagementConstants.java
  services/base-jdbc/src/main/java/org/eclipse/hono/service/base/jdbc/store/device/TableManagementStore.java
  services/base-jdbc/src/main/java/org/eclipse/hono/service/base/jdbc/store/model/JdbcBasedDeviceDto.java
  services/base-jdbc/src/main/resources/org/eclipse/hono/service/base/jdbc/store/device/base.postgresql.sql.yaml
  services/base-jdbc/src/main/resources/org/eclipse/hono/service/base/jdbc/store/device/base.sql.yaml
  services/base-jdbc/src/main/sql/h2/create.devices.sql
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/device/Device.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/device/DeviceDto.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/device/DeviceStatus.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/device/Status.java
  services/device-registry-base/src/test/java/org/eclipse/hono/service/management/device/DeviceTest.java
  services/device-registry-base/src/test/java/org/eclipse/hono/service/registration/RegistrationServiceTests.java
  services/device-registry-file/src/main/java/org/eclipse/hono/deviceregistry/file/FileBasedRegistrationService.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/model/MongoDbBasedDeviceDto.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedRegistrationService.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/utils/MongoDbDeviceRegistryUtils.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/utils/MongoDbDocumentBuilder.java
Labels: Device Registry, JDBC Device Registry, MongoDB Device Registry

#2302 [#2029] Refactor CommandConsumerFactory in the Command Router
  services/command-router/src/main/java/org/eclipse/hono/commandrouter/ApplicationConfig.java
  services/command-router/src/main/java/org/eclipse/hono/commandrouter/CommandConsumerFactory.java
  services/command-router/src/main/java/org/eclipse/hono/commandrouter/impl/CommandRouterServiceImpl.java
  services/command-router/src/main/java/org/eclipse/hono/commandrouter/impl/amqp/ProtonBasedCommandConsumerFactoryImpl.java
Labels: C&C

#2202 [#2197] Remove carousel from adopters list.
  site/homepage/layouts/partials/scripts.html
  site/homepage/static/css/custom.css
Labels: website

#2300 [#2267] Add AMQP 1.0 based CommandConsumerFactory implementation
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapter.java
  adapters/amqp-vertx/src/test/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapterTest.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/AbstractVertxBasedCoapAdapter.java
  adapters/coap-vertx-base/src/test/java/org/eclipse/hono/adapter/coap/AbstractVertxBasedCoapAdapterTest.java
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapter.java
  adapters/http-vertx-base/src/test/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapterTest.java
  adapters/http-vertx-base/src/test/java/org/eclipse/hono/adapter/http/impl/VertxBasedHttpProtocolAdapterTest.java
  adapters/http-vertx/src/main/java/org/eclipse/hono/adapter/http/impl/Config.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/impl/Config.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/CommandSubscriptionsManager.java
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapterTest.java
  adapters/sigfox-vertx/src/main/java/org/eclipse/hono/adapter/sigfox/impl/SigfoxProtocolAdapter.java
  client-device-connection-infinispan/src/main/java/org/eclipse/hono/deviceconnection/infinispan/client/CacheBasedDeviceConnectionClient.java
  clients/adapter-amqp/src/main/java/org/eclipse/hono/adapter/client/command/amqp/ProtonBasedCommand.java
  clients/adapter-amqp/src/main/java/org/eclipse/hono/adapter/client/command/amqp/ProtonBasedCommandConsumerFactory.java
  clients/adapter-amqp/src/main/java/org/eclipse/hono/adapter/client/command/amqp/ProtonBasedCommandResponseSender.java
  clients/adapter-amqp/src/main/java/org/eclipse/hono/adapter/client/command/amqp/ProtonBasedDeviceConnectionClient.java
  clients/adapter/src/main/java/org/eclipse/hono/adapter/client/command/Command.java
  clients/adapter/src/main/java/org/eclipse/hono/adapter/client/command/CommandConsumer.java
  clients/adapter/src/main/java/org/eclipse/hono/adapter/client/command/CommandConsumerFactory.java
  clients/adapter/src/main/java/org/eclipse/hono/adapter/client/command/CommandContext.java
  clients/adapter/src/main/java/org/eclipse/hono/adapter/client/command/CommandResponse.java
  clients/adapter/src/main/java/org/eclipse/hono/adapter/client/command/Commands.java
  clients/adapter/src/main/java/org/eclipse/hono/adapter/client/command/DeviceConnectionClientAdapter.java
  service-base-quarkus/src/main/java/org/eclipse/hono/service/quarkus/AbstractProtocolAdapterApplication.java
  service-base-quarkus/src/main/java/org/eclipse/hono/service/quarkus/ProtocolAdapterConfig.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractAdapterConfig.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractProtocolAdapterBase.java
  service-base/src/test/java/org/eclipse/hono/service/AbstractProtocolAdapterBaseTest.java
  test-utils/service-base-test-utils/src/main/java/org/eclipse/hono/service/test/ProtocolAdapterTestSupport.java
Labels: Client

#2313 Fix tracing for Quarkus based adapters
  client/src/main/java/org/eclipse/hono/client/HonoConnection.java
  client/src/main/java/org/eclipse/hono/client/impl/AsyncCommandClientImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/DelegatedCommandSenderImpl.java
  service-base-quarkus/src/main/java/org/eclipse/hono/service/quarkus/AbstractProtocolAdapterApplication.java
Labels: Tracing, bug

#2299 [#2288] Fixing device level QoS forwarding of events for HTTP adapter.
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapter.java
  core/src/main/java/org/eclipse/hono/util/MessageHelper.java
  site/homepage/content/release-notes.md
  tests/src/test/java/org/eclipse/hono/tests/amqp/AmqpUploadTestBase.java
  tests/src/test/java/org/eclipse/hono/tests/coap/CoapTestBase.java
  tests/src/test/java/org/eclipse/hono/tests/coap/TelemetryCoapIT.java
  tests/src/test/java/org/eclipse/hono/tests/http/EventHttpIT.java
  tests/src/test/java/org/eclipse/hono/tests/http/HttpTestBase.java
  tests/src/test/java/org/eclipse/hono/tests/http/TelemetryHttpIT.java
  tests/src/test/java/org/eclipse/hono/tests/mqtt/EventMqttIT.java
  tests/src/test/java/org/eclipse/hono/tests/mqtt/MqttPublishTestBase.java
  tests/src/test/java/org/eclipse/hono/tests/mqtt/TelemetryMqttQoS0IT.java
  tests/src/test/java/org/eclipse/hono/tests/mqtt/TelemetryMqttQoS1IT.java
Labels: HTTP Adapter

#2304 #2301 auto provisioning status properties integration tests
  services/base-jdbc/src/main/java/org/eclipse/hono/service/base/jdbc/store/device/TableManagementStore.java
  services/base-jdbc/src/main/java/org/eclipse/hono/service/base/jdbc/store/model/JdbcBasedDeviceDto.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/device/DeviceDto.java
  services/device-registry-file/src/main/java/org/eclipse/hono/deviceregistry/file/FileBasedRegistrationService.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/model/MongoDbBasedDeviceDto.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedRegistrationService.java
  site/documentation/content/api/management/device-registry-v1.yaml
  tests/src/test/java/org/eclipse/hono/tests/registry/DeviceManagementIT.java
Labels: Device Registry, JDBC Device Registry, MongoDB Device Registry

#2321 tenantAdapterStore should use tenantsProperties().getAdapter()
  legal/src/main/resources/legal/NOTICE.md
  services/device-registry-jdbc/src/main/java/org/eclipse/hono/deviceregistry/jdbc/ApplicationConfig.java
Labels: JDBC Device Registry, bug

#2318 Support using Device Connection cache client with Quarkus adapters
  adapters/base-quarkus/pom.xml
  adapters/http-vertx-quarkus/src/main/resources/application.yml
  adapters/http-vertx-quarkus/src/main/resources/logback.xml
  adapters/mqtt-vertx-quarkus/src/main/resources/application.yml
  adapters/mqtt-vertx-quarkus/src/main/resources/logback.xml
  client-device-connection-infinispan/pom.xml
  client-device-connection-infinispan/src/main/java/org/eclipse/hono/deviceconnection/infinispan/client/InfinispanRemoteConfigurationProperties.java
  client/src/main/java/org/eclipse/hono/client/RequestResponseClientConfigProperties.java
  clients/pom.xml
  pom.xml
  service-base-quarkus/pom.xml
  service-base-quarkus/src/main/java/org/eclipse/hono/deviceconnection/infinispan/client/quarkus/DeviceConnectionCacheConfig.java
  service-base-quarkus/src/main/java/org/eclipse/hono/service/quarkus/AbstractProtocolAdapterApplication.java
  service-base-quarkus/src/main/java/org/eclipse/hono/service/quarkus/ProtocolAdapterConfig.java
  service-base-quarkus/src/main/resources/application.properties
  service-base/src/main/java/org/eclipse/hono/service/AbstractProtocolAdapterBase.java
  service-base/src/main/java/org/eclipse/hono/service/monitoring/ConnectionEventProducerConfig.java
Labels: Client

#2320 [#2288] Add integration tests verifying forwarding of QoS level in downstream messages
  core/src/main/java/org/eclipse/hono/util/MessageHelper.java
  tests/src/test/java/org/eclipse/hono/tests/amqp/AmqpUploadTestBase.java
  tests/src/test/java/org/eclipse/hono/tests/coap/CoapTestBase.java
  tests/src/test/java/org/eclipse/hono/tests/coap/TelemetryCoapIT.java
  tests/src/test/java/org/eclipse/hono/tests/http/EventHttpIT.java
  tests/src/test/java/org/eclipse/hono/tests/http/HttpTestBase.java
  tests/src/test/java/org/eclipse/hono/tests/http/TelemetryHttpIT.java
  tests/src/test/java/org/eclipse/hono/tests/mqtt/EventMqttIT.java
  tests/src/test/java/org/eclipse/hono/tests/mqtt/MqttPublishTestBase.java
  tests/src/test/java/org/eclipse/hono/tests/mqtt/TelemetryMqttQoS0IT.java
  tests/src/test/java/org/eclipse/hono/tests/mqtt/TelemetryMqttQoS1IT.java
Labels: enhancement

#2322 Include hono-service-device-registry-jdbc image in pushed images
  push_hono_images.sh
Labels: JDBC Device Registry

#2319 [#2288] Fixing device level QoS forwarding of events for HTTP adapter
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapter.java
  core/src/main/java/org/eclipse/hono/util/MessageHelper.java
  site/homepage/content/release-notes.md
  tests/src/test/java/org/eclipse/hono/tests/IntegrationTestSupport.java
  tests/src/test/java/org/eclipse/hono/tests/amqp/AmqpUploadTestBase.java
  tests/src/test/java/org/eclipse/hono/tests/coap/CoapTestBase.java
  tests/src/test/java/org/eclipse/hono/tests/coap/TelemetryCoapIT.java
  tests/src/test/java/org/eclipse/hono/tests/http/EventHttpIT.java
  tests/src/test/java/org/eclipse/hono/tests/http/HttpTestBase.java
  tests/src/test/java/org/eclipse/hono/tests/http/TelemetryHttpIT.java
  tests/src/test/java/org/eclipse/hono/tests/mqtt/EventMqttIT.java
  tests/src/test/java/org/eclipse/hono/tests/mqtt/MqttPublishTestBase.java
  tests/src/test/java/org/eclipse/hono/tests/mqtt/TelemetryMqttQoS0IT.java
  tests/src/test/java/org/eclipse/hono/tests/mqtt/TelemetryMqttQoS1IT.java
Labels: HTTP Adapter, bug

#2324 Add JDBC device-registry maven deployment to pipelines
  jenkins/Hono-Deploy-Eclipse-Pipeline.groovy
  jenkins/Hono-Deploy-Maven-Central-Pipeline.groovy
  jenkins/Hono-Nightly-Pipeline.groovy
Labels: JDBC Device Registry, build system

#2225 Update to Artemis 2.13.0, Qpid router 1.14.0 image versions
  bom/pom.xml
Labels: dependencies, enhancement

#2323 [#2029] Fix Command Router AMQP server vert.x context issues
  services/command-router/src/main/java/org/eclipse/hono/commandrouter/Application.java
  services/command-router/src/main/java/org/eclipse/hono/commandrouter/ApplicationConfig.java
  services/command-router/src/main/java/org/eclipse/hono/commandrouter/impl/CommandRouterServiceImpl.java
Labels: C&C, bug

#2312 [#2029] Use Command Router in adapters and integration tests
  .github/workflows/ci.yml
  clients/adapter-amqp/src/main/java/org/eclipse/hono/adapter/client/command/amqp/ProtonBasedCommandContext.java
  clients/adapter-amqp/src/main/java/org/eclipse/hono/adapter/client/command/amqp/ProtonBasedCommandRouterCommandConsumerFactoryImpl.java
  clients/adapter-amqp/src/main/java/org/eclipse/hono/adapter/client/command/amqp/ProtonBasedDelegatingCommandConsumerFactory.java
  clients/adapter-amqp/src/main/java/org/eclipse/hono/adapter/client/command/amqp/ProtonBasedDeviceConnectionClient.java
  deploy/src/main/deploy/example-permissions.json
  deploy/src/main/sandbox/sandbox-permissions.json
  jenkins/Hono-Deploy-Eclipse-Pipeline.groovy
  jenkins/Hono-Deploy-Maven-Central-Pipeline.groovy
  jenkins/Hono-Nightly-Pipeline.groovy
  push_hono_images.sh
  service-base-quarkus/src/main/java/org/eclipse/hono/service/quarkus/AbstractProtocolAdapterApplication.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractAdapterConfig.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractProtocolAdapterBase.java
  tests/pom.xml
  tests/readme.md
  tests/src/test/java/org/eclipse/hono/tests/IntegrationTestSupport.java
  tests/src/test/java/org/eclipse/hono/tests/registry/DeviceConnectionApiTests.java
  tests/src/test/resources/amqp/application.yml
  tests/src/test/resources/auth/permissions.json
  tests/src/test/resources/coap/application.yml
  tests/src/test/resources/commandrouter/application.yml
  tests/src/test/resources/commandrouter/cache-config.xml
  tests/src/test/resources/commandrouter/logback-spring.xml
  tests/src/test/resources/http/application.yml
  tests/src/test/resources/mqtt/application.yml
  tests/src/test/resources/qpid/qdrouterd-with-broker.json
Labels: C&C, enhancement

#2328 [#2068] Use cached connected check result in HotrodCache
  client-device-connection-infinispan/src/main/java/org/eclipse/hono/deviceconnection/infinispan/client/BasicCache.java
  client-device-connection-infinispan/src/main/java/org/eclipse/hono/deviceconnection/infinispan/client/Cache.java
  client-device-connection-infinispan/src/main/java/org/eclipse/hono/deviceconnection/infinispan/client/EmbeddedCache.java
  client-device-connection-infinispan/src/main/java/org/eclipse/hono/deviceconnection/infinispan/client/HotrodCache.java
  client-device-connection-infinispan/src/test/java/org/eclipse/hono/deviceconnection/infinispan/client/AbstractBasicCacheTest.java
  client-device-connection-infinispan/src/test/java/org/eclipse/hono/deviceconnection/infinispan/client/CacheBasedDeviceConnectionInfoTest.java
  client-device-connection-infinispan/src/test/java/org/eclipse/hono/deviceconnection/infinispan/client/EmbeddedCacheTest.java
  client-device-connection-infinispan/src/test/java/org/eclipse/hono/deviceconnection/infinispan/client/HotrodCacheTest.java
  services/command-router/src/main/java/org/eclipse/hono/commandrouter/infinispan/EmbeddedCacheConfig.java
  services/device-connection/src/main/java/org/eclipse/hono/deviceconnection/infinispan/EmbeddedCacheConfig.java
  site/documentation/content/admin-guide/device-connection-config.md
Labels: Device Connection, enhancement

#2330 Include native transport libs by default
  adapters/pom.xml
  core/src/main/java/org/eclipse/hono/config/VertxProperties.java
  services/pom.xml
  site/documentation/content/admin-guide/common-config.md
  tests/pom.xml
  tests/src/test/resources/amqp/application.yml
  tests/src/test/resources/auth/application.yml
  tests/src/test/resources/coap/application.yml
  tests/src/test/resources/commandrouter/application.yml
  tests/src/test/resources/deviceconnection/application.yml
  tests/src/test/resources/deviceregistry-jdbc/application.yml
  tests/src/test/resources/deviceregistry-mongodb/application.yml
  tests/src/test/resources/deviceregistry/application.yml
  tests/src/test/resources/http/application.yml
  tests/src/test/resources/mqtt/application.yml
Labels: enhancement

#2331 Use run-java.sh for starting Hono components
  adapters/amqp-vertx/pom.xml
  adapters/base-spring/pom.xml
  adapters/coap-vertx/pom.xml
  adapters/http-vertx/pom.xml
  adapters/kura/pom.xml
  adapters/lora-vertx/pom.xml
  adapters/mqtt-vertx/pom.xml
  adapters/sigfox-vertx/pom.xml
  legal/src/main/resources/legal/NOTICE.md
  pom.xml
  services/auth/pom.xml
  services/base-jdbc/pom.xml
  services/command-router/pom.xml
  services/device-connection/pom.xml
  services/device-registry-base/pom.xml
  services/device-registry-file/pom.xml
  services/device-registry-jdbc/pom.xml
  services/device-registry-mongodb/pom.xml
  services/pom.xml
  tests/pom.xml
Labels: build system
