Repository eclipse-hono/hono, pull requests merged in 2020-05, with the labels that each got.

#1933 Externalize opentracing by default
  client/pom.xml
  core/pom.xml
  site/homepage/content/release-notes.md
Labels: Tracing

#1918 [#1864] Add basic authentication support for the MongoDB based device registry
  bom/pom.xml
  service-base/src/main/java/org/eclipse/hono/service/http/HttpServiceConfigProperties.java
  services/device-registry-mongodb/pom.xml
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/ApplicationConfig.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/config/MongoDbConfigProperties.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedRegistrationService.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/utils/MongoDbCallExecutor.java
  services/device-registry-mongodb/src/test/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedRegistrationServiceTest.java
Labels: MongoDB Device Registry, security

#1936 [#1858] Add 'updateOnly' param to setCommandHandlingAdapterInstance
  client-device-connection-infinispan/src/main/java/org/eclipse/hono/deviceconnection/infinispan/client/BasicCache.java
  client-device-connection-infinispan/src/main/java/org/eclipse/hono/deviceconnection/infinispan/client/Cache.java
  client-device-connection-infinispan/src/main/java/org/eclipse/hono/deviceconnection/infinispan/client/CacheBasedDeviceConnectionClient.java
  client-device-connection-infinispan/src/main/java/org/eclipse/hono/deviceconnection/infinispan/client/CacheBasedDeviceConnectionInfo.java
  client-device-connection-infinispan/src/main/java/org/eclipse/hono/deviceconnection/infinispan/client/DeviceConnectionInfo.java
  client-device-connection-infinispan/src/test/java/org/eclipse/hono/deviceconnection/infinispan/client/CacheBasedDeviceConnectionInfoTest.java
  client/src/main/java/org/eclipse/hono/client/DeviceConnectionClient.java
  client/src/main/java/org/eclipse/hono/client/impl/DeviceConnectionClientImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/ProtocolAdapterCommandConsumerFactoryImpl.java
  client/src/test/java/org/eclipse/hono/client/impl/DeviceConnectionClientImplTest.java
  client/src/test/java/org/eclipse/hono/client/impl/ProtocolAdapterCommandConsumerFactoryImplTest.java
  core/src/main/java/org/eclipse/hono/util/MessageHelper.java
  service-base/src/main/java/org/eclipse/hono/service/deviceconnection/DelegatingDeviceConnectionAmqpEndpoint.java
  service-base/src/main/java/org/eclipse/hono/service/deviceconnection/DeviceConnectionService.java
  services/device-connection/src/main/java/org/eclipse/hono/deviceconnection/infinispan/CacheBasedDeviceConnectionService.java
  services/device-connection/src/test/java/org/eclipse/hono/deviceconnection/infinispan/RemoteCacheBasedDeviceConnectionServiceTest.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/deviceconnection/MapBasedDeviceConnectionService.java
  services/device-registry-base/src/test/java/org/eclipse/hono/deviceregistry/service/deviceconnection/MapBasedDeviceConnectionServiceTest.java
  site/documentation/content/api/device-connection/index.md
  tests/src/test/java/org/eclipse/hono/tests/jms/JmsBasedDeviceConnectionClient.java
  tests/src/test/java/org/eclipse/hono/tests/registry/DeviceConnectionApiTests.java
Labels: C&C, Device Connection

#1939 Move Device Registry service classes to registry base module
  service-base/pom.xml
  service-base/src/main/java/org/eclipse/hono/service/http/AbstractHttpEndpoint.java
  service-base/src/main/java/org/eclipse/hono/service/management/tenant/TenantBackend.java
  services/device-registry-base/pom.xml
  services/device-registry-base/src/main/java/org/eclipse/hono/service/credentials/CredentialsMessageFilter.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/credentials/CredentialsService.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/credentials/DelegatingCredentialsAmqpEndpoint.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/AbstractDelegatingRegistryHttpEndpoint.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/Id.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/OperationResult.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/Result.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/credentials/CommonCredential.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/credentials/CommonSecret.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/credentials/CredentialTypeResolver.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/credentials/CredentialsManagementService.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/credentials/DelegatingCredentialsManagementHttpEndpoint.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/credentials/GenericCredential.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/credentials/GenericSecret.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/credentials/PasswordCredential.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/credentials/PasswordSecret.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/credentials/PskCredential.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/credentials/PskSecret.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/credentials/X509CertificateCredential.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/credentials/X509CertificateSecret.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/device/AutoProvisioningEnabledDeviceBackend.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/device/DelegatingDeviceManagementHttpEndpoint.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/device/Device.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/device/DeviceBackend.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/device/DeviceManagementService.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/tenant/DelegatingTenantManagementHttpEndpoint.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/tenant/Tenant.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/tenant/TenantManagementService.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/tenant/TrustedCertificateAuthority.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/registration/DelegatingRegistrationAmqpEndpoint.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/registration/RegistrationMessageFilter.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/registration/RegistrationService.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/tenant/DelegatingTenantAmqpEndpoint.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/tenant/TenantMessageFilter.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/tenant/TenantService.java
  services/device-registry-base/src/test/java/org/eclipse/hono/service/credentials/AbstractCredentialsServiceTest.java
  services/device-registry-base/src/test/java/org/eclipse/hono/service/credentials/CredentialsMessageFilterTest.java
  services/device-registry-base/src/test/java/org/eclipse/hono/service/management/credentials/CredentialsTest.java
  services/device-registry-base/src/test/java/org/eclipse/hono/service/management/credentials/SecretsTest.java
  services/device-registry-base/src/test/java/org/eclipse/hono/service/management/device/AutoProvisioningEnabledDeviceBackendTest.java
  services/device-registry-base/src/test/java/org/eclipse/hono/service/management/device/DeviceTest.java
  services/device-registry-base/src/test/java/org/eclipse/hono/service/management/tenant/TenantTest.java
  services/device-registry-base/src/test/java/org/eclipse/hono/service/management/tenant/TrustedCertificateAuthorityTest.java
  services/device-registry-base/src/test/java/org/eclipse/hono/service/registration/RegistrationMessageFilterTest.java
  services/device-registry-base/src/test/java/org/eclipse/hono/service/registration/RegistrationServiceTests.java
  services/device-registry-base/src/test/java/org/eclipse/hono/service/tenant/AbstractTenantServiceTest.java
  services/device-registry-base/src/test/java/org/eclipse/hono/service/tenant/TenantMessageFilterTest.java
  services/device-registry-file/pom.xml
  services/device-registry-mongodb/pom.xml
  site/homepage/content/release-notes.md
  tests/pom.xml
Labels: Device Registry, Management API

#1942 Fix inverted cache availability logic
  client-device-connection-infinispan/src/main/java/org/eclipse/hono/deviceconnection/infinispan/client/BasicCache.java
Labels: Device Connection, bug

#1940 Let removeCommandHandlingAdapterInstance() return 412 if not removed
  client/src/main/java/org/eclipse/hono/client/impl/DeviceConnectionClientImpl.java
  services/device-connection/src/main/java/org/eclipse/hono/deviceconnection/infinispan/CacheBasedDeviceConnectionService.java
  services/device-connection/src/test/java/org/eclipse/hono/deviceconnection/infinispan/CacheBasedDeviceConnectionServiceTest.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/deviceconnection/MapBasedDeviceConnectionService.java
  services/device-registry-base/src/test/java/org/eclipse/hono/deviceregistry/service/deviceconnection/MapBasedDeviceConnectionServiceTest.java
  site/documentation/content/api/device-connection/index.md
  tests/src/test/java/org/eclipse/hono/tests/jms/JmsBasedDeviceConnectionClient.java
  tests/src/test/java/org/eclipse/hono/tests/registry/DeviceConnectionApiTests.java
Labels: C&C, Device Connection

#1950 Fix a NPE in the TenantObject
  core/src/main/java/org/eclipse/hono/util/TenantObject.java
  core/src/test/java/org/eclipse/hono/util/TenantObjectTest.java
  service-base/src/main/java/org/eclipse/hono/service/auth/device/TenantServiceBasedX509Authentication.java
Labels: bug

#1945 Refactor MQTT "afterCommandPublished" handling, fix tracing, add test
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/CommandSubscription.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/CommandSubscriptionsManager.java
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapterTest.java
  tests/src/test/java/org/eclipse/hono/tests/mqtt/CommandAndControlMqttIT.java
Labels: MQTT Adapter, enhancement

#1948 [#1632] Keep link open on cmd disposition update timeout
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapter.java
  adapters/amqp-vertx/src/test/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapterTest.java
  site/homepage/content/release-notes.md
  tests/src/test/java/org/eclipse/hono/tests/amqp/CommandAndControlAmqpIT.java
Labels: AMQP Adapter, C&C

#1952 Report metrics on timeout sending cmd to device
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapter.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
Labels: AMQP Adapter, MQTT Adapter, enhancement

#1957 Minor grammar fixes
  site/documentation/content/api/management/device-registry-v1.yaml
Labels: Management API, documentation, enhancement

#1862 custom mapper
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/MqttConstants.java
  adapters/mqtt-vertx/src/main/java/org/eclipse/hono/adapter/mqtt/impl/Config.java
  adapters/mqtt-vertx/src/main/java/org/eclipse/hono/adapter/mqtt/impl/HttpBasedMessageMapping.java
  adapters/mqtt-vertx/src/main/java/org/eclipse/hono/adapter/mqtt/impl/MappedMessage.java
  adapters/mqtt-vertx/src/main/java/org/eclipse/hono/adapter/mqtt/impl/MessageMapping.java
  adapters/mqtt-vertx/src/main/java/org/eclipse/hono/adapter/mqtt/impl/VertxBasedMqttProtocolAdapter.java
  adapters/mqtt-vertx/src/test/java/org/eclipse/hono/adapter/mqtt/impl/HttpBasedMessageMappingTest.java
  adapters/mqtt-vertx/src/test/java/org/eclipse/hono/adapter/mqtt/impl/VertxBasedMqttProtocolAdapterTest.java
  core/src/main/java/org/eclipse/hono/config/MapperEndpoint.java
  core/src/main/java/org/eclipse/hono/config/ProtocolAdapterProperties.java
  core/src/main/java/org/eclipse/hono/util/RegistrationConstants.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/device/AbstractRegistrationService.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/device/Device.java
  services/device-registry-base/src/test/java/org/eclipse/hono/service/management/device/DeviceTest.java
  services/device-registry-base/src/test/java/org/eclipse/hono/service/registration/RegistrationServiceTests.java
  services/device-registry-file/src/test/java/org/eclipse/hono/deviceregistry/file/FileBasedRegistrationServiceTest.java
  site/documentation/content/admin-guide/mqtt-adapter-config.md
Labels: MQTT Adapter

#1925 Minor fixes to the JDBC store implementation
  services/base-jdbc/src/main/java/org/eclipse/hono/service/base/jdbc/store/device/TableManagementStore.java
Labels: Device Registry

#1845 Add mongodb based implementation of tenant registration and management service
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/ApplicationConfig.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/config/MongoDbBasedTenantsConfigProperties.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/model/TenantDto.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedRegistrationService.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedTenantService.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/utils/MongoDbDeviceRegistryUtils.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/utils/MongoDbDocumentBuilder.java
Labels: MongoDB Device Registry

#1954 [#1953] Check credits before sending command to device
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapter.java
  tests/src/test/java/org/eclipse/hono/tests/amqp/CommandAndControlAmqpIT.java
Labels: AMQP Adapter, C&C, bug

#1965 [#1951] Close all command consumers on connection close
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapter.java
Labels: AMQP Adapter, C&C, bug

#1912 [#1679] Add tests for MongoDB based tenant services
  services/device-registry-base/src/test/java/org/eclipse/hono/service/tenant/AbstractTenantServiceTest.java
  services/device-registry-mongodb/src/test/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedTenantServiceTest.java
  services/device-registry-mongodb/src/test/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbUtils.java
Labels: MongoDB Device Registry

#1969 Use a utility method to check the duplicate key error
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedRegistrationService.java
Labels: MongoDB Device Registry

#1970 Improve the document builder in mongo db based device registry
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedRegistrationService.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedTenantService.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/utils/MongoDbDocumentBuilder.java
Labels: MongoDB Device Registry

#1973 Apply feedback from docs check
  site/documentation/content/api/management/device-registry-v1.yaml
Labels: Management API, documentation

#1947 [#1679] Part 1: Add mongo db based implementation of credentials service and management APIs
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/credentials/AbstractCredentialsManagementService.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/ApplicationConfig.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/config/MongoDbBasedCredentialsConfigProperties.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/model/CredentialsDto.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedCredentialsService.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedDeviceBackend.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/utils/MongoDbDeviceRegistryUtils.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/utils/MongoDbDocumentBuilder.java
Labels: MongoDB Device Registry

#1946 Verify tenant from command target address
  client/src/main/java/org/eclipse/hono/client/impl/MappingAndDelegatingCommandHandler.java
  client/src/test/java/org/eclipse/hono/client/impl/MappingAndDelegatingCommandHandlerTest.java
  client/src/test/java/org/eclipse/hono/client/impl/ProtocolAdapterCommandConsumerFactoryImplTest.java
Labels: C&C

#1979 Fix stack overflow error in password credentials class.
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/credentials/PasswordCredential.java
Labels: Device Registry, bug

#1976 Remove obsolete get method
  adapters/lora-vertx/pom.xml
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/impl/LoraProtocolAdapter.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/providers/KerlinkProvider.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/providers/LoraProvider.java
  adapters/lora-vertx/src/test/java/org/eclipse/hono/adapter/lora/providers/FireflyProviderTest.java
  adapters/lora-vertx/src/test/java/org/eclipse/hono/adapter/lora/providers/KerlinkProviderTest.java
  client/src/main/java/org/eclipse/hono/client/RegistrationClient.java
  client/src/main/java/org/eclipse/hono/client/impl/RegistrationClientImpl.java
  tests/src/test/java/org/eclipse/hono/tests/jms/JmsBasedRegistrationClient.java
Labels: Client, LoRa Adapter, bug

#1981 [#1937] Upgrade to vertx 3.9.1
  bom/pom.xml
Labels: enhancement

#1982 [#1679] Improve tests
  services/device-registry-mongodb/src/test/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedRegistrationServiceTest.java
  services/device-registry-mongodb/src/test/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedTenantServiceTest.java
  services/device-registry-mongodb/src/test/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbTestUtils.java
Labels: MongoDB Device Registry

#1980 Use DeviceConnectionService with embedded cache for ITs
  services/device-connection/src/main/java/org/eclipse/hono/deviceconnection/infinispan/EmbeddedCacheConfig.java
  tests/pom.xml
  tests/src/test/resources/amqp/application.yml
  tests/src/test/resources/coap/application.yml
  tests/src/test/resources/deviceconnection/application.yml
  tests/src/test/resources/deviceconnection/cache-config.xml
  tests/src/test/resources/deviceconnection/logback-spring.xml
  tests/src/test/resources/http/application.yml
  tests/src/test/resources/mqtt/application.yml
Labels: Device Registry

#1967 [#1679] Part 2: Support updating credentials with secret ids
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/credentials/CommonCredential.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/credentials/CommonSecret.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/credentials/PasswordSecret.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/credentials/PskSecret.java
  services/device-registry-base/src/test/java/org/eclipse/hono/service/management/credentials/CredentialsTest.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/model/CredentialsDto.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedCredentialsService.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/utils/MongoDbDeviceRegistryUtils.java
Labels: MongoDB Device Registry

#1991 Check URI length for coap PUT.
  adapters/coap-vertx/src/main/java/org/eclipse/hono/adapter/coap/impl/VertxBasedCoapAdapter.java
Labels: CoAP Adapter, enhancement

#1992 Add dynamic ACK support.
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/AbstractVertxBasedCoapAdapter.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/CoapAdapterProperties.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/CoapContext.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/CoapErrorResponse.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/TracingSupportingHonoResource.java
  site/documentation/content/admin-guide/coap-adapter-config.md
Labels: CoAP Adapter, enhancement

#1989 Upgrade Infinispan to the most recent stable version
  bom/pom.xml
  services/device-connection/src/main/java/org/eclipse/hono/deviceconnection/infinispan/EmbeddedCacheConfig.java
Labels: Device Connection
