Repository eclipse-hono/hono, pull requests merged in 2020-12, with the labels that each got.

#2334 [#2333] Use ANYCAST routing type in broker config
  deploy/src/main/sandbox/artemis/broker.xml
  tests/src/test/resources/artemis/broker.xml
Labels: Sandbox, bug

#2335 [#2333] Add integration tests
  tests/src/test/java/org/eclipse/hono/tests/amqp/AmqpUploadTestBase.java
  tests/src/test/java/org/eclipse/hono/tests/amqp/EventAmqpIT.java
  tests/src/test/java/org/eclipse/hono/tests/coap/EventCoapIT.java
  tests/src/test/java/org/eclipse/hono/tests/http/EventHttpIT.java
  tests/src/test/java/org/eclipse/hono/tests/mqtt/EventMqttIT.java
  tests/src/test/java/org/eclipse/hono/tests/mqtt/MqttPublishTestBase.java
Labels: bug

#2336 Support building of native images using Docker Maven plugin
  adapters/base-quarkus/pom.xml
  adapters/base-spring/pom.xml
  adapters/http-vertx-quarkus/.dockerignore
  adapters/http-vertx-quarkus/README.md
  adapters/http-vertx-quarkus/pom.xml
  adapters/http-vertx-quarkus/src/main/docker/Dockerfile.jvm
  adapters/http-vertx-quarkus/src/main/docker/Dockerfile.native
  adapters/http-vertx-quarkus/src/main/resources/reflection-config.json
  adapters/http-vertx-quarkus/src/main/resources/resources-config.json
  adapters/mqtt-vertx-quarkus/.dockerignore
  adapters/mqtt-vertx-quarkus/README.md
  adapters/mqtt-vertx-quarkus/pom.xml
  adapters/mqtt-vertx-quarkus/src/main/docker/Dockerfile.jvm
  adapters/mqtt-vertx-quarkus/src/main/docker/Dockerfile.native
  adapters/mqtt-vertx-quarkus/src/main/resources/reflection-config.json
  adapters/mqtt-vertx-quarkus/src/main/resources/resources-config.json
  adapters/pom.xml
  bom/pom.xml
  service-base-quarkus/pom.xml
  services/pom.xml
  site/documentation/content/dev-guide/building_hono.md
  tests/pom.xml
  tests/readme.md
Labels: build system, enhancement

#2332 Upgrade to vert.x 3.9.4
  bom/pom.xml
Labels: enhancement

#2339 [#2338] Fix NPE in AMQP adapter when content-type is null.
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/impl/AmqpContext.java
  adapters/amqp-vertx/src/test/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapterTest.java
Labels: AMQP Adapter, bug

#2340 Fix getContentType() returning empty string
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/MqttContext.java
  service-base/src/main/java/org/eclipse/hono/service/http/HttpContext.java
Labels: HTTP Adapter

#2343 1.4.x: Let getContentType() return null if no header is set
  service-base/src/main/java/org/eclipse/hono/service/http/HttpContext.java
  site/homepage/content/release-notes.md
Labels: enhancement

#2344 Allow null contentType in Event/Telemetry Sender
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/impl/AmqpContext.java
  adapters/amqp-vertx/src/test/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapterTest.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/MqttContext.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/impl/HttpBasedMessageMapping.java
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapterTest.java
  clients/adapter-amqp/src/main/java/org/eclipse/hono/adapter/client/telemetry/amqp/ProtonBasedDownstreamSender.java
  clients/adapter/src/main/java/org/eclipse/hono/adapter/client/telemetry/EventSender.java
  clients/adapter/src/main/java/org/eclipse/hono/adapter/client/telemetry/TelemetrySender.java
  service-base/src/main/java/org/eclipse/hono/service/http/HttpContext.java
  service-base/src/test/java/org/eclipse/hono/service/AbstractProtocolAdapterBaseTest.java
  test-utils/service-base-test-utils/src/main/java/org/eclipse/hono/service/test/ProtocolAdapterTestSupport.java
Labels: Client, bug

#2347 1.3.x: [#2346] Fix ConnectionEvent messages not getting sent
  service-base/src/main/java/org/eclipse/hono/service/monitoring/AbstractMessageSenderConnectionEventProducer.java
Labels: MQTT Adapter, bug

#2350 Add 'to' address in AMQP device command message
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapter.java
  tests/src/test/java/org/eclipse/hono/tests/amqp/CommandAndControlAmqpIT.java
Labels: AMQP Adapter, C&C

#2352 [#2247] Map client to server error on sender creation
  client/src/main/java/org/eclipse/hono/client/StatusCodeMapper.java
  clients/adapter-amqp/src/main/java/org/eclipse/hono/adapter/client/command/amqp/ProtonBasedCommandResponseSender.java
  clients/adapter-amqp/src/main/java/org/eclipse/hono/adapter/client/telemetry/amqp/ProtonBasedDownstreamSender.java
  clients/adapter-amqp/src/test/java/org/eclipse/hono/adapter/client/amqp/AmqpClientUnitTestHelper.java
  clients/adapter-amqp/src/test/java/org/eclipse/hono/adapter/client/command/amqp/ProtonBasedCommandResponseSenderTest.java
  clients/adapter-amqp/src/test/java/org/eclipse/hono/adapter/client/command/amqp/ProtonBasedTenantCommandRouterClientTest.java
  clients/adapter-amqp/src/test/java/org/eclipse/hono/adapter/client/telemetry/amqp/ProtonBasedDownstreamSenderTest.java
Labels: enhancement

#2351 [#2250] Use Jaeger profile in standard build instructions
  site/documentation/content/deployment/helm-based-deployment.md
  site/documentation/content/dev-guide/building_hono.md
  site/homepage/content/release-notes.md
Labels: Tracing, documentation

#2349 Apply default content type in setPayload()
  clients/adapter/src/main/java/org/eclipse/hono/adapter/client/telemetry/EventSender.java
  clients/adapter/src/main/java/org/eclipse/hono/adapter/client/telemetry/TelemetrySender.java
  core/src/main/java/org/eclipse/hono/util/MessageHelper.java
  core/src/test/java/org/eclipse/hono/util/MessageHelperTest.java
Labels: enhancement

#2354 Use quarkus adapters in integration tests on GitHub
  .github/workflows/ci.yml
Labels: build system, enhancement

#2356 [#2314] Remove JMeter plugin
  bom/pom.xml
  jmeter/.gitignore
  jmeter/Dockerfile
  jmeter/pom.xml
  jmeter/readme.md
  jmeter/src/jmeter/amqp_messaging_throughput_test.jmx
  jmeter/src/jmeter/http_messaging_throughput_test.jmx
  jmeter/src/jmeter/load-test-http-router-docker.sh
  jmeter/src/jmeter/load-test-http-router.sh
  jmeter/src/jmeter/load-test-messaging-router-docker.sh
  jmeter/src/jmeter/load-test-messaging-router.sh
  jmeter/src/jmeter/load-test-mqtt-router-docker.sh
  jmeter/src/jmeter/load-test-mqtt-router.sh
  jmeter/src/jmeter/mqtt_messaging_throughput_test.jmx
  jmeter/src/main/java/org/eclipse/hono/jmeter/HonoCommanderSampler.java
  jmeter/src/main/java/org/eclipse/hono/jmeter/HonoReceiverSampler.java
  jmeter/src/main/java/org/eclipse/hono/jmeter/HonoSampler.java
  jmeter/src/main/java/org/eclipse/hono/jmeter/HonoSamplerUtils.java
  jmeter/src/main/java/org/eclipse/hono/jmeter/HonoSenderSampler.java
  jmeter/src/main/java/org/eclipse/hono/jmeter/client/AbstractClient.java
  jmeter/src/main/java/org/eclipse/hono/jmeter/client/HonoCommander.java
  jmeter/src/main/java/org/eclipse/hono/jmeter/client/HonoReceiver.java
  jmeter/src/main/java/org/eclipse/hono/jmeter/client/HonoSender.java
  jmeter/src/main/java/org/eclipse/hono/jmeter/sampleresult/HonoCommanderSampleResult.java
  jmeter/src/main/java/org/eclipse/hono/jmeter/ui/HonoCommanderSamplerUI.java
  jmeter/src/main/java/org/eclipse/hono/jmeter/ui/HonoReceiverSamplerUI.java
  jmeter/src/main/java/org/eclipse/hono/jmeter/ui/HonoSamplerUI.java
  jmeter/src/main/java/org/eclipse/hono/jmeter/ui/HonoSenderSamplerUI.java
  jmeter/src/main/java/org/eclipse/hono/jmeter/ui/ServerOptionsPanel.java
  pom.xml
  site/documentation/content/user-guide/jmeter-overview.odg
  site/documentation/content/user-guide/jmeter-overview.svg
  site/documentation/content/user-guide/jmeter_load_tests.md
  site/homepage/content/release-notes.md
Labels: Load test

#2364 [#2357] Skip closing tenant link on tenant timeout if still needed
  client/src/main/java/org/eclipse/hono/client/impl/ProtocolAdapterCommandConsumerFactoryImpl.java
  client/src/test/java/org/eclipse/hono/client/impl/ProtocolAdapterCommandConsumerFactoryImplTest.java
  clients/adapter-amqp/src/main/java/org/eclipse/hono/adapter/client/command/amqp/ProtonBasedCommandRouterCommandConsumerFactoryImpl.java
Labels: AMQP Adapter, C&C, MQTT Adapter, bug

#2367 [#2341] Improve AMQP adapter user guide
  adapters/amqp-vertx/src/test/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapterTest.java
  core/src/test/java/org/eclipse/hono/util/MessageHelperTest.java
  site/documentation/content/user-guide/amqp-adapter.md
Labels: AMQP Adapter, documentation

#2345 [#2133] Improve message mapping API
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/MessageMapping.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/impl/HttpBasedMessageMapping.java
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/impl/HttpBasedMessageMappingTest.java
  core/src/main/java/org/eclipse/hono/config/MapperEndpoint.java
Labels: MQTT Adapter

#2094 [#2053] Implementing auto provisioning of devices for gateways
  core/src/main/java/org/eclipse/hono/util/Constants.java
  core/src/main/java/org/eclipse/hono/util/EventConstants.java
  core/src/main/java/org/eclipse/hono/util/MessageHelper.java
  core/src/main/java/org/eclipse/hono/util/RegistryManagementConstants.java
  core/src/main/java/org/eclipse/hono/util/RequestResponseApiConstants.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/device/AbstractRegistrationService.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/device/AutoProvisioner.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/device/AutoProvisionerConfigProperties.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/device/NoopRegistrationService.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/tenant/AutowiredTenantInformationService.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/tenant/NoopTenantInformationService.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/tenant/TenantInformationService.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/device/Device.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/device/DeviceStatus.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/registration/RegistrationService.java
  services/device-registry-base/src/test/java/org/eclipse/hono/deviceregistry/service/device/AbstractRegistrationServiceTest.java
  services/device-registry-base/src/test/java/org/eclipse/hono/deviceregistry/service/device/AutoProvisionerTest.java
  services/device-registry-file/src/main/java/org/eclipse/hono/deviceregistry/file/FileBasedRegistrationService.java
  services/device-registry-jdbc/src/main/java/org/eclipse/hono/deviceregistry/jdbc/impl/RegistrationServiceImpl.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedRegistrationService.java
  site/documentation/content/api/management/device-registry-v1.yaml
  tests/pom.xml
Labels: Device Registry

#2366 [#2239] Add OpenAPI spec and prepare base classes for the new tenants search operation
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/Filter.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/SearchResult.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/Sort.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/device/DelegatingDeviceManagementHttpEndpoint.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/device/DeviceManagementService.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/tenant/Tenant.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/tenant/TenantManagementService.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/tenant/TenantWithId.java
  services/device-registry-base/src/test/java/org/eclipse/hono/service/management/device/AbstractDeviceManagementSearchDevicesTest.java
  services/device-registry-base/src/test/java/org/eclipse/hono/service/management/device/DelegatingDeviceManagementHttpEndpointTest.java
  services/device-registry-base/src/test/java/org/eclipse/hono/service/management/device/FilterTest.java
  services/device-registry-file/src/main/java/org/eclipse/hono/deviceregistry/file/FileBasedDeviceBackend.java
  services/device-registry-file/src/main/java/org/eclipse/hono/deviceregistry/file/FileBasedRegistrationService.java
  services/device-registry-file/src/test/java/org/eclipse/hono/deviceregistry/file/FileBasedDeviceManagementSearchDevicesTest.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedDeviceBackend.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedRegistrationService.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/utils/MongoDbDocumentBuilder.java
  site/documentation/content/api/management/device-registry-v1.yaml
Labels: Device Registry, Management API

#2303 Add Kafka based downstream client
  adapters/pom.xml
  bom/pom.xml
  clients/adapter-kafka/pom.xml
  clients/adapter-kafka/src/main/java/org/eclipse/hono/adapter/client/telemetry/kafka/AbstractKafkaBasedDownstreamSender.java
  clients/adapter-kafka/src/main/java/org/eclipse/hono/adapter/client/telemetry/kafka/KafkaBasedEventSender.java
  clients/adapter-kafka/src/main/java/org/eclipse/hono/adapter/client/telemetry/kafka/KafkaBasedTelemetrySender.java
  clients/adapter-kafka/src/test/java/org/eclipse/hono/adapter/client/telemetry/kafka/AbstractKafkaBasedDownstreamSenderTest.java
  clients/adapter-kafka/src/test/java/org/eclipse/hono/adapter/client/telemetry/kafka/KafkaBasedEventSenderTest.java
  clients/adapter-kafka/src/test/java/org/eclipse/hono/adapter/client/telemetry/kafka/KafkaBasedTelemetrySenderTest.java
  clients/adapter-kafka/src/test/java/org/eclipse/hono/adapter/client/telemetry/kafka/TestHelper.java
  clients/kafka-common/pom.xml
  clients/kafka-common/src/main/java/org/eclipse/hono/kafka/client/CachingKafkaProducerFactory.java
  clients/kafka-common/src/main/java/org/eclipse/hono/kafka/client/HonoTopic.java
  clients/kafka-common/src/main/java/org/eclipse/hono/kafka/client/KafkaConsumerConfigProperties.java
  clients/kafka-common/src/main/java/org/eclipse/hono/kafka/client/KafkaProducerConfigProperties.java
  clients/kafka-common/src/main/java/org/eclipse/hono/kafka/client/KafkaProducerFactory.java
  clients/kafka-common/src/main/java/org/eclipse/hono/kafka/client/tracing/KafkaHeaderInjectAdapter.java
  clients/kafka-common/src/main/java/org/eclipse/hono/kafka/client/tracing/KafkaTracingHelper.java
  clients/kafka-common/src/main/java/org/eclipse/hono/kafka/client/tracing/LongTag.java
  clients/kafka-common/src/test/java/org/eclipse/hono/kafka/client/CachingKafkaProducerFactoryTest.java
  clients/kafka-common/src/test/java/org/eclipse/hono/kafka/client/HonoTopicTest.java
  clients/kafka-common/src/test/java/org/eclipse/hono/kafka/client/KafkaConsumerConfigPropertiesTest.java
  clients/kafka-common/src/test/java/org/eclipse/hono/kafka/client/KafkaProducerConfigPropertiesTest.java
  clients/kafka-common/src/test/resources/logback-test.xml
  clients/pom.xml
  service-base/pom.xml
  service-base/src/main/java/org/eclipse/hono/service/AbstractAdapterConfig.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractProtocolAdapterBase.java
  site/documentation/content/admin-guide/common-config.md
  site/documentation/content/admin-guide/hono-kafka-client-configuration.md
  site/homepage/content/release-notes.md
Labels: enhancement

#2373 [#2239] Reuse the SearchResult class to map the search devices operation result
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/device/DeviceManagementService.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/device/SearchDevicesResult.java
  services/device-registry-base/src/test/java/org/eclipse/hono/service/management/device/AbstractDeviceManagementSearchDevicesTest.java
  services/device-registry-file/src/main/java/org/eclipse/hono/deviceregistry/file/FileBasedDeviceBackend.java
  services/device-registry-file/src/main/java/org/eclipse/hono/deviceregistry/file/FileBasedRegistrationService.java
  services/device-registry-file/src/test/java/org/eclipse/hono/deviceregistry/file/FileBasedDeviceManagementSearchDevicesTest.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedDeviceBackend.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedRegistrationService.java
  tests/src/test/java/org/eclipse/hono/tests/registry/DeviceManagementIT.java
Labels: Device Registry, MongoDB Device Registry

#2377 Invoke assertRegistration before creating command consumer
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapter.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
  tests/src/test/java/org/eclipse/hono/tests/amqp/CommandAndControlAmqpIT.java
  tests/src/test/java/org/eclipse/hono/tests/mqtt/CommandAndControlMqttIT.java
Labels: AMQP Adapter, MQTT Adapter, bug

#2378 Add information on accepted date/time format in the device registry management API
  site/documentation/content/api/management/device-registry-v1.yaml
Labels: Management API, documentation

#2379 Invoke assertRegistration before sending command to gateway
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapter.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
  client/src/main/java/org/eclipse/hono/client/impl/MappingAndDelegatingCommandHandler.java
Labels: AMQP Adapter, MQTT Adapter, bug

#2380 [#2239] Pull up methods and refactor for a generic search operation in MongoDB registry
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedRegistrationService.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/utils/MongoDbDeviceRegistryUtils.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/utils/MongoDbDocumentBuilder.java
Labels: MongoDB Device Registry

#2383 [#2239] Implement search tenants operation in the MongoDB based device registry
  service-base/src/main/java/org/eclipse/hono/service/http/AbstractDelegatingHttpEndpoint.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/device/DelegatingDeviceManagementHttpEndpoint.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/tenant/DelegatingTenantManagementHttpEndpoint.java
  services/device-registry-base/src/test/java/org/eclipse/hono/service/management/tenant/AbstractTenantManagementSearchTenantsTest.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedTenantService.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/utils/MongoDbDocumentBuilder.java
  services/device-registry-mongodb/src/test/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDBBasedTenantManagementSearchTenantsTest.java
Labels: Feature Request, MongoDB Device Registry

#2382 Introduce response caching at Tenant service client level
  client/src/main/java/org/eclipse/hono/client/TenantClient.java
  client/src/main/java/org/eclipse/hono/client/TenantClientFactory.java
  client/src/main/java/org/eclipse/hono/client/impl/TenantClientImpl.java
  clients/adapter-amqp/src/main/java/org/eclipse/hono/adapter/client/amqp/AbstractHonoClient.java
  clients/adapter-amqp/src/main/java/org/eclipse/hono/adapter/client/amqp/AbstractRequestResponseServiceClient.java
  clients/adapter-amqp/src/main/java/org/eclipse/hono/adapter/client/amqp/AbstractServiceClient.java
  clients/adapter-amqp/src/main/java/org/eclipse/hono/adapter/client/amqp/RequestResponseClient.java
  clients/adapter-amqp/src/main/java/org/eclipse/hono/adapter/client/registry/amqp/ProtonBasedTenantClient.java
  clients/adapter-amqp/src/test/java/org/eclipse/hono/adapter/client/amqp/AbstractRequestResponseServiceClientTest.java
  clients/adapter-amqp/src/test/java/org/eclipse/hono/adapter/client/amqp/AmqpClientUnitTestHelper.java
  clients/adapter-amqp/src/test/java/org/eclipse/hono/adapter/client/amqp/RequestResponseClientTest.java
  clients/adapter-amqp/src/test/java/org/eclipse/hono/adapter/client/amqp/SimpleRequestResponseResult.java
  clients/adapter-amqp/src/test/java/org/eclipse/hono/adapter/client/command/amqp/ProtonBasedTenantCommandRouterClientTest.java
  clients/adapter-amqp/src/test/java/org/eclipse/hono/adapter/client/registry/amqp/ProtonBasedTenantClientTest.java
Labels: Client, enhancement
