Repository eclipse-hono/hono, pull requests merged in 2020-09, with the labels that each got.

#2132 Update spec. Add missing information.
  site/documentation/content/api/management/device-registry-v1.yaml
Labels: Management API

#2145 [#2125] Support tenant specific configuration of timeoutToAck
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/AbstractVertxBasedCoapAdapter.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/CoapConstants.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/CoapContext.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/TracingSupportingHonoResource.java
  adapters/coap-vertx-base/src/test/java/org/eclipse/hono/adapter/coap/CoapContextTest.java
  core/src/main/java/org/eclipse/hono/util/TenantConstants.java
  site/documentation/content/user-guide/coap-adapter.md
  site/homepage/content/release-notes.md
Labels: CoAP Adapter

#2139 [#2135] Mark single-tenant mode methods as deprecated
  core/src/main/java/org/eclipse/hono/config/ServiceConfigProperties.java
  core/src/main/java/org/eclipse/hono/util/ResourceIdentifier.java
  site/homepage/content/release-notes.md
Labels: Client

#2140 Pass on execution context from Hono AuthHandler to AuthProvider
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/AmqpAdapterSaslAuthenticatorFactory.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/ConnectPacketAuthHandler.java
  client/src/main/java/org/eclipse/hono/client/CommandContext.java
  core/src/main/java/org/eclipse/hono/util/ExecutionContext.java
  core/src/main/java/org/eclipse/hono/util/GenericExecutionContext.java
  core/src/main/java/org/eclipse/hono/util/TelemetryExecutionContext.java
  service-base/src/main/java/org/eclipse/hono/service/auth/device/AuthHandler.java
  service-base/src/main/java/org/eclipse/hono/service/auth/device/CredentialsApiAuthProvider.java
  service-base/src/main/java/org/eclipse/hono/service/auth/device/ExecutionContextAuthHandler.java
  service-base/src/main/java/org/eclipse/hono/service/auth/device/HonoClientBasedAuthProvider.java
  service-base/src/test/java/org/eclipse/hono/service/auth/device/CredentialsApiAuthProviderTest.java
  service-base/src/test/java/org/eclipse/hono/service/auth/device/UsernamePasswordAuthProviderTest.java
Labels: MQTT Adapter

#2148 prepare for JDBC device registry - part 1
  core/src/main/java/org/eclipse/hono/util/CacheDirective.java
  core/src/main/java/org/eclipse/hono/util/TenantObject.java
  core/src/main/java/org/eclipse/hono/util/TenantResult.java
Labels: Device Registry

#2151 Set 'cache_hit' tag consistently
  service-base/src/main/java/org/eclipse/hono/service/resourcelimits/PrometheusBasedResourceLimitChecks.java
Labels: Metrics, enhancement

#2138 [#2112] Add integration tests for search devices operation
  tests/pom.xml
  tests/src/test/java/org/eclipse/hono/tests/CrudHttpClient.java
  tests/src/test/java/org/eclipse/hono/tests/DeviceRegistryHttpClient.java
  tests/src/test/java/org/eclipse/hono/tests/registry/DeviceManagementIT.java
Labels: Device Registry

#2154 Let removeCommandHandlingAdapterInstance return 412 again
  services/device-connection/src/main/java/org/eclipse/hono/deviceconnection/infinispan/CacheBasedDeviceConnectionService.java
  services/device-connection/src/test/java/org/eclipse/hono/deviceconnection/infinispan/CacheBasedDeviceConnectionServiceTest.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/deviceconnection/MapBasedDeviceConnectionService.java
  services/device-registry-base/src/test/java/org/eclipse/hono/deviceregistry/service/deviceconnection/MapBasedDeviceConnectionServiceTest.java
Labels: Device Connection, bug

#2141 [#2131] Check for tenant existence in device registration operations in MongoDB device registry
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/ApplicationConfig.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedRegistrationService.java
  services/device-registry-mongodb/src/test/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDBBasedDeviceManagementSearchDevicesTest.java
  services/device-registry-mongodb/src/test/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedCredentialServiceTest.java
  services/device-registry-mongodb/src/test/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedRegistrationServiceTest.java
Labels: MongoDB Device Registry

#2153 Improve Command & Control related tracing.
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapter.java
Labels: HTTP Adapter, Tracing, enhancement

#2163 [#2131] Update release notes
  site/homepage/content/release-notes.md
Labels: documentation

#2162 [#1958, #2112] Update release notes for search devices operation
  site/homepage/content/release-notes.md
Labels: documentation

#2164 [#2134] Make use of the given client context to match credentials in MongoDB registry
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/util/DeviceRegistryUtils.java
  services/device-registry-file/src/main/java/org/eclipse/hono/deviceregistry/file/FileBasedCredentialsService.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedCredentialsService.java
  tests/pom.xml
Labels: MongoDB Device Registry

#2165 Use AuthHandlers for AMQP adapter authentication
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/AmqpAdapterSaslAuthenticatorFactory.java
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/SaslExternalAuthHandler.java
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/SaslPlainAuthHandler.java
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/SaslResponseContext.java
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapter.java
  core/src/main/java/org/eclipse/hono/util/AuthenticationConstants.java
  service-base/src/main/java/org/eclipse/hono/service/auth/device/TenantServiceBasedX509Authentication.java
  service-base/src/main/java/org/eclipse/hono/service/auth/device/X509Authentication.java
Labels: AMQP Adapter, enhancement

#2157 Refactor base classes to allow other implementations (JDBC)
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/credentials/AbstractCredentialsManagementService.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/credentials/AbstractCredentialsService.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/device/AbstractRegistrationService.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/device/NoopRegistrationService.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/credentials/CommonCredentials.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/credentials/PasswordSecret.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/device/AutoProvisioning.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/device/AutoProvisioningEnabledDeviceBackend.java
  services/device-registry-file/src/main/java/org/eclipse/hono/deviceregistry/file/FileBasedRegistrationService.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/config/MongoDbBasedCredentialsConfigProperties.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedCredentialsService.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedRegistrationService.java
Labels: Device Registry

#2173 [#2135] Remove single tenant mode
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapter.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/DefaultDeviceResolver.java
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/impl/VertxBasedHttpProtocolAdapter.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/impl/LoraProtocolAdapter.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
  adapters/sigfox-vertx/src/main/java/org/eclipse/hono/adapter/sigfox/impl/SigfoxProtocolAdapter.java
  core/src/main/java/org/eclipse/hono/config/ServiceConfigProperties.java
  core/src/main/java/org/eclipse/hono/util/ResourceIdentifier.java
  core/src/test/java/org/eclipse/hono/util/ResourceIdentifierTest.java
  service-base/src/main/java/org/eclipse/hono/service/BaseExecutionContextTenantAndAuthIdProvider.java
  service-base/src/main/java/org/eclipse/hono/service/amqp/AmqpServiceBase.java
  service-base/src/main/java/org/eclipse/hono/service/auth/device/SubjectDnCredentials.java
  service-base/src/main/java/org/eclipse/hono/service/auth/device/UsernamePasswordAuthProvider.java
  service-base/src/main/java/org/eclipse/hono/service/auth/device/UsernamePasswordCredentials.java
  service-base/src/main/java/org/eclipse/hono/service/auth/device/X509AuthProvider.java
  service-base/src/test/java/org/eclipse/hono/service/auth/device/UsernamePasswordAuthProviderTest.java
  service-base/src/test/java/org/eclipse/hono/service/auth/device/UsernamePasswordCredentialsTest.java
  service-base/src/test/java/org/eclipse/hono/service/auth/device/X509AuthProviderTest.java
  service-base/src/test/java/org/eclipse/hono/service/http/TenantTraceSamplingHandlerTest.java
  services/auth/src/main/java/org/eclipse/hono/service/auth/impl/SimpleAuthenticationServer.java
  site/homepage/content/release-notes.md
Labels: Client, Device Registry

#2177 [#2175] Accept underscore in auth-id property
  core/src/main/java/org/eclipse/hono/util/CredentialsConstants.java
  services/device-registry-base/pom.xml
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/credentials/X509CertificateCredential.java
  services/device-registry-base/src/test/java/org/eclipse/hono/service/management/credentials/CredentialsTest.java
  tests/src/test/java/org/eclipse/hono/tests/registry/CredentialsManagementIT.java
Labels: Device Registry, bug

#2169 Rename maxBcryptIterations property/parameter name
  core/src/main/java/org/eclipse/hono/auth/BCryptHelper.java
  core/src/test/java/org/eclipse/hono/auth/BCryptHelperTest.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/credentials/AbstractCredentialsManagementService.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/util/DeviceRegistryUtils.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/credentials/PasswordSecret.java
  services/device-registry-base/src/test/java/org/eclipse/hono/service/credentials/Credentials.java
  services/device-registry-file/src/main/java/org/eclipse/hono/deviceregistry/file/FileBasedCredentialsConfigProperties.java
  services/device-registry-file/src/main/java/org/eclipse/hono/deviceregistry/file/FileBasedCredentialsService.java
  services/device-registry-file/src/main/java/org/eclipse/hono/deviceregistry/file/FileBasedServiceConfig.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/ApplicationConfig.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/config/MongoDbBasedCredentialsConfigProperties.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedCredentialsService.java
  site/documentation/content/admin-guide/file-based-device-registry-config.md
  site/documentation/content/admin-guide/mongodb-device-registry-config.md
  tests/pom.xml
  tests/src/test/java/org/eclipse/hono/tests/IntegrationTestSupport.java
  tests/src/test/java/org/eclipse/hono/tests/registry/CredentialsApiTests.java
  tests/src/test/java/org/eclipse/hono/tests/registry/CredentialsManagementIT.java
  tests/src/test/resources/deviceregistry-jdbc/application.yml
  tests/src/test/resources/deviceregistry-mongodb/application.yml
  tests/src/test/resources/deviceregistry/application.yml
Labels: Device Registry

#2178 Use VertxTestContext checkpoints consistently
  adapters/coap-vertx-base/src/test/java/org/eclipse/hono/adapter/coap/AbstractVertxBasedCoapAdapterTest.java
  adapters/http-vertx-base/src/test/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapterTest.java
  service-base/src/test/java/org/eclipse/hono/service/AbstractProtocolAdapterBaseTest.java
  service-base/src/test/java/org/eclipse/hono/service/VertxBasedHealthCheckServerTest.java
  tests/src/test/java/org/eclipse/hono/tests/amqp/CommandAndControlAmqpIT.java
  tests/src/test/java/org/eclipse/hono/tests/mqtt/CommandAndControlMqttIT.java
Labels: enhancement

#2172 [#2115] Add ExecutionContext#getTracingSpan
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/SaslResponseContext.java
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/impl/AmqpContext.java
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapter.java
  adapters/amqp-vertx/src/test/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapterTest.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/CoapContext.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/TracingSupportingHonoResource.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/impl/VertxBasedCoapAdapter.java
  adapters/coap-vertx-base/src/test/java/org/eclipse/hono/adapter/coap/AbstractVertxBasedCoapAdapterTest.java
  adapters/coap-vertx-base/src/test/java/org/eclipse/hono/adapter/coap/CoapContextTest.java
  adapters/coap-vertx-base/src/test/java/org/eclipse/hono/adapter/coap/TracingSupportingHonoResourceTest.java
  adapters/kura/src/test/java/org/eclipse/hono/adapter/kura/impl/KuraProtocolAdapterTest.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/MqttContext.java
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapterTest.java
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/ConnectPacketAuthHandlerTest.java
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/MqttContextTest.java
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/X509AuthHandlerTest.java
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/impl/HttpBasedMessageMappingTest.java
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/impl/VertxBasedMqttProtocolAdapterTest.java
  client/src/main/java/org/eclipse/hono/client/CommandContext.java
  core/src/main/java/org/eclipse/hono/tracing/SpanContextHolder.java
  core/src/main/java/org/eclipse/hono/util/ExecutionContext.java
  core/src/main/java/org/eclipse/hono/util/GenericExecutionContext.java
  core/src/main/java/org/eclipse/hono/util/MapBasedExecutionContext.java
  core/src/main/java/org/eclipse/hono/util/MapBasedTelemetryExecutionContext.java
  service-base/src/main/java/org/eclipse/hono/service/http/HttpContext.java
Labels: Tracing

#2182 [#2180] Fix NPE if ResourceIdentifier string is empty
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/impl/AmqpContext.java
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapter.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/CommandSubscription.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/MqttContext.java
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapterTest.java
  client/src/main/java/org/eclipse/hono/client/Command.java
  client/src/main/java/org/eclipse/hono/client/CommandResponse.java
  client/src/main/java/org/eclipse/hono/client/impl/AdapterInstanceCommandHandler.java
  client/src/main/java/org/eclipse/hono/client/impl/MappingAndDelegatingCommandHandler.java
  client/src/test/java/org/eclipse/hono/client/CommandResponseTest.java
  core/src/main/java/org/eclipse/hono/util/MessageHelper.java
  core/src/main/java/org/eclipse/hono/util/ResourceIdentifier.java
  core/src/test/java/org/eclipse/hono/util/ResourceIdentifierTest.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractProtocolAdapterBase.java
  service-base/src/main/java/org/eclipse/hono/service/amqp/AmqpServiceBase.java
  services/auth/src/main/java/org/eclipse/hono/service/auth/impl/SimpleAuthenticationServer.java
Labels: MQTT Adapter, bug

#2186 Remove redundant stripping of private info while fetching credentials in MongoDB device registry
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedCredentialsService.java
Labels: MongoDB Device Registry, enhancement

#2191 [#2187] Upgrade to Vert.x 3.9.3
  bom/pom.xml
  tests/pom.xml
  tests/src/test/java/org/eclipse/hono/tests/amqp/AmqpUploadTestBase.java
Labels: enhancement

#2188 [#2184] Strip shared key from PSK credentials
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/credentials/PskCredential.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/credentials/PskSecret.java
  services/device-registry-base/src/test/java/org/eclipse/hono/service/credentials/AbstractCredentialsServiceTest.java
  services/device-registry-file/src/main/java/org/eclipse/hono/deviceregistry/file/FileBasedCredentialsService.java
  services/device-registry-file/src/test/java/org/eclipse/hono/deviceregistry/file/FileBasedCredentialsServiceTest.java
  site/homepage/content/release-notes.md
  tests/src/test/java/org/eclipse/hono/tests/IntegrationTestSupport.java
  tests/src/test/java/org/eclipse/hono/tests/registry/CredentialsManagementIT.java
Labels: Device Registry, bug

#2199 [#2115] Add PreCredentialsValidationHandler
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/SaslExternalAuthHandler.java
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/SaslPlainAuthHandler.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/ConnectPacketAuthHandler.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/X509AuthHandler.java
  core/src/main/java/org/eclipse/hono/util/GenericExecutionContext.java
  service-base/src/main/java/org/eclipse/hono/service/auth/device/ChainAuthHandler.java
  service-base/src/main/java/org/eclipse/hono/service/auth/device/CredentialsApiAuthProvider.java
  service-base/src/main/java/org/eclipse/hono/service/auth/device/DeviceCredentialsAuthProvider.java
  service-base/src/main/java/org/eclipse/hono/service/auth/device/ExecutionContextAuthHandler.java
  service-base/src/main/java/org/eclipse/hono/service/auth/device/PreCredentialsValidationHandler.java
  service-base/src/main/java/org/eclipse/hono/service/auth/device/UsernamePasswordAuthProvider.java
  service-base/src/main/java/org/eclipse/hono/service/auth/device/X509AuthProvider.java
  service-base/src/test/java/org/eclipse/hono/service/auth/device/CredentialsApiAuthProviderTest.java
  service-base/src/test/java/org/eclipse/hono/service/auth/device/UsernamePasswordAuthProviderTest.java
Labels: enhancement

#2203 [#2115] Use PreCredentialsValidationHandler in AMQP adapter
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/AmqpAdapterSaslAuthenticatorFactory.java
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/impl/AmqpContext.java
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/impl/AmqpContextTenantAndAuthIdProvider.java
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapter.java
  core/src/main/java/org/eclipse/hono/tracing/TenantTraceSamplingHelper.java
  core/src/main/java/org/eclipse/hono/tracing/TracingHelper.java
  core/src/main/java/org/eclipse/hono/util/TenantTracingConfig.java
Labels: AMQP Adapter

#2207 Apply minor AuthHandler improvements and add tests
  service-base/src/main/java/org/eclipse/hono/service/auth/device/AuthHandler.java
  service-base/src/main/java/org/eclipse/hono/service/auth/device/ChainAuthHandler.java
  service-base/src/main/java/org/eclipse/hono/service/auth/device/ExecutionContextAuthHandler.java
  service-base/src/test/java/org/eclipse/hono/service/auth/device/ChainAuthHandlerTest.java
  service-base/src/test/java/org/eclipse/hono/service/auth/device/ExecutionContextAuthHandlerTest.java
Labels: enhancement

#2209 Remove CoapContextTenantAndAuthIdProvider
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/AbstractVertxBasedCoapAdapter.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/CoapContextTenantAndAuthIdProvider.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/DefaultDeviceResolver.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/TracingSupportingHonoResource.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/impl/VertxBasedCoapAdapter.java
  adapters/coap-vertx-base/src/test/java/org/eclipse/hono/adapter/coap/TracingSupportingHonoResourceTest.java
Labels: CoAP Adapter, enhancement

#2204 Extend search devices operation to support wildcards in the MongoDB device registry
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/util/DeviceRegistryUtils.java
  services/device-registry-base/src/test/java/org/eclipse/hono/service/management/device/AbstractDeviceManagementSearchDevicesTest.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/utils/MongoDbDocumentBuilder.java
  site/homepage/content/release-notes.md
  tests/src/test/java/org/eclipse/hono/tests/registry/DeviceManagementIT.java
Labels: MongoDB Device Registry

#2210 [#2115] Use PreCredentialsValidationHandler in MQTT adapter
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/ConnectPacketAuthHandler.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/MqttConnectContext.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/MqttContext.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/MqttContextTenantAndAuthIdProvider.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/X509AuthHandler.java
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapterTest.java
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/ConnectPacketAuthHandlerTest.java
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/X509AuthHandlerTest.java
Labels: MQTT Adapter

#2214 MQTT adapter: Fix NPE in case command payload is null
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
Labels: MQTT Adapter, bug

#2220 [#2217] Fix docs regarding device/tenant id pattern
  core/src/main/java/org/eclipse/hono/config/ServiceConfigProperties.java
  core/src/main/java/org/eclipse/hono/util/RegistryManagementConstants.java
  site/documentation/content/admin-guide/file-based-device-registry-config.md
  site/documentation/content/admin-guide/mongodb-device-registry-config.md
Labels: Device Registry, bug, documentation

#2222 [#2201] Add colon in device id pattern
  core/src/main/java/org/eclipse/hono/util/RegistryManagementConstants.java
  site/documentation/content/admin-guide/file-based-device-registry-config.md
  site/documentation/content/admin-guide/mongodb-device-registry-config.md
  site/documentation/content/api/management/device-registry-v1.yaml
  site/homepage/content/release-notes.md
Labels: Device Registry, enhancement

#2219 [#2215] Make secrets array mandatory
  bom/pom.xml
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/credentials/CommonCredential.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/credentials/GenericCredential.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/credentials/PasswordCredential.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/credentials/PskCredential.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/credentials/X509CertificateCredential.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/device/AutoProvisioning.java
  services/device-registry-base/src/test/java/org/eclipse/hono/service/credentials/AbstractCredentialsServiceTest.java
  services/device-registry-base/src/test/java/org/eclipse/hono/service/credentials/Credentials.java
  services/device-registry-base/src/test/java/org/eclipse/hono/service/management/credentials/CredentialsTest.java
  services/device-registry-file/src/test/java/org/eclipse/hono/deviceregistry/file/FileBasedCredentialsServiceTest.java
  services/device-registry-mongodb/src/test/java/org/eclipse/hono/deviceregistry/mongodb/model/CredentialsDtoTest.java
  site/documentation/content/api/management/device-registry-v1.yaml
  tests/src/test/java/org/eclipse/hono/tests/DeviceRegistryHttpClient.java
  tests/src/test/java/org/eclipse/hono/tests/mqtt/MqttConnectionIT.java
  tests/src/test/java/org/eclipse/hono/tests/registry/CredentialsApiTests.java
  tests/src/test/java/org/eclipse/hono/tests/registry/CredentialsManagementIT.java
Labels: Management API

#2185 [#2166] Improve 503 error messages in HTTP adapter
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapter.java
  client/pom.xml
  client/src/main/java/org/eclipse/hono/client/MessageNotProcessedException.java
  client/src/main/java/org/eclipse/hono/client/MessageUndeliverableException.java
  client/src/main/java/org/eclipse/hono/client/NoConsumerException.java
  client/src/main/java/org/eclipse/hono/client/SendMessageTimeoutException.java
  client/src/main/java/org/eclipse/hono/client/ServerErrorException.java
  client/src/main/java/org/eclipse/hono/client/ServiceInvocationException.java
  client/src/main/java/org/eclipse/hono/client/impl/AbstractSender.java
  client/src/main/java/org/eclipse/hono/client/impl/TelemetrySenderImpl.java
  client/src/main/resources/org/eclipse/hono/client/ServiceInvocationException_messages.properties
  client/src/test/java/org/eclipse/hono/client/ServerErrorExceptionTest.java
  client/src/test/java/org/eclipse/hono/client/ServiceInvocationExceptionTest.java
  site/documentation/content/user-guide/coap-adapter.md
  site/documentation/content/user-guide/http-adapter.md
  tests/src/test/java/org/eclipse/hono/tests/http/TelemetryHttpIT.java
Labels: CoAP Adapter, HTTP Adapter, documentation, enhancement
