Repository eclipse-hono/hono, pull requests merged in 2020-03, with the labels that each got.

#1795 Add coap oneway cmd and ctrl integration test
  tests/src/test/java/org/eclipse/hono/tests/coap/CoapTestBase.java
  tests/src/test/java/org/eclipse/hono/tests/coap/TelemetryCoapIT.java
Labels: C&C, CoAP Adapter

#1803 [#1802] Refactor device management service to return future
  service-base/src/main/java/org/eclipse/hono/service/management/device/AbstractDeviceManagementHttpEndpoint.java
  service-base/src/main/java/org/eclipse/hono/service/management/device/AutoProvisioningEnabledDeviceBackend.java
  service-base/src/main/java/org/eclipse/hono/service/management/device/DeviceManagementService.java
  service-base/src/main/java/org/eclipse/hono/service/management/device/EventBusDeviceManagementAdapter.java
  service-base/src/test/java/org/eclipse/hono/service/credentials/AbstractCredentialsServiceTest.java
  service-base/src/test/java/org/eclipse/hono/service/management/device/AutoProvisioningEnabledDeviceBackendTest.java
  service-base/src/test/java/org/eclipse/hono/service/registration/AbstractRegistrationServiceTest.java
  services/device-registry-file/src/main/java/org/eclipse/hono/deviceregistry/file/FileBasedDeviceBackend.java
  services/device-registry-file/src/main/java/org/eclipse/hono/deviceregistry/file/FileBasedRegistrationService.java
  services/device-registry-file/src/test/java/org/eclipse/hono/deviceregistry/file/FileBasedRegistrationServiceTest.java
Labels: Device Registry

#1810 [#1802] Refactor device registration service
  service-base/src/main/java/org/eclipse/hono/service/registration/AbstractRegistrationService.java
  service-base/src/main/java/org/eclipse/hono/service/registration/EventBusRegistrationAdapter.java
  service-base/src/main/java/org/eclipse/hono/service/registration/RegistrationService.java
  service-base/src/test/java/org/eclipse/hono/service/registration/AbstractRegistrationServiceTest.java
  service-base/src/test/java/org/eclipse/hono/service/registration/BaseRegistrationServiceTest.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/device/DummyRegistrationService.java
  services/device-registry-file/src/main/java/org/eclipse/hono/deviceregistry/file/FileBasedDeviceBackend.java
  services/device-registry-file/src/main/java/org/eclipse/hono/deviceregistry/file/FileBasedRegistrationService.java
Labels: Device Registry

#1812 Add tracer instance in HotrodBasedDeviceConnectionInfo
  client-device-connection-infinispan/src/main/java/org/eclipse/hono/deviceconnection/infinispan/client/HotrodBasedDeviceConnectionClientFactory.java
  client-device-connection-infinispan/src/main/java/org/eclipse/hono/deviceconnection/infinispan/client/HotrodBasedDeviceConnectionInfo.java
  client-device-connection-infinispan/src/main/java/org/eclipse/hono/deviceconnection/infinispan/client/HotrodCacheConfig.java
  client-device-connection-infinispan/src/test/java/org/eclipse/hono/deviceconnection/infinispan/client/HotrodBasedDeviceConnectionInfoTest.java
  services/device-connection/src/main/java/org/eclipse/hono/deviceconnection/infinispan/ApplicationConfig.java
  services/device-connection/src/main/java/org/eclipse/hono/deviceconnection/infinispan/RemoteCacheBasedDeviceConnectionService.java
Labels: Device Connection, Tracing

#1818 [#1272] Add docs for new Device Connection API methods
  site/documentation/content/api/device-connection/get_cmd_handling_adapter_instances.svg
  site/documentation/content/api/device-connection/index.md
  site/documentation/content/api/device-connection/remove_cmd_handling_adapter_instance.svg
  site/documentation/content/api/device-connection/set_cmd_handling_adapter_instance.svg
Labels: Device Connection, documentation

#1825 [#1823] Calculate payload size of the incoming message based on the configured minimum message size
  service-base/src/main/java/org/eclipse/hono/service/AbstractProtocolAdapterBase.java
  service-base/src/main/java/org/eclipse/hono/service/metric/MicrometerBasedMetrics.java
  service-base/src/main/java/org/eclipse/hono/service/util/ServiceBaseUtils.java
  service-base/src/test/java/org/eclipse/hono/service/AbstractProtocolAdapterBaseTest.java
Labels: Metrics

#1800 [#1272] Add new Device Connection API methods
  client-device-connection-infinispan/src/main/java/org/eclipse/hono/deviceconnection/infinispan/client/HotrodBasedDeviceConnectionClient.java
  client/src/main/java/org/eclipse/hono/client/DeviceConnectionClient.java
  client/src/main/java/org/eclipse/hono/client/impl/DeviceConnectionClientImpl.java
  client/src/test/java/org/eclipse/hono/client/impl/DeviceConnectionClientImplTest.java
  core/src/main/java/org/eclipse/hono/util/DeviceConnectionConstants.java
  core/src/main/java/org/eclipse/hono/util/MessageHelper.java
  service-base/src/main/java/org/eclipse/hono/service/deviceconnection/DeviceConnectionService.java
  service-base/src/main/java/org/eclipse/hono/service/deviceconnection/EventBusDeviceConnectionAdapter.java
  services/device-connection/src/main/java/org/eclipse/hono/deviceconnection/infinispan/RemoteCacheBasedDeviceConnectionService.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/deviceconnection/MapBasedDeviceConnectionService.java
  services/device-registry-base/src/test/java/org/eclipse/hono/deviceregistry/service/deviceconnection/MapBasedDeviceConnectionServiceTest.java
Labels: C&C

#1827 [#1823] Update release notes
  site/homepage/content/release-notes.md
Labels: Metrics

#1830 Extend tracing with provsion to accept message and error as arguments
  core/src/main/java/org/eclipse/hono/tracing/TracingHelper.java
Labels: Tracing

#1836 Fix example unauthenticated device.
  site/documentation/content/user-guide/http-adapter.md
Labels: HTTP Adapter, bug, documentation

#1829 Extend open-tracing to include misformed PSK indentities.
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/DefaultDeviceResolver.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/PreSharedKeyDeviceIdentity.java
Labels: CoAP Adapter, enhancement

#1828 [#1272] Implement new Device Connection API methods
  bom/pom.xml
  client-device-connection-infinispan/pom.xml
  client-device-connection-infinispan/src/main/java/org/eclipse/hono/deviceconnection/infinispan/client/DeviceConnectionInfo.java
  client-device-connection-infinispan/src/main/java/org/eclipse/hono/deviceconnection/infinispan/client/HotrodBasedDeviceConnectionClient.java
  client-device-connection-infinispan/src/main/java/org/eclipse/hono/deviceconnection/infinispan/client/HotrodBasedDeviceConnectionInfo.java
  client-device-connection-infinispan/src/main/java/org/eclipse/hono/deviceconnection/infinispan/client/HotrodCache.java
  client-device-connection-infinispan/src/main/java/org/eclipse/hono/deviceconnection/infinispan/client/RemoteCache.java
  client-device-connection-infinispan/src/main/java/org/eclipse/hono/deviceconnection/infinispan/client/Versioned.java
  client-device-connection-infinispan/src/test/java/org/eclipse/hono/deviceconnection/infinispan/client/HotrodBasedDeviceConnectionInfoTest.java
  client-device-connection-infinispan/src/test/java/org/eclipse/hono/deviceconnection/infinispan/client/HotrodCacheTest.java
  services/device-connection/src/main/java/org/eclipse/hono/deviceconnection/infinispan/RemoteCacheBasedDeviceConnectionService.java
  services/device-connection/src/test/java/org/eclipse/hono/deviceconnection/infinispan/RemoteCacheBasedDeviceConnectionServiceTest.java
Labels: C&C, Device Connection

#1838 Fix test issues with commands sent concurrently
  client/src/main/java/org/eclipse/hono/client/impl/AbstractRequestResponseClient.java
  tests/src/test/java/org/eclipse/hono/tests/IntegrationTestSupport.java
Labels: C&C

#1839 [#1821] Add config properties for TLS and/or client auth
  core/src/main/java/org/eclipse/hono/config/AuthenticatingClientConfigProperties.java
  core/src/main/java/org/eclipse/hono/config/ClientConfigProperties.java
  core/src/test/java/org/eclipse/hono/config/AuthenticatingClientConfigPropertiesTest.java
  core/src/test/java/org/eclipse/hono/config/ClientConfigPropertiesTest.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractAdapterConfig.java
  service-base/src/main/java/org/eclipse/hono/service/resourcelimits/PrometheusBasedResourceLimitChecks.java
  service-base/src/main/java/org/eclipse/hono/service/resourcelimits/PrometheusBasedResourceLimitChecksConfig.java
  service-base/src/test/java/org/eclipse/hono/service/resourcelimits/PrometheusBasedResourceLimitChecksTest.java
  site/documentation/content/admin-guide/common-config.md
  site/documentation/content/admin-guide/hono-client-configuration.md
  site/homepage/content/release-notes.md
Labels: Feature Request, Metrics

#1837 Add coap user-guide.
  site/documentation/content/user-guide/coap-adapter.md
Labels: CoAP Adapter, documentation

#1841 [#1272] Implement new Command & Control handling
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapter.java
  adapters/amqp-vertx/src/test/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapterTest.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/AbstractVertxBasedCoapAdapter.java
  adapters/coap-vertx-base/src/test/java/org/eclipse/hono/adapter/coap/AbstractVertxBasedCoapAdapterTest.java
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapter.java
  adapters/http-vertx-base/src/test/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapterTest.java
  adapters/http-vertx/src/test/java/org/eclipse/hono/adapter/http/impl/VertxBasedHttpProtocolAdapterTest.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/impl/LoraProtocolAdapter.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapterTest.java
  client/src/main/java/org/eclipse/hono/client/CommandConsumerFactory.java
  client/src/main/java/org/eclipse/hono/client/CommandTargetMapper.java
  client/src/main/java/org/eclipse/hono/client/GatewayMapper.java
  client/src/main/java/org/eclipse/hono/client/ProtocolAdapterCommandConsumerFactory.java
  client/src/main/java/org/eclipse/hono/client/impl/AdapterInstanceCommandHandler.java
  client/src/main/java/org/eclipse/hono/client/impl/CommandConsumer.java
  client/src/main/java/org/eclipse/hono/client/impl/CommandConsumerFactoryImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/CommandHandlerWrapper.java
  client/src/main/java/org/eclipse/hono/client/impl/CommandTargetMapperImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/DelegateViaDownstreamPeerCommandHandler.java
  client/src/main/java/org/eclipse/hono/client/impl/DelegatedCommandSenderImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/DestinationCommandConsumer.java
  client/src/main/java/org/eclipse/hono/client/impl/DeviceSpecificCommandConsumer.java
  client/src/main/java/org/eclipse/hono/client/impl/GatewayMapperImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/GatewayMappingCommandHandler.java
  client/src/main/java/org/eclipse/hono/client/impl/MappingAndDelegatingCommandConsumer.java
  client/src/main/java/org/eclipse/hono/client/impl/MappingAndDelegatingCommandHandler.java
  client/src/main/java/org/eclipse/hono/client/impl/ProtocolAdapterCommandConsumerFactoryImpl.java
  client/src/test/java/org/eclipse/hono/client/impl/AdapterInstanceCommandHandlerTest.java
  client/src/test/java/org/eclipse/hono/client/impl/CommandConsumerFactoryImplTest.java
  client/src/test/java/org/eclipse/hono/client/impl/CommandTargetMapperImplTest.java
  client/src/test/java/org/eclipse/hono/client/impl/DelegateViaDownstreamPeerCommandHandlerTest.java
  client/src/test/java/org/eclipse/hono/client/impl/GatewayMapperImplTest.java
  client/src/test/java/org/eclipse/hono/client/impl/GatewayMappingCommandHandlerTest.java
  client/src/test/java/org/eclipse/hono/client/impl/MappingAndDelegatingCommandHandlerTest.java
  client/src/test/java/org/eclipse/hono/client/impl/ProtocolAdapterCommandConsumerFactoryImplTest.java
  core/src/main/java/org/eclipse/hono/config/ClientConfigProperties.java
  core/src/main/java/org/eclipse/hono/connection/impl/ConnectionFactoryImpl.java
  core/src/main/java/org/eclipse/hono/util/CommandConstants.java
  core/src/main/java/org/eclipse/hono/util/MessageHelper.java
  deploy/src/main/sandbox/qpid/sandbox-qdrouterd.json
  service-base/src/main/java/org/eclipse/hono/service/AbstractAdapterConfig.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractProtocolAdapterBase.java
  service-base/src/test/java/org/eclipse/hono/service/AbstractProtocolAdapterBaseTest.java
  tests/src/test/java/org/eclipse/hono/tests/http/HttpTestBase.java
  tests/src/test/resources/qpid/qdrouterd-with-broker.json
Labels: C&C, enhancement

#1850 [#1272] Remove workaround to support concurrent TTD requests
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/AbstractVertxBasedCoapAdapter.java
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapter.java
  adapters/http-vertx-base/src/test/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapterTest.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractProtocolAdapterBase.java
  site/documentation/content/user-guide/amqp-adapter.md
  site/documentation/content/user-guide/coap-adapter.md
  site/documentation/content/user-guide/http-adapter.md
  site/documentation/content/user-guide/mqtt-adapter.md
  tests/src/test/java/org/eclipse/hono/tests/http/HttpTestBase.java
Labels: C&C

#1849 Move Futures class to the core module
  client-device-connection-infinispan/src/main/java/org/eclipse/hono/deviceconnection/infinispan/client/HotrodCache.java
  core/src/main/java/org/eclipse/hono/util/Futures.java
Labels: enhancement

#1852 [#1272] Add tracing in HotrodBasedDeviceConnectionInfo
  client-device-connection-infinispan/src/main/java/org/eclipse/hono/deviceconnection/infinispan/client/HotrodBasedDeviceConnectionInfo.java
  client-device-connection-infinispan/src/test/java/org/eclipse/hono/deviceconnection/infinispan/client/HotrodBasedDeviceConnectionInfoTest.java
Labels: C&C, Tracing

#1851 [#1272] Add SpanContext parameter to createCommandConsumer()
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapter.java
  adapters/amqp-vertx/src/test/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapterTest.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/AbstractVertxBasedCoapAdapter.java
  adapters/coap-vertx-base/src/test/java/org/eclipse/hono/adapter/coap/AbstractVertxBasedCoapAdapterTest.java
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapter.java
  adapters/http-vertx-base/src/test/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapterTest.java
  adapters/http-vertx/src/test/java/org/eclipse/hono/adapter/http/impl/VertxBasedHttpProtocolAdapterTest.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/impl/LoraProtocolAdapter.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapterTest.java
  client/src/main/java/org/eclipse/hono/client/ProtocolAdapterCommandConsumerFactory.java
  client/src/main/java/org/eclipse/hono/client/impl/ProtocolAdapterCommandConsumerFactoryImpl.java
  client/src/test/java/org/eclipse/hono/client/impl/ProtocolAdapterCommandConsumerFactoryImplTest.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractProtocolAdapterBase.java
Labels: C&C, Tracing

#1765 [#1761] Add AMQP adapter client.
  client/src/main/java/org/eclipse/hono/client/device/amqp/AmqpAdapterClientFactory.java
  client/src/main/java/org/eclipse/hono/client/device/amqp/AmqpSenderLink.java
  client/src/main/java/org/eclipse/hono/client/device/amqp/CommandResponder.java
  client/src/main/java/org/eclipse/hono/client/device/amqp/EventSender.java
  client/src/main/java/org/eclipse/hono/client/device/amqp/TelemetrySender.java
  client/src/main/java/org/eclipse/hono/client/device/amqp/TraceableCommandResponder.java
  client/src/main/java/org/eclipse/hono/client/device/amqp/TraceableEventSender.java
  client/src/main/java/org/eclipse/hono/client/device/amqp/TraceableTelemetrySender.java
  client/src/main/java/org/eclipse/hono/client/device/amqp/internal/AmqpAdapterClientCommandConsumer.java
  client/src/main/java/org/eclipse/hono/client/device/amqp/internal/AmqpAdapterClientCommandResponseSender.java
  client/src/main/java/org/eclipse/hono/client/device/amqp/internal/AmqpAdapterClientEventSenderImpl.java
  client/src/main/java/org/eclipse/hono/client/device/amqp/internal/AmqpAdapterClientTelemetrySenderImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/AmqpAdapterClientFactoryImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/CommandResponseSenderImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/EventSenderImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/TelemetrySenderImpl.java
  client/src/test/java/org/eclipse/hono/client/AbstractAmqpAdapterClientDownstreamSenderTestBase.java
  client/src/test/java/org/eclipse/hono/client/device/amqp/AmqpAdapterClientFactoryTest.java
  client/src/test/java/org/eclipse/hono/client/device/amqp/CommandResponderTest.java
  client/src/test/java/org/eclipse/hono/client/device/amqp/EventSenderTest.java
  client/src/test/java/org/eclipse/hono/client/device/amqp/TelemetrySenderTest.java
  client/src/test/java/org/eclipse/hono/client/device/amqp/internal/AmqpAdapterClientCommandConsumerTest.java
  example/hono-client-examples/src/main/java/org/eclipse/hono/devices/AmqpExampleDevice.java
  site/documentation/content/dev-guide/amqp_adapter_client.md
  site/homepage/content/release-notes.md
Labels: Client, enhancement

#1853 TenantInformation service should return result instead of the direct …
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/credentials/AbstractCredentialsManagementService.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/credentials/AbstractCredentialsService.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/device/AbstractDeviceManagementService.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/device/AbstractRegistrationService.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/tenant/AutowiredTenantInformationService.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/tenant/TenantInformationService.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/tenant/TenantKey.java
  services/device-registry-file/src/test/java/org/eclipse/hono/deviceregistry/file/FileBasedTenantServiceTest.java
Labels: Device Registry, bug

#1854 Add credential checking and encoding to the abstract service
  core/src/main/java/org/eclipse/hono/util/Futures.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/credentials/AbstractCredentialsManagementService.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/credentials/AbstractCredentialsService.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/device/AbstractDeviceManagementService.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/device/AbstractRegistrationService.java
Labels: Device Registry, enhancement
