Repository eclipse-hono/hono, pull requests merged in 2020-01, with the labels that each got.

#1690 Add HonoConnection#getRemoteContainer, use it in client span
  client/src/main/java/org/eclipse/hono/client/HonoConnection.java
  client/src/main/java/org/eclipse/hono/client/impl/AbstractHonoClient.java
  client/src/main/java/org/eclipse/hono/client/impl/HonoConnectionImpl.java
  client/src/test/java/org/eclipse/hono/client/impl/HonoClientUnitTestHelper.java
  core/src/main/java/org/eclipse/hono/tracing/TracingHelper.java
Labels: Client, Tracing, enhancement

#1686 Add span context parameter to sendAsyncCommand()
  client/src/main/java/org/eclipse/hono/client/AsyncCommandClient.java
  client/src/main/java/org/eclipse/hono/client/impl/AsyncCommandClientImpl.java
Labels: Client, enhancement

#1688 [#1687] Close root span if connection got closed prematurely
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapter.java
  service-base/src/main/java/org/eclipse/hono/service/http/HttpUtils.java
Labels: HTTP Adapter, Tracing

#1698 [#1696] Fix link to documentation for building images in readme file.
  tests/readme.md
Labels: bug, documentation

#1689 Add receiver exception handling; fix wrong span being used
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapter.java
  service-base/src/main/java/org/eclipse/hono/service/amqp/RequestResponseEndpoint.java
  service-base/src/main/java/org/eclipse/hono/service/tenant/TenantTraceSamplingHelper.java
Labels: AMQP Adapter, Tracing

#1700 [#1336] Extract span context from incoming MQTT message
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/PropertyBag.java
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/PropertyBagTest.java
  core/src/main/java/org/eclipse/hono/tracing/TracingHelper.java
Labels: MQTT Adapter, Tracing

#1699 [#1691] Add isConnected(timeout); use it in client factories
  client/src/main/java/org/eclipse/hono/client/ConnectionLifecycle.java
  client/src/main/java/org/eclipse/hono/client/impl/AbstractHonoClientFactory.java
  client/src/main/java/org/eclipse/hono/client/impl/ConnectionLifecycleWrapper.java
  client/src/main/java/org/eclipse/hono/client/impl/CredentialsClientFactoryImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/DeferredConnectionCheckHandler.java
  client/src/main/java/org/eclipse/hono/client/impl/DeviceConnectionClientFactoryImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/DownstreamSenderFactoryImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/GatewayMapperImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/HonoConnectionImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/RegistrationClientFactoryImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/TenantClientFactoryImpl.java
  client/src/test/java/org/eclipse/hono/client/impl/AbstractTenantTimeoutRelatedClientFactoryTest.java
  client/src/test/java/org/eclipse/hono/client/impl/DownstreamSenderFactoryImplTest.java
  client/src/test/java/org/eclipse/hono/client/impl/HonoConnectionImplTest.java
Labels: Client

#1702 [#1701] Finish spans in management API event bus adapters
  service-base/src/main/java/org/eclipse/hono/service/management/credentials/EventBusCredentialsManagementAdapter.java
  service-base/src/main/java/org/eclipse/hono/service/management/device/EventBusDeviceManagementAdapter.java
  service-base/src/main/java/org/eclipse/hono/service/management/tenant/EventBusTenantManagementAdapter.java
Labels: Management API, Tracing, bug

#1676 Include connection to grid in readiness check
  deploy/src/main/deploy/helm/templates/hono-service-device-connection/hono-service-device-connection-deployment.yaml
  deploy/src/main/deploy/helm/templates/hono-service-device-connection/hono-service-device-connection-secret.yaml
  services/device-connection/src/main/java/org/eclipse/hono/deviceconnection/infinispan/RemoteCacheBasedDeviceConnectionService.java
  services/device-connection/src/test/resources/logback-test.xml
Labels: Device Connection, enhancement

#1707 [#1681] Upgrade Opentracing and Jaeger
  adapters/http-vertx-base/pom.xml
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapter.java
  adapters/http-vertx-base/src/test/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapterTest.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/impl/LoraProtocolAdapter.java
  bom/pom.xml
  legal/src/main/resources/legal/NOTICE.md
  service-base/pom.xml
  service-base/src/main/java/org/eclipse/hono/service/http/AbstractHttpEndpoint.java
  service-base/src/main/java/org/eclipse/hono/service/http/ComponentMetaDataDecorator.java
  service-base/src/main/java/org/eclipse/hono/service/http/HonoBasicAuthHandler.java
  service-base/src/main/java/org/eclipse/hono/service/http/HttpServiceBase.java
  service-base/src/main/java/org/eclipse/hono/service/http/TenantTraceSamplingHandler.java
  service-base/src/main/java/org/eclipse/hono/service/http/TracingHandler.java
  service-base/src/main/java/org/eclipse/hono/service/http/WebSpanDecorator.java
  service-base/src/main/java/org/eclipse/hono/service/http/X509AuthHandler.java
  service-base/src/test/java/org/eclipse/hono/service/http/TenantTraceSamplingHandlerTest.java
  service-base/src/test/java/org/eclipse/hono/service/http/X509AuthHandlerTest.java
  site/homepage/content/release-notes.md
Labels: Tracing

#1713 Use Always image pull policy for JRE base image
  pom.xml
  tests/pom.xml
Labels: enhancement

#1672 [#1346] Remove event bus from device management endpoint
  service-base/src/main/java/org/eclipse/hono/service/http/AbstractHttpEndpoint.java
  service-base/src/main/java/org/eclipse/hono/service/management/Util.java
  service-base/src/main/java/org/eclipse/hono/service/management/device/AbstractDeviceManagementHttpEndpoint.java
  service-base/src/main/java/org/eclipse/hono/service/management/device/DeviceManagementHttpEndpoint.java
  services/device-registry/src/main/java/org/eclipse/hono/deviceregistry/ApplicationConfig.java
  services/device-registry/src/main/java/org/eclipse/hono/deviceregistry/AutowiredDeviceManagementHttpEndpoint.java
  services/device-registry/src/main/java/org/eclipse/hono/deviceregistry/FileBasedRegistrationService.java
Labels: Device Registry

#1731 [#1716] Extend protocol adapters to check for connection duration limit.
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapterTest.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractProtocolAdapterBase.java
  service-base/src/test/java/org/eclipse/hono/service/AbstractProtocolAdapterBaseTest.java
Labels: AMQP Adapter, Kura Adapter, MQTT Adapter, Metrics, enhancement

#1734 [#1716] Update documentation and release notes.
  site/documentation/content/api/tenant/index.md
  site/documentation/content/concepts/resource-limits.md
  site/documentation/content/user-guide/amqp-adapter.md
  site/documentation/content/user-guide/kura-adapter.md
  site/documentation/content/user-guide/mqtt-adapter.md
  site/homepage/content/release-notes.md
Labels: Metrics, documentation

#1719 [#1718] Add exception handling; improve link creation logic
  client/src/main/java/org/eclipse/hono/client/impl/HonoConnectionImpl.java
  client/src/test/java/org/eclipse/hono/client/impl/HonoConnectionImplTest.java
  core/src/main/java/org/eclipse/hono/util/HonoProtonHelper.java
Labels: Client, bug
