Repository eclipse-hono/hono, pull requests merged in 2021-02, with the labels that each got.

#2450 Update user guide regarding unsupported operations by the file and JDBC device registries
  site/documentation/content/user-guide/file-based-device-registry.md
  site/documentation/content/user-guide/jdbc-based-device-registry.md
Labels: Device Registry, JDBC Device Registry, documentation

#2451 [#2392] Use protocol-agnostic client factory in CLI
  cli/pom.xml
  cli/src/main/java/org/eclipse/hono/cli/AppConfiguration.java
  cli/src/main/java/org/eclipse/hono/cli/app/KafkaReceiver.java
  cli/src/main/java/org/eclipse/hono/cli/app/Receiver.java
  cli/src/main/java/org/eclipse/hono/cli/app/ReceiverStatistics.java
  cli/src/main/resources/application.yml
  cli/src/test/java/org/eclipse/hono/cli/app/KafkaReceiverTest.java
  cli/src/test/java/org/eclipse/hono/cli/app/ReceiverTest.java
Labels: Client

#2452 Use response-required instead of response-expected command header
  clients/adapter-kafka/src/main/java/org/eclipse/hono/adapter/client/command/kafka/KafkaBasedCommand.java
  clients/adapter-kafka/src/test/java/org/eclipse/hono/adapter/client/command/kafka/KafkaBasedCommandTest.java
  clients/adapter/src/main/java/org/eclipse/hono/adapter/client/command/Command.java
  site/documentation/content/api/command-and-control-kafka/index.md
Labels: C&C

#2447 [#2273] Add KafkaBasedInternalCommandConsumer
  clients/adapter-kafka/src/main/java/org/eclipse/hono/adapter/client/command/kafka/KafkaBasedCommand.java
  clients/adapter-kafka/src/main/java/org/eclipse/hono/adapter/client/command/kafka/KafkaBasedInternalCommandConsumer.java
  clients/adapter-kafka/src/test/java/org/eclipse/hono/adapter/client/command/kafka/KafkaBasedCommandTest.java
  clients/adapter-kafka/src/test/java/org/eclipse/hono/adapter/client/command/kafka/KafkaBasedInternalCommandConsumerTest.java
  clients/adapter/src/main/java/org/eclipse/hono/adapter/client/command/CommandRouterCommandConsumerFactory.java
  clients/kafka-common/src/main/java/org/eclipse/hono/client/kafka/HonoTopic.java
  clients/kafka-common/src/test/java/org/eclipse/hono/client/kafka/HonoTopicTest.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractAdapterConfig.java
Labels: C&C

#2455 Create Authentication service base module
  service-base/pom.xml
  services/auth-base/pom.xml
  services/auth-base/src/main/java/org/eclipse/hono/authentication/AuthenticationEndpoint.java
  services/auth-base/src/main/java/org/eclipse/hono/authentication/SimpleAuthenticationServer.java
  services/auth-base/src/main/java/org/eclipse/hono/authentication/file/FileBasedAuthenticationService.java
  services/auth-base/src/main/java/org/eclipse/hono/authentication/file/FileBasedAuthenticationServiceConfigProperties.java
  services/auth-base/src/test/java/org/eclipse/hono/authentication/SimpleAuthenticationServerTest.java
  services/auth-base/src/test/java/org/eclipse/hono/authentication/file/FileBasedAuthenticationServiceTest.java
  services/auth-base/src/test/resources/authentication-service-test-permissions.json
  services/auth-base/src/test/resources/logback-test.xml
  services/auth/pom.xml
  services/auth/src/main/java/org/eclipse/hono/service/auth/impl/Application.java
  services/auth/src/main/java/org/eclipse/hono/service/auth/impl/ApplicationConfig.java
  services/auth/src/main/resources/permissions.json
  services/base-spring/pom.xml
  services/command-router/pom.xml
  services/device-connection/pom.xml
  services/device-registry-base/pom.xml
  services/device-registry-file/pom.xml
  services/device-registry-jdbc/pom.xml
  services/device-registry-mongodb/pom.xml
  services/pom.xml
Labels: Auth Server

#2459 [#8] Use KafkaMessageHelper in AbstractKafkaBasedMessageSender.
  clients/kafka-common/src/main/java/org/eclipse/hono/client/kafka/producer/AbstractKafkaBasedMessageSender.java
Labels: Client

#2463 [#2273] Improve createCommandConsumer() in Command Router
  clients/adapter-amqp/src/main/java/org/eclipse/hono/adapter/client/command/amqp/ProtonBasedInternalCommandConsumer.java
  clients/adapter-kafka/src/main/java/org/eclipse/hono/adapter/client/command/kafka/KafkaBasedInternalCommandConsumer.java
  clients/adapter-kafka/src/main/java/org/eclipse/hono/adapter/client/command/kafka/KafkaBasedInternalCommandSender.java
  services/command-router/src/main/java/org/eclipse/hono/commandrouter/impl/AbstractMappingAndDelegatingCommandHandler.java
  services/command-router/src/main/java/org/eclipse/hono/commandrouter/impl/kafka/KafkaBasedCommandConsumerFactoryImpl.java
Labels: C&C

#2461 Upgrade Hugo theme for documentation
  jenkins/Hono-Website-Pipeline-Declarative.groovy
  site/build-site.bat
  site/build-site.sh
  site/documentation/config.toml
  site/documentation/layouts/partials/custom-footer.html
  site/documentation/layouts/partials/custom-header.html
  site/documentation/layouts/partials/header.html
  site/documentation/layouts/partials/menu.html
  site/homepage/layouts/partials/head.html
  site/pom.xml
Labels: website

#2458 Move HTTP adapter base classes to HTTP adapter module
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/AuthHandlerTools.java
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/HonoBasicAuthHandler.java
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/HonoChainAuthHandler.java
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/HonoHttpAuthHandler.java
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/HttpAuthProviderAdapter.java
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/X509AuthHandler.java
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/impl/VertxBasedHttpProtocolAdapter.java
  adapters/http-vertx-base/src/test/java/org/eclipse/hono/adapter/http/HonoBasicAuthHandlerTest.java
  adapters/http-vertx-base/src/test/java/org/eclipse/hono/adapter/http/HonoChainAuthHandlerTest.java
  adapters/http-vertx-base/src/test/java/org/eclipse/hono/adapter/http/X509AuthHandlerTest.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/impl/LoraProtocolAdapter.java
  adapters/sigfox-vertx/src/main/java/org/eclipse/hono/adapter/sigfox/impl/SigfoxProtocolAdapter.java
  services/device-registry-jdbc/src/main/java/org/eclipse/hono/deviceregistry/jdbc/ApplicationConfig.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/ApplicationConfig.java
Labels: enhancement

#2464 Move Spring specific classes to module service-base-spring
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/impl/Application.java
  adapters/base-spring/pom.xml
  adapters/coap-vertx/src/main/java/org/eclipse/hono/adapter/coap/impl/Application.java
  adapters/http-vertx/src/main/java/org/eclipse/hono/adapter/http/impl/Application.java
  adapters/kura/src/main/java/org/eclipse/hono/adapter/kura/impl/Application.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/impl/Application.java
  adapters/mqtt-vertx/src/main/java/org/eclipse/hono/adapter/mqtt/impl/Application.java
  adapters/sigfox-vertx/src/main/java/org/eclipse/hono/adapter/sigfox/impl/Application.java
  bom/pom.xml
  pom.xml
  service-base-quarkus/pom.xml
  service-base-spring/pom.xml
  service-base-spring/src/main/java/org/eclipse/hono/service/spring/AbstractApplication.java
  service-base-spring/src/main/java/org/eclipse/hono/service/spring/AbstractBaseApplication.java
  service-base-spring/src/test/java/org/eclipse/hono/service/spring/AbstractApplicationTest.java
  services/auth/src/main/java/org/eclipse/hono/service/auth/impl/Application.java
  services/base-spring/pom.xml
  services/command-router/src/main/java/org/eclipse/hono/commandrouter/Application.java
  services/device-connection/src/main/java/org/eclipse/hono/deviceconnection/infinispan/Application.java
  services/device-registry-file/src/main/java/org/eclipse/hono/deviceregistry/file/Application.java
  services/device-registry-jdbc/src/main/java/org/eclipse/hono/deviceregistry/jdbc/Application.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/Application.java
Labels: enhancement

#2466 [#2465] Fix potential NPE when handling command response
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
Labels: MQTT Adapter, bug

#2468 Upgrade Hugo theme used for homepage to latest 1.1.1 version
  site/build-site.bat
  site/build-site.sh
  site/homepage/config.toml
  site/homepage/layouts/partials/clients.html
  site/homepage/layouts/partials/footer.html
  site/homepage/layouts/partials/head.html
  site/homepage/layouts/partials/nav.html
  site/homepage/static/img/sharing-default.png
Labels: website

#2444 [#8] Commit offsets when the Kafka consumer is interrupted.
  clients/application-kafka/src/main/java/org/eclipse/hono/application/client/kafka/KafkaApplicationClientFactory.java
  clients/application-kafka/src/main/java/org/eclipse/hono/application/client/kafka/impl/DownstreamMessageConsumer.java
  clients/application-kafka/src/main/java/org/eclipse/hono/application/client/kafka/impl/EventConsumer.java
  clients/application-kafka/src/main/java/org/eclipse/hono/application/client/kafka/impl/KafkaDownstreamMessage.java
  clients/application-kafka/src/main/java/org/eclipse/hono/application/client/kafka/impl/TelemetryConsumer.java
  clients/kafka-common/src/main/java/org/eclipse/hono/client/kafka/consumer/AbstractAtLeastOnceKafkaConsumer.java
  clients/kafka-common/src/test/java/org/eclipse/hono/client/kafka/consumer/AbstractAtLeastOnceKafkaConsumerKafkaMockConsumerTest.java
  clients/kafka-common/src/test/java/org/eclipse/hono/client/kafka/consumer/AbstractAtLeastOnceKafkaConsumerMockitoTest.java
  clients/kafka-common/src/test/java/org/eclipse/hono/client/kafka/consumer/TestConsumer.java
Labels: Client

#2474 Also check connection when checking for open link
  adapters/amqp-vertx-base/src/main/java/org/eclipse/hono/adapter/amqp/VertxBasedAmqpProtocolAdapter.java
  client/src/main/java/org/eclipse/hono/client/impl/AbstractRequestResponseClient.java
  client/src/main/java/org/eclipse/hono/client/impl/AbstractSender.java
  client/src/main/java/org/eclipse/hono/client/impl/CommandClientImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/DelegatedCommandSenderImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/ProtocolAdapterCommandConsumerFactoryImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/TelemetrySenderImpl.java
  client/src/test/java/org/eclipse/hono/client/impl/HonoClientUnitTestHelper.java
  clients/adapter-amqp/src/main/java/org/eclipse/hono/adapter/client/amqp/RequestResponseClient.java
  clients/adapter-amqp/src/main/java/org/eclipse/hono/adapter/client/command/amqp/ProtonBasedInternalCommandConsumer.java
  clients/amqp-common/src/main/java/org/eclipse/hono/client/amqp/GenericSenderLink.java
  core/src/main/java/org/eclipse/hono/util/HonoProtonHelper.java
  service-base/src/main/java/org/eclipse/hono/service/amqp/AbstractRequestResponseEndpoint.java
  test-utils/client-test-utils/src/main/java/org/eclipse/hono/client/amqp/test/AmqpClientUnitTestHelper.java
Labels: enhancement

#2479 Improve MQTT subscription handling
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/CommandSubscription.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/CommandSubscriptionsManager.java
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapterTest.java
Labels: MQTT Adapter, enhancement

#2484 Add Quarkus based implementation of Authentication service
  core/src/main/java/org/eclipse/hono/config/SignatureSupportingConfigProperties.java
  service-base-quarkus/src/main/java/org/eclipse/hono/config/quarkus/ServiceConfigProperties.java
  services/auth-base/pom.xml
  services/auth-base/src/main/java/org/eclipse/hono/authentication/file/FileBasedAuthenticationServiceConfigProperties.java
  services/auth-base/src/test/java/org/eclipse/hono/authentication/file/FileBasedAuthenticationServiceTest.java
  services/auth-quarkus/pom.xml
  services/auth-quarkus/src/main/java/org/eclipse/hono/authentication/quarkus/Application.java
  services/auth-quarkus/src/main/java/org/eclipse/hono/authentication/quarkus/FileBasedAuthenticationServiceConfigProperties.java
  services/auth-quarkus/src/main/resources/default_banner.txt
  services/auth-quarkus/src/main/resources/reflection-config.json
  services/auth-quarkus/src/main/resources/resources-config.json
  services/auth/pom.xml
  services/auth/src/main/java/org/eclipse/hono/authentication/spring/Application.java
  services/auth/src/main/java/org/eclipse/hono/authentication/spring/ApplicationConfig.java
  services/auth/src/main/java/org/eclipse/hono/authentication/spring/FileBasedAuthenticationServiceConfigProperties.java
  services/base-quarkus/pom.xml
  services/pom.xml
  tests/pom.xml
  tests/src/test/resources/auth/application.yml
Labels: Auth Server

#2483 Refactor MqttEndpoint related methods
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapterTest.java
Labels: MQTT Adapter

#2485 Optimize homepage pages for search engines
  site/homepage/config.toml
  site/homepage/content/_index.md
  site/homepage/content/community/contributing.md
  site/homepage/content/community/get-in-touch.md
  site/homepage/content/community/presentations.md
  site/homepage/content/community/road-map.md
  site/homepage/content/community/thankyou.md
  site/homepage/content/downloads.md
  site/homepage/content/getting-started/index.md
  site/homepage/content/release-notes.md
  site/homepage/content/sandbox.md
  site/homepage/content/thankyou.md
  site/homepage/layouts/_default/single.html
  site/homepage/layouts/partials/footer.html
  site/homepage/layouts/partials/head.html
  site/homepage/layouts/partials/scripts.html
  site/homepage/static/css/custom.css
Labels: enhancement, website

#2491 Use PostgreSQL server for running integration tests
  services/base-jdbc/src/main/sql/h2/01-create.tenants.sql
  services/base-jdbc/src/main/sql/h2/02-create.devices.sql
  services/base-jdbc/src/main/sql/postgresql/01-create.tenants.sql
  services/base-jdbc/src/main/sql/postgresql/02-create.devices.sql
  services/device-registry-jdbc/src/test/java/org/eclipse/hono/deviceregistry/jdbc/impl/AbstractJdbcRegistryTest.java
  tests/pom.xml
  tests/src/test/resources/deviceregistry-jdbc/application.yml
Labels: build system

#2488 [2273] Support sending command response via Kafka
  adapter-base-spring/src/main/java/org/eclipse/hono/adapter/spring/AbstractAdapterConfig.java
  clients/adapter-kafka/src/main/java/org/eclipse/hono/adapter/client/command/kafka/KafkaBasedCommandResponseSender.java
  clients/adapter-kafka/src/test/java/org/eclipse/hono/adapter/client/command/kafka/KafkaBasedCommandResponseSenderTest.java
Labels: C&C, Client

#2494 [#2492] Upgrade to latest Spring minor version
  bom/pom.xml
  legal/src/main/resources/legal/DEPENDENCIES
  legal/src/main/resources/legal/hono-maven.deps
Labels: enhancement

#2473 #2469 Adding Kafka to integration test infrastructure
  bom/pom.xml
  pom.xml
  tests/pom.xml
  tests/readme.md
  tests/src/test/java/org/eclipse/hono/tests/IntegrationTestSupport.java
  tests/src/test/resources/amqp/application.yml
  tests/src/test/resources/coap/application.yml
  tests/src/test/resources/http/application.yml
  tests/src/test/resources/mqtt/application.yml
Labels: build system

#2493 [#2064] Extract AbstractSubscription out of CommandSubscription
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractSubscription.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/CommandSubscription.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/CommandSubscriptionsManager.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/MqttContext.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/Subscription.java
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/CommandSubscriptionTest.java
Labels: MQTT Adapter, enhancement

#2500 Do not delete images from Hugo theme when building docs locally
  site/build-site.bat
  site/build-site.sh
Labels: build system

#2499 Use "client facing error message" in AMQP adapter
  adapter-base/src/main/java/org/eclipse/hono/adapter/AbstractProtocolAdapterBase.java
  adapters/amqp-vertx-base/src/main/java/org/eclipse/hono/adapter/amqp/VertxBasedAmqpProtocolAdapter.java
Labels: AMQP Adapter, enhancement

#2489 [#2402] Use the messaging system configured on the tenant
  adapter-base-quarkus/src/main/java/org/eclipse/hono/adapter/quarkus/AbstractProtocolAdapterApplication.java
  adapter-base-spring/src/main/java/org/eclipse/hono/adapter/spring/AbstractAdapterConfig.java
  adapter-base/src/main/java/org/eclipse/hono/adapter/AbstractProtocolAdapterBase.java
  adapter-base/src/main/java/org/eclipse/hono/adapter/MultiMessagingSenders.java
  adapter-base/src/test/java/org/eclipse/hono/adapter/AbstractProtocolAdapterBaseTest.java
  adapter-base/src/test/java/org/eclipse/hono/adapter/MultiMessagingSendersTest.java
  adapters/amqp-vertx-base/src/main/java/org/eclipse/hono/adapter/amqp/VertxBasedAmqpProtocolAdapter.java
  adapters/amqp-vertx-base/src/test/java/org/eclipse/hono/adapter/amqp/VertxBasedAmqpProtocolAdapterTest.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/AbstractVertxBasedCoapAdapter.java
  adapters/coap-vertx-base/src/test/java/org/eclipse/hono/adapter/coap/AbstractVertxBasedCoapAdapterTest.java
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapter.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
  core/src/main/java/org/eclipse/hono/util/TenantConstants.java
  test-utils/adapter-base-test-utils/src/main/java/org/eclipse/hono/adapter/test/ProtocolAdapterTestSupport.java
Labels: Client

#2502 Enable TLS 1.3 by default in all components
  core/src/main/java/org/eclipse/hono/config/AbstractConfig.java
  core/src/main/java/org/eclipse/hono/connection/impl/ConnectionFactoryImpl.java
  core/src/test/java/org/eclipse/hono/config/AbstractConfigTest.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractServiceBase.java
  service-base/src/test/java/org/eclipse/hono/service/AbstractServiceBaseTest.java
  service-base/src/test/java/org/eclipse/hono/service/amqp/AmqpServiceBaseTest.java
  site/documentation/content/admin-guide/amqp-adapter-config.md
  site/documentation/content/admin-guide/command-router-config.md
  site/documentation/content/admin-guide/device-connection-config.md
  site/documentation/content/admin-guide/file-based-device-registry-config.md
  site/documentation/content/admin-guide/hono-client-configuration.md
  site/documentation/content/admin-guide/http-adapter-config.md
  site/documentation/content/admin-guide/jdbc-device-registry-config.md
  site/documentation/content/admin-guide/kura-adapter-config.md
  site/documentation/content/admin-guide/mongodb-device-registry-config.md
  site/documentation/content/admin-guide/mqtt-adapter-config.md
  tests/pom.xml
  tests/src/test/java/org/eclipse/hono/tests/IntegrationTestSupport.java
  tests/src/test/java/org/eclipse/hono/tests/amqp/AmqpAdapterTestBase.java
  tests/src/test/java/org/eclipse/hono/tests/amqp/AmqpConnectionIT.java
  tests/src/test/java/org/eclipse/hono/tests/client/HonoClientImplIT.java
  tests/src/test/java/org/eclipse/hono/tests/http/HttpTestBase.java
  tests/src/test/java/org/eclipse/hono/tests/jms/JmsBasedHonoConnection.java
  tests/src/test/java/org/eclipse/hono/tests/mqtt/MqttConnectionIT.java
  tests/src/test/java/org/eclipse/hono/tests/mqtt/MqttTestBase.java
  tests/src/test/resources/artemis/broker.xml
  tests/src/test/resources/qpid/qdrouterd-with-broker.json
Labels: enhancement

#2506 [#2477] Support time-to-live (TTL) header in Kafka-based clients
  clients/adapter-kafka/src/main/java/org/eclipse/hono/adapter/client/telemetry/kafka/AbstractKafkaBasedDownstreamSender.java
  clients/adapter-kafka/src/test/java/org/eclipse/hono/adapter/client/telemetry/kafka/AbstractKafkaBasedDownstreamSenderTest.java
  clients/kafka-common/src/main/java/org/eclipse/hono/client/kafka/KafkaMessageHelper.java
  clients/kafka-common/src/main/java/org/eclipse/hono/client/kafka/consumer/AbstractAtLeastOnceKafkaConsumer.java
  clients/kafka-common/src/test/java/org/eclipse/hono/client/kafka/KafkaMessageHelperTest.java
  clients/kafka-common/src/test/java/org/eclipse/hono/client/kafka/consumer/AbstractAtLeastOnceKafkaConsumerKafkaMockConsumerTest.java
Labels: Client

#2496 [#2064] Introduce PendingPubAcks, remove CommandSubscriptionsManager
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractSubscription.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/CommandSubscription.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/CommandSubscriptionsManager.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/PendingPubAcks.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/Subscription.java
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/CommandSubscriptionTest.java
Labels: MQTT Adapter, enhancement

#2507 [#2402] Document how to select messaging based on the tenant
  site/documentation/content/admin-guide/common-config.md
  site/documentation/content/admin-guide/hono-kafka-client-configuration.md
Labels: Client

#2505 [#2495] Fix PropertyBag parsing errors
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/PropertyBag.java
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/PropertyBagTest.java
Labels: MQTT Adapter, bug

#2509 [#2478] Rename ApplicationClientFactory to ApplicationClient
  cli/src/main/java/org/eclipse/hono/cli/AppConfiguration.java
  cli/src/main/java/org/eclipse/hono/cli/app/Receiver.java
  cli/src/test/java/org/eclipse/hono/cli/app/ReceiverTest.java
  clients/application-amqp/src/main/java/org/eclipse/hono/application/client/amqp/AmqpApplicationClient.java
  clients/application-amqp/src/main/java/org/eclipse/hono/application/client/amqp/ProtonBasedApplicationClient.java
  clients/application-amqp/src/test/java/org/eclipse/hono/application/client/amqp/ProtonBasedApplicationClientFactoryTest.java
  clients/application-kafka/src/main/java/org/eclipse/hono/application/client/kafka/KafkaApplicationClient.java
  clients/application-kafka/src/main/java/org/eclipse/hono/application/client/kafka/impl/KafkaApplicationClientImpl.java
  clients/application/src/main/java/org/eclipse/hono/application/client/ApplicationClient.java
  tests/src/test/java/org/eclipse/hono/tests/IntegrationTestSupport.java
  tests/src/test/java/org/eclipse/hono/tests/client/HonoClientImplIT.java
Labels: Client
