Repository eclipse-hono/hono, pull requests merged in 2021-05, with the labels that each got.

#2642 [#2272] Rely on tenant's trusted CA entry to check if auto-provisioning is enabled
  core/src/main/java/org/eclipse/hono/util/Constants.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/credentials/AbstractCredentialsService.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/util/DeviceRegistryUtils.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/device/AutoProvisioning.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/device/AutoProvisioningEnabledDeviceBackend.java
  services/device-registry-base/src/test/java/org/eclipse/hono/service/management/device/AutoProvisioningEnabledDeviceBackendTest.java
  services/device-registry-base/src/test/java/org/eclipse/hono/service/management/device/AutoProvisioningTest.java
  services/device-registry-file/src/main/java/org/eclipse/hono/deviceregistry/file/FileBasedDeviceBackend.java
  services/device-registry-file/src/main/java/org/eclipse/hono/deviceregistry/file/FileBasedServiceConfig.java
  services/device-registry-file/src/test/java/org/eclipse/hono/deviceregistry/file/FileBasedCredentialsServiceTest.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/ApplicationConfig.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedDeviceBackend.java
  services/device-registry-mongodb/src/test/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedCredentialServiceTest.java
  tests/src/test/java/org/eclipse/hono/tests/registry/CredentialsApiTests.java
Labels: Device Registry, JDBC Device Registry, MongoDB Device Registry

#2645 Upgrade to latest vert.x service release
  adapter-base-quarkus/pom.xml
  adapter-base-spring/pom.xml
  adapter-base/pom.xml
  adapters/pom.xml
  bom/pom.xml
  cli/pom.xml
  client-device-connection-infinispan/pom.xml
  client/pom.xml
  clients/pom.xml
  core/pom.xml
  legal/src/main/resources/legal/DEPENDENCIES
  legal/src/main/resources/legal/hono-maven.deps
  service-base-quarkus/pom.xml
  service-base-spring/pom.xml
  service-base/pom.xml
  services/pom.xml
  tests/pom.xml
Labels: enhancement

#2641 [#2480] Implement and use Kafka consumer with own auto-commit
  clients/kafka-common/src/main/java/org/eclipse/hono/client/kafka/consumer/AsyncHandlingAutoCommitKafkaConsumer.java
  clients/kafka-common/src/main/java/org/eclipse/hono/client/kafka/consumer/HonoKafkaConsumer.java
  clients/kafka-common/src/main/java/org/eclipse/hono/client/kafka/consumer/HonoKafkaConsumerHelper.java
  clients/kafka-common/src/main/resources/META-INF/native-image/org.eclipse.hono/hono-client-kafka-common/reflection-config.json
  clients/kafka-common/src/test/java/org/eclipse/hono/client/kafka/consumer/AsyncHandlingAutoCommitKafkaConsumerTest.java
  clients/kafka-common/src/test/java/org/eclipse/hono/client/kafka/consumer/HonoKafkaConsumerTest.java
  clients/kafka-common/src/test/java/org/eclipse/hono/client/kafka/consumer/KafkaMockConsumer.java
  services/command-router-base/src/main/java/org/eclipse/hono/commandrouter/impl/kafka/KafkaBasedCommandConsumerFactoryImpl.java
  services/command-router-base/src/main/java/org/eclipse/hono/commandrouter/impl/kafka/KafkaBasedMappingAndDelegatingCommandHandler.java
  services/command-router-base/src/main/java/org/eclipse/hono/commandrouter/impl/kafka/KafkaCommandProcessingQueue.java
  services/command-router-base/src/test/java/org/eclipse/hono/commandrouter/impl/kafka/KafkaBasedMappingAndDelegatingCommandHandlerTest.java
Labels: C&C

#2638 Prevent ERROR logs for requests with invalid URI
  service-base/src/main/java/org/eclipse/hono/service/http/ComponentMetaDataDecorator.java
  service-base/src/main/java/org/eclipse/hono/service/http/DefaultFailureHandler.java
  service-base/src/main/java/org/eclipse/hono/service/http/HttpUtils.java
  service-base/src/main/java/org/eclipse/hono/service/http/TracingHandler.java
  service-base/src/main/java/org/eclipse/hono/service/http/WebSpanDecorator.java
  service-base/src/test/java/org/eclipse/hono/service/http/HttpUtilsTest.java
  services/device-registry-base/src/test/java/org/eclipse/hono/service/management/device/DelegatingDeviceManagementHttpEndpointTest.java
Labels: HTTP Adapter

#2631 [#2587] Support automatic schema creation in the JDBC registry.
  services/base-jdbc/src/main/java/org/eclipse/hono/service/base/jdbc/store/SQL.java
  services/base-jdbc/src/main/resources/sql/h2/01-create.tenants.sql
  services/base-jdbc/src/main/resources/sql/h2/02-create.devices.sql
  services/base-jdbc/src/main/resources/sql/postgresql/01-create.tenants.sql
  services/base-jdbc/src/main/resources/sql/postgresql/02-create.devices.sql
  services/base-jdbc/src/test/java/org/eclipse/hono/service/base/jdbc/store/SQLTest.java
  services/device-registry-jdbc/src/main/java/org/eclipse/hono/deviceregistry/jdbc/ApplicationConfig.java
  services/device-registry-jdbc/src/main/java/org/eclipse/hono/deviceregistry/jdbc/Profiles.java
  services/device-registry-jdbc/src/main/java/org/eclipse/hono/deviceregistry/jdbc/SchemaCreator.java
  services/device-registry-jdbc/src/main/java/org/eclipse/hono/deviceregistry/jdbc/impl/ClasspathSchemaCreator.java
  services/device-registry-jdbc/src/main/java/org/eclipse/hono/deviceregistry/jdbc/impl/NoOpSchemaCreator.java
  services/device-registry-jdbc/src/main/java/org/eclipse/hono/deviceregistry/jdbc/impl/RegistrationServiceImpl.java
  services/device-registry-jdbc/src/test/java/org/eclipse/hono/deviceregistry/jdbc/impl/AbstractJdbcRegistryTest.java
  tests/pom.xml
Labels: JDBC Device Registry, enhancement

#2653 AMQP adapter: Fix command not getting released in case device already disconnected
  core/src/main/java/org/eclipse/hono/util/HonoProtonHelper.java
Labels: AMQP Adapter, bug

#2656 [#2587] Add schema creation to release notes.
  site/homepage/content/release-notes.md
Labels: JDBC Device Registry

#2647 [#2272] Add support to auto-provision gateways
  core/src/main/java/org/eclipse/hono/util/RegistryManagementConstants.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/util/DeviceRegistryUtils.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/device/AutoProvisioning.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/tenant/Tenant.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/tenant/TrustedCertificateAuthority.java
  services/device-registry-base/src/test/java/org/eclipse/hono/service/management/device/AutoProvisioningTest.java
  services/device-registry-base/src/test/java/org/eclipse/hono/service/management/tenant/TrustedCertificateAuthorityTest.java
  services/device-registry-file/src/test/java/org/eclipse/hono/deviceregistry/file/FileBasedTenantServiceTest.java
  site/documentation/content/api/management/device-registry-v1.yaml
  tests/src/test/java/org/eclipse/hono/tests/registry/CredentialsApiTests.java
Labels: Device Registry, JDBC Device Registry, Management API, MongoDB Device Registry

#2652 Use Caffeine AsyncCacheLoader for populating cache in the background
  adapter-base-quarkus/src/main/java/org/eclipse/hono/adapter/quarkus/AbstractProtocolAdapterApplication.java
  adapter-base-quarkus/src/main/java/org/eclipse/hono/adapter/resourcelimits/quarkus/ResourceLimitChecksProducer.java
  adapter-base-quarkus/src/main/resources/META-INF/native-image/org.eclipse.hono/hono-adapter-base-quarkus/native-image.properties
  adapter-base-quarkus/src/main/resources/META-INF/native-image/org.eclipse.hono/hono-adapter-base-quarkus/reflection-config.json
  adapter-base-spring/src/main/java/org/eclipse/hono/adapter/spring/AbstractAdapterConfig.java
  adapter-base/src/main/java/org/eclipse/hono/adapter/resourcelimits/ConnectedDevicesAsyncCacheLoader.java
  adapter-base/src/main/java/org/eclipse/hono/adapter/resourcelimits/ConnectionDurationAsyncCacheLoader.java
  adapter-base/src/main/java/org/eclipse/hono/adapter/resourcelimits/DataVolumeAsyncCacheLoader.java
  adapter-base/src/main/java/org/eclipse/hono/adapter/resourcelimits/LimitedResource.java
  adapter-base/src/main/java/org/eclipse/hono/adapter/resourcelimits/LimitedResourceKey.java
  adapter-base/src/main/java/org/eclipse/hono/adapter/resourcelimits/PrometheusBasedAsyncCacheLoader.java
  adapter-base/src/main/java/org/eclipse/hono/adapter/resourcelimits/PrometheusBasedResourceLimitChecks.java
  adapter-base/src/main/java/org/eclipse/hono/adapter/resourcelimits/PrometheusBasedResourceLimitChecksConfig.java
  adapter-base/src/test/java/org/eclipse/hono/adapter/resourcelimits/AsyncCacheLoaderTestBase.java
  adapter-base/src/test/java/org/eclipse/hono/adapter/resourcelimits/ConnectedDevicesAsyncCacheLoaderTest.java
  adapter-base/src/test/java/org/eclipse/hono/adapter/resourcelimits/ConnectionDurationAsyncCacheLoaderTest.java
  adapter-base/src/test/java/org/eclipse/hono/adapter/resourcelimits/DataVolumeAsyncCacheLoaderTest.java
  adapter-base/src/test/java/org/eclipse/hono/adapter/resourcelimits/PrometheusBasedAsyncCacheLoaderTest.java
  adapter-base/src/test/java/org/eclipse/hono/adapter/resourcelimits/PrometheusBasedResourceLimitChecksTest.java
  adapter-base/src/test/resources/logback-test.xml
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/spring/Config.java
  adapters/coap-vertx/src/main/java/org/eclipse/hono/adapter/coap/spring/Config.java
  adapters/http-vertx/src/main/java/org/eclipse/hono/adapter/http/spring/Config.java
  adapters/kura/src/main/java/org/eclipse/hono/adapter/kura/impl/Config.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/impl/Config.java
  adapters/mqtt-vertx/src/main/java/org/eclipse/hono/adapter/mqtt/spring/Config.java
  adapters/sigfox-vertx/src/main/java/org/eclipse/hono/adapter/sigfox/impl/Config.java
  service-base-quarkus/src/main/resources/META-INF/native-image/org.eclipse.hono/hono-service-base-quarkus/reflection-config.json
  site/documentation/content/admin-guide/common-config.md
Labels: Metrics

#2655 Enable reporting of jaeger client metrics
  adapters/base-spring/pom.xml
  bom/pom.xml
  legal/src/main/resources/legal/DEPENDENCIES
  legal/src/main/resources/legal/hono-maven.deps
  services/command-router/pom.xml
  services/device-connection/pom.xml
  services/device-registry-file/pom.xml
  services/device-registry-jdbc/pom.xml
  services/device-registry-mongodb/pom.xml
Labels: Tracing, enhancement

#2659 Update Jaeger to 1.6.0
  bom/pom.xml
  legal/src/main/resources/legal/DEPENDENCIES
  legal/src/main/resources/legal/hono-maven.deps
Labels: Tracing

#2666 Make the AMQP network config non-mandatory in the adapters
  adapter-base-quarkus/src/main/java/org/eclipse/hono/adapter/quarkus/AbstractProtocolAdapterApplication.java
  adapter-base-spring/src/main/java/org/eclipse/hono/adapter/spring/AbstractAdapterConfig.java
  adapter-base-spring/src/main/java/org/eclipse/hono/adapter/spring/AbstractMessagingClientConfig.java
Labels: C&C

#2658 Add support for white listing cipher suites
  core/src/main/java/org/eclipse/hono/config/AbstractConfig.java
  core/src/main/java/org/eclipse/hono/connection/impl/ConnectionFactoryImpl.java
  core/src/test/java/org/eclipse/hono/config/AbstractConfigTest.java
  core/src/test/java/org/eclipse/hono/connection/impl/ConnectionFactoryImplTest.java
  core/src/test/resources/logback-test.xml
  service-base/src/main/java/org/eclipse/hono/service/AbstractServiceBase.java
  service-base/src/test/java/org/eclipse/hono/service/AbstractServiceBaseTest.java
  site/documentation/content/admin-guide/amqp-adapter-config.md
  site/documentation/content/admin-guide/auth-server-config.md
  site/documentation/content/admin-guide/command-router-config.md
  site/documentation/content/admin-guide/device-connection-config.md
  site/documentation/content/admin-guide/file-based-device-registry-config.md
  site/documentation/content/admin-guide/hono-client-configuration.md
  site/documentation/content/admin-guide/http-adapter-config.md
  site/documentation/content/admin-guide/jdbc-device-registry-config.md
  site/documentation/content/admin-guide/kura-adapter-config.md
  site/documentation/content/admin-guide/mongodb-device-registry-config.md
  site/documentation/content/admin-guide/mqtt-adapter-config.md
  site/homepage/content/release-notes.md
  tests/src/test/java/org/eclipse/hono/tests/amqp/AmqpAdapterTestBase.java
  tests/src/test/java/org/eclipse/hono/tests/amqp/AmqpConnectionIT.java
  tests/src/test/java/org/eclipse/hono/tests/client/ApplicationClientIT.java
  tests/src/test/resources/amqp/application.yml
Labels: AMQP Adapter, Auth Server, Client, CoAP Adapter, Device Registry, HTTP Adapter, JDBC Device Registry, Kura Adapter, LoRa Adapter, MQTT Adapter, MongoDB Device Registry, SigFox Adapter

#2668 Update Sandbox URL in API docs, document "try it out" feature
  site/documentation/content/api/management/device-registry-v1.yaml
  site/documentation/layouts/shortcodes/swagger.html
  site/documentation/static/css/hono.css
  site/homepage/content/getting-started/index.md
Labels: documentation

#2662 Use HonoKafkaConsumer for KafkaApplicationClient
  clients/application-kafka/src/main/java/org/eclipse/hono/application/client/kafka/KafkaApplicationClient.java
  clients/application-kafka/src/main/java/org/eclipse/hono/application/client/kafka/impl/KafkaApplicationClientImpl.java
  clients/application-kafka/src/main/java/org/eclipse/hono/application/client/kafka/impl/KafkaBasedCommandSender.java
  clients/application-kafka/src/main/java/org/eclipse/hono/application/client/kafka/impl/KafkaBasedDownstreamMessageConsumer.java
  clients/application-kafka/src/test/java/org/eclipse/hono/application/client/kafka/impl/KafkaApplicationClientImplTest.java
  clients/application-kafka/src/test/java/org/eclipse/hono/application/client/kafka/impl/KafkaBasedCommandSenderTest.java
  clients/kafka-common/src/main/java/org/eclipse/hono/client/kafka/consumer/AsyncHandlingAutoCommitKafkaConsumer.java
  clients/kafka-common/src/main/java/org/eclipse/hono/client/kafka/consumer/HonoKafkaConsumer.java
  clients/kafka-common/src/test/java/org/eclipse/hono/client/kafka/consumer/AsyncHandlingAutoCommitKafkaConsumerTest.java
  clients/kafka-common/src/test/java/org/eclipse/hono/client/kafka/consumer/HonoKafkaConsumerTest.java
Labels: Client

#2663 [#2272] Update documentation and release notes for auto-provisioning gateways
  site/documentation/content/concepts/device-provisioning/index.md
  site/homepage/content/release-notes.md
Labels: documentation

#2670 Upgrade to latest Quarkus service release
  bom/pom.xml
  legal/src/main/resources/legal/DEPENDENCIES
  legal/src/main/resources/legal/hono-maven.deps
Labels: enhancement

#2671 [#2664] Support device identifier template during device/gateway auto-provisioning
  core/src/main/java/org/eclipse/hono/util/RegistryManagementConstants.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/device/AutoProvisioning.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/tenant/Tenant.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/tenant/TrustedCertificateAuthority.java
  services/device-registry-base/src/test/java/org/eclipse/hono/service/management/device/AutoProvisioningTest.java
  services/device-registry-base/src/test/java/org/eclipse/hono/service/management/tenant/TrustedCertificateAuthorityTest.java
  site/documentation/content/api/management/device-registry-v1.yaml
  site/documentation/content/concepts/device-provisioning/index.md
  site/homepage/content/release-notes.md
  tests/src/test/java/org/eclipse/hono/tests/registry/CredentialsApiTests.java
Labels: Device Registry, JDBC Device Registry, Management API, MongoDB Device Registry

#2673 Add Kafka support in CLI and example application to release notes.
  site/homepage/content/release-notes.md
Labels: website

#2674 Fix jaeger RemoteControlledSampler not working in quarkus native images
  service-base-quarkus/pom.xml
  service-base-quarkus/src/main/resources/META-INF/native-image/org.eclipse.hono/hono-service-base-quarkus/reflection-config.json
Labels: Quarkus, Tracing

#2677 Adapt connection limit strategy to VM being used
  adapter-base-quarkus/src/main/java/org/eclipse/hono/adapter/quarkus/AbstractProtocolAdapterApplication.java
  adapter-base/src/main/java/org/eclipse/hono/adapter/limiting/MemoryBasedConnectionLimitStrategy.java
  adapter-base/src/test/java/org/eclipse/hono/adapter/limiting/MemoryBasedConnectionLimitStrategyTest.java
  adapters/amqp-vertx-base/src/main/java/org/eclipse/hono/adapter/amqp/VertxBasedAmqpProtocolAdapter.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
  core/src/main/java/org/eclipse/hono/config/ServerConfig.java
  service-base-quarkus/src/main/java/org/eclipse/hono/service/quarkus/AbstractServiceApplication.java
  services/auth-quarkus/src/main/java/org/eclipse/hono/authentication/quarkus/Application.java
  services/command-router-quarkus/src/main/java/org/eclipse/hono/commandrouter/quarkus/Application.java
  tests/src/test/resources/amqp/application.yml
  tests/src/test/resources/mqtt/application.yml
Labels: AMQP Adapter, Kura Adapter, MQTT Adapter, bug

#2684 Update Spring Boot config in CLI.
  cli/src/main/resources/application.yml
Labels: enhancement

#2687 Deprecate file based device registry implementation
  site/documentation/content/admin-guide/file-based-device-registry-config.md
  site/documentation/content/user-guide/file-based-device-registry.md
  site/homepage/content/release-notes.md
  tests/pom.xml
  tests/src/test/java/org/eclipse/hono/tests/IntegrationTestSupport.java
  tests/src/test/resources/deviceregistry-jdbc-h2/application.yml
  tests/src/test/resources/deviceregistry-jdbc-h2/logback-spring.xml
  tests/src/test/resources/deviceregistry-jdbc-postgres/application.yml
  tests/src/test/resources/deviceregistry-jdbc-postgres/logback-spring.xml
  tests/src/test/resources/deviceregistry/tenants.json
Labels: Device Registry

#2689 [#2665] Prepare for sending event notification during auto-provisioning of devices/gateways
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/credentials/AbstractCredentialsService.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/device/DeviceAndGatewayAutoProvisioner.java
  services/device-registry-base/src/test/java/org/eclipse/hono/service/management/device/DeviceAndGatewayAutoProvisionerTest.java
  services/device-registry-file/src/main/java/org/eclipse/hono/deviceregistry/file/FileBasedDeviceBackend.java
  services/device-registry-file/src/main/java/org/eclipse/hono/deviceregistry/file/FileBasedServiceConfig.java
  services/device-registry-jdbc/src/main/java/org/eclipse/hono/deviceregistry/jdbc/ApplicationConfig.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/ApplicationConfig.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedDeviceBackend.java
Labels: Device Registry, JDBC Device Registry, MongoDB Device Registry
