Repository eclipse-hono/hono, pull requests merged in 2021-01, with the labels that each got.

#2386 [#2381] Use expiring Caffeine cache
  client/src/main/java/org/eclipse/hono/client/RequestResponseClientConfigProperties.java
  clients/adapter-amqp/pom.xml
  clients/adapter-amqp/src/main/java/org/eclipse/hono/adapter/client/amqp/AbstractRequestResponseServiceClient.java
  clients/adapter-amqp/src/main/java/org/eclipse/hono/adapter/client/registry/amqp/ProtonBasedCredentialsClient.java
  clients/adapter-amqp/src/main/java/org/eclipse/hono/adapter/client/registry/amqp/ProtonBasedDeviceRegistrationClient.java
  clients/adapter-amqp/src/main/java/org/eclipse/hono/adapter/client/registry/amqp/ProtonBasedTenantClient.java
  clients/adapter-amqp/src/test/java/org/eclipse/hono/adapter/client/amqp/AbstractRequestResponseServiceClientTest.java
  clients/adapter-amqp/src/test/java/org/eclipse/hono/adapter/client/registry/amqp/ProtonBasedCredentialsClientTest.java
  clients/adapter-amqp/src/test/java/org/eclipse/hono/adapter/client/registry/amqp/ProtonBasedDeviceRegistrationClientTest.java
  clients/adapter-amqp/src/test/java/org/eclipse/hono/adapter/client/registry/amqp/ProtonBasedTenantClientTest.java
  service-base-quarkus/src/main/java/org/eclipse/hono/service/quarkus/AbstractProtocolAdapterApplication.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractAdapterConfig.java
  service-base/src/main/java/org/eclipse/hono/service/cache/Caches.java
  services/command-router/src/main/java/org/eclipse/hono/commandrouter/ApplicationConfig.java
  site/documentation/content/admin-guide/common-config.md
  site/documentation/content/admin-guide/hono-client-configuration.md
  site/homepage/content/release-notes.md
Labels: Client, enhancement

#2358 #2053 implicit device registration file registry
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/device/AutoProvisioner.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/device/DeviceStatus.java
  services/device-registry-base/src/test/java/org/eclipse/hono/service/management/device/DelegatingDeviceManagementHttpEndpointTest.java
  services/device-registry-base/src/test/java/org/eclipse/hono/service/registration/RegistrationServiceTests.java
  services/device-registry-file/src/main/java/org/eclipse/hono/deviceregistry/file/FileBasedRegistrationService.java
  services/device-registry-file/src/main/java/org/eclipse/hono/deviceregistry/file/FileBasedServiceConfig.java
  services/device-registry-file/src/test/java/org/eclipse/hono/deviceregistry/file/FileBasedCredentialsServiceTest.java
  services/device-registry-file/src/test/java/org/eclipse/hono/deviceregistry/file/FileBasedRegistrationServiceTest.java
  tests/src/test/resources/deviceregistry/application.yml
  tests/src/test/resources/qpid/qdrouterd-with-broker.json
Labels: Device Registry

#2254 [#8] Add specifications for the Kafka-based Telemetry API and Event API.
  site/documentation/content/api/kafka/event/consume_kafka.svg
  site/documentation/content/api/kafka/event/index.md
  site/documentation/content/api/kafka/event/produce_kafka.svg
  site/documentation/content/api/kafka/telemetry/consume_kafka.svg
  site/documentation/content/api/kafka/telemetry/index.md
  site/documentation/content/api/kafka/telemetry/produce_kafka_qos0.svg
  site/documentation/content/api/kafka/telemetry/produce_kafka_qos1.svg
  site/homepage/content/release-notes.md
Labels: documentation

#2388 [#2387] Do not use legacy client's DownstreamSender in new client
  clients/adapter-amqp/src/main/java/org/eclipse/hono/adapter/client/amqp/DownstreamSenderLink.java
  clients/adapter-amqp/src/main/java/org/eclipse/hono/adapter/client/amqp/SenderCachingServiceClient.java
  clients/adapter-amqp/src/main/java/org/eclipse/hono/adapter/client/command/amqp/ProtonBasedCommandResponseSender.java
  clients/adapter-amqp/src/main/java/org/eclipse/hono/adapter/client/telemetry/amqp/ProtonBasedDownstreamSender.java
  clients/adapter-amqp/src/test/java/org/eclipse/hono/adapter/client/amqp/DownstreamSenderLinkTest.java
  clients/adapter-amqp/src/test/java/org/eclipse/hono/adapter/client/telemetry/amqp/ProtonBasedDownstreamSenderTest.java
Labels: Client, enhancement

#2375 Add integrations tests for Postgres in JDBC registry and fix issues
  bom/pom.xml
  services/base-jdbc/src/main/java/org/eclipse/hono/service/base/jdbc/store/SQL.java
  services/base-jdbc/src/main/java/org/eclipse/hono/service/base/jdbc/store/device/DeviceStores.java
  services/base-jdbc/src/main/java/org/eclipse/hono/service/base/jdbc/store/device/TableAdapterStore.java
  services/base-jdbc/src/main/java/org/eclipse/hono/service/base/jdbc/store/device/TableManagementStore.java
  services/base-jdbc/src/main/resources/org/eclipse/hono/service/base/jdbc/store/device/base.postgresql.sql.yaml
  services/base-jdbc/src/main/resources/org/eclipse/hono/service/base/jdbc/store/tenant/base.sql.yaml
  services/base-jdbc/src/main/sql/postgresql/create.devices.sql
  services/base-jdbc/src/main/sql/postgresql/create.tenants.sql
  services/device-registry-jdbc/pom.xml
  services/device-registry-jdbc/src/test/java/org/eclipse/hono/deviceregistry/jdbc/impl/AbstractJdbcRegistryTest.java
Labels: JDBC Device Registry, enhancement

#2391 [#2103] Do not use Spring's Resource abstraction for loading permissions
  services/auth/src/main/java/org/eclipse/hono/service/auth/impl/ApplicationConfig.java
  services/auth/src/main/java/org/eclipse/hono/service/auth/impl/FileBasedAuthenticationService.java
  services/auth/src/main/java/org/eclipse/hono/service/auth/impl/FileBasedAuthenticationServiceConfigProperties.java
  services/auth/src/test/java/org/eclipse/hono/service/auth/impl/FileBasedAuthenticationServiceTest.java
  site/documentation/content/admin-guide/auth-server-config.md
  site/homepage/content/release-notes.md
  tests/src/test/resources/auth/application.yml
Labels: Auth Server

#2396 [#2395] Upgrade to vert.x 3.9.5
  adapters/pom.xml
  bom/pom.xml
  cli/pom.xml
  client-device-connection-infinispan/pom.xml
  client/pom.xml
  clients/adapter-amqp/pom.xml
  clients/adapter-kafka/pom.xml
  clients/pom.xml
  core/pom.xml
  examples/protocol-gateway-example/pom.xml
  service-base-quarkus/pom.xml
  service-base/pom.xml
  service-base/src/main/java/org/eclipse/hono/service/auth/ValidityBasedTrustOptions.java
  services/pom.xml
  tests/pom.xml
Labels: enhancement

#2389 [#8] Add Kafka receiver to CLI.
  cli/pom.xml
  cli/src/main/java/org/eclipse/hono/cli/AppConfiguration.java
  cli/src/main/java/org/eclipse/hono/cli/app/KafkaReceiver.java
  cli/src/main/resources/application.yml
  cli/src/main/resources/logback-spring.xml
  cli/src/test/java/org/eclipse/hono/cli/app/KafkaReceiverTest.java
  cli/src/test/resources/logback-test.xml
Labels: Client, enhancement

#2397 Fix usage of embedded cache with default config
  services/command-router/src/main/java/org/eclipse/hono/commandrouter/infinispan/EmbeddedCacheConfig.java
  services/device-connection/src/main/java/org/eclipse/hono/deviceconnection/infinispan/EmbeddedCacheConfig.java
Labels: C&C, enhancement

#2394 Use Testcontainers for running MongoDB registry unit tests
  .github/workflows/ci.yml
  bom/pom.xml
  services/device-registry-jdbc/pom.xml
  services/device-registry-mongodb/pom.xml
  services/device-registry-mongodb/src/test/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbTestUtils.java
  tests/pom.xml
Labels: MongoDB Device Registry

#2399 Add own CommandTargetMapper in Command Router
  services/command-router/src/main/java/org/eclipse/hono/commandrouter/ApplicationConfig.java
  services/command-router/src/main/java/org/eclipse/hono/commandrouter/CommandConsumerFactory.java
  services/command-router/src/main/java/org/eclipse/hono/commandrouter/CommandTargetMapper.java
  services/command-router/src/main/java/org/eclipse/hono/commandrouter/impl/CommandRouterServiceImpl.java
  services/command-router/src/main/java/org/eclipse/hono/commandrouter/impl/CommandTargetMapperImpl.java
  services/command-router/src/main/java/org/eclipse/hono/commandrouter/impl/amqp/MappingAndDelegatingCommandHandler.java
  services/command-router/src/main/java/org/eclipse/hono/commandrouter/impl/amqp/ProtonBasedCommandConsumerFactoryImpl.java
  services/command-router/src/test/java/org/eclipse/hono/commandrouter/impl/amqp/MappingAndDelegatingCommandHandlerTest.java
Labels: C&C

#2400 Replace usage of deprecated Command classes
  client/src/main/java/org/eclipse/hono/client/impl/AdapterInstanceCommandHandler.java
  client/src/main/java/org/eclipse/hono/client/impl/ProtocolAdapterCommandConsumerFactoryImpl.java
  clients/adapter-amqp/src/main/java/org/eclipse/hono/adapter/client/command/amqp/ProtonBasedAdapterInstanceCommandHandler.java
  clients/adapter-amqp/src/main/java/org/eclipse/hono/adapter/client/command/amqp/ProtonBasedCommand.java
  clients/adapter-amqp/src/main/java/org/eclipse/hono/adapter/client/command/amqp/ProtonBasedCommandContext.java
  clients/adapter-amqp/src/main/java/org/eclipse/hono/adapter/client/command/amqp/ProtonBasedCommandRouterCommandConsumerFactoryImpl.java
  clients/adapter-amqp/src/main/java/org/eclipse/hono/adapter/client/command/amqp/ProtonBasedDelegatingCommandConsumerFactory.java
  clients/adapter-amqp/src/main/java/org/eclipse/hono/adapter/client/command/amqp/ProtonBasedLegacyCommandContextWrapper.java
  clients/adapter-amqp/src/test/java/org/eclipse/hono/adapter/client/command/amqp/ProtonBasedAdapterInstanceCommandHandlerTest.java
  clients/adapter/src/main/java/org/eclipse/hono/adapter/client/command/Command.java
  clients/adapter/src/main/java/org/eclipse/hono/adapter/client/command/CommandContext.java
  clients/adapter/src/main/java/org/eclipse/hono/adapter/client/command/CommandHandlerWrapper.java
  clients/adapter/src/main/java/org/eclipse/hono/adapter/client/command/CommandHandlers.java
Labels: C&C, Client

#2361 [#1345] Making CoAP integration test client listen on wildcard address.
  tests/src/test/java/org/eclipse/hono/tests/coap/CoapTestBase.java
Labels: CoAP Adapter, enhancement

#2398 Upgrade to latest Quarkus version
  adapters/base-quarkus/pom.xml
  adapters/http-vertx-quarkus/src/main/resources/reflection-config.json
  adapters/mqtt-vertx-quarkus/src/main/resources/reflection-config.json
  bom/pom.xml
  pom.xml
  site/documentation/content/dev-guide/building_hono.md
Labels: HTTP Adapter, MQTT Adapter

#2401 [#8] Fix display of Kafka-based API specifications.
  clients/kafka-common/src/main/java/org/eclipse/hono/kafka/client/KafkaConsumerConfigProperties.java
  clients/kafka-common/src/main/java/org/eclipse/hono/kafka/client/KafkaProducerConfigProperties.java
  site/documentation/content/api/event-kafka/consume_kafka.svg
  site/documentation/content/api/event-kafka/index.md
  site/documentation/content/api/event-kafka/produce_kafka.svg
  site/documentation/content/api/telemetry-kafka/consume_kafka.svg
  site/documentation/content/api/telemetry-kafka/index.md
  site/documentation/content/api/telemetry-kafka/produce_kafka_qos0.svg
  site/documentation/content/api/telemetry-kafka/produce_kafka_qos1.svg
  site/homepage/content/release-notes.md
Labels: documentation

#2360 #2053 implicit device registration mongodb registry
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/device/DeviceDto.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/ApplicationConfig.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/model/MongoDbBasedDeviceDto.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedRegistrationService.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/utils/MongoDbDocumentBuilder.java
  services/device-registry-mongodb/src/test/java/org/eclipse/hono/deviceregistry/mongodb/model/MongoDbBasedDeviceDtoTest.java
  services/device-registry-mongodb/src/test/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedCredentialServiceTest.java
  services/device-registry-mongodb/src/test/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedRegistrationServiceTest.java
  tests/src/test/resources/deviceregistry-mongodb/application.yml
Labels: MongoDB Device Registry

#2405 [#2170] Support upload of client certificate for X.509 credentials
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/credentials/X509CertificateCredential.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/device/AutoProvisioning.java
  services/device-registry-base/src/test/java/org/eclipse/hono/service/credentials/AbstractCredentialsServiceTest.java
  services/device-registry-base/src/test/java/org/eclipse/hono/service/management/credentials/CredentialsTest.java
  site/documentation/content/api/management/device-registry-v1.yaml
  site/homepage/content/release-notes.md
  tests/src/test/java/org/eclipse/hono/tests/DeviceRegistryHttpClient.java
  tests/src/test/java/org/eclipse/hono/tests/mqtt/MqttConnectionIT.java
  tests/src/test/java/org/eclipse/hono/tests/registry/CredentialsManagementIT.java
Labels: Device Registry, JDBC Device Registry, Management API, MongoDB Device Registry

#2406 [#2053] Adding documentation for gateway-based auto provisioning.
  site/documentation/content/api/event/index.md
  site/documentation/content/concepts/device-provisioning/auto-provisioning-gateway.svg
  site/documentation/content/concepts/device-provisioning/index.md
Labels: documentation

#2411 Fix build of documentation.
  site/documentation/content/concepts/device-provisioning/index.md
Labels: documentation

#2410 [#2273] Add KafkaBasedCommand class
  client/src/main/java/org/eclipse/hono/client/Command.java
  clients/adapter-kafka/src/main/java/org/eclipse/hono/adapter/client/command/kafka/KafkaBasedCommand.java
  clients/adapter-kafka/src/main/java/org/eclipse/hono/adapter/client/command/kafka/KafkaBasedCommandContext.java
  clients/adapter-kafka/src/test/java/org/eclipse/hono/adapter/client/command/kafka/KafkaBasedCommandTest.java
  clients/adapter/pom.xml
  clients/adapter/src/main/java/org/eclipse/hono/adapter/client/command/Command.java
  clients/adapter/src/main/java/org/eclipse/hono/adapter/client/command/CommandResponse.java
  clients/adapter/src/main/java/org/eclipse/hono/adapter/client/command/Commands.java
  clients/adapter/src/test/java/org/eclipse/hono/adapter/client/command/CommandsTest.java
  clients/adapter/src/test/resources/logback-test.xml
  clients/kafka-common/src/main/java/org/eclipse/hono/kafka/client/HonoTopic.java
  clients/kafka-common/src/main/java/org/eclipse/hono/kafka/util/RecordUtil.java
  clients/kafka-common/src/test/java/org/eclipse/hono/kafka/util/RecordUtilTest.java
Labels: C&C, enhancement

#2414 [#2413] Auto-provisioning must fail when done concurrently by two gat…
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/device/AbstractRegistrationService.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/device/AutoProvisioner.java
  services/device-registry-base/src/test/java/org/eclipse/hono/deviceregistry/service/device/AbstractRegistrationServiceTest.java
  services/device-registry-base/src/test/java/org/eclipse/hono/deviceregistry/service/device/AutoProvisionerTest.java
Labels: Device Registry, JDBC Device Registry, MongoDB Device Registry, bug

#2412 Add transport protocol agnostic interface for northbound Hono-Client
  bom/pom.xml
  clients/application-amqp/pom.xml
  clients/application-amqp/src/main/java/org/eclipse/hono/client/application/amqp/AmqpApplicationClientFactory.java
  clients/application-amqp/src/main/java/org/eclipse/hono/client/application/amqp/AmqpMessageContext.java
  clients/application-kafka/pom.xml
  clients/application-kafka/src/main/java/org/eclipse/hono/client/application/kafka/KafkaApplicationClientFactory.java
  clients/application-kafka/src/main/java/org/eclipse/hono/client/application/kafka/KafkaMessageContext.java
  clients/application-kafka/src/main/java/org/eclipse/hono/client/application/kafka/KafkaMessageProperties.java
  clients/application/pom.xml
  clients/application/src/main/java/org/eclipse/hono/client/application/ApplicationClientFactory.java
  clients/application/src/main/java/org/eclipse/hono/client/application/DownstreamMessage.java
  clients/application/src/main/java/org/eclipse/hono/client/application/DownstreamMessageImpl.java
  clients/application/src/main/java/org/eclipse/hono/client/application/Message.java
  clients/application/src/main/java/org/eclipse/hono/client/application/MessageConsumer.java
  clients/application/src/main/java/org/eclipse/hono/client/application/MessageContext.java
  clients/application/src/main/java/org/eclipse/hono/client/application/MessageProperties.java
  clients/kafka-common/src/main/java/org/eclipse/hono/kafka/client/HonoTopic.java
  clients/kafka-common/src/main/java/org/eclipse/hono/kafka/client/tracing/KafkaTracingHelper.java
  clients/kafka-common/src/test/java/org/eclipse/hono/kafka/client/HonoTopicTest.java
  clients/pom.xml
Labels: Client

#2359 #2053 implicit device registration jdbc registry
  services/base-jdbc/src/main/java/org/eclipse/hono/service/base/jdbc/store/device/TableManagementStore.java
  services/base-jdbc/src/main/resources/org/eclipse/hono/service/base/jdbc/store/device/base.postgresql.sql.yaml
  services/base-jdbc/src/main/resources/org/eclipse/hono/service/base/jdbc/store/device/base.sql.yaml
  services/device-registry-jdbc/src/main/java/org/eclipse/hono/deviceregistry/jdbc/ApplicationConfig.java
  tests/src/test/resources/deviceregistry-jdbc/application.yml
Labels: JDBC Device Registry

#2353 Use logging.profile for integration test log levels
  tests/pom.xml
  tests/readme.md
  tests/src/test/resources/coap/logback-spring.xml
  tests/src/test/resources/http/logback-spring.xml
  tests/src/test/resources/logback-test-include-dev.xml
  tests/src/test/resources/logback-test-include-prod.xml
  tests/src/test/resources/logback-test-include-trace.xml
  tests/src/test/resources/logback-test.xml
  tests/src/test/resources/mqtt/logback-spring.xml
Labels: enhancement

#2365 [#2053] Adding integration tests for gateway-based auto provisioning.
  core/src/main/java/org/eclipse/hono/util/MessageHelper.java
  tests/src/test/java/org/eclipse/hono/tests/IntegrationTestSupport.java
  tests/src/test/java/org/eclipse/hono/tests/amqp/AmqpUploadTestBase.java
  tests/src/test/java/org/eclipse/hono/tests/coap/CoapTestBase.java
  tests/src/test/java/org/eclipse/hono/tests/http/HttpTestBase.java
  tests/src/test/java/org/eclipse/hono/tests/mqtt/MqttPublishTestBase.java
Labels: Device Registry, JDBC Device Registry, MongoDB Device Registry

#2417 [#2415] Add document "Kafka-based APIs".
  site/documentation/content/api/event-kafka/index.md
  site/documentation/content/api/kafka-api/index.md
  site/documentation/content/api/telemetry-kafka/index.md
Labels: documentation

#2422 Fix -DskipTests not working for docker related tests
  pom.xml
  services/device-registry-jdbc/pom.xml
  services/device-registry-mongodb/pom.xml
Labels: build system

#2421 [#2393] Migrating to ProtonBasedDownstreamSender in AutoProvisioner.
  services/device-registry-base/pom.xml
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/device/AutoProvisioner.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/device/AutoProvisionerConfigProperties.java
  services/device-registry-base/src/test/java/org/eclipse/hono/deviceregistry/service/device/AutoProvisionerTest.java
  services/device-registry-file/src/main/java/org/eclipse/hono/deviceregistry/file/FileBasedServiceConfig.java
  services/device-registry-file/src/test/java/org/eclipse/hono/deviceregistry/file/FileBasedRegistrationServiceTest.java
  services/device-registry-jdbc/src/main/java/org/eclipse/hono/deviceregistry/jdbc/ApplicationConfig.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/ApplicationConfig.java
  services/device-registry-mongodb/src/test/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedRegistrationServiceTest.java
Labels: Device Registry, JDBC Device Registry, MongoDB Device Registry

#2423 [#2408] Sending an event with a dedicated content type for notifying …
  core/src/main/java/org/eclipse/hono/util/EventConstants.java
  core/src/main/java/org/eclipse/hono/util/MessageHelper.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/device/AutoProvisioner.java
  site/documentation/content/api/event/index.md
  site/documentation/content/concepts/device-provisioning/auto-provisioning-gateway.svg
  site/documentation/content/concepts/device-provisioning/index.md
  tests/src/test/java/org/eclipse/hono/tests/IntegrationTestSupport.java
Labels: Device Registry, JDBC Device Registry, MongoDB Device Registry, enhancement

#2425 [#2053] Adding release notes for gateway-based auto-provisioning and …
  core/src/main/java/org/eclipse/hono/util/EventConstants.java
  site/documentation/content/api/event/index.md
  site/homepage/content/release-notes.md
Labels: Device Registry, JDBC Device Registry, MongoDB Device Registry

#2404 [#2273] Add Command & Control API for Kafka spec
  site/documentation/content/api/command-and-control-kafka/index.md
Labels: C&C

#2428 [#2273] Add usage of "response-expected" Kafka header
  clients/adapter-kafka/src/main/java/org/eclipse/hono/adapter/client/command/kafka/KafkaBasedCommand.java
  clients/adapter-kafka/src/test/java/org/eclipse/hono/adapter/client/command/kafka/KafkaBasedCommandTest.java
Labels: C&C, enhancement

#2426 Create AMQP adapter base module as a first step towards introducing Q…
  adapters/amqp-vertx-base/pom.xml
  adapters/amqp-vertx-base/src/main/java/org/eclipse/hono/adapter/amqp/AmqpAdapterConstants.java
  adapters/amqp-vertx-base/src/main/java/org/eclipse/hono/adapter/amqp/AmqpAdapterMetrics.java
  adapters/amqp-vertx-base/src/main/java/org/eclipse/hono/adapter/amqp/AmqpAdapterProperties.java
  adapters/amqp-vertx-base/src/main/java/org/eclipse/hono/adapter/amqp/AmqpAdapterSaslAuthenticatorFactory.java
  adapters/amqp-vertx-base/src/main/java/org/eclipse/hono/adapter/amqp/AmqpContext.java
  adapters/amqp-vertx-base/src/main/java/org/eclipse/hono/adapter/amqp/MicrometerBasedAmqpAdapterMetrics.java
  adapters/amqp-vertx-base/src/main/java/org/eclipse/hono/adapter/amqp/SaslExternalAuthHandler.java
  adapters/amqp-vertx-base/src/main/java/org/eclipse/hono/adapter/amqp/SaslPlainAuthHandler.java
  adapters/amqp-vertx-base/src/main/java/org/eclipse/hono/adapter/amqp/SaslResponseContext.java
  adapters/amqp-vertx/pom.xml
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapter.java
  adapters/amqp-vertx/src/test/java/org/eclipse/hono/adapter/amqp/impl/VertxBasedAmqpProtocolAdapterTest.java
  adapters/pom.xml
Labels: AMQP Adapter

#2427 Drop dependency on ProtocolAdpaterProperties
  clients/adapter-amqp/src/main/java/org/eclipse/hono/adapter/client/amqp/AbstractRequestResponseServiceClient.java
  clients/adapter-amqp/src/main/java/org/eclipse/hono/adapter/client/amqp/AbstractServiceClient.java
  clients/adapter-amqp/src/main/java/org/eclipse/hono/adapter/client/amqp/SenderCachingServiceClient.java
  clients/adapter-amqp/src/main/java/org/eclipse/hono/adapter/client/command/amqp/ProtonBasedCommandResponseSender.java
  clients/adapter-amqp/src/main/java/org/eclipse/hono/adapter/client/command/amqp/ProtonBasedCommandRouterClient.java
  clients/adapter-amqp/src/main/java/org/eclipse/hono/adapter/client/command/amqp/ProtonBasedCommandRouterCommandConsumerFactoryImpl.java
  clients/adapter-amqp/src/main/java/org/eclipse/hono/adapter/client/command/amqp/ProtonBasedDelegatingCommandConsumerFactory.java
  clients/adapter-amqp/src/main/java/org/eclipse/hono/adapter/client/command/amqp/ProtonBasedDeviceConnectionClient.java
  clients/adapter-amqp/src/main/java/org/eclipse/hono/adapter/client/command/amqp/ProtonBasedInternalCommandSender.java
  clients/adapter-amqp/src/main/java/org/eclipse/hono/adapter/client/registry/amqp/ProtonBasedCredentialsClient.java
  clients/adapter-amqp/src/main/java/org/eclipse/hono/adapter/client/registry/amqp/ProtonBasedDeviceRegistrationClient.java
  clients/adapter-amqp/src/main/java/org/eclipse/hono/adapter/client/registry/amqp/ProtonBasedTenantClient.java
  clients/adapter-amqp/src/main/java/org/eclipse/hono/adapter/client/telemetry/amqp/ProtonBasedDownstreamSender.java
  clients/adapter-amqp/src/test/java/org/eclipse/hono/adapter/client/amqp/AbstractRequestResponseServiceClientTest.java
  clients/adapter-amqp/src/test/java/org/eclipse/hono/adapter/client/command/amqp/ProtonBasedCommandRouterClientTest.java
  clients/adapter-amqp/src/test/java/org/eclipse/hono/adapter/client/command/amqp/ProtonBasedDeviceConnectionClientTest.java
  clients/adapter-amqp/src/test/java/org/eclipse/hono/adapter/client/registry/amqp/ProtonBasedCredentialsClientTest.java
  clients/adapter-amqp/src/test/java/org/eclipse/hono/adapter/client/registry/amqp/ProtonBasedDeviceRegistrationClientTest.java
  clients/adapter-amqp/src/test/java/org/eclipse/hono/adapter/client/registry/amqp/ProtonBasedTenantClientTest.java
  clients/adapter-amqp/src/test/java/org/eclipse/hono/adapter/client/telemetry/amqp/ProtonBasedDownstreamSenderTest.java
  service-base-quarkus/src/main/java/org/eclipse/hono/service/quarkus/AbstractProtocolAdapterApplication.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractAdapterConfig.java
  services/command-router/src/main/java/org/eclipse/hono/commandrouter/ApplicationConfig.java
  services/command-router/src/main/java/org/eclipse/hono/commandrouter/impl/amqp/ProtonBasedCommandConsumerFactoryImpl.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/device/AutoProvisionerConfigProperties.java
  services/device-registry-file/src/main/java/org/eclipse/hono/deviceregistry/file/FileBasedServiceConfig.java
  services/device-registry-jdbc/src/main/java/org/eclipse/hono/deviceregistry/jdbc/ApplicationConfig.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/ApplicationConfig.java
  tests/src/test/java/org/eclipse/hono/tests/registry/CredentialsAmqpIT.java
  tests/src/test/java/org/eclipse/hono/tests/registry/DeviceConnectionAmqpIT.java
  tests/src/test/java/org/eclipse/hono/tests/registry/DeviceRegistrationAmqpIT.java
  tests/src/test/java/org/eclipse/hono/tests/registry/TenantAmqpIT.java
Labels: Client

#2431 Refactor Command Router based command consumer
  clients/adapter-amqp/src/main/java/org/eclipse/hono/adapter/client/command/amqp/ProtonBasedAdapterInstanceCommandHandler.java
  clients/adapter-amqp/src/main/java/org/eclipse/hono/adapter/client/command/amqp/ProtonBasedInternalCommandConsumer.java
  clients/adapter-amqp/src/test/java/org/eclipse/hono/adapter/client/command/amqp/ProtonBasedInternalCommandConsumerTest.java
  clients/adapter/pom.xml
  clients/adapter/src/main/java/org/eclipse/hono/adapter/client/command/CommandRouterCommandConsumerFactory.java
  service-base-quarkus/src/main/java/org/eclipse/hono/service/quarkus/AbstractProtocolAdapterApplication.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractAdapterConfig.java
Labels: C&C

#2439 Init command consumer factory after connect()
  clients/adapter-amqp/src/main/java/org/eclipse/hono/adapter/client/command/amqp/ProtonBasedDelegatingCommandConsumerFactory.java
Labels: C&C, bug

#2438 [#2436] Fixing LoRA adapter startup: adding HttpAdapterMetrics bean d…
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/impl/Config.java
  site/homepage/content/release-notes.md
Labels: LoRa Adapter, bug

#2437 [#2436] Fixing LoRA adapter startup: adding HttpAdapterMetrics bean d…
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/impl/Config.java
  site/homepage/content/release-notes.md
Labels: LoRa Adapter, bug

#2430 [#2273] Prepare base classes for implementing Kafka based command router
  clients/adapter-kafka/src/main/java/org/eclipse/hono/adapter/client/telemetry/kafka/AbstractKafkaBasedDownstreamSender.java
  clients/kafka-common/pom.xml
  clients/kafka-common/src/main/java/org/eclipse/hono/client/kafka/producer/AbstractKafkaBasedMessageSender.java
  clients/kafka-common/src/main/java/org/eclipse/hono/client/kafka/tracing/KafkaTracingHelper.java
Labels: C&C

#2440 Add KafkaAdminClientConfigProperties class
  clients/kafka-common/src/main/java/org/eclipse/hono/client/kafka/AbstractKafkaConfigProperties.java
  clients/kafka-common/src/main/java/org/eclipse/hono/client/kafka/KafkaAdminClientConfigProperties.java
  clients/kafka-common/src/main/java/org/eclipse/hono/client/kafka/KafkaProducerConfigProperties.java
  clients/kafka-common/src/main/java/org/eclipse/hono/client/kafka/consumer/KafkaConsumerConfigProperties.java
  clients/kafka-common/src/test/java/org/eclipse/hono/client/kafka/KafkaAdminClientConfigPropertiesTest.java
  clients/kafka-common/src/test/java/org/eclipse/hono/client/kafka/KafkaProducerConfigPropertiesTest.java
  clients/kafka-common/src/test/java/org/eclipse/hono/client/kafka/consumer/KafkaConsumerConfigPropertiesTest.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractAdapterConfig.java
  site/documentation/content/admin-guide/hono-kafka-client-configuration.md
Labels: C&C, Client

#2442 [#2392] Add implementation of AMQP based application client factory
  clients/amqp-common/src/main/java/org/eclipse/hono/client/amqp/GenericReceiverLink.java
  clients/application-amqp/pom.xml
  clients/application-amqp/src/main/java/org/eclipse/hono/application/client/amqp/AmqpApplicationClientFactory.java
  clients/application-amqp/src/main/java/org/eclipse/hono/application/client/amqp/AmqpMessageContext.java
  clients/application-amqp/src/main/java/org/eclipse/hono/application/client/amqp/ProtonBasedApplicationClientFactory.java
  clients/application-amqp/src/main/java/org/eclipse/hono/application/client/amqp/ProtonBasedDownstreamMessage.java
  clients/application-amqp/src/test/java/org/eclipse/hono/application/client/amqp/ProtonBasedApplicationClientFactoryTest.java
  clients/application-amqp/src/test/java/org/eclipse/hono/application/client/amqp/ProtonBasedDownstreamMessageTest.java
  clients/application-amqp/src/test/resources/logback-test.xml
  clients/application/src/main/java/org/eclipse/hono/application/client/DownstreamMessage.java
  core/src/main/java/org/eclipse/hono/util/MessageHelper.java
  core/src/main/java/org/eclipse/hono/util/QoS.java
Labels: Client

#2443 Implement Quarkus based AMQP protocol adapter
  adapters/amqp-vertx-base/src/main/java/org/eclipse/hono/adapter/amqp/VertxBasedAmqpProtocolAdapter.java
  adapters/amqp-vertx-base/src/test/java/org/eclipse/hono/adapter/amqp/VertxBasedAmqpProtocolAdapterTest.java
  adapters/amqp-vertx-base/src/test/resources/logback-test.xml
  adapters/amqp-vertx-quarkus/pom.xml
  adapters/amqp-vertx-quarkus/src/main/java/org/eclipse/hono/adapter/amqp/quarkus/Application.java
  adapters/amqp-vertx-quarkus/src/main/java/org/eclipse/hono/adapter/amqp/quarkus/MetricsFactory.java
  adapters/amqp-vertx-quarkus/src/main/java/org/eclipse/hono/adapter/amqp/quarkus/QuarkusAmqpProtocolAdapterProperties.java
  adapters/amqp-vertx-quarkus/src/main/resources/default_banner.txt
  adapters/amqp-vertx-quarkus/src/main/resources/reflection-config.json
  adapters/amqp-vertx-quarkus/src/main/resources/resources-config.json
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/impl/Config.java
  adapters/pom.xml
  tests/pom.xml
  tests/src/test/resources/amqp/application.yml
Labels: AMQP Adapter

#2446 Refactor integration tests
  client/src/main/java/org/eclipse/hono/client/ApplicationClientFactory.java
  site/homepage/content/release-notes.md
  tests/pom.xml
  tests/src/test/java/org/eclipse/hono/tests/IntegrationTestSupport.java
  tests/src/test/java/org/eclipse/hono/tests/amqp/AmqpUploadTestBase.java
  tests/src/test/java/org/eclipse/hono/tests/amqp/EventAmqpIT.java
  tests/src/test/java/org/eclipse/hono/tests/amqp/TelemetryAmqpIT.java
  tests/src/test/java/org/eclipse/hono/tests/client/HonoClientImplIT.java
  tests/src/test/java/org/eclipse/hono/tests/coap/CoapTestBase.java
  tests/src/test/java/org/eclipse/hono/tests/coap/EventCoapIT.java
  tests/src/test/java/org/eclipse/hono/tests/coap/TelemetryCoapIT.java
  tests/src/test/java/org/eclipse/hono/tests/http/EventHttpIT.java
  tests/src/test/java/org/eclipse/hono/tests/http/HttpTestBase.java
  tests/src/test/java/org/eclipse/hono/tests/http/TelemetryHttpIT.java
  tests/src/test/java/org/eclipse/hono/tests/mqtt/EventMqttIT.java
  tests/src/test/java/org/eclipse/hono/tests/mqtt/MqttPublishTestBase.java
  tests/src/test/java/org/eclipse/hono/tests/mqtt/TelemetryMqttQoS0IT.java
  tests/src/test/java/org/eclipse/hono/tests/mqtt/TelemetryMqttQoS1IT.java
  tests/src/test/resources/logback-test-include-dev.xml
  tests/src/test/resources/logback-test-include-trace.xml
Labels: Client
