Repository eclipse-hono/hono, pull requests merged in 2021-09, with the labels that each got.

#2835 [#2834] Invoke consumer close handler on remote disconnect
  clients/application-amqp/src/main/java/org/eclipse/hono/application/client/amqp/AmqpApplicationClient.java
  clients/application-amqp/src/main/java/org/eclipse/hono/application/client/amqp/ProtonBasedApplicationClient.java
  clients/application-amqp/src/test/java/org/eclipse/hono/application/client/amqp/ProtonBasedApplicationClientTest.java
Labels: Client

#2844 [#2843] Mark initially assigned partitions for offset commit
  clients/kafka-common/src/main/java/org/eclipse/hono/client/kafka/consumer/AsyncHandlingAutoCommitKafkaConsumer.java
  clients/kafka-common/src/main/java/org/eclipse/hono/client/kafka/consumer/HonoKafkaConsumer.java
  clients/kafka-common/src/test/java/org/eclipse/hono/client/kafka/consumer/AsyncHandlingAutoCommitKafkaConsumerTest.java
  test-utils/kafka-test-utils/src/main/java/org/eclipse/hono/kafka/test/KafkaMockConsumer.java
Labels: bug, C&C

#2850 Documentation: Add the JDBC device registry to page "Device Registries".
  site/documentation/content/user-guide/device-registry.md
Labels: enhancement, documentation

#2855 [#2854] Fix: TTL header in downstream messages with Kafka
  clients/kafka-common/src/main/java/org/eclipse/hono/client/kafka/KafkaRecordHelper.java
  clients/kafka-common/src/test/java/org/eclipse/hono/client/kafka/KafkaRecordHelperTest.java
  clients/telemetry-amqp/src/test/java/org/eclipse/hono/client/telemetry/amqp/ProtonBasedDownstreamSenderTest.java
  clients/telemetry-kafka/src/main/java/org/eclipse/hono/client/telemetry/kafka/AbstractKafkaBasedDownstreamSender.java
  clients/telemetry-kafka/src/test/java/org/eclipse/hono/client/telemetry/kafka/AbstractKafkaBasedDownstreamSenderTest.java
  site/homepage/content/release-notes.md
Labels: bug, Client

#2858 [#2857] Limit message TTL to tenant's max-ttl with Kafka.
  clients/telemetry-kafka/src/main/java/org/eclipse/hono/client/telemetry/kafka/AbstractKafkaBasedDownstreamSender.java
  clients/telemetry-kafka/src/test/java/org/eclipse/hono/client/telemetry/kafka/AbstractKafkaBasedDownstreamSenderTest.java
Labels: bug, Client

#2859 [#2846] Add support for defining failure-notification headers
  clients/command-amqp/src/main/java/org/eclipse/hono/client/command/amqp/ProtonBasedCommandResponseSender.java
  clients/command-kafka/src/main/java/org/eclipse/hono/client/command/kafka/KafkaBasedCommand.java
  clients/command-kafka/src/main/java/org/eclipse/hono/client/command/kafka/KafkaBasedCommandContext.java
  clients/command-kafka/src/main/java/org/eclipse/hono/client/command/kafka/KafkaBasedCommandResponseSender.java
  clients/command-kafka/src/test/java/org/eclipse/hono/client/command/kafka/KafkaBasedCommandResponseSenderTest.java
  clients/command-kafka/src/test/java/org/eclipse/hono/client/command/kafka/KafkaBasedCommandTest.java
  clients/command/src/main/java/org/eclipse/hono/client/command/CommandResponse.java
  clients/kafka-common/src/main/java/org/eclipse/hono/client/kafka/producer/AbstractKafkaBasedMessageSender.java
  site/documentation/content/api/command-and-control-kafka/index.md
Labels: C&C, Feature Request

#2860 [#2831] Fix Quarkus native 'No Converter registered' exception
  service-base-quarkus/src/main/resources/META-INF/native-image/org.eclipse.hono/hono-service-base-quarkus/reflection-config.json
Labels: bug, Quarkus

#2682 [#2601] Add Getting Started guide with Kafka based messaging.
  site/diagrams/Hono_instance.odg
  site/homepage/content/getting-started-kafka/Hono_instance.svg
  site/homepage/content/getting-started-kafka/index.md
Labels: enhancement, documentation

#2862 Merge device registry user guides
  site/documentation/content/architecture/component-view/index.md
  site/documentation/content/user-guide/device-registry.md
  site/documentation/content/user-guide/file-based-device-registry.md
  site/documentation/content/user-guide/jdbc-based-device-registry.md
  site/documentation/content/user-guide/mongodb-based-device-registry.md
Labels: enhancement, documentation

#2868 Improve Kafka messaging guide.
  site/homepage/content/getting-started-kafka/index.md
Labels: website

#2869 Use Kafka consumer 'max.poll.interval.ms' default
  clients/kafka-common/src/main/java/org/eclipse/hono/client/kafka/consumer/HonoKafkaConsumer.java
Labels: C&C

#2870 [#2842] Log errors sending event messages on INFO level again
  clients/amqp-common/src/main/java/org/eclipse/hono/client/amqp/GenericSenderLink.java
  clients/telemetry-amqp/src/main/java/org/eclipse/hono/client/telemetry/amqp/ProtonBasedDownstreamSender.java
Labels: Client

#2867 Include Spring Boot Command Router in Github Actions workflow
  .github/workflows/ci.yml
  tests/pom.xml
  tests/readme.md
Labels: build system

#2865 Improve tracing/logging on AMQP/MQTT server shutdown
  adapters/amqp-vertx-base/src/main/java/org/eclipse/hono/adapter/amqp/VertxBasedAmqpProtocolAdapter.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
Labels: MQTT Adapter, AMQP Adapter, Tracing

#2861 [#2848] Add Kafka client metrics
  adapter-base-quarkus/src/main/java/org/eclipse/hono/adapter/quarkus/AbstractProtocolAdapterApplication.java
  adapter-base-spring/src/main/java/org/eclipse/hono/adapter/spring/AbstractAdapterConfig.java
  adapter-base-spring/src/main/java/org/eclipse/hono/adapter/spring/AbstractMessagingClientConfig.java
  bom/pom.xml
  clients/command-kafka/src/main/java/org/eclipse/hono/client/command/kafka/KafkaBasedInternalCommandConsumer.java
  clients/kafka-common/pom.xml
  clients/kafka-common/src/main/java/org/eclipse/hono/client/kafka/CachingKafkaProducerFactory.java
  clients/kafka-common/src/main/java/org/eclipse/hono/client/kafka/KafkaProducerFactory.java
  clients/kafka-common/src/main/java/org/eclipse/hono/client/kafka/consumer/HonoKafkaConsumer.java
  clients/kafka-common/src/main/java/org/eclipse/hono/client/kafka/metrics/KafkaClientMetricsSupport.java
  clients/kafka-common/src/main/java/org/eclipse/hono/client/kafka/metrics/KafkaMetricsConfig.java
  clients/kafka-common/src/main/java/org/eclipse/hono/client/kafka/metrics/KafkaMetricsOptions.java
  clients/kafka-common/src/main/java/org/eclipse/hono/client/kafka/metrics/MicrometerKafkaClientMetricsSupport.java
  clients/kafka-common/src/main/java/org/eclipse/hono/client/kafka/metrics/NoopKafkaClientMetricsSupport.java
  clients/kafka-common/src/test/java/org/eclipse/hono/client/kafka/metrics/MicrometerKafkaClientMetricsSupportTest.java
  service-base/pom.xml
  services/command-router-base/src/main/java/org/eclipse/hono/commandrouter/impl/kafka/KafkaBasedCommandConsumerFactoryImpl.java
  services/command-router-quarkus/src/main/java/org/eclipse/hono/commandrouter/quarkus/Application.java
  services/command-router/src/main/java/org/eclipse/hono/commandrouter/spring/ApplicationConfig.java
  site/documentation/content/admin-guide/hono-kafka-client-configuration.md
  tests/src/test/java/org/eclipse/hono/tests/commandrouter/KafkaBasedCommandConsumerFactoryImplIT.java
Labels: enhancement, Metrics

#2873 Adapt environment variable names to Quarkus requirements
  site/documentation/content/admin-guide/amqp-adapter-config.md
  site/documentation/content/admin-guide/auth-server-config.md
  site/documentation/content/admin-guide/coap-adapter-config.md
  site/documentation/content/admin-guide/command-router-config.md
  site/documentation/content/admin-guide/common-config.md
  site/documentation/content/admin-guide/device-connection-config.md
  site/documentation/content/admin-guide/file-based-device-registry-config.md
  site/documentation/content/admin-guide/hono-client-configuration.md
  site/documentation/content/admin-guide/hono-kafka-client-configuration.md
  site/documentation/content/admin-guide/http-adapter-config.md
  site/documentation/content/admin-guide/jdbc-device-registry-config.md
  site/documentation/content/admin-guide/kura-adapter-config.md
  site/documentation/content/admin-guide/mongodb-device-registry-config.md
  site/documentation/content/admin-guide/monitoring-tracing-config.md
  site/documentation/content/admin-guide/mqtt-adapter-config.md
  site/documentation/content/admin-guide/secure_communication.md
Labels: documentation

#2875 Publish hono-legal jar again
  legal/pom.xml
Labels: build system
