Repository eclipse-hono/hono, pull requests merged in 2021-03, with the labels that each got.

#2513 #2469 Adding getTimeUntilDisconnectNotification() to DownstreamMessage
  clients/application/src/main/java/org/eclipse/hono/application/client/DownstreamMessage.java
  core/src/main/java/org/eclipse/hono/util/MessageHelper.java
  core/src/main/java/org/eclipse/hono/util/TimeUntilDisconnectNotification.java
Labels: Client

#2498 [#2478] Extend the northbound application client to support sending commands asynchronously
  cli/src/main/java/org/eclipse/hono/cli/AppConfiguration.java
  clients/amqp-common/src/main/java/org/eclipse/hono/client/amqp/AbstractHonoClient.java
  clients/application-amqp/src/main/java/org/eclipse/hono/application/client/amqp/ProtonBasedApplicationClient.java
  clients/application-amqp/src/main/java/org/eclipse/hono/application/client/amqp/ProtonBasedCommandSender.java
  clients/application-amqp/src/test/java/org/eclipse/hono/application/client/amqp/ProtonBasedApplicationClientTest.java
  clients/application-kafka/src/main/java/org/eclipse/hono/application/client/kafka/impl/KafkaApplicationClientImpl.java
  clients/application-kafka/src/main/java/org/eclipse/hono/application/client/kafka/impl/KafkaBasedCommandSender.java
  clients/application/pom.xml
  clients/application/src/main/java/org/eclipse/hono/application/client/ApplicationClient.java
  clients/application/src/main/java/org/eclipse/hono/application/client/CommandSender.java
  clients/kafka-common/src/main/java/org/eclipse/hono/client/kafka/KafkaMessageHelper.java
  core/src/main/java/org/eclipse/hono/util/MessageHelper.java
  tests/src/test/java/org/eclipse/hono/tests/amqp/CommandAndControlAmqpIT.java
Labels: C&C, Client

#2510 [#2460] Reuse methods for processing Kafka headers
  clients/adapter-kafka/src/main/java/org/eclipse/hono/adapter/client/command/kafka/KafkaBasedCommand.java
  clients/adapter-kafka/src/main/java/org/eclipse/hono/adapter/client/command/kafka/KafkaBasedCommandResponseSender.java
  clients/adapter-kafka/src/main/java/org/eclipse/hono/adapter/client/command/kafka/KafkaBasedInternalCommandConsumer.java
  clients/adapter-kafka/src/main/java/org/eclipse/hono/adapter/client/command/kafka/KafkaBasedInternalCommandSender.java
  clients/application-kafka/src/main/java/org/eclipse/hono/application/client/kafka/impl/KafkaBasedCommandSender.java
  clients/application-kafka/src/main/java/org/eclipse/hono/application/client/kafka/impl/KafkaDownstreamMessage.java
  clients/application-kafka/src/test/java/org/eclipse/hono/application/client/kafka/KafkaMessagePropertiesTest.java
  clients/kafka-common/src/main/java/org/eclipse/hono/client/kafka/KafkaRecordHelper.java
  clients/kafka-common/src/main/java/org/eclipse/hono/client/kafka/RecordUtil.java
  clients/kafka-common/src/main/java/org/eclipse/hono/client/kafka/consumer/AbstractAtLeastOnceKafkaConsumer.java
  clients/kafka-common/src/main/java/org/eclipse/hono/client/kafka/producer/AbstractKafkaBasedMessageSender.java
  clients/kafka-common/src/test/java/org/eclipse/hono/client/kafka/KafkaMessageHelperTest.java
  clients/kafka-common/src/test/java/org/eclipse/hono/client/kafka/KafkaRecordHelperTest.java
  clients/kafka-common/src/test/java/org/eclipse/hono/client/kafka/RecordUtilTest.java
Labels: Client

#2524 Ensure no vertx context switch done on resource limit check
  adapter-base/src/main/java/org/eclipse/hono/adapter/resourcelimits/PrometheusBasedResourceLimitChecks.java
Labels: AMQP Adapter, CoAP Adapter, HTTP Adapter, Kura Adapter, LoRa Adapter, MQTT Adapter, SigFox Adapter

#2523 Handle received message delivery getting updated from remote
  adapters/amqp-vertx-base/src/main/java/org/eclipse/hono/adapter/amqp/VertxBasedAmqpProtocolAdapter.java
  client/src/main/java/org/eclipse/hono/client/CommandContext.java
  client/src/main/java/org/eclipse/hono/client/impl/AdapterInstanceCommandHandler.java
  client/src/main/java/org/eclipse/hono/client/impl/HonoConnectionImpl.java
  clients/adapter-amqp/src/main/java/org/eclipse/hono/adapter/client/command/amqp/ProtonBasedCommandContext.java
  core/src/main/java/org/eclipse/hono/util/HonoProtonHelper.java
  service-base/src/main/java/org/eclipse/hono/service/amqp/AbstractRequestResponseEndpoint.java
Labels: Client, enhancement

#2519 hono-2515: Add LoRa provider for the things stack
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/providers/TheThingsStackProvider.java
  adapters/lora-vertx/src/test/java/org/eclipse/hono/adapter/lora/providers/TheThingsStackProviderTest.java
  adapters/lora-vertx/src/test/resources/payload/theThingsStack.uplink.json
Labels: LoRa Adapter

#2527 add TheThingsStack support to release notes
  site/homepage/content/release-notes.md
Labels: LoRa Adapter

#2525 [#2402] Encapsulate the messaging clients in protocol adapters.
  adapter-base-quarkus/src/main/java/org/eclipse/hono/adapter/quarkus/AbstractProtocolAdapterApplication.java
  adapter-base-spring/src/main/java/org/eclipse/hono/adapter/spring/AbstractAdapterConfig.java
  adapter-base/src/main/java/org/eclipse/hono/adapter/AbstractProtocolAdapterBase.java
  adapter-base/src/main/java/org/eclipse/hono/adapter/MessagingClientSet.java
  adapter-base/src/main/java/org/eclipse/hono/adapter/MessagingClients.java
  adapter-base/src/main/java/org/eclipse/hono/adapter/MultiMessagingSenders.java
  adapter-base/src/test/java/org/eclipse/hono/adapter/AbstractProtocolAdapterBaseTest.java
  adapter-base/src/test/java/org/eclipse/hono/adapter/MessagingClientsTest.java
  adapter-base/src/test/java/org/eclipse/hono/adapter/MultiMessagingSendersTest.java
  adapters/amqp-vertx-base/src/main/java/org/eclipse/hono/adapter/amqp/VertxBasedAmqpProtocolAdapter.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/AbstractVertxBasedCoapAdapter.java
  adapters/coap-vertx-base/src/test/java/org/eclipse/hono/adapter/coap/AbstractVertxBasedCoapAdapterTest.java
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapter.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
  core/src/main/java/org/eclipse/hono/util/MessagingType.java
  core/src/main/java/org/eclipse/hono/util/TenantConstants.java
  test-utils/adapter-base-test-utils/src/main/java/org/eclipse/hono/adapter/test/ProtocolAdapterTestSupport.java
Labels: Client

#2516 Support gathering of code coverage information
  adapter-base/pom.xml
  adapters/pom.xml
  client-device-connection-infinispan/pom.xml
  client/pom.xml
  clients/pom.xml
  core/pom.xml
  pom.xml
  service-base/pom.xml
  services/pom.xml
  site/documentation/content/dev-guide/building_hono.md
Labels: build system

#2528 [#2103] Add Quarkus based variant of CoAP adapter
  adapters/coap-vertx-base/pom.xml
  adapters/coap-vertx-quarkus/pom.xml
  adapters/coap-vertx-quarkus/src/main/java/org/eclipse/hono/adapter/coap/quarkus/Application.java
  adapters/coap-vertx-quarkus/src/main/java/org/eclipse/hono/adapter/coap/quarkus/MetricsFactory.java
  adapters/coap-vertx-quarkus/src/main/java/org/eclipse/hono/adapter/coap/quarkus/QuarkusCoapAdapterProperties.java
  adapters/coap-vertx-quarkus/src/main/resources/default_banner.txt
  adapters/coap-vertx-quarkus/src/main/resources/reflection-config.json
  adapters/coap-vertx-quarkus/src/main/resources/resources-config.json
  adapters/coap-vertx/src/test/resources/logback-test.xml
  adapters/pom.xml
  site/homepage/content/release-notes.md
  tests/pom.xml
  tests/src/test/resources/coap/application.yml
Labels: CoAP Adapter

#2522 hono-2482: Command and control for lora adapter
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapter.java
  adapters/lora-vertx-base/pom.xml
  adapters/lora-vertx-base/src/main/java/org/eclipse/hono/adapter/lora/LoraCommand.java
  adapters/lora-vertx-base/src/main/java/org/eclipse/hono/adapter/lora/LoraProtocolAdapter.java
  adapters/lora-vertx-base/src/main/java/org/eclipse/hono/adapter/lora/SubscriptionKey.java
  adapters/lora-vertx-base/src/main/java/org/eclipse/hono/adapter/lora/providers/ChirpStackProvider.java
  adapters/lora-vertx-base/src/main/java/org/eclipse/hono/adapter/lora/providers/FireflyProvider.java
  adapters/lora-vertx-base/src/main/java/org/eclipse/hono/adapter/lora/providers/JsonBasedLoraProvider.java
  adapters/lora-vertx-base/src/main/java/org/eclipse/hono/adapter/lora/providers/LoraProvider.java
  adapters/lora-vertx-base/src/main/java/org/eclipse/hono/adapter/lora/providers/LoriotProvider.java
  adapters/lora-vertx-base/src/test/java/org/eclipse/hono/adapter/lora/LoraProtocolAdapterTest.java
  adapters/lora-vertx-base/src/test/java/org/eclipse/hono/adapter/lora/providers/ChirpStackProviderTest.java
  adapters/lora-vertx-base/src/test/java/org/eclipse/hono/adapter/lora/providers/LoraProviderTestBase.java
  adapters/lora-vertx-base/src/test/java/org/eclipse/hono/adapter/lora/providers/LoriotProviderTest.java
  core/src/main/java/org/eclipse/hono/util/CommandEndpoint.java
  core/src/main/java/org/eclipse/hono/util/RegistrationAssertion.java
  core/src/main/java/org/eclipse/hono/util/RegistrationConstants.java
  core/src/main/java/org/eclipse/hono/util/RegistryManagementConstants.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/device/AbstractRegistrationService.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/device/Device.java
  site/documentation/content/api/management/device-registry-v1.yaml
  site/homepage/content/release-notes.md
Labels: C&C, LoRa Adapter

#2534 #2475 Migrating device registries to new messaging client
  adapter-base-spring/src/main/java/org/eclipse/hono/adapter/spring/AbstractAdapterConfig.java
  adapter-base-spring/src/main/java/org/eclipse/hono/adapter/spring/AbstractMessagingClientConfig.java
  services/device-registry-base/pom.xml
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/device/AutoProvisioner.java
  services/device-registry-base/src/test/java/org/eclipse/hono/deviceregistry/service/device/AutoProvisionerTest.java
  services/device-registry-file/src/main/java/org/eclipse/hono/deviceregistry/file/FileBasedServiceConfig.java
  services/device-registry-file/src/test/java/org/eclipse/hono/deviceregistry/file/FileBasedRegistrationServiceTest.java
  services/device-registry-jdbc/src/main/java/org/eclipse/hono/deviceregistry/jdbc/ApplicationConfig.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/ApplicationConfig.java
  services/device-registry-mongodb/src/test/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedRegistrationServiceTest.java
Labels: Client

#2537 Upgrade to Infinispan Hotrod Client 11.0.9.Final
  bom/pom.xml
  client-device-connection-infinispan/pom.xml
  legal/src/main/resources/legal/DEPENDENCIES
  legal/src/main/resources/legal/hono-maven.deps
  site/homepage/content/release-notes.md
  tests/src/test/resources/commandrouter/cache-config.xml
  tests/src/test/resources/deviceconnection/cache-config.xml
Labels: enhancement

#2533 [#2478] Extend northbound application client to send one way commands
  clients/application-amqp/src/main/java/org/eclipse/hono/application/client/amqp/AmqpApplicationClient.java
  clients/application-amqp/src/main/java/org/eclipse/hono/application/client/amqp/ProtonBasedCommandSender.java
  clients/application-amqp/src/test/java/org/eclipse/hono/application/client/amqp/ProtonBasedCommandSenderTest.java
  clients/application-kafka/src/main/java/org/eclipse/hono/application/client/kafka/impl/KafkaBasedCommandSender.java
  clients/application-kafka/src/test/java/org/eclipse/hono/application/client/kafka/impl/KafkaBasedCommandSenderTest.java
  clients/application/src/main/java/org/eclipse/hono/application/client/CommandSender.java
  test-utils/client-test-utils/src/main/java/org/eclipse/hono/client/amqp/test/AmqpClientUnitTestHelper.java
  tests/src/test/java/org/eclipse/hono/tests/IntegrationTestSupport.java
Labels: C&C, Client

#2541 #2469 Adapting ITs to tenant-based messaging configuration and includ…
  tests/pom.xml
  tests/src/test/java/org/eclipse/hono/tests/DeviceRegistryHttpClient.java
  tests/src/test/java/org/eclipse/hono/tests/IntegrationTestSupport.java
  tests/src/test/java/org/eclipse/hono/tests/registry/TenantApiTests.java
  tests/src/test/java/org/eclipse/hono/tests/registry/TenantManagementIT.java
  tests/src/test/resources/deviceregistry-jdbc/application.yml
  tests/src/test/resources/deviceregistry-mongodb/application.yml
  tests/src/test/resources/deviceregistry/application.yml
Labels: Client

#2546 HonoConnectionImpl: Remove unused code, prevent duplicate disconnect handler invocation
  client/src/main/java/org/eclipse/hono/client/impl/HonoConnectionImpl.java
  client/src/test/java/org/eclipse/hono/client/impl/DisconnectHandlerProvidingConnectionFactory.java
  client/src/test/java/org/eclipse/hono/client/impl/HonoConnectionImplTest.java
Labels: Client

#2547 [#2543] Prevent connectionResultHandler getting invoked twice
  core/pom.xml
  core/src/main/java/org/eclipse/hono/connection/impl/ConnectionFactoryImpl.java
  core/src/test/java/org/eclipse/hono/connection/impl/ConnectionFactoryImplTest.java
Labels: Client, bug

#2548 [#2521] Let disconnect() abort an ongoing connection attempt
  client/src/main/java/org/eclipse/hono/client/impl/HonoConnectionImpl.java
  client/src/test/java/org/eclipse/hono/client/impl/HonoConnectionImplTest.java
Labels: Client, bug

#2517 #2469 Adapt integration tests for telemetry and events to Kafka
  tests/pom.xml
  tests/src/test/java/org/eclipse/hono/tests/AmqpMessageContextConditionalVerifier.java
  tests/src/test/java/org/eclipse/hono/tests/IntegrationTestSupport.java
  tests/src/test/java/org/eclipse/hono/tests/amqp/AmqpUploadTestBase.java
  tests/src/test/java/org/eclipse/hono/tests/amqp/CommandAndControlAmqpIT.java
  tests/src/test/java/org/eclipse/hono/tests/amqp/EventAmqpIT.java
  tests/src/test/java/org/eclipse/hono/tests/amqp/TelemetryAmqpIT.java
  tests/src/test/java/org/eclipse/hono/tests/coap/CoapTestBase.java
  tests/src/test/java/org/eclipse/hono/tests/coap/EventCoapIT.java
  tests/src/test/java/org/eclipse/hono/tests/coap/TelemetryCoapIT.java
  tests/src/test/java/org/eclipse/hono/tests/http/EventHttpIT.java
  tests/src/test/java/org/eclipse/hono/tests/http/HttpTestBase.java
  tests/src/test/java/org/eclipse/hono/tests/http/TelemetryHttpIT.java
  tests/src/test/java/org/eclipse/hono/tests/mqtt/EventMqttIT.java
  tests/src/test/java/org/eclipse/hono/tests/mqtt/MqttPublishTestBase.java
  tests/src/test/java/org/eclipse/hono/tests/mqtt/TelemetryMqttQoS0IT.java
  tests/src/test/java/org/eclipse/hono/tests/mqtt/TelemetryMqttQoS1IT.java
Labels: Client

#2552 add command mapper to mqtt adapter
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/MessageMapping.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/impl/HttpBasedMessageMapping.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/impl/VertxBasedMqttProtocolAdapter.java
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/impl/HttpBasedMessageMappingTest.java
  core/src/main/java/org/eclipse/hono/util/RegistrationAssertion.java
  core/src/main/java/org/eclipse/hono/util/RegistrationConstants.java
  core/src/main/java/org/eclipse/hono/util/RegistryManagementConstants.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/device/AbstractRegistrationService.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/device/Device.java
  services/device-registry-base/src/test/java/org/eclipse/hono/deviceregistry/service/device/AbstractRegistrationServiceTest.java
  services/device-registry-base/src/test/java/org/eclipse/hono/service/management/device/DelegatingDeviceManagementHttpEndpointTest.java
  services/device-registry-base/src/test/java/org/eclipse/hono/service/management/device/DeviceTest.java
  services/device-registry-base/src/test/java/org/eclipse/hono/service/registration/AbstractRegistrationServiceTest.java
  services/device-registry-file/src/test/java/org/eclipse/hono/deviceregistry/file/FileBasedRegistrationServiceTest.java
  site/documentation/content/api/management/device-registry-v1.yaml
  site/homepage/content/release-notes.md
Labels: C&C, enhancement

#2558 [#2535] Remove "tech preview" status of Command Router
  .github/workflows/ci.yml
  site/documentation/content/admin-guide/command-router-config.md
  site/homepage/content/release-notes.md
  tests/pom.xml
  tests/readme.md
Labels: build system, documentation

#2553 [#2490] Support Kafka messaging in Quarkus based Adapters.
  adapter-base-quarkus/pom.xml
  adapter-base-quarkus/src/main/java/org/eclipse/hono/adapter/quarkus/AbstractProtocolAdapterApplication.java
  adapter-base-quarkus/src/main/java/org/eclipse/hono/adapter/quarkus/KafkaRuntimeConfigProducer.java
  adapter-base-quarkus/src/test/java/org/eclipse/hono/adapter/quarkus/KafkaRuntimeConfigProducerTest.java
  adapter-base-quarkus/src/test/resources/application.yaml
  adapters/amqp-vertx-quarkus/src/main/resources/reflection-config.json
  adapters/coap-vertx-quarkus/src/main/resources/reflection-config.json
  adapters/http-vertx-quarkus/src/main/resources/reflection-config.json
  adapters/lora-vertx-quarkus/src/main/resources/reflection-config.json
  adapters/mqtt-vertx-quarkus/src/main/resources/reflection-config.json
Labels: Client

#2562 Run command handler in correct vert.x context
  clients/adapter-amqp/src/test/java/org/eclipse/hono/adapter/client/command/amqp/ProtonBasedInternalCommandConsumerTest.java
  clients/adapter-kafka/src/test/java/org/eclipse/hono/adapter/client/command/kafka/KafkaBasedInternalCommandConsumerTest.java
  clients/adapter/src/main/java/org/eclipse/hono/adapter/client/command/CommandHandlerWrapper.java
  clients/adapter/src/main/java/org/eclipse/hono/adapter/client/command/CommandHandlers.java
  clients/adapter/src/main/java/org/eclipse/hono/adapter/client/command/CommandRouterCommandConsumerFactory.java
Labels: C&C, bug

#2568 Use "hono.kafka" config prefix in Command Router
  services/command-router-quarkus/src/main/java/org/eclipse/hono/commandrouter/quarkus/KafkaRuntimeConfigProducer.java
  services/command-router/src/main/java/org/eclipse/hono/commandrouter/spring/ApplicationConfig.java
  tests/src/test/resources/commandrouter/application.yml
Labels: C&C

#2570 Improve KafkaBasedInternalCommandConsumer
  clients/adapter-kafka/src/main/java/org/eclipse/hono/adapter/client/command/kafka/KafkaBasedInternalCommandConsumer.java
Labels: C&C

#2567 [#2402] Use messaging network set for tenant in Command Router
  adapter-base-quarkus/src/main/java/org/eclipse/hono/adapter/quarkus/AbstractProtocolAdapterApplication.java
  adapter-base-spring/src/main/java/org/eclipse/hono/adapter/spring/AbstractMessagingClientConfig.java
  clients/client-common/src/main/java/org/eclipse/hono/client/util/MessagingClient.java
  services/command-router-base/src/main/java/org/eclipse/hono/commandrouter/impl/CommandRouterServiceImpl.java
  services/command-router-quarkus/src/main/java/org/eclipse/hono/commandrouter/quarkus/Application.java
  services/command-router/src/main/java/org/eclipse/hono/commandrouter/spring/ApplicationConfig.java
Labels: C&C

#2572 [#2557] Update component view page with Command Router
  site/documentation/content/architecture/component-view/command-router.png
  site/documentation/content/architecture/component-view/command-router.xml
  site/documentation/content/architecture/component-view/device-registry.png
  site/documentation/content/architecture/component-view/device-registry.xml
  site/documentation/content/architecture/component-view/index.md
  site/documentation/content/architecture/component-view/top-level.png
  site/documentation/content/architecture/component-view/top-level.xml
Labels: documentation

#2574 Increase test setup timeout for Kafka integration tests
  tests/src/test/java/org/eclipse/hono/tests/IntegrationTestSupport.java
  tests/src/test/java/org/eclipse/hono/tests/amqp/CommandAndControlAmqpIT.java
Labels: build system

#2573 Rename postRegisterServiceVerticles() to postDeployVerticles()
  service-base-spring/src/main/java/org/eclipse/hono/service/spring/AbstractApplication.java
  service-base-spring/src/main/java/org/eclipse/hono/service/spring/AbstractBaseApplication.java
  services/device-registry-file/src/main/java/org/eclipse/hono/deviceregistry/file/Application.java
Labels: enhancement
