Repository eclipse-hono/hono, pull requests merged in 2021-04, with the labels that each got.

#2582 [#2194] Clarify documentation regarding password hashes.
  site/documentation/content/api/management/device-registry-v1.yaml
Labels: Management API

#2578 [#2576] Support re-enabling of command routing after restart
  clients/adapter-amqp/src/main/java/org/eclipse/hono/adapter/client/command/amqp/ProtonBasedCommandRouterClient.java
  clients/adapter/pom.xml
  clients/adapter/src/main/java/org/eclipse/hono/adapter/client/command/CommandRouterClient.java
  clients/adapter/src/main/java/org/eclipse/hono/adapter/client/command/CommandRouterCommandConsumerFactory.java
  clients/adapter/src/main/java/org/eclipse/hono/adapter/client/command/DeviceConnectionClientAdapter.java
  clients/adapter/src/test/java/org/eclipse/hono/adapter/client/command/CommandRouterCommandConsumerFactoryTest.java
  core/src/main/java/org/eclipse/hono/util/CommandRouterConstants.java
  service-base/src/main/java/org/eclipse/hono/service/commandrouter/CommandRouterMessageFilter.java
  service-base/src/main/java/org/eclipse/hono/service/commandrouter/CommandRouterService.java
  service-base/src/main/java/org/eclipse/hono/service/commandrouter/DelegatingCommandRouterAmqpEndpoint.java
  service-base/src/test/java/org/eclipse/hono/service/commandrouter/DelegatingCommandRouterAmqpEndpointTest.java
  services/command-router-base/src/main/java/org/eclipse/hono/commandrouter/impl/CommandRouterServiceImpl.java
  services/command-router-base/src/test/java/org/eclipse/hono/commandrouter/impl/CommandRouterServiceImplTest.java
  services/command-router-quarkus/src/main/java/org/eclipse/hono/commandrouter/quarkus/Application.java
  services/command-router/src/main/java/org/eclipse/hono/commandrouter/spring/ApplicationConfig.java
  site/documentation/content/api/command-router/enable_command_routing.svg
  site/documentation/content/api/command-router/index.md
Labels: C&C, bug

#2580 [#1571] Add a introduction page to the documentation.
  site/documentation/content/_index.md
  site/documentation/static/images/overview_hono.svg
Labels: documentation

#2589 Fail sending messages if sender already stopped
  clients/kafka-common/src/main/java/org/eclipse/hono/client/kafka/producer/AbstractKafkaBasedMessageSender.java
Labels: Client

#2571 [#2478] Prepare for Kafka based north-bound API implementation to send commands and receive responses
  clients/amqp-common/src/main/java/org/eclipse/hono/client/amqp/RequestResponseClient.java
  clients/application-amqp/src/main/java/org/eclipse/hono/application/client/amqp/ProtonBasedCommandSender.java
  clients/application-amqp/src/main/java/org/eclipse/hono/application/client/amqp/ProtonBasedRequestResponseCommandClient.java
  clients/application-kafka/src/main/java/org/eclipse/hono/application/client/kafka/impl/KafkaBasedCommandSender.java
  clients/application/src/main/java/org/eclipse/hono/application/client/ApplicationClient.java
  clients/application/src/main/java/org/eclipse/hono/application/client/CommandSender.java
  tests/src/test/java/org/eclipse/hono/tests/IntegrationTestSupport.java
  tests/src/test/java/org/eclipse/hono/tests/amqp/CommandAndControlAmqpIT.java
  tests/src/test/java/org/eclipse/hono/tests/coap/CoapTestBase.java
  tests/src/test/java/org/eclipse/hono/tests/http/HttpTestBase.java
  tests/src/test/java/org/eclipse/hono/tests/mqtt/CommandAndControlMqttIT.java
Labels: C&C, Client

#2591 [#2590] Use broker default replication factor for internal topic
  clients/adapter-kafka/src/main/java/org/eclipse/hono/adapter/client/command/kafka/KafkaBasedInternalCommandConsumer.java
  clients/adapter-kafka/src/test/java/org/eclipse/hono/adapter/client/command/kafka/KafkaBasedInternalCommandConsumerTest.java
Labels: C&C

#2583 [#2478] Add kafka based implementation to send commands and receive responses by the north bound side
  clients/application-kafka/src/main/java/org/eclipse/hono/application/client/kafka/impl/KafkaApplicationClientImpl.java
  clients/application-kafka/src/main/java/org/eclipse/hono/application/client/kafka/impl/KafkaBasedCommandSender.java
  clients/application-kafka/src/test/java/org/eclipse/hono/application/client/kafka/impl/KafkaBasedCommandSenderTest.java
  clients/application/src/main/java/org/eclipse/hono/application/client/CommandSender.java
  clients/kafka-common/src/main/java/org/eclipse/hono/client/kafka/consumer/AbstractAtLeastOnceKafkaConsumer.java
  clients/kafka-common/src/main/java/org/eclipse/hono/client/kafka/consumer/KafkaConsumerConfigProperties.java
Labels: C&C, Client

#2594 [#2478] Use ApplicationClient to send commands in integration tests
  tests/src/test/java/org/eclipse/hono/tests/amqp/CommandAndControlAmqpIT.java
Labels: C&C, Client

#2595 Create DEPENDENCIES file via script
  create_dependencies_list.sh
  legal/src/main/resources/legal/DEPENDENCIES
  legal/src/main/resources/legal/hono-maven.deps
Labels: build system

#2602 Deprecate legacy north bound client interfaces
  client/src/main/java/org/eclipse/hono/client/ApplicationClientFactory.java
  client/src/main/java/org/eclipse/hono/client/AsyncCommandClient.java
  client/src/main/java/org/eclipse/hono/client/CommandClient.java
  site/homepage/content/release-notes.md
Labels: Client

#2604 Respect status when sending synchronous command via Kafka
  clients/application-amqp/src/main/java/org/eclipse/hono/application/client/amqp/ProtonBasedRequestResponseCommandClient.java
  clients/application-kafka/src/main/java/org/eclipse/hono/application/client/kafka/impl/KafkaBasedCommandSender.java
  clients/application-kafka/src/test/java/org/eclipse/hono/application/client/kafka/impl/KafkaBasedCommandSenderTest.java
Labels: C&C

#2603 Apply minor improvements to KafkaBasedCommandSender
  clients/application-kafka/src/main/java/org/eclipse/hono/application/client/kafka/impl/KafkaBasedCommandSender.java
  clients/application-kafka/src/test/java/org/eclipse/hono/application/client/kafka/impl/KafkaBasedCommandSenderTest.java
Labels: C&C

#2607 Use payload of error command response as exception message
  client/src/main/java/org/eclipse/hono/client/CommandClient.java
  client/src/main/java/org/eclipse/hono/client/impl/CommandClientImpl.java
  clients/application-amqp/src/main/java/org/eclipse/hono/application/client/amqp/ProtonBasedRequestResponseCommandClient.java
  clients/application-amqp/src/test/java/org/eclipse/hono/application/client/amqp/ProtonBasedRequestResponseCommandClientTest.java
  clients/application-kafka/src/main/java/org/eclipse/hono/application/client/kafka/impl/KafkaBasedCommandSender.java
  clients/application-kafka/src/test/java/org/eclipse/hono/application/client/kafka/impl/KafkaBasedCommandSenderTest.java
  clients/application/src/main/java/org/eclipse/hono/application/client/CommandSender.java
Labels: C&C, Client

#2611 isValidUri should not be serialized in device registry
  core/src/main/java/org/eclipse/hono/util/CommandEndpoint.java
Labels: Management API, bug

#2613 isValidUri should not be serialized in device registry
  core/src/main/java/org/eclipse/hono/util/CommandEndpoint.java
  site/homepage/content/release-notes.md
Labels: Management API, bug

#2612 Fix sending commands and receiving responses over Kafka
  clients/application-kafka/src/main/java/org/eclipse/hono/application/client/kafka/impl/KafkaBasedCommandSender.java
Labels: C&C, Client, bug

#2614 Add README file with usage examples to the CLI module
  cli/README.md
Labels: Client

#2585 Improve docs for deploying in minikube
  site/documentation/content/deployment/helm-based-deployment.md
Labels: documentation

#2616 [#2615] Fix sample.timeout() being invoked for each request
  client/src/main/java/org/eclipse/hono/client/impl/AbstractRequestResponseClient.java
  clients/amqp-common/src/main/java/org/eclipse/hono/client/amqp/RequestResponseClient.java
  clients/amqp-common/src/test/java/org/eclipse/hono/client/amqp/RequestResponseClientTest.java
  site/homepage/content/release-notes.md
Labels: Client, bug

#2622 Version 1.7.x: Fix links to anchors in documentation.
  site/documentation/content/admin-guide/jdbc-device-registry-config.md
  site/documentation/content/admin-guide/mongodb-device-registry-config.md
  site/documentation/content/api/tenant/index.md
  site/documentation/content/concepts/command-and-control/index.md
  site/documentation/content/deployment/helm-based-deployment.md
  site/documentation/content/deployment/resource-limitation.md
  site/documentation/content/dev-guide/custom_http_adapter.md
  site/documentation/content/user-guide/amqp-adapter.md
  site/documentation/content/user-guide/coap-adapter.md
  site/documentation/content/user-guide/http-adapter.md
  site/documentation/content/user-guide/kura-adapter.md
  site/documentation/content/user-guide/mongodb-based-device-registry.md
  site/documentation/content/user-guide/mqtt-adapter.md
Labels: bug, documentation

#2621 Fix links to anchors in documentation.
  site/documentation/content/admin-guide/jdbc-device-registry-config.md
  site/documentation/content/admin-guide/mongodb-device-registry-config.md
  site/documentation/content/api/tenant/index.md
  site/documentation/content/concepts/command-and-control/index.md
  site/documentation/content/deployment/helm-based-deployment.md
  site/documentation/content/deployment/resource-limitation.md
  site/documentation/content/dev-guide/custom_http_adapter.md
  site/documentation/content/user-guide/amqp-adapter.md
  site/documentation/content/user-guide/coap-adapter.md
  site/documentation/content/user-guide/http-adapter.md
  site/documentation/content/user-guide/kura-adapter.md
  site/documentation/content/user-guide/mongodb-based-device-registry.md
  site/documentation/content/user-guide/mqtt-adapter.md
Labels: bug, documentation

#2617 [#2480] Ensure command records get routed in the original order
  clients/adapter-kafka/src/main/java/org/eclipse/hono/adapter/client/command/kafka/KafkaBasedCommandContext.java
  clients/adapter-kafka/src/main/java/org/eclipse/hono/adapter/client/command/kafka/KafkaBasedInternalCommandSender.java
  services/command-router-base/src/main/java/org/eclipse/hono/commandrouter/impl/AbstractMappingAndDelegatingCommandHandler.java
  services/command-router-base/src/main/java/org/eclipse/hono/commandrouter/impl/kafka/KafkaBasedMappingAndDelegatingCommandHandler.java
  services/command-router-base/src/test/java/org/eclipse/hono/commandrouter/impl/kafka/KafkaBasedMappingAndDelegatingCommandHandlerTest.java
Labels: C&C

#2624 support multitech embedded LNS
  adapters/lora-vertx-base/src/main/java/org/eclipse/hono/adapter/lora/providers/MultiTechProvider.java
  adapters/lora-vertx-base/src/test/java/org/eclipse/hono/adapter/lora/providers/MultiTechProviderTest.java
  adapters/lora-vertx-base/src/test/resources/payload/multiTech.uplink.json
  site/homepage/content/release-notes.md
Labels: LoRa Adapter, enhancement

#2596 [#2480] Skip duplicate command records
  clients/adapter-kafka/src/main/java/org/eclipse/hono/adapter/client/command/kafka/KafkaBasedInternalCommandConsumer.java
  clients/adapter-kafka/src/main/java/org/eclipse/hono/adapter/client/command/kafka/KafkaBasedInternalCommandSender.java
  clients/adapter-kafka/src/test/java/org/eclipse/hono/adapter/client/command/kafka/KafkaBasedInternalCommandConsumerTest.java
  clients/kafka-common/src/main/java/org/eclipse/hono/client/kafka/KafkaRecordHelper.java
Labels: C&C

#2625 Extend northbound interface to make command time out configurable
  cli/src/main/java/org/eclipse/hono/cli/app/Commander.java
  cli/src/main/resources/application.yml
  clients/application-amqp/src/main/java/org/eclipse/hono/application/client/amqp/ProtonBasedCommandSender.java
  clients/application-amqp/src/main/java/org/eclipse/hono/application/client/amqp/ProtonBasedRequestResponseCommandClient.java
  clients/application-amqp/src/test/java/org/eclipse/hono/application/client/amqp/ProtonBasedRequestResponseCommandClientTest.java
  clients/application-kafka/src/main/java/org/eclipse/hono/application/client/kafka/impl/KafkaBasedCommandSender.java
  clients/application-kafka/src/test/java/org/eclipse/hono/application/client/kafka/impl/KafkaBasedCommandSenderTest.java
  clients/application/src/main/java/org/eclipse/hono/application/client/CommandSender.java
Labels: C&C, Client

#2632 [#2623] Close created Kafka consumers when client is stopped
  clients/application-kafka/src/main/java/org/eclipse/hono/application/client/kafka/impl/KafkaApplicationClientImpl.java
  clients/application-kafka/src/main/java/org/eclipse/hono/application/client/kafka/impl/KafkaBasedCommandSender.java
  clients/application-kafka/src/test/java/org/eclipse/hono/application/client/kafka/impl/KafkaApplicationClientImplTest.java
  clients/kafka-common/src/main/java/org/eclipse/hono/client/kafka/consumer/AbstractAtLeastOnceKafkaConsumer.java
Labels: Client

#2629 Add dtls-x509 support for coap-adapter.
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/AbstractVertxBasedCoapAdapter.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/CertificateDeviceResolver.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/DeviceInfoSupplier.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/PskDeviceResolver.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/TracingSupportingHonoResource.java
Labels: CoAP Adapter, enhancement

#2636 [#2620] Add cipher suite tag to hono.connections.attempts metric
  adapter-base/src/main/java/org/eclipse/hono/adapter/metric/Metrics.java
  adapter-base/src/main/java/org/eclipse/hono/adapter/metric/MicrometerBasedMetrics.java
  adapter-base/src/main/java/org/eclipse/hono/adapter/metric/NoopBasedMetrics.java
  adapters/amqp-vertx-base/src/main/java/org/eclipse/hono/adapter/amqp/AmqpAdapterConstants.java
  adapters/amqp-vertx-base/src/main/java/org/eclipse/hono/adapter/amqp/AmqpAdapterSaslAuthenticatorFactory.java
  adapters/amqp-vertx-base/src/main/java/org/eclipse/hono/adapter/amqp/VertxBasedAmqpProtocolAdapter.java
  adapters/amqp-vertx-base/src/test/java/org/eclipse/hono/adapter/amqp/VertxBasedAmqpProtocolAdapterTest.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapterTest.java
  service-base/src/main/java/org/eclipse/hono/service/metric/MetricsTags.java
  site/documentation/content/api/Metrics.md
Labels: AMQP Adapter, Kura Adapter, MQTT Adapter, Metrics
