Repository eclipse-hono/hono, pull requests merged in 2021-06, with the labels that each got.

#2680 Catch exception publishing command to MQTT device
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
Labels: MQTT Adapter

#2685 Enable collection of JVM metrics in Quarkus based components
  adapter-base-quarkus/src/main/java/org/eclipse/hono/adapter/quarkus/AbstractProtocolAdapterApplication.java
  adapter-base-spring/src/main/java/org/eclipse/hono/adapter/spring/AbstractAdapterConfig.java
  adapter-base-spring/src/main/java/org/eclipse/hono/adapter/spring/AbstractMessagingClientConfig.java
  adapters/amqp-vertx-quarkus/src/main/java/org/eclipse/hono/adapter/amqp/quarkus/Application.java
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/spring/Config.java
  adapters/coap-vertx-quarkus/src/main/java/org/eclipse/hono/adapter/coap/quarkus/Application.java
  adapters/coap-vertx/src/main/java/org/eclipse/hono/adapter/coap/spring/Config.java
  adapters/http-vertx-quarkus/src/main/java/org/eclipse/hono/adapter/http/quarkus/Application.java
  adapters/http-vertx/src/main/java/org/eclipse/hono/adapter/http/spring/Config.java
  adapters/kura/src/main/java/org/eclipse/hono/adapter/kura/impl/Config.java
  adapters/lora-vertx-quarkus/src/main/java/org/eclipse/hono/adapter/lora/quarkus/Application.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/impl/Config.java
  adapters/mqtt-vertx-quarkus/src/main/java/org/eclipse/hono/adapter/mqtt/quarkus/Application.java
  adapters/mqtt-vertx/src/main/java/org/eclipse/hono/adapter/mqtt/spring/Config.java
  adapters/sigfox-vertx/src/main/java/org/eclipse/hono/adapter/sigfox/impl/Config.java
  service-base-quarkus/pom.xml
  service-base-quarkus/src/main/java/org/eclipse/hono/service/quarkus/AbstractServiceApplication.java
  service-base-quarkus/src/main/java/org/eclipse/hono/service/quarkus/metric/MeterRegistryProducer.java
  service-base/src/main/java/org/eclipse/hono/service/ComponentNameProvider.java
  service-base/src/main/java/org/eclipse/hono/service/metric/PrometheusScrapingResource.java
  services/auth-quarkus/src/main/java/org/eclipse/hono/authentication/quarkus/Application.java
  services/command-router-quarkus/src/main/java/org/eclipse/hono/commandrouter/quarkus/Application.java
Labels: Metrics, bug

#2692 [#2690] Fix NPE in case of empty command payload
  adapters/lora-vertx-base/src/main/java/org/eclipse/hono/adapter/lora/LoraProtocolAdapter.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
  tests/src/test/java/org/eclipse/hono/tests/mqtt/CommandAndControlMqttIT.java
Labels: C&C, LoRa Adapter, MQTT Adapter, bug

#2697 Remove support for disabling modification of data
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/config/AbstractMongoDbBasedRegistryConfigProperties.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedCredentialsService.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedDeviceBackend.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedRegistrationService.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedTenantService.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/utils/MongoDbDeviceRegistryUtils.java
  site/documentation/content/admin-guide/mongodb-device-registry-config.md
  site/homepage/content/release-notes.md
Labels: MongoDB Device Registry

#2701 Add support for limiting registration entries at tenant level
  core/src/main/java/org/eclipse/hono/util/RegistryManagementConstants.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/tenant/RegistrationLimits.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/tenant/Tenant.java
  services/device-registry-base/src/test/java/org/eclipse/hono/service/management/tenant/TenantTest.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/config/MongoDbBasedRegistrationConfigProperties.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedCredentialsService.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedRegistrationService.java
  services/device-registry-mongodb/src/test/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedCredentialServiceTest.java
  services/device-registry-mongodb/src/test/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedRegistrationServiceTest.java
  site/documentation/content/api/management/device-registry-v1.yaml
  site/documentation/content/user-guide/mongodb-based-device-registry.md
  site/homepage/content/release-notes.md
  tests/src/test/java/org/eclipse/hono/tests/registry/TenantManagementIT.java
Labels: Feature Request, MongoDB Device Registry

#2703 Upgrade to Quarkus 1.11.7
  bom/pom.xml
  legal/src/main/resources/legal/DEPENDENCIES
  legal/src/main/resources/legal/hono-maven.deps
Labels: enhancement

#2710 [#2705] Fix pendingRequests handling in tenant client
  clients/adapter-amqp/src/main/java/org/eclipse/hono/adapter/client/registry/amqp/ProtonBasedTenantClient.java
  clients/adapter-amqp/src/test/java/org/eclipse/hono/adapter/client/registry/amqp/ProtonBasedTenantClientTest.java
Labels: Client, bug

#2708 [#2665] Update documentation and release notes
  site/documentation/content/concepts/device-provisioning/auto-provisioning.svg
  site/documentation/content/concepts/device-provisioning/index.md
  site/homepage/content/release-notes.md
Labels: Device Registry

#2709 Prevent endless loop when re-activating command routing
  services/command-router-base/src/main/java/org/eclipse/hono/commandrouter/impl/CommandRouterServiceImpl.java
  services/command-router-base/src/test/java/org/eclipse/hono/commandrouter/impl/CommandRouterServiceImplTest.java
Labels: C&C, bug

#2720 [#2704] Check LoRa adapter command consumers on tenant timeout
  adapters/lora-vertx-base/src/main/java/org/eclipse/hono/adapter/lora/LoraProtocolAdapter.java
Labels: LoRa Adapter

#2723 [#2706] Document required versions of Kafka
  bom/pom.xml
  site/documentation/content/admin-guide/hono-kafka-client-configuration.md
Labels: documentation

#2722 LoRa adapter: Check for command endpoint before creating consumer
  adapters/lora-vertx-base/src/main/java/org/eclipse/hono/adapter/lora/LoraProtocolAdapter.java
  adapters/lora-vertx-base/src/test/java/org/eclipse/hono/adapter/lora/LoraProtocolAdapterTest.java
Labels: C&C, LoRa Adapter

#2724 Support limiting request body size in registry mgmt API
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/device/DelegatingDeviceManagementHttpEndpoint.java
  services/device-registry-base/src/test/java/org/eclipse/hono/service/management/device/DelegatingDeviceManagementHttpEndpointTest.java
  site/documentation/content/admin-guide/file-based-device-registry-config.md
  site/documentation/content/admin-guide/jdbc-device-registry-config.md
  site/documentation/content/admin-guide/mongodb-device-registry-config.md
  site/documentation/content/api/management/device-registry-v1.yaml
  site/homepage/content/release-notes.md
  tests/pom.xml
  tests/src/test/java/org/eclipse/hono/tests/registry/CredentialsManagementIT.java
  tests/src/test/java/org/eclipse/hono/tests/registry/DeviceManagementIT.java
  tests/src/test/java/org/eclipse/hono/tests/registry/TenantManagementIT.java
  tests/src/test/resources/deviceregistry-jdbc-h2/application.yml
  tests/src/test/resources/deviceregistry-jdbc-postgres/application.yml
  tests/src/test/resources/deviceregistry-mongodb/application.yml
Labels: Device Registry, Feature Request, JDBC Device Registry, MongoDB Device Registry

#2719 [#2661] Pass CommandResponseSender to KafkaBasedCommandContext
  adapter-base-quarkus/src/main/java/org/eclipse/hono/adapter/quarkus/AbstractProtocolAdapterApplication.java
  adapter-base-spring/src/main/java/org/eclipse/hono/adapter/spring/AbstractAdapterConfig.java
  adapter-base/src/main/java/org/eclipse/hono/adapter/MessagingClients.java
  clients/client-common/src/main/java/org/eclipse/hono/client/util/MessagingClient.java
  clients/command-kafka/src/main/java/org/eclipse/hono/client/command/kafka/KafkaBasedCommandContext.java
  clients/command-kafka/src/main/java/org/eclipse/hono/client/command/kafka/KafkaBasedInternalCommandConsumer.java
  clients/command-kafka/src/test/java/org/eclipse/hono/client/command/kafka/KafkaBasedInternalCommandConsumerTest.java
  services/command-router-base/src/main/java/org/eclipse/hono/commandrouter/impl/kafka/KafkaBasedCommandConsumerFactoryImpl.java
  services/command-router-base/src/main/java/org/eclipse/hono/commandrouter/impl/kafka/KafkaBasedMappingAndDelegatingCommandHandler.java
  services/command-router-base/src/test/java/org/eclipse/hono/commandrouter/impl/kafka/KafkaBasedMappingAndDelegatingCommandHandlerTest.java
  services/command-router-base/src/test/java/org/eclipse/hono/commandrouter/impl/kafka/KafkaCommandProcessingQueueTest.java
Labels: C&C

#2729 Remove support for exporting metrics to Graphite or InfluxDB
  adapter-base/pom.xml
  adapter-base/src/test/java/org/eclipse/hono/adapter/metric/MicrometerBasedMetricsTest.java
  adapters/pom.xml
  bom/pom.xml
  legal/src/main/resources/legal/DEPENDENCIES
  legal/src/main/resources/legal/hono-maven.deps
  service-base/src/main/resources/org/eclipse/hono/service/metric/legacy.properties
  services/pom.xml
  site/documentation/content/admin-guide/monitoring-tracing-config.md
  site/documentation/content/api/Metrics.md
  site/homepage/content/release-notes.md
Labels: Metrics

#2730 Fix command tenant/device 404 handling, adapt command tracing
  adapter-base/src/main/java/org/eclipse/hono/adapter/AbstractProtocolAdapterBase.java
  adapters/amqp-vertx-base/src/main/java/org/eclipse/hono/adapter/amqp/VertxBasedAmqpProtocolAdapter.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/AbstractHonoResource.java
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapter.java
  adapters/lora-vertx-base/src/main/java/org/eclipse/hono/adapter/lora/LoraProtocolAdapter.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
  clients/command-amqp/src/main/java/org/eclipse/hono/client/command/amqp/ProtonBasedCommandContext.java
  clients/command-amqp/src/main/java/org/eclipse/hono/client/command/amqp/ProtonBasedInternalCommandConsumer.java
  clients/command-amqp/src/main/java/org/eclipse/hono/client/command/amqp/ProtonBasedInternalCommandSender.java
  clients/command-kafka/src/main/java/org/eclipse/hono/client/command/kafka/KafkaBasedCommandContext.java
  clients/command-kafka/src/main/java/org/eclipse/hono/client/command/kafka/KafkaBasedInternalCommandConsumer.java
  clients/command-kafka/src/main/java/org/eclipse/hono/client/command/kafka/KafkaBasedInternalCommandSender.java
  clients/command/src/main/java/org/eclipse/hono/client/command/CommandContext.java
  clients/registry/src/main/java/org/eclipse/hono/client/registry/DeviceDisabledOrNotRegisteredException.java
  clients/registry/src/main/java/org/eclipse/hono/client/registry/GatewayDisabledOrNotRegisteredException.java
  clients/registry/src/main/java/org/eclipse/hono/client/registry/TenantDisabledOrNotRegisteredException.java
  core/src/main/java/org/eclipse/hono/tracing/TracingHelper.java
  services/command-router-base/src/main/java/org/eclipse/hono/commandrouter/CommandTargetMapper.java
  services/command-router-base/src/main/java/org/eclipse/hono/commandrouter/impl/AbstractMappingAndDelegatingCommandHandler.java
  services/command-router-base/src/main/java/org/eclipse/hono/commandrouter/impl/CommandTargetMapperImpl.java
Labels: C&C

#2733 Make ServiceInvocationException abstract
  client/src/main/java/org/eclipse/hono/client/ServiceInvocationException.java
  client/src/test/java/org/eclipse/hono/client/ServiceInvocationExceptionTest.java
  examples/hono-client-examples/src/main/java/org/eclipse/hono/devices/HonoHttpDevice.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/device/DeviceAndGatewayAutoProvisioner.java
  services/device-registry-base/src/test/java/org/eclipse/hono/service/management/device/DeviceAndGatewayAutoProvisionerTest.java
  tests/src/test/java/org/eclipse/hono/tests/coap/CoapTestBase.java
  tests/src/test/java/org/eclipse/hono/tests/jms/JmsBasedCredentialsClient.java
  tests/src/test/java/org/eclipse/hono/tests/jms/JmsBasedDeviceConnectionClient.java
  tests/src/test/java/org/eclipse/hono/tests/jms/JmsBasedRegistrationClient.java
  tests/src/test/java/org/eclipse/hono/tests/jms/JmsBasedRequestResponseClient.java
  tests/src/test/java/org/eclipse/hono/tests/jms/JmsBasedTenantClient.java
Labels: Client

#2728 [#2661] Send Kafka command response message on delivery error
  client/src/main/java/org/eclipse/hono/client/CommandResponse.java
  clients/command-kafka/src/main/java/org/eclipse/hono/client/command/kafka/KafkaBasedCommandContext.java
  clients/command-kafka/src/main/java/org/eclipse/hono/client/command/kafka/KafkaBasedInternalCommandConsumer.java
  clients/command/src/main/java/org/eclipse/hono/client/command/CommandAlreadyProcessedException.java
  clients/command/src/main/java/org/eclipse/hono/client/command/CommandResponse.java
  core/src/main/java/org/eclipse/hono/util/CommandConstants.java
  tests/src/test/java/org/eclipse/hono/tests/GenericKafkaSender.java
  tests/src/test/java/org/eclipse/hono/tests/IntegrationTestSupport.java
  tests/src/test/java/org/eclipse/hono/tests/amqp/CommandAndControlAmqpIT.java
  tests/src/test/java/org/eclipse/hono/tests/mqtt/CommandAndControlMqttIT.java
Labels: C&C

#2712 [#2661] Document Hono sending Kafka error command responses
  site/documentation/content/api/command-and-control-kafka/index.md
  site/documentation/content/api/command-and-control/index.md
Labels: C&C

#2739 Use new MessagingClient interface for messaging clients
  adapter-base-quarkus/src/main/java/org/eclipse/hono/adapter/quarkus/AbstractProtocolAdapterApplication.java
  adapter-base-spring/src/main/java/org/eclipse/hono/adapter/spring/AbstractAdapterConfig.java
  adapter-base-spring/src/main/java/org/eclipse/hono/adapter/spring/AbstractMessagingClientConfig.java
  adapter-base/src/main/java/org/eclipse/hono/adapter/AbstractProtocolAdapterBase.java
  adapter-base/src/main/java/org/eclipse/hono/adapter/MessagingClientProviders.java
  adapter-base/src/test/java/org/eclipse/hono/adapter/AbstractProtocolAdapterBaseTest.java
  adapter-base/src/test/java/org/eclipse/hono/adapter/MessagingClientProvidersTest.java
  adapters/coap-vertx-base/src/test/java/org/eclipse/hono/adapter/coap/AbstractVertxBasedCoapAdapterTest.java
  clients/amqp-common/src/main/java/org/eclipse/hono/client/amqp/AbstractServiceClient.java
  clients/client-common/src/main/java/org/eclipse/hono/client/util/MessagingClientProvider.java
  clients/client-common/src/test/java/org/eclipse/hono/client/util/MessagingClientProviderTest.java
  clients/command/src/main/java/org/eclipse/hono/client/command/CommandResponseSender.java
  clients/kafka-common/src/main/java/org/eclipse/hono/client/kafka/producer/AbstractKafkaBasedMessageSender.java
  clients/telemetry/src/main/java/org/eclipse/hono/client/telemetry/EventSender.java
  clients/telemetry/src/main/java/org/eclipse/hono/client/telemetry/TelemetrySender.java
  core/src/main/java/org/eclipse/hono/util/MessagingClient.java
  services/command-router-base/src/main/java/org/eclipse/hono/commandrouter/CommandConsumerFactory.java
  services/command-router-base/src/main/java/org/eclipse/hono/commandrouter/impl/CommandRouterServiceImpl.java
  services/command-router-base/src/main/java/org/eclipse/hono/commandrouter/impl/kafka/KafkaBasedCommandConsumerFactoryImpl.java
  services/command-router-base/src/test/java/org/eclipse/hono/commandrouter/impl/CommandRouterServiceImplTest.java
  services/command-router-quarkus/src/main/java/org/eclipse/hono/commandrouter/quarkus/Application.java
  services/command-router/src/main/java/org/eclipse/hono/commandrouter/spring/ApplicationConfig.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/device/AbstractAutoProvisioningEventSender.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/device/EdgeDeviceAutoProvisioner.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/device/DeviceAndGatewayAutoProvisioner.java
  services/device-registry-base/src/test/java/org/eclipse/hono/deviceregistry/service/device/EdgeDeviceAutoProvisionerTest.java
  services/device-registry-base/src/test/java/org/eclipse/hono/service/management/device/DeviceAndGatewayAutoProvisionerTest.java
  services/device-registry-file/src/main/java/org/eclipse/hono/deviceregistry/file/FileBasedServiceConfig.java
  services/device-registry-file/src/test/java/org/eclipse/hono/deviceregistry/file/FileBasedRegistrationServiceTest.java
  services/device-registry-jdbc/src/main/java/org/eclipse/hono/deviceregistry/jdbc/ApplicationConfig.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/ApplicationConfig.java
  services/device-registry-mongodb/src/test/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedRegistrationServiceTest.java
  test-utils/adapter-base-test-utils/src/main/java/org/eclipse/hono/adapter/test/ProtocolAdapterMockSupport.java
  test-utils/adapter-base-test-utils/src/main/java/org/eclipse/hono/adapter/test/ProtocolAdapterTestSupport.java
Labels: Client

#2742 [#2732] Set last known gateway as part of batch request
  client-device-connection-infinispan/src/main/java/org/eclipse/hono/deviceconnection/infinispan/client/BasicCache.java
  client-device-connection-infinispan/src/main/java/org/eclipse/hono/deviceconnection/infinispan/client/Cache.java
  client-device-connection-infinispan/src/main/java/org/eclipse/hono/deviceconnection/infinispan/client/CacheBasedDeviceConnectionClient.java
  client-device-connection-infinispan/src/main/java/org/eclipse/hono/deviceconnection/infinispan/client/CacheBasedDeviceConnectionInfo.java
  client-device-connection-infinispan/src/main/java/org/eclipse/hono/deviceconnection/infinispan/client/DeviceConnectionInfo.java
  client-device-connection-infinispan/src/test/java/org/eclipse/hono/deviceconnection/infinispan/client/CacheBasedDeviceConnectionInfoTest.java
  clients/command-amqp/src/main/java/org/eclipse/hono/client/command/amqp/ProtonBasedCommandRouterClient.java
  clients/command-amqp/src/test/java/org/eclipse/hono/client/command/amqp/ProtonBasedCommandRouterClientTest.java
  clients/command/src/main/java/org/eclipse/hono/client/command/CommandRouterClient.java
  service-base/src/main/java/org/eclipse/hono/service/commandrouter/CommandRouterService.java
  service-base/src/main/java/org/eclipse/hono/service/commandrouter/DelegatingCommandRouterAmqpEndpoint.java
  services/command-router-base/src/main/java/org/eclipse/hono/commandrouter/impl/CommandRouterServiceImpl.java
  site/documentation/content/api/command-router/index.md
Labels: C&C

#2743 [#2741] Fix HonoKafkaConsumer not consuming initial records
  clients/kafka-common/src/main/java/org/eclipse/hono/client/kafka/consumer/HonoKafkaConsumer.java
  tests/src/test/java/org/eclipse/hono/tests/client/HonoKafkaConsumerIT.java
Labels: C&C, bug

#2747 Support reading key store password from file
  core/src/main/java/org/eclipse/hono/config/AbstractConfig.java
  core/src/test/java/org/eclipse/hono/config/AbstractConfigTest.java
  core/src/test/resources/test-password-file
  demo-certs/certs/trust-store-password
  demo-certs/create_certs.sh
  site/documentation/content/admin-guide/hono-client-configuration.md
  site/homepage/content/release-notes.md
  tests/pom.xml
  tests/src/test/resources/http/application.yml
Labels: Client, enhancement

#2744 Fix updating empty set of credentials
  services/base-jdbc/src/main/java/org/eclipse/hono/service/base/jdbc/store/device/TableManagementStore.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/credentials/CredentialsDto.java
  services/device-registry-base/src/test/java/org/eclipse/hono/service/credentials/AbstractCredentialsServiceTest.java
  services/device-registry-base/src/test/java/org/eclipse/hono/service/management/credentials/CredentialsDtoTest.java
  services/device-registry-file/src/main/java/org/eclipse/hono/deviceregistry/file/FileBasedCredentialsService.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedCredentialsService.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/utils/MongoDbDocumentBuilder.java
  services/device-registry-mongodb/src/test/resources/logback-test.xml
  site/homepage/content/release-notes.md
  tests/src/test/java/org/eclipse/hono/tests/registry/CredentialsManagementIT.java
Labels: Device Registry, JDBC Device Registry, MongoDB Device Registry, bug

#2753 [#2736][#2592] Support receiving commands via both AMQP and Kafka
  adapter-base/src/main/java/org/eclipse/hono/adapter/AbstractProtocolAdapterBase.java
  adapter-base/src/main/java/org/eclipse/hono/adapter/MessagingClientProviders.java
  adapter-base/src/main/java/org/eclipse/hono/adapter/ProtocolAdapter.java
  adapter-base/src/test/java/org/eclipse/hono/adapter/AbstractProtocolAdapterBaseTest.java
  adapters/amqp-vertx-base/src/main/java/org/eclipse/hono/adapter/amqp/VertxBasedAmqpProtocolAdapter.java
  adapters/amqp-vertx-base/src/test/java/org/eclipse/hono/adapter/amqp/VertxBasedAmqpProtocolAdapterTest.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/CommandResponseResource.java
  adapters/coap-vertx-base/src/test/java/org/eclipse/hono/adapter/coap/CommandResponseResourceTest.java
  adapters/coap-vertx-base/src/test/java/org/eclipse/hono/adapter/coap/ResourceTestBase.java
  adapters/http-vertx-base/src/test/java/org/eclipse/hono/adapter/http/impl/VertxBasedHttpProtocolAdapterTest.java
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapterTest.java
  clients/command-amqp/src/main/java/org/eclipse/hono/client/command/amqp/ProtonBasedCommand.java
  clients/command-amqp/src/main/java/org/eclipse/hono/client/command/amqp/ProtonBasedCommandResponseSender.java
  clients/command-amqp/src/main/java/org/eclipse/hono/client/command/amqp/ProtonBasedLegacyCommandWrapper.java
  clients/command-amqp/src/test/java/org/eclipse/hono/client/command/amqp/ProtonBasedCommandResponseSenderTest.java
  clients/command-kafka/src/main/java/org/eclipse/hono/client/command/kafka/KafkaBasedCommand.java
  clients/command-kafka/src/main/java/org/eclipse/hono/client/command/kafka/KafkaBasedCommandContext.java
  clients/command-kafka/src/main/java/org/eclipse/hono/client/command/kafka/KafkaBasedCommandResponseSender.java
  clients/command-kafka/src/test/java/org/eclipse/hono/client/command/kafka/KafkaBasedCommandResponseSenderTest.java
  clients/command/src/main/java/org/eclipse/hono/client/command/Command.java
  clients/command/src/main/java/org/eclipse/hono/client/command/CommandRequestIdParameters.java
  clients/command/src/main/java/org/eclipse/hono/client/command/CommandResponse.java
  clients/command/src/main/java/org/eclipse/hono/client/command/Commands.java
  clients/command/src/test/java/org/eclipse/hono/client/command/CommandResponseTest.java
  clients/command/src/test/java/org/eclipse/hono/client/command/CommandsTest.java
  services/command-router-base/src/main/java/org/eclipse/hono/commandrouter/impl/AbstractMappingAndDelegatingCommandHandler.java
  services/command-router-base/src/main/java/org/eclipse/hono/commandrouter/impl/CommandRouterServiceImpl.java
  services/command-router-base/src/main/java/org/eclipse/hono/commandrouter/impl/amqp/ProtonBasedMappingAndDelegatingCommandHandler.java
  services/command-router-base/src/main/java/org/eclipse/hono/commandrouter/impl/kafka/KafkaBasedMappingAndDelegatingCommandHandler.java
  services/command-router-base/src/test/java/org/eclipse/hono/commandrouter/impl/CommandRouterServiceImplTest.java
  test-utils/adapter-base-test-utils/src/main/java/org/eclipse/hono/adapter/test/ProtocolAdapterMockSupport.java
Labels: C&C
