Repository eclipse-hono/hono, pull requests merged in 2022-01, with the labels that each got.

#3011 Use Infinispan 13 server for integration tests
  bom/pom.xml
  demo-certs/ca_opts
  demo-certs/certs/infinispan-cert.pem
  demo-certs/certs/infinispan-key.pem
  demo-certs/certs/infinispanKeyStore.p12
  demo-certs/create_certs.sh
  tests/pom.xml
  tests/src/test/resources/commandrouter/clustered-cache/application.yml
  tests/src/test/resources/commandrouter/embedded-cache/cache-config.xml
  tests/src/test/resources/deviceconnection/cache-config.xml
  tests/src/test/resources/infinispan/hono-data-grid.xml
Labels: enhancement, C&C

#3023 Use single registry type property for configuring capabilities
  tests/pom.xml
  tests/readme.md
  tests/src/test/java/org/eclipse/hono/tests/IntegrationTestSupport.java
  tests/src/test/java/org/eclipse/hono/tests/registry/DeviceManagementIT.java
  tests/src/test/java/org/eclipse/hono/tests/registry/DeviceRegistrationApiTests.java
  tests/src/test/java/org/eclipse/hono/tests/registry/TenantManagementIT.java
Labels: enhancement

#3022 [#2936] Add Kafka broker configuration guide
  site/documentation/content/admin-guide/command-router-config.md
  site/documentation/content/admin-guide/common-config.md
  site/documentation/content/admin-guide/device-connection-config.md
  site/documentation/content/admin-guide/file-based-device-registry-config.md
  site/documentation/content/admin-guide/jdbc-device-registry-config.md
  site/documentation/content/admin-guide/kafka-config.md
  site/documentation/content/admin-guide/mongodb-device-registry-config.md
  site/homepage/content/release-notes.md
Labels: documentation

#3015 [#3014] Fix handling on cmd consumer re-joining consumer group
  clients/command-kafka/src/main/java/org/eclipse/hono/client/command/kafka/KafkaBasedInternalCommandConsumer.java
Labels: bug, C&C

#3026 [#3016] Remove consumer metrics for deleted topics
  clients/kafka-common/src/main/java/org/eclipse/hono/client/kafka/consumer/HonoKafkaConsumer.java
Labels: C&C

#3028 Explicitly register additional security providers
  client-device-connection-infinispan/src/main/resources/META-INF/native-image/org.eclipse.hono/client-device-connection-infinispan/native-image.properties
  client-device-connection-infinispan/src/main/resources/META-INF/native-image/org.eclipse.hono/client-device-connection-infinispan/reflection-config.json
Labels: bug

#3018 Upgrade to Quarkus 2.2.5
  bom/pom.xml
  legal/src/main/resources/legal/DEPENDENCIES
  legal/src/main/resources/legal/hono-maven.deps
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/ApplicationConfig.java
Labels: enhancement

#3029 [#3031] allow unconfirmed data from firefly as uplink
  adapters/lora-vertx-base/src/main/java/org/eclipse/hono/adapter/lora/providers/FireflyProvider.java
  site/homepage/content/release-notes.md
Labels: enhancement, LoRa Adapter

#3030 [#3031] allow unconfirmed data from firefly as uplink
  adapters/lora-vertx-base/src/main/java/org/eclipse/hono/adapter/lora/providers/FireflyProvider.java
  site/homepage/content/release-notes.md
Labels: enhancement, LoRa Adapter

#3032 Add NotificationType class
  clients/notification-amqp/src/main/java/org/eclipse/hono/client/notification/amqp/NotificationAddressHelper.java
  clients/notification-amqp/src/main/java/org/eclipse/hono/client/notification/amqp/ProtonBasedNotificationReceiver.java
  clients/notification-amqp/src/main/java/org/eclipse/hono/client/notification/amqp/ProtonBasedNotificationSender.java
  clients/notification-amqp/src/test/java/org/eclipse/hono/client/notification/amqp/ProtonBasedNotificationReceiverTest.java
  clients/notification-amqp/src/test/java/org/eclipse/hono/client/notification/amqp/ProtonBasedNotificationSenderTest.java
  clients/notification-kafka/src/main/java/org/eclipse/hono/client/notification/kafka/KafkaBasedNotificationReceiver.java
  clients/notification-kafka/src/main/java/org/eclipse/hono/client/notification/kafka/KafkaBasedNotificationSender.java
  clients/notification-kafka/src/main/java/org/eclipse/hono/client/notification/kafka/NotificationTopicHelper.java
  clients/notification-kafka/src/test/java/org/eclipse/hono/client/notification/kafka/KafkaBasedNotificationReceiverTest.java
  clients/notification-kafka/src/test/java/org/eclipse/hono/client/notification/kafka/KafkaBasedNotificationSenderTest.java
  clients/notification/src/main/java/org/eclipse/hono/notification/AbstractNotification.java
  clients/notification/src/main/java/org/eclipse/hono/notification/NoOpNotificationReceiver.java
  clients/notification/src/main/java/org/eclipse/hono/notification/NotificationReceiver.java
  clients/notification/src/main/java/org/eclipse/hono/notification/NotificationType.java
  clients/notification/src/main/java/org/eclipse/hono/notification/NotificationTypeResolver.java
  clients/notification/src/main/java/org/eclipse/hono/notification/deviceregistry/AllDevicesOfTenantDeletedNotification.java
  clients/notification/src/main/java/org/eclipse/hono/notification/deviceregistry/CredentialsChangeNotification.java
  clients/notification/src/main/java/org/eclipse/hono/notification/deviceregistry/DeviceChangeNotification.java
  clients/notification/src/main/java/org/eclipse/hono/notification/deviceregistry/TenantChangeNotification.java
  clients/notification/src/test/java/org/eclipse/hono/notification/deviceregistry/AllDevicesOfTenantDeletedNotificationTest.java
  clients/notification/src/test/java/org/eclipse/hono/notification/deviceregistry/CredentialsChangeNotificationTest.java
  clients/notification/src/test/java/org/eclipse/hono/notification/deviceregistry/DeviceChangeNotificationTest.java
  clients/notification/src/test/java/org/eclipse/hono/notification/deviceregistry/TenantChangeNotificationTest.java
  clients/registry-amqp/src/main/java/org/eclipse/hono/client/registry/amqp/ProtonBasedCredentialsClient.java
  clients/registry-amqp/src/main/java/org/eclipse/hono/client/registry/amqp/ProtonBasedDeviceRegistrationClient.java
  clients/registry-amqp/src/main/java/org/eclipse/hono/client/registry/amqp/ProtonBasedTenantClient.java
  clients/registry-amqp/src/test/java/org/eclipse/hono/client/registry/amqp/ProtonBasedCredentialsClientTest.java
  clients/registry-amqp/src/test/java/org/eclipse/hono/client/registry/amqp/ProtonBasedDeviceRegistrationClientTest.java
  clients/registry-amqp/src/test/java/org/eclipse/hono/client/registry/amqp/ProtonBasedTenantClientTest.java
  tests/src/test/java/org/eclipse/hono/tests/registry/DeviceRegistryNotificationsIT.java
Labels: Client

#3035 Fix tenantIdleTimeout documentation concerning use with Quarkus
  site/documentation/content/admin-guide/amqp-adapter-config.md
  site/documentation/content/admin-guide/coap-adapter-config.md
  site/documentation/content/admin-guide/http-adapter-config.md
  site/documentation/content/admin-guide/kura-adapter-config.md
  site/documentation/content/admin-guide/mqtt-adapter-config.md
Labels: documentation

#3033 Pass on device registry notifications via vert.x event bus
  adapter-base-quarkus/src/main/java/org/eclipse/hono/adapter/quarkus/AbstractProtocolAdapterApplication.java
  adapter-base-spring/src/main/java/org/eclipse/hono/adapter/spring/AbstractAdapterConfig.java
  adapter-base-spring/src/main/java/org/eclipse/hono/adapter/spring/AbstractProtocolAdapterApplication.java
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/spring/Application.java
  adapters/coap-vertx/src/main/java/org/eclipse/hono/adapter/coap/spring/Application.java
  adapters/http-vertx/src/main/java/org/eclipse/hono/adapter/http/spring/Application.java
  adapters/kura/src/main/java/org/eclipse/hono/adapter/kura/impl/Application.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/impl/Application.java
  adapters/mqtt-vertx/src/main/java/org/eclipse/hono/adapter/mqtt/spring/Application.java
  adapters/sigfox-vertx/src/main/java/org/eclipse/hono/adapter/sigfox/impl/Application.java
  clients/notification/src/main/java/org/eclipse/hono/notification/NotificationConstants.java
  clients/notification/src/main/java/org/eclipse/hono/notification/NotificationEventBusSupport.java
  clients/notification/src/main/java/org/eclipse/hono/notification/NotificationTypeResolver.java
  clients/notification/src/test/java/org/eclipse/hono/notification/NotificationEventBusSupportTest.java
  clients/registry-amqp/src/main/java/org/eclipse/hono/client/registry/amqp/ProtonBasedCredentialsClient.java
  clients/registry-amqp/src/main/java/org/eclipse/hono/client/registry/amqp/ProtonBasedDeviceRegistrationClient.java
  clients/registry-amqp/src/main/java/org/eclipse/hono/client/registry/amqp/ProtonBasedTenantClient.java
  clients/registry-amqp/src/test/java/org/eclipse/hono/client/registry/amqp/ProtonBasedCredentialsClientTest.java
  clients/registry-amqp/src/test/java/org/eclipse/hono/client/registry/amqp/ProtonBasedDeviceRegistrationClientTest.java
  clients/registry-amqp/src/test/java/org/eclipse/hono/client/registry/amqp/ProtonBasedTenantClientTest.java
  core/src/main/java/org/eclipse/hono/util/Constants.java
  core/src/main/java/org/eclipse/hono/util/WrappedLifecycleComponentVerticle.java
  services/command-router-quarkus/src/main/java/org/eclipse/hono/commandrouter/quarkus/Application.java
  services/command-router/src/main/java/org/eclipse/hono/commandrouter/spring/Application.java
  services/command-router/src/main/java/org/eclipse/hono/commandrouter/spring/ApplicationConfig.java
  tests/src/test/java/org/eclipse/hono/tests/registry/CredentialsAmqpIT.java
  tests/src/test/java/org/eclipse/hono/tests/registry/DeviceRegistrationAmqpIT.java
  tests/src/test/java/org/eclipse/hono/tests/registry/TenantAmqpIT.java
Labels: enhancement

#3037 [#2888] Adapt Kafka producer default timeout values
  clients/kafka-common/src/main/java/org/eclipse/hono/client/kafka/producer/MessagingKafkaProducerConfigProperties.java
  clients/notification-kafka/src/main/java/org/eclipse/hono/client/notification/kafka/NotificationKafkaProducerConfigProperties.java
  site/documentation/content/admin-guide/hono-kafka-client-configuration.md
Labels: Client

#3036 Use vert.x event bus with NotificationSender.
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/server/DeviceRegistryAmqpServer.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/server/DeviceRegistryHttpServer.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/credentials/AbstractCredentialsManagementService.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/device/AbstractDeviceManagementService.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/tenant/AbstractTenantManagementService.java
  services/device-registry-base/src/test/java/org/eclipse/hono/deviceregistry/service/credentials/AbstractCredentialsManagementServiceTest.java
  services/device-registry-base/src/test/java/org/eclipse/hono/deviceregistry/service/device/AbstractDeviceManagementServiceTest.java
  services/device-registry-base/src/test/java/org/eclipse/hono/deviceregistry/service/tenant/AbstractTenantManagementServiceTest.java
  services/device-registry-file/src/main/java/org/eclipse/hono/deviceregistry/file/FileBasedTenantService.java
  services/device-registry-jdbc/src/main/java/org/eclipse/hono/deviceregistry/jdbc/Application.java
  services/device-registry-jdbc/src/main/java/org/eclipse/hono/deviceregistry/jdbc/ApplicationConfig.java
  services/device-registry-jdbc/src/main/java/org/eclipse/hono/deviceregistry/jdbc/impl/DeviceManagementServiceImpl.java
  services/device-registry-jdbc/src/main/java/org/eclipse/hono/deviceregistry/jdbc/impl/TenantManagementServiceImpl.java
  services/device-registry-jdbc/src/test/java/org/eclipse/hono/deviceregistry/jdbc/impl/AbstractJdbcRegistryTest.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/Application.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/ApplicationConfig.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedDeviceManagementService.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedTenantManagementService.java
  services/device-registry-mongodb/src/test/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDBBasedDeviceManagementSearchDevicesTest.java
  services/device-registry-mongodb/src/test/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDBBasedTenantManagementSearchTenantsTest.java
  services/device-registry-mongodb/src/test/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedCredentialServiceTest.java
  services/device-registry-mongodb/src/test/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedRegistrationServiceTest.java
  services/device-registry-mongodb/src/test/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedTenantServiceTest.java
Labels: enhancement

#3034 [#2979] Use configured poll timeout in HonoKafkaConsumer
  clients/application-kafka/src/main/java/org/eclipse/hono/application/client/kafka/impl/KafkaApplicationClientImpl.java
  clients/application-kafka/src/main/java/org/eclipse/hono/application/client/kafka/impl/KafkaBasedCommandSender.java
  clients/kafka-common/src/main/java/org/eclipse/hono/client/kafka/consumer/HonoKafkaConsumer.java
  clients/kafka-common/src/main/java/org/eclipse/hono/client/kafka/consumer/KafkaConsumerConfigProperties.java
  clients/notification-kafka/src/main/java/org/eclipse/hono/client/notification/kafka/KafkaBasedNotificationReceiver.java
  services/command-router-base/src/main/java/org/eclipse/hono/commandrouter/impl/kafka/KafkaBasedCommandConsumerFactoryImpl.java
  site/documentation/content/admin-guide/hono-kafka-client-configuration.md
  site/homepage/content/release-notes.md
Labels: C&C

#3038 [#3017] Remove producer metrics when tenant is deleted
  adapter-base-quarkus/src/main/java/org/eclipse/hono/adapter/quarkus/AbstractProtocolAdapterApplication.java
  adapter-base-spring/src/main/java/org/eclipse/hono/adapter/spring/AbstractMessagingClientConfig.java
  clients/command-kafka/pom.xml
  clients/command-kafka/src/main/java/org/eclipse/hono/client/command/kafka/KafkaBasedCommandResponseSender.java
  clients/command-kafka/src/test/java/org/eclipse/hono/client/command/kafka/KafkaBasedCommandResponseSenderTest.java
  clients/kafka-common/src/main/java/org/eclipse/hono/client/kafka/producer/CachingKafkaProducerFactory.java
  clients/kafka-common/src/main/java/org/eclipse/hono/client/kafka/producer/KafkaProducerFactory.java
  clients/kafka-common/src/main/java/org/eclipse/hono/client/kafka/producer/KafkaProducerHelper.java
  clients/telemetry-kafka/pom.xml
  clients/telemetry-kafka/src/main/java/org/eclipse/hono/client/telemetry/kafka/AbstractKafkaBasedDownstreamSender.java
  clients/telemetry-kafka/src/main/java/org/eclipse/hono/client/telemetry/kafka/KafkaBasedEventSender.java
  clients/telemetry-kafka/src/main/java/org/eclipse/hono/client/telemetry/kafka/KafkaBasedTelemetrySender.java
  clients/telemetry-kafka/src/test/java/org/eclipse/hono/client/telemetry/kafka/AbstractKafkaBasedDownstreamSenderTest.java
  clients/telemetry-kafka/src/test/java/org/eclipse/hono/client/telemetry/kafka/KafkaBasedEventSenderTest.java
  clients/telemetry-kafka/src/test/java/org/eclipse/hono/client/telemetry/kafka/KafkaBasedTelemetrySenderTest.java
  services/command-router-base/src/main/java/org/eclipse/hono/commandrouter/impl/kafka/KafkaBasedCommandConsumerFactoryImpl.java
  services/device-registry-file/src/main/java/org/eclipse/hono/deviceregistry/file/FileBasedServiceConfig.java
  services/device-registry-jdbc/src/main/java/org/eclipse/hono/deviceregistry/jdbc/ApplicationConfig.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/ApplicationConfig.java
  tests/pom.xml
  tests/src/test/java/org/eclipse/hono/tests/client/KafkaBasedEventSenderIT.java
Labels: Client

#3040 [#3039] set topic in mqttContext when message is mapped
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/ErrorSubscription.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/MqttContext.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/impl/VertxBasedMqttProtocolAdapter.java
Labels: MQTT Adapter

#3041 Use vert.x legacy Base64 setting in all services
  services/command-router/pom.xml
  services/device-connection/pom.xml
Labels: bug, C&C, Device Connection

#3042 Improve documentation of device authentication
  site/documentation/content/concepts/device-identity.md
  site/documentation/content/user-guide/amqp-adapter.md
  site/documentation/content/user-guide/coap-adapter.md
  site/documentation/content/user-guide/http-adapter.md
  site/documentation/content/user-guide/kura-adapter.md
  site/documentation/content/user-guide/mqtt-adapter.md
Labels: documentation

#3013 [#2981] Extend MongoDB device registry to support trust anchor group
  core/src/main/java/org/eclipse/hono/util/RegistryManagementConstants.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/tenant/Tenant.java
  services/device-registry-base/src/test/java/org/eclipse/hono/service/tenant/AbstractTenantServiceTest.java
  services/device-registry-file/src/test/java/org/eclipse/hono/deviceregistry/file/FileBasedTenantServiceTest.java
  services/device-registry-jdbc/src/test/java/org/eclipse/hono/deviceregistry/jdbc/impl/JdbcBasedTenantServiceTest.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/model/MongoDbBasedDao.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/model/MongoDbBasedTenantDao.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/utils/MongoDbDocumentBuilder.java
  services/device-registry-mongodb/src/test/java/org/eclipse/hono/deviceregistry/mongodb/model/MongoDbBasedTenantDaoTest.java
  services/device-registry-mongodb/src/test/resources/indexes.json
  site/documentation/content/api/management/device-registry-v1.yaml
  tests/src/test/java/org/eclipse/hono/tests/IntegrationTestSupport.java
  tests/src/test/java/org/eclipse/hono/tests/registry/TenantManagementIT.java
Labels: Device Registry, Management API, MongoDB Device Registry

#3043 [#2981] Extend Mongo DB registry to support tenant alias
  core/src/main/java/org/eclipse/hono/util/RegistryManagementConstants.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/tenant/Tenant.java
  services/device-registry-base/src/test/java/org/eclipse/hono/service/management/tenant/TenantTest.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/model/MongoDbBasedTenantDao.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/model/TenantDao.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedTenantService.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/utils/MongoDbDocumentBuilder.java
  services/device-registry-mongodb/src/test/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedTenantServiceTest.java
  site/documentation/content/api/management/device-registry-v1.yaml
  tests/src/test/java/org/eclipse/hono/tests/IntegrationTestSupport.java
  tests/src/test/java/org/eclipse/hono/tests/registry/TenantApiTests.java
  tests/src/test/java/org/eclipse/hono/tests/registry/TenantManagementIT.java
Labels: Feature Request, Management API, MongoDB Device Registry

#3044 [#2981] Support usage of SNI to indicate tenant (MQTT adapter)
  adapter-base/src/main/java/org/eclipse/hono/adapter/auth/device/TenantServiceBasedX509Authentication.java
  adapter-base/src/main/java/org/eclipse/hono/adapter/auth/device/X509Authentication.java
  adapter-base/src/test/java/org/eclipse/hono/adapter/auth/device/TenantServiceBasedX509AuthenticationTest.java
  adapters/amqp-vertx-base/src/main/java/org/eclipse/hono/adapter/amqp/SaslExternalAuthHandler.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/DeviceRegistryBasedCertificateVerifier.java
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/X509AuthHandler.java
  adapters/http-vertx-base/src/test/java/org/eclipse/hono/adapter/http/X509AuthHandlerTest.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/X509AuthHandler.java
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/X509AuthHandlerTest.java
  service-base/src/main/java/org/eclipse/hono/service/auth/SniExtensionHelper.java
  service-base/src/test/java/org/eclipse/hono/service/auth/SniExtensionHelperTest.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/model/MongoDbBasedTenantDao.java
  tests/src/test/java/org/eclipse/hono/tests/IntegrationTestSupport.java
  tests/src/test/java/org/eclipse/hono/tests/mqtt/MqttConnectionIT.java
  tests/src/test/java/org/eclipse/hono/tests/mqtt/MqttTestBase.java
Labels: MQTT Adapter, Feature Request

#3047 [#2981] Support usage of SNI to indicate tenant (HTTP adapter)
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/X509AuthHandler.java
  tests/src/test/java/org/eclipse/hono/tests/http/HttpTestBase.java
  tests/src/test/java/org/eclipse/hono/tests/http/TelemetryHttpIT.java
Labels: HTTP Adapter, Feature Request

#3049 [#2981] Support usage of SNI to indicate tenant (CoAP adapter)
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/DeviceRegistryBasedCertificateVerifier.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/impl/ConfigBasedCoapEndpointFactory.java
  tests/src/test/java/org/eclipse/hono/tests/coap/CoapTestBase.java
  tests/src/test/java/org/eclipse/hono/tests/coap/TelemetryCoapIT.java
Labels: CoAP Adapter, Feature Request
