Repository eclipse-hono/hono, pull requests merged in 2022-09, with the labels that each got.

#3400 [#3399] Support reading ECC based private keys from PEM files
  core/src/main/java/org/eclipse/hono/config/KeyLoader.java
  core/src/test/java/org/eclipse/hono/config/KeyLoaderTest.java
  core/src/test/resources/testpem/pkcs1-ec-private-key.pem
  site/homepage/content/release-notes.md
Labels: enhancement, Deployment

#3395 Fix Sonatype Lift findings
  .lift.toml
  bom/pom.xml
  cli/pom.xml
  cli/src/main/java/org/eclipse/hono/cli/adapter/amqp/AmqpAdapter.java
  cli/src/main/java/org/eclipse/hono/cli/app/CommandAndControl.java
  cli/src/main/java/org/eclipse/hono/cli/app/NorthBoundApis.java
  clients/amqp-connection/pom.xml
  clients/amqp-connection/src/main/java/org/eclipse/hono/client/amqp/config/AuthenticatingClientConfigProperties.java
  clients/amqp-connection/src/main/java/org/eclipse/hono/client/amqp/config/ClientConfigProperties.java
  clients/amqp-connection/src/main/java/org/eclipse/hono/client/amqp/connection/impl/HonoConnectionImpl.java
  clients/amqp-connection/src/test/java/org/eclipse/hono/client/amqp/config/AddressHelperTest.java
  clients/kafka-common/src/main/java/org/eclipse/hono/client/kafka/consumer/AsyncHandlingAutoCommitKafkaConsumer.java
  clients/kafka-common/src/main/java/org/eclipse/hono/client/kafka/consumer/HonoKafkaConsumer.java
  clients/kafka-common/src/main/java/org/eclipse/hono/client/kafka/metrics/MicrometerKafkaClientMetricsSupport.java
  clients/kafka-common/src/main/java/org/eclipse/hono/client/kafka/producer/AbstractKafkaBasedMessageSender.java
  core/pom.xml
  core/src/main/java/org/eclipse/hono/config/AbstractConfig.java
  core/src/main/java/org/eclipse/hono/config/KeyLoader.java
  core/src/main/java/org/eclipse/hono/util/IdentityTemplate.java
  create_dependencies_list.sh
  deploy/src/main/sandbox/20-create-certificate.sh
  deploy/src/main/sandbox/30-deploy-hono.sh
  examples/hono-client-examples/pom.xml
  examples/hono-client-examples/src/main/java/org/eclipse/hono/devices/AmqpExampleDevice.java
  examples/hono-client-examples/src/main/java/org/eclipse/hono/devices/HonoHttpDevice.java
  examples/hono-client-examples/src/main/java/org/eclipse/hono/vertx/example/base/HonoExampleApplicationBase.java
  examples/protocol-gateway-example/scripts/create_hono_device.sh
  examples/quickstart-python/quickstart.py
  legal/src/main/resources/legal/DEPENDENCIES
  legal/src/main/resources/legal/hono-maven.deps
  service-base/pom.xml
  service-base/src/main/java/org/eclipse/hono/service/auth/ValidityOnlyTrustManagerFactory.java
  services/base-jdbc/pom.xml
  services/base-jdbc/src/main/java/org/eclipse/hono/service/base/jdbc/store/Statement.java
  services/device-registry-mongodb/pom.xml
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/app/DaoProducer.java
  tests/src/test/resources/artemis/launch.sh
Labels: enhancement

#3402 [#2716] Consistently use Sandbox host in user guides
  site/documentation/content/user-guide/http-adapter.md
  site/documentation/content/user-guide/mqtt-adapter.md
Labels: enhancement, documentation

#3401 [#3345] Support building images for the arm64 platform
  pom.xml
  site/documentation/content/dev-guide/building_hono.md
Labels: enhancement, build system

#3392 [#2923] Add ProtonBasedCommandProcessingQueue
  clients/amqp-common/src/main/java/org/eclipse/hono/client/amqp/AbstractServiceClient.java
  clients/command-kafka/src/main/java/org/eclipse/hono/client/command/kafka/KafkaBasedCommand.java
  services/command-router/src/main/java/org/eclipse/hono/commandrouter/impl/AbstractCommandProcessingQueue.java
  services/command-router/src/main/java/org/eclipse/hono/commandrouter/impl/AbstractMappingAndDelegatingCommandHandler.java
  services/command-router/src/main/java/org/eclipse/hono/commandrouter/impl/CommandProcessingQueue.java
  services/command-router/src/main/java/org/eclipse/hono/commandrouter/impl/amqp/ProtonBasedCommandConsumerFactoryImpl.java
  services/command-router/src/main/java/org/eclipse/hono/commandrouter/impl/amqp/ProtonBasedCommandProcessingQueue.java
  services/command-router/src/main/java/org/eclipse/hono/commandrouter/impl/amqp/ProtonBasedMappingAndDelegatingCommandHandler.java
  services/command-router/src/main/java/org/eclipse/hono/commandrouter/impl/kafka/KafkaBasedCommandConsumerFactoryImpl.java
  services/command-router/src/main/java/org/eclipse/hono/commandrouter/impl/kafka/KafkaBasedMappingAndDelegatingCommandHandler.java
  services/command-router/src/main/java/org/eclipse/hono/commandrouter/impl/kafka/KafkaCommandProcessingQueue.java
  services/command-router/src/test/java/org/eclipse/hono/commandrouter/impl/amqp/ProtonBasedMappingAndDelegatingCommandHandlerTest.java
  services/command-router/src/test/java/org/eclipse/hono/commandrouter/impl/kafka/KafkaBasedMappingAndDelegatingCommandHandlerTest.java
  services/command-router/src/test/java/org/eclipse/hono/commandrouter/impl/kafka/KafkaCommandProcessingQueueTest.java
Labels: enhancement, C&C

#3416 Simplify SamplerProducer
  service-base/src/main/java/org/eclipse/hono/service/tracing/SamplerProducer.java
  service-base/src/main/java/org/eclipse/hono/service/tracing/UriNormalizationUtil.java
  service-base/src/test/java/org/eclipse/hono/service/tracing/SamplerProducerTest.java
Labels: enhancement, Tracing

#3415 Use own CommandConsumer inner class
  services/command-router/src/main/java/org/eclipse/hono/commandrouter/impl/amqp/ProtonBasedCommandConsumerFactoryImpl.java
Labels: C&C

#3418 [#3412] Clarify MQTT topic content used for gateway command
  adapters/mqtt-base/src/test/java/org/eclipse/hono/adapter/mqtt/CommandSubscriptionTest.java
  site/documentation/content/user-guide/mqtt-adapter.md
  tests/src/test/java/org/eclipse/hono/tests/mqtt/CommandAndControlMqttIT.java
Labels: MQTT Adapter, documentation, C&C

#3419 Set span name for request to get validation keys
  service-base/src/main/java/org/eclipse/hono/service/auth/JjwtBasedAuthTokenValidator.java
Labels: enhancement, Tracing

#3406 [#3405] Push generated HTML pages to GitHub repo
  jenkins/Hono-Website-Pipeline-Declarative.groovy
Labels: website

#3420 Fix tracing sampler configuration
  bom/pom.xml
  service-base/src/main/java/org/eclipse/hono/service/tracing/SamplerProducer.java
Labels: Tracing

#3423 Vert.x event bus message related improvements
  clients/notification/src/main/java/org/eclipse/hono/notification/NotificationEventBusSupport.java
  service-base/src/main/java/org/eclipse/hono/service/auth/EventBusAuthenticationService.java
  service-base/src/main/java/org/eclipse/hono/service/metric/MicrometerBasedMetrics.java
Labels: enhancement, Tracing
