Repository eclipse-hono/hono, pull requests merged in 2022-04, with the labels that each got.

#3186 [#3183] Only run SNI ITs if DNS rebinding for nip.io is supported
  tests/src/test/java/org/eclipse/hono/tests/EnabledIfDnsRebindingIsSupported.java
  tests/src/test/java/org/eclipse/hono/tests/EnabledIfDnsRebindingIsSupportedCondition.java
  tests/src/test/java/org/eclipse/hono/tests/IntegrationTestSupport.java
  tests/src/test/java/org/eclipse/hono/tests/amqp/AmqpConnectionIT.java
  tests/src/test/java/org/eclipse/hono/tests/coap/TelemetryCoapIT.java
  tests/src/test/java/org/eclipse/hono/tests/http/TelemetryHttpIT.java
  tests/src/test/java/org/eclipse/hono/tests/mqtt/MqttConnectionIT.java
Labels: enhancement

#3192 [#3191] Merge Command Router base into service module
  services/command-router-base/pom.xml
  services/command-router-quarkus/pom.xml
  services/command-router-quarkus/src/main/java/org/eclipse/hono/commandrouter/AdapterInstanceStatusService.java
  services/command-router-quarkus/src/main/java/org/eclipse/hono/commandrouter/CommandConsumerFactory.java
  services/command-router-quarkus/src/main/java/org/eclipse/hono/commandrouter/CommandRouterAmqpServer.java
  services/command-router-quarkus/src/main/java/org/eclipse/hono/commandrouter/CommandRouterMetrics.java
  services/command-router-quarkus/src/main/java/org/eclipse/hono/commandrouter/CommandRouterServiceConfigProperties.java
  services/command-router-quarkus/src/main/java/org/eclipse/hono/commandrouter/CommandRouterServiceOptions.java
  services/command-router-quarkus/src/main/java/org/eclipse/hono/commandrouter/CommandTargetMapper.java
  services/command-router-quarkus/src/main/java/org/eclipse/hono/commandrouter/MicrometerBasedCommandRouterMetrics.java
  services/command-router-quarkus/src/main/java/org/eclipse/hono/commandrouter/impl/AbstractMappingAndDelegatingCommandHandler.java
  services/command-router-quarkus/src/main/java/org/eclipse/hono/commandrouter/impl/CommandRouterServiceImpl.java
  services/command-router-quarkus/src/main/java/org/eclipse/hono/commandrouter/impl/CommandTargetMapperImpl.java
  services/command-router-quarkus/src/main/java/org/eclipse/hono/commandrouter/impl/KubernetesBasedAdapterInstanceStatusService.java
  services/command-router-quarkus/src/main/java/org/eclipse/hono/commandrouter/impl/amqp/ProtonBasedCommandConsumerFactoryImpl.java
  services/command-router-quarkus/src/main/java/org/eclipse/hono/commandrouter/impl/amqp/ProtonBasedMappingAndDelegatingCommandHandler.java
  services/command-router-quarkus/src/main/java/org/eclipse/hono/commandrouter/impl/kafka/InternalKafkaTopicCleanupService.java
  services/command-router-quarkus/src/main/java/org/eclipse/hono/commandrouter/impl/kafka/KafkaBasedCommandConsumerFactoryImpl.java
  services/command-router-quarkus/src/main/java/org/eclipse/hono/commandrouter/impl/kafka/KafkaBasedMappingAndDelegatingCommandHandler.java
  services/command-router-quarkus/src/main/java/org/eclipse/hono/commandrouter/impl/kafka/KafkaCommandProcessingQueue.java
  services/command-router-quarkus/src/test/java/org/eclipse/hono/commandrouter/impl/CommandRouterServiceImplTest.java
  services/command-router-quarkus/src/test/java/org/eclipse/hono/commandrouter/impl/KubernetesBasedAdapterInstanceStatusServiceTest.java
  services/command-router-quarkus/src/test/java/org/eclipse/hono/commandrouter/impl/amqp/ProtonBasedMappingAndDelegatingCommandHandlerTest.java
  services/command-router-quarkus/src/test/java/org/eclipse/hono/commandrouter/impl/kafka/InternalKafkaTopicCleanupServiceTest.java
  services/command-router-quarkus/src/test/java/org/eclipse/hono/commandrouter/impl/kafka/KafkaBasedMappingAndDelegatingCommandHandlerTest.java
  services/command-router-quarkus/src/test/java/org/eclipse/hono/commandrouter/impl/kafka/KafkaCommandProcessingQueueTest.java
  services/command-router-quarkus/src/test/resources/application.yml
  services/pom.xml
Labels: enhancement

#3195 [#3194] Merge MongoDB registry base into service module
  services/device-registry-mongodb-base/pom.xml
  services/device-registry-mongodb-base/src/main/resources/META-INF/native-image/org.eclipse.hono/hono-service-device-registry-mongodb-base/native-image.properties
  services/device-registry-mongodb-base/src/main/resources/META-INF/native-image/org.eclipse.hono/hono-service-device-registry-mongodb-base/reflection-config.json
  services/device-registry-mongodb-quarkus/pom.xml
  services/device-registry-mongodb-quarkus/src/main/java/org/eclipse/hono/deviceregistry/mongodb/config/AbstractMongoDbBasedRegistryConfigProperties.java
  services/device-registry-mongodb-quarkus/src/main/java/org/eclipse/hono/deviceregistry/mongodb/config/MongoAuthProviderConfig.java
  services/device-registry-mongodb-quarkus/src/main/java/org/eclipse/hono/deviceregistry/mongodb/config/MongoAuthProviderOptions.java
  services/device-registry-mongodb-quarkus/src/main/java/org/eclipse/hono/deviceregistry/mongodb/config/MongoDbBasedCredentialsConfigOptions.java
  services/device-registry-mongodb-quarkus/src/main/java/org/eclipse/hono/deviceregistry/mongodb/config/MongoDbBasedCredentialsConfigProperties.java
  services/device-registry-mongodb-quarkus/src/main/java/org/eclipse/hono/deviceregistry/mongodb/config/MongoDbBasedHttpServiceConfigOptions.java
  services/device-registry-mongodb-quarkus/src/main/java/org/eclipse/hono/deviceregistry/mongodb/config/MongoDbBasedHttpServiceConfigProperties.java
  services/device-registry-mongodb-quarkus/src/main/java/org/eclipse/hono/deviceregistry/mongodb/config/MongoDbBasedRegistrationConfigOptions.java
  services/device-registry-mongodb-quarkus/src/main/java/org/eclipse/hono/deviceregistry/mongodb/config/MongoDbBasedRegistrationConfigProperties.java
  services/device-registry-mongodb-quarkus/src/main/java/org/eclipse/hono/deviceregistry/mongodb/config/MongoDbBasedRegistryConfigOptions.java
  services/device-registry-mongodb-quarkus/src/main/java/org/eclipse/hono/deviceregistry/mongodb/config/MongoDbBasedTenantsConfigOptions.java
  services/device-registry-mongodb-quarkus/src/main/java/org/eclipse/hono/deviceregistry/mongodb/config/MongoDbBasedTenantsConfigProperties.java
  services/device-registry-mongodb-quarkus/src/main/java/org/eclipse/hono/deviceregistry/mongodb/config/MongoDbConfigOptions.java
  services/device-registry-mongodb-quarkus/src/main/java/org/eclipse/hono/deviceregistry/mongodb/config/MongoDbConfigProperties.java
  services/device-registry-mongodb-quarkus/src/main/java/org/eclipse/hono/deviceregistry/mongodb/model/CredentialsDao.java
  services/device-registry-mongodb-quarkus/src/main/java/org/eclipse/hono/deviceregistry/mongodb/model/DeviceDao.java
  services/device-registry-mongodb-quarkus/src/main/java/org/eclipse/hono/deviceregistry/mongodb/model/MongoDbBasedCredentialsDao.java
  services/device-registry-mongodb-quarkus/src/main/java/org/eclipse/hono/deviceregistry/mongodb/model/MongoDbBasedDao.java
  services/device-registry-mongodb-quarkus/src/main/java/org/eclipse/hono/deviceregistry/mongodb/model/MongoDbBasedDeviceDao.java
  services/device-registry-mongodb-quarkus/src/main/java/org/eclipse/hono/deviceregistry/mongodb/model/MongoDbBasedTenantDao.java
  services/device-registry-mongodb-quarkus/src/main/java/org/eclipse/hono/deviceregistry/mongodb/model/TenantDao.java
  services/device-registry-mongodb-quarkus/src/main/java/org/eclipse/hono/deviceregistry/mongodb/service/DaoBasedTenantInformationService.java
  services/device-registry-mongodb-quarkus/src/main/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedCredentialsManagementService.java
  services/device-registry-mongodb-quarkus/src/main/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedCredentialsService.java
  services/device-registry-mongodb-quarkus/src/main/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedDeviceManagementService.java
  services/device-registry-mongodb-quarkus/src/main/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedRegistrationService.java
  services/device-registry-mongodb-quarkus/src/main/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedTenantManagementService.java
  services/device-registry-mongodb-quarkus/src/main/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedTenantService.java
  services/device-registry-mongodb-quarkus/src/main/java/org/eclipse/hono/deviceregistry/mongodb/utils/MongoDbDocumentBuilder.java
  services/device-registry-mongodb-quarkus/src/test/java/org/eclipse/hono/deviceregistry/mongodb/config/QuarkusConfigMappingTest.java
  services/device-registry-mongodb-quarkus/src/test/java/org/eclipse/hono/deviceregistry/mongodb/model/MongoDbBasedCredentialsDaoTest.java
  services/device-registry-mongodb-quarkus/src/test/java/org/eclipse/hono/deviceregistry/mongodb/model/MongoDbBasedDeviceDaoTest.java
  services/device-registry-mongodb-quarkus/src/test/java/org/eclipse/hono/deviceregistry/mongodb/model/MongoDbBasedTenantDaoTest.java
  services/device-registry-mongodb-quarkus/src/test/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDBBasedDeviceManagementSearchDevicesTest.java
  services/device-registry-mongodb-quarkus/src/test/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDBBasedTenantManagementSearchTenantsTest.java
  services/device-registry-mongodb-quarkus/src/test/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedCredentialServiceTest.java
  services/device-registry-mongodb-quarkus/src/test/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedRegistrationServiceTest.java
  services/device-registry-mongodb-quarkus/src/test/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedTenantServiceTest.java
  services/device-registry-mongodb-quarkus/src/test/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbTestUtils.java
  services/device-registry-mongodb-quarkus/src/test/resources/application.yml
  services/device-registry-mongodb-quarkus/src/test/resources/http-endpoint-config.yaml
  services/device-registry-mongodb-quarkus/src/test/resources/indexes.json
  services/device-registry-mongodb-quarkus/src/test/resources/mongodb-connection-string-only.yaml
  services/device-registry-mongodb-quarkus/src/test/resources/mongodb-separate-props.yaml
  services/pom.xml
Labels: MongoDB Device Registry

#3198 [#3196] Upgrade Californium to 3.4.0
  bom/pom.xml
Labels: CoAP Adapter

#3200 Add device specific piggybacked responses.
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/CoapContext.java
  adapters/coap-vertx-base/src/test/java/org/eclipse/hono/adapter/coap/CoapContextTest.java
Labels: enhancement, CoAP Adapter

#3201 Do not scope AMQP adapter client to single tenant
  clients/device-amqp/src/main/java/org/eclipse/hono/client/device/amqp/AmqpAdapterClient.java
  clients/device-amqp/src/main/java/org/eclipse/hono/client/device/amqp/AmqpAdapterClientFactory.java
  clients/device-amqp/src/main/java/org/eclipse/hono/client/device/amqp/AmqpSenderLink.java
  clients/device-amqp/src/main/java/org/eclipse/hono/client/device/amqp/CommandResponder.java
  clients/device-amqp/src/main/java/org/eclipse/hono/client/device/amqp/EventSender.java
  clients/device-amqp/src/main/java/org/eclipse/hono/client/device/amqp/TelemetrySender.java
  clients/device-amqp/src/main/java/org/eclipse/hono/client/device/amqp/TraceableCommandResponder.java
  clients/device-amqp/src/main/java/org/eclipse/hono/client/device/amqp/TraceableEventSender.java
  clients/device-amqp/src/main/java/org/eclipse/hono/client/device/amqp/TraceableTelemetrySender.java
  clients/device-amqp/src/main/java/org/eclipse/hono/client/device/amqp/impl/AbstractAmqpAdapterClientSender.java
  clients/device-amqp/src/main/java/org/eclipse/hono/client/device/amqp/impl/AmqpAdapterClientCommandConsumer.java
  clients/device-amqp/src/main/java/org/eclipse/hono/client/device/amqp/impl/AmqpAdapterClientCommandResponseSender.java
  clients/device-amqp/src/main/java/org/eclipse/hono/client/device/amqp/impl/AmqpAdapterClientEventSenderImpl.java
  clients/device-amqp/src/main/java/org/eclipse/hono/client/device/amqp/impl/AmqpAdapterClientFactoryImpl.java
  clients/device-amqp/src/main/java/org/eclipse/hono/client/device/amqp/impl/AmqpAdapterClientTelemetrySenderImpl.java
  clients/device-amqp/src/main/java/org/eclipse/hono/client/device/amqp/impl/ProtonBasedAmqpAdapterClient.java
  clients/device-amqp/src/test/java/org/eclipse/hono/client/device/amqp/AmqpAdapterClientFactoryTest.java
  clients/device-amqp/src/test/java/org/eclipse/hono/client/device/amqp/AmqpAdapterClientTestBase.java
  clients/device-amqp/src/test/java/org/eclipse/hono/client/device/amqp/CommandResponderTest.java
  clients/device-amqp/src/test/java/org/eclipse/hono/client/device/amqp/EventSenderTest.java
  clients/device-amqp/src/test/java/org/eclipse/hono/client/device/amqp/TelemetrySenderTest.java
  clients/device-amqp/src/test/java/org/eclipse/hono/client/device/amqp/impl/AmqpAdapterClientCommandConsumerTest.java
  clients/device-amqp/src/test/java/org/eclipse/hono/client/device/amqp/impl/CommandResponderTest.java
  clients/device-amqp/src/test/java/org/eclipse/hono/client/device/amqp/impl/ProtonBasedAmqpAdapterClientTest.java
  clients/device-amqp/src/test/java/org/eclipse/hono/client/device/amqp/impl/TelemetrySenderTest.java
  examples/hono-client-examples/src/main/java/org/eclipse/hono/devices/AmqpExampleDevice.java
  examples/protocol-gateway-example/src/main/java/org/eclipse/hono/example/protocolgateway/ConfigurationProducer.java
  examples/protocol-gateway-example/src/main/java/org/eclipse/hono/example/protocolgateway/TcpServer.java
  examples/protocol-gateway-example/src/main/java/org/eclipse/hono/example/protocolgateway/controller/ProtocolGateway.java
  site/homepage/content/release-notes.md
Labels: enhancement, Client

#3208 [#3202] Merge AMQP adapter base into implementation module
  adapters/amqp-vertx-base/pom.xml
  adapters/amqp-vertx-quarkus/pom.xml
  adapters/amqp-vertx-quarkus/src/main/java/org/eclipse/hono/adapter/amqp/AmqpAdapterConstants.java
  adapters/amqp-vertx-quarkus/src/main/java/org/eclipse/hono/adapter/amqp/AmqpAdapterMetrics.java
  adapters/amqp-vertx-quarkus/src/main/java/org/eclipse/hono/adapter/amqp/AmqpAdapterOptions.java
  adapters/amqp-vertx-quarkus/src/main/java/org/eclipse/hono/adapter/amqp/AmqpAdapterProperties.java
  adapters/amqp-vertx-quarkus/src/main/java/org/eclipse/hono/adapter/amqp/AmqpAdapterSaslAuthenticatorFactory.java
  adapters/amqp-vertx-quarkus/src/main/java/org/eclipse/hono/adapter/amqp/AmqpContext.java
  adapters/amqp-vertx-quarkus/src/main/java/org/eclipse/hono/adapter/amqp/MicrometerBasedAmqpAdapterMetrics.java
  adapters/amqp-vertx-quarkus/src/main/java/org/eclipse/hono/adapter/amqp/SaslExternalAuthHandler.java
  adapters/amqp-vertx-quarkus/src/main/java/org/eclipse/hono/adapter/amqp/SaslPlainAuthHandler.java
  adapters/amqp-vertx-quarkus/src/main/java/org/eclipse/hono/adapter/amqp/SaslResponseContext.java
  adapters/amqp-vertx-quarkus/src/main/java/org/eclipse/hono/adapter/amqp/VertxBasedAmqpProtocolAdapter.java
  adapters/amqp-vertx-quarkus/src/test/java/org/eclipse/hono/adapter/amqp/VertxBasedAmqpProtocolAdapterTest.java
  adapters/amqp-vertx-quarkus/src/test/resources/application.yml
  adapters/pom.xml
Labels: AMQP Adapter

#3211 Adapt documentation related to AmqpAdapterClient
  examples/protocol-gateway-example/src/main/java/org/eclipse/hono/example/protocolgateway/ConfigurationProducer.java
  site/documentation/content/dev-guide/amqp_adapter_client.md
Labels: documentation, Client

#3205 [#3190] Use OpenTelemetry for tracing (via OpenTracing shim)
  .github/workflows/native-images-tests.yml
  adapters/base-quarkus/pom.xml
  adapters/coap-vertx-quarkus/pom.xml
  adapters/coap-vertx-quarkus/src/main/java/org/eclipse/hono/adapter/coap/CoapOptionInjectExtractAdapter.java
  adapters/coap-vertx-quarkus/src/main/java/org/eclipse/hono/adapter/coap/TracingSupportingHonoResource.java
  adapters/coap-vertx-quarkus/src/test/java/org/eclipse/hono/adapter/coap/CoapOptionInjectExtractAdapterTest.java
  adapters/coap-vertx-quarkus/src/test/java/org/eclipse/hono/adapter/coap/TracingSupportingHonoResourceTest.java
  bom/pom.xml
  clients/amqp-connection/pom.xml
  clients/amqp-connection/src/main/java/org/eclipse/hono/client/amqp/connection/impl/HonoConnectionImpl.java
  clients/amqp-connection/src/test/java/org/eclipse/hono/client/amqp/tracing/MessageAnnotationsInjectExtractAdapterTest.java
  clients/kafka-common/pom.xml
  clients/kafka-common/src/test/java/org/eclipse/hono/client/kafka/tracing/KafkaHeadersInjectExtractAdapterTest.java
  core/pom.xml
  core/src/main/java/org/eclipse/hono/tracing/TracingHelper.java
  core/src/test/java/org/eclipse/hono/tracing/JsonObjectInjectExtractAdapterTest.java
  core/src/test/java/org/eclipse/hono/tracing/MultiMapInjectExtractAdapterTest.java
  create_dependencies_list.sh
  legal/src/main/resources/legal/DEPENDENCIES
  legal/src/main/resources/legal/NOTICE.md
  legal/src/main/resources/legal/hono-maven.deps
  service-base/pom.xml
  service-base/src/main/java/org/eclipse/hono/service/AbstractEndpoint.java
  service-base/src/main/java/org/eclipse/hono/service/AbstractServiceBase.java
  service-base/src/main/java/org/eclipse/hono/service/http/TracingHandler.java
  service-base/src/main/java/org/eclipse/hono/service/quarkus/DropHttpRequestSpansSampler.java
  service-base/src/main/java/org/eclipse/hono/service/quarkus/QuarkusReflectionRegistration.java
  service-base/src/main/java/org/eclipse/hono/service/quarkus/SamplerProducer.java
  service-base/src/main/java/org/eclipse/hono/service/quarkus/SamplingPrioritySampler.java
  service-base/src/main/java/org/eclipse/hono/service/quarkus/TracerProducer.java
  services/base-quarkus/pom.xml
  site/documentation/content/admin-guide/monitoring-tracing-config.md
  site/documentation/content/deployment/helm-based-deployment.md
  site/documentation/content/dev-guide/building_hono.md
  tests/pom.xml
  tests/readme.md
  tests/src/test/java/org/eclipse/hono/tests/DownstreamMessageAssertions.java
  tests/src/test/java/org/eclipse/hono/tests/IntegrationTestSupport.java
  tests/src/test/resources/amqp/application.yml
  tests/src/test/resources/coap/application.yml
  tests/src/test/resources/commandrouter/clustered-cache/application.yml
  tests/src/test/resources/commandrouter/embedded-cache/application.yml
  tests/src/test/resources/deviceregistry-jdbc-h2/application.yml
  tests/src/test/resources/deviceregistry-jdbc-postgres/application.yml
  tests/src/test/resources/deviceregistry-mongodb/application.yml
  tests/src/test/resources/http/application.yml
  tests/src/test/resources/mqtt/application.yml
  tests/src/test/resources/otel-collector/otel-collector-config.yaml
Labels: Tracing

#3216 [#3193] Fix tracing of "close consumer" error
  adapters/coap-vertx-quarkus/src/main/java/org/eclipse/hono/adapter/coap/AbstractHonoResource.java
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapter.java
Labels: Tracing

#3215 [#2914] Add Picocli based CLI
  cli-quarkus/README.md
  cli-quarkus/pom.xml
  cli-quarkus/src/main/java/org/eclipse/hono/cli/HonoCommand.java
  cli-quarkus/src/main/java/org/eclipse/hono/cli/adapter/amqp/AmqpAdapter.java
  cli-quarkus/src/main/java/org/eclipse/hono/cli/app/CommandAndControl.java
  cli-quarkus/src/main/java/org/eclipse/hono/cli/app/NorthBoundApis.java
  cli-quarkus/src/main/java/org/eclipse/hono/cli/app/TelemetryAndEvent.java
  cli-quarkus/src/main/java/org/eclipse/hono/cli/util/AbstractVariableConverter.java
  cli-quarkus/src/main/java/org/eclipse/hono/cli/util/ClientCertInfo.java
  cli-quarkus/src/main/java/org/eclipse/hono/cli/util/CommandUtils.java
  cli-quarkus/src/main/java/org/eclipse/hono/cli/util/ConnectionOptions.java
  cli-quarkus/src/main/java/org/eclipse/hono/cli/util/IntegerVariableConverter.java
  cli-quarkus/src/main/java/org/eclipse/hono/cli/util/PropertiesVersionProvider.java
  cli-quarkus/src/main/java/org/eclipse/hono/cli/util/StringVariableConverter.java
  cli-quarkus/src/main/resources/application.yaml
  cli-quarkus/src/main/resources/default_banner.txt
  cli-quarkus/src/main/resources/hono-cli-build.properties
  cli-quarkus/src/test/java/org/eclipse/hono/cli/util/StringVariableConverterTest.java
  legal/src/main/resources/legal/DEPENDENCIES
  legal/src/main/resources/legal/LICENSE.jline.txt
  legal/src/main/resources/legal/NOTICE.md
  legal/src/main/resources/legal/hono-maven.deps
  pom.xml
Labels: enhancement, Client

#3221 [#2914] Adapt AMQP adapter user guide
  site/documentation/content/user-guide/amqp-adapter.md
Labels: documentation, Client, AMQP Adapter
