Repository eclipse-hono/hono, pull requests merged in 2022-03, with the labels that each got.

#3132 [#2933] Remove deprecated/unused hono-client classes
  client/src/main/java/org/eclipse/hono/client/ApplicationClientFactory.java
  client/src/main/java/org/eclipse/hono/client/AsyncCommandClient.java
  client/src/main/java/org/eclipse/hono/client/Command.java
  client/src/main/java/org/eclipse/hono/client/CommandClient.java
  client/src/main/java/org/eclipse/hono/client/CommandResponse.java
  client/src/main/java/org/eclipse/hono/client/CommandResponseSender.java
  client/src/main/java/org/eclipse/hono/client/CredentialsClient.java
  client/src/main/java/org/eclipse/hono/client/CredentialsClientFactory.java
  client/src/main/java/org/eclipse/hono/client/CreditBasedSender.java
  client/src/main/java/org/eclipse/hono/client/DownstreamSender.java
  client/src/main/java/org/eclipse/hono/client/DownstreamSenderFactory.java
  client/src/main/java/org/eclipse/hono/client/MessageConsumer.java
  client/src/main/java/org/eclipse/hono/client/MessageSender.java
  client/src/main/java/org/eclipse/hono/client/RegistrationClient.java
  client/src/main/java/org/eclipse/hono/client/RegistrationClientFactory.java
  client/src/main/java/org/eclipse/hono/client/RequestResponseClient.java
  client/src/main/java/org/eclipse/hono/client/TenantClient.java
  client/src/main/java/org/eclipse/hono/client/TenantClientFactory.java
  client/src/main/java/org/eclipse/hono/client/impl/AbstractConsumer.java
  client/src/main/java/org/eclipse/hono/client/impl/AbstractDownstreamSender.java
  client/src/main/java/org/eclipse/hono/client/impl/AbstractHonoClient.java
  client/src/main/java/org/eclipse/hono/client/impl/AbstractRequestResponseClient.java
  client/src/main/java/org/eclipse/hono/client/impl/AbstractSender.java
  client/src/main/java/org/eclipse/hono/client/impl/ApplicationClientFactoryImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/AsyncCommandClientImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/AsyncCommandResponseConsumerImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/CommandClientImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/CommandResponseSenderImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/CredentialsClientFactoryImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/CredentialsClientImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/DownstreamSenderFactoryImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/EventConsumerImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/EventSenderImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/RegistrationClientFactoryImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/RegistrationClientImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/TelemetryConsumerImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/TelemetrySenderImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/TenantClientFactoryImpl.java
  client/src/main/java/org/eclipse/hono/client/impl/TenantClientImpl.java
  client/src/test/java/org/eclipse/hono/client/CommandResponseTest.java
  client/src/test/java/org/eclipse/hono/client/CommandTest.java
  client/src/test/java/org/eclipse/hono/client/impl/AbstractHonoClientTest.java
  client/src/test/java/org/eclipse/hono/client/impl/AbstractRequestResponseClientTest.java
  client/src/test/java/org/eclipse/hono/client/impl/AbstractSenderTest.java
  client/src/test/java/org/eclipse/hono/client/impl/CommandClientImplTest.java
  client/src/test/java/org/eclipse/hono/client/impl/CredentialsClientFactoryImplTest.java
  client/src/test/java/org/eclipse/hono/client/impl/CredentialsClientImplTest.java
  client/src/test/java/org/eclipse/hono/client/impl/DownstreamSenderFactoryImplEventTest.java
  client/src/test/java/org/eclipse/hono/client/impl/DownstreamSenderFactoryImplTelemetryTest.java
  client/src/test/java/org/eclipse/hono/client/impl/DownstreamSenderFactoryImplTest.java
  client/src/test/java/org/eclipse/hono/client/impl/EventConsumerImplTest.java
  client/src/test/java/org/eclipse/hono/client/impl/EventSenderImplTest.java
  client/src/test/java/org/eclipse/hono/client/impl/RegistrationClientFactoryImplTest.java
  client/src/test/java/org/eclipse/hono/client/impl/RegistrationClientImplTest.java
  client/src/test/java/org/eclipse/hono/client/impl/TelemetrySenderImplTest.java
  client/src/test/java/org/eclipse/hono/client/impl/TenantClientImplTest.java
Labels: Client

#3130 [#3083] Only allow mapped target device id in MappedMessage
  adapter-base/src/main/java/org/eclipse/hono/adapter/AbstractProtocolAdapterBase.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/MappedMessage.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/MessageMapping.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/MqttContext.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/impl/HttpBasedMessageMapping.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/impl/VertxBasedMqttProtocolAdapter.java
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapterTest.java
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/impl/HttpBasedMessageMappingTest.java
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/impl/VertxBasedMqttProtocolAdapterTest.java
  site/documentation/content/admin-guide/mqtt-adapter-config.md
  site/documentation/content/user-guide/mqtt-adapter.md
Labels: MQTT Adapter

#3138 [#2933] Move AMQP specific error conversion methods
  client/src/main/java/org/eclipse/hono/client/StatusCodeMapper.java
  clients/amqp-common/src/main/java/org/eclipse/hono/client/amqp/GenericSenderLink.java
  clients/amqp-common/src/main/java/org/eclipse/hono/client/amqp/RequestResponseClient.java
  clients/amqp-connection/src/main/java/org/eclipse/hono/client/amqp/connection/ErrorConverter.java
  clients/amqp-connection/src/main/java/org/eclipse/hono/client/amqp/connection/impl/HonoConnectionImpl.java
  tests/src/test/java/org/eclipse/hono/tests/amqp/AmqpAdapterTestBase.java
  tests/src/test/java/org/eclipse/hono/tests/jms/JmsBasedRequestResponseClient.java
Labels: Client

#3139 [#2933] Move ConnectionFactory related classes
  clients/amqp-connection/pom.xml
  clients/amqp-connection/src/main/java/org/eclipse/hono/client/amqp/connection/ConnectTimeoutException.java
  clients/amqp-connection/src/main/java/org/eclipse/hono/client/amqp/connection/ConnectionFactory.java
  clients/amqp-connection/src/main/java/org/eclipse/hono/client/amqp/connection/impl/ConnectionFactoryImpl.java
  clients/amqp-connection/src/main/java/org/eclipse/hono/client/amqp/connection/impl/HonoConnectionImpl.java
  clients/amqp-connection/src/test/java/org/eclipse/hono/client/amqp/connection/impl/ConnectionFactoryImplTest.java
  clients/amqp-connection/src/test/java/org/eclipse/hono/client/amqp/connection/impl/DisconnectHandlerProvidingConnectionFactory.java
  clients/amqp-connection/src/test/java/org/eclipse/hono/client/amqp/connection/impl/HonoConnectionImplTest.java
  service-base-quarkus/pom.xml
  service-base-quarkus/src/main/java/org/eclipse/hono/service/auth/delegating/quarkus/DelegatingAuthenticationServiceProducer.java
  service-base/pom.xml
  service-base/src/main/java/org/eclipse/hono/service/auth/delegating/AuthenticationServerClient.java
  service-base/src/main/java/org/eclipse/hono/service/auth/delegating/DelegatingAuthenticationService.java
  tests/src/test/java/org/eclipse/hono/tests/auth/AuthServerAmqpIT.java
Labels: Client

#3145 Document available HotRod client config properties
  site/documentation/content/admin-guide/command-router-config.md
Labels: documentation, C&C

#3147 Gracefully close connection after connect attempt has timed out
  clients/amqp-connection/src/main/java/org/eclipse/hono/client/amqp/config/ClientConfigProperties.java
  clients/amqp-connection/src/main/java/org/eclipse/hono/client/amqp/connection/impl/ConnectionFactoryImpl.java
  clients/amqp-connection/src/main/java/org/eclipse/hono/client/amqp/connection/impl/HonoConnectionImpl.java
  clients/amqp-connection/src/test/java/org/eclipse/hono/client/amqp/connection/impl/ConnectionFactoryImplTest.java
  core/src/main/java/org/eclipse/hono/util/HonoProtonHelper.java
Labels: enhancement, Client

#3149 [#3148] Remove Proton-J dependency from RequestResponseResult hierarchy
  clients/amqp-common/src/test/java/org/eclipse/hono/client/amqp/AbstractRequestResponseServiceClientTest.java
  clients/amqp-common/src/test/java/org/eclipse/hono/client/amqp/SimpleRequestResponseResult.java
  clients/command-amqp/src/main/java/org/eclipse/hono/client/command/amqp/ProtonBasedCommandRouterClient.java
  clients/registry-amqp/src/main/java/org/eclipse/hono/client/registry/amqp/ProtonBasedCredentialsClient.java
  clients/registry-amqp/src/main/java/org/eclipse/hono/client/registry/amqp/ProtonBasedDeviceRegistrationClient.java
  clients/registry-amqp/src/main/java/org/eclipse/hono/client/registry/amqp/ProtonBasedTenantClient.java
  core/src/main/java/org/eclipse/hono/util/CredentialsResult.java
  core/src/main/java/org/eclipse/hono/util/RegistrationResult.java
  core/src/main/java/org/eclipse/hono/util/RequestResponseResult.java
  core/src/main/java/org/eclipse/hono/util/TenantResult.java
  service-base/src/main/java/org/eclipse/hono/service/commandrouter/CommandRouterResult.java
  site/homepage/content/release-notes.md
Labels: enhancement, Client

#3150 [#3148] Move Proton-j related constants to separate class
  adapters/amqp-vertx-base/src/main/java/org/eclipse/hono/adapter/amqp/VertxBasedAmqpProtocolAdapter.java
  adapters/amqp-vertx-base/src/test/java/org/eclipse/hono/adapter/amqp/VertxBasedAmqpProtocolAdapterTest.java
  clients/amqp-connection/src/main/java/org/eclipse/hono/client/amqp/connection/AmqpConstants.java
  clients/amqp-connection/src/main/java/org/eclipse/hono/client/amqp/connection/ErrorConverter.java
  clients/amqp-connection/src/main/java/org/eclipse/hono/client/amqp/connection/impl/HonoConnectionImpl.java
  clients/amqp-connection/src/test/java/org/eclipse/hono/client/amqp/config/AuthenticatingClientConfigPropertiesTest.java
  clients/application-amqp/src/main/java/org/eclipse/hono/application/client/amqp/ProtonBasedApplicationClient.java
  clients/application/src/test/java/org/eclipse/hono/application/client/TimeUntilDisconnectNotificationTest.java
  clients/command-amqp/src/main/java/org/eclipse/hono/client/command/amqp/ProtonBasedCommandContext.java
  clients/command-amqp/src/main/java/org/eclipse/hono/client/command/amqp/ProtonBasedInternalCommandConsumer.java
  core/src/main/java/org/eclipse/hono/util/Constants.java
  service-base/src/main/java/org/eclipse/hono/service/amqp/AbstractRequestResponseEndpoint.java
  service-base/src/main/java/org/eclipse/hono/service/amqp/AmqpServiceBase.java
  service-base/src/main/java/org/eclipse/hono/service/auth/AddressAuthzHelper.java
  service-base/src/main/java/org/eclipse/hono/service/auth/HonoSaslAuthenticator.java
  service-base/src/test/java/org/eclipse/hono/service/amqp/AbstractRequestResponseEndpointTest.java
  service-base/src/test/java/org/eclipse/hono/service/amqp/AmqpServiceBaseTest.java
  services/auth-base/pom.xml
  services/auth-base/src/main/java/org/eclipse/hono/authentication/AuthenticationEndpoint.java
  services/auth-base/src/main/java/org/eclipse/hono/authentication/SimpleAuthenticationServer.java
  services/auth-base/src/test/java/org/eclipse/hono/authentication/SimpleAuthenticationServerTest.java
  services/command-router-base/src/main/java/org/eclipse/hono/commandrouter/impl/amqp/ProtonBasedMappingAndDelegatingCommandHandler.java
  services/command-router-base/src/test/java/org/eclipse/hono/commandrouter/impl/amqp/ProtonBasedMappingAndDelegatingCommandHandlerTest.java
  site/homepage/content/release-notes.md
  tests/src/test/java/org/eclipse/hono/tests/amqp/AmqpAdapterTestBase.java
  tests/src/test/java/org/eclipse/hono/tests/amqp/AmqpUploadTestBase.java
  tests/src/test/java/org/eclipse/hono/tests/amqp/CommandAndControlAmqpIT.java
Labels: Client

#3152 [#3148] Move Proton-j related methods to service-base module
  clients/registry-amqp/src/main/java/org/eclipse/hono/client/registry/amqp/ProtonBasedCredentialsClient.java
  clients/registry-amqp/src/main/java/org/eclipse/hono/client/registry/amqp/ProtonBasedDeviceRegistrationClient.java
  clients/registry-amqp/src/main/java/org/eclipse/hono/client/registry/amqp/ProtonBasedTenantClient.java
  clients/registry-amqp/src/test/java/org/eclipse/hono/client/registry/amqp/ProtonBasedCredentialsClientTest.java
  core/src/main/java/org/eclipse/hono/util/RequestResponseApiConstants.java
  core/src/test/java/org/eclipse/hono/util/RequestResponseApiConstantsTest.java
  service-base/src/main/java/org/eclipse/hono/service/amqp/AbstractRequestResponseEndpoint.java
  service-base/src/main/java/org/eclipse/hono/service/commandrouter/DelegatingCommandRouterAmqpEndpoint.java
  service-base/src/test/java/org/eclipse/hono/service/amqp/AbstractRequestResponseEndpointTest.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/credentials/DelegatingCredentialsAmqpEndpoint.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/registration/DelegatingRegistrationAmqpEndpoint.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/tenant/DelegatingTenantAmqpEndpoint.java
Labels: enhancement

#3156 Move TelemetryExecutionContext to adapter-base module
  adapter-base/src/main/java/org/eclipse/hono/adapter/AbstractProtocolAdapterBase.java
  adapter-base/src/main/java/org/eclipse/hono/adapter/HttpContext.java
  adapter-base/src/main/java/org/eclipse/hono/adapter/MapBasedTelemetryExecutionContext.java
  adapter-base/src/main/java/org/eclipse/hono/adapter/ProtocolAdapter.java
  adapter-base/src/main/java/org/eclipse/hono/adapter/TelemetryExecutionContext.java
  adapter-base/src/test/java/org/eclipse/hono/adapter/AbstractProtocolAdapterBaseTest.java
  adapter-base/src/test/java/org/eclipse/hono/adapter/HttpContextTest.java
  adapters/amqp-vertx-base/src/main/java/org/eclipse/hono/adapter/amqp/AmqpContext.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/CoapContext.java
  adapters/coap-vertx-base/src/test/java/org/eclipse/hono/adapter/coap/ResourceTestBase.java
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapter.java
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/HonoBasicAuthHandler.java
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/X509AuthHandler.java
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/impl/VertxBasedHttpProtocolAdapter.java
  adapters/http-vertx-base/src/test/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapterTest.java
  adapters/http-vertx-base/src/test/java/org/eclipse/hono/adapter/http/HonoBasicAuthHandlerTest.java
  adapters/lora-vertx-base/src/main/java/org/eclipse/hono/adapter/lora/LoraProtocolAdapter.java
  adapters/lora-vertx-base/src/test/java/org/eclipse/hono/adapter/lora/LoraProtocolAdapterTest.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/MqttContext.java
  adapters/sigfox-vertx/src/main/java/org/eclipse/hono/adapter/sigfox/impl/SigfoxProtocolAdapter.java
  site/homepage/content/release-notes.md
Labels: enhancement

#3155 [#3154] Add support for Live Objects to Lora adapter
  adapters/lora-vertx-base/src/main/java/org/eclipse/hono/adapter/lora/providers/LiveObjectsProvider.java
  adapters/lora-vertx-base/src/test/java/org/eclipse/hono/adapter/lora/providers/LiveObjectsProviderTest.java
  adapters/lora-vertx-base/src/test/resources/payload/liveObjects.uplink.json
  site/homepage/content/release-notes.md
Labels: enhancement, LoRa Adapter

#3160 Fix synchronization issue in event bus notification sender method
  adapter-base-quarkus/src/main/java/org/eclipse/hono/adapter/quarkus/AbstractProtocolAdapterApplication.java
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapterTest.java
  clients/notification/src/main/java/org/eclipse/hono/notification/NotificationEventBusSupport.java
  clients/notification/src/test/java/org/eclipse/hono/notification/NotificationEventBusSupportTest.java
  services/command-router-quarkus/src/main/java/org/eclipse/hono/commandrouter/quarkus/Application.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/credentials/AbstractCredentialsManagementService.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/device/AbstractDeviceManagementService.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/tenant/AbstractTenantManagementService.java
  tests/src/test/java/org/eclipse/hono/tests/client/KafkaBasedEventSenderIT.java
Labels: bug

#3164 [#3163] Do not let AMQP device client send arbitrary properties
  clients/device-amqp/src/main/java/org/eclipse/hono/client/device/amqp/CommandResponder.java
  clients/device-amqp/src/main/java/org/eclipse/hono/client/device/amqp/EventSender.java
  clients/device-amqp/src/main/java/org/eclipse/hono/client/device/amqp/TelemetrySender.java
  clients/device-amqp/src/main/java/org/eclipse/hono/client/device/amqp/TraceableCommandResponder.java
  clients/device-amqp/src/main/java/org/eclipse/hono/client/device/amqp/TraceableEventSender.java
  clients/device-amqp/src/main/java/org/eclipse/hono/client/device/amqp/TraceableTelemetrySender.java
  clients/device-amqp/src/main/java/org/eclipse/hono/client/device/amqp/impl/AbstractAmqpAdapterClientSender.java
  clients/device-amqp/src/main/java/org/eclipse/hono/client/device/amqp/impl/AmqpAdapterClientCommandResponseSender.java
  clients/device-amqp/src/main/java/org/eclipse/hono/client/device/amqp/impl/AmqpAdapterClientEventSenderImpl.java
  clients/device-amqp/src/main/java/org/eclipse/hono/client/device/amqp/impl/AmqpAdapterClientTelemetrySenderImpl.java
  clients/device-amqp/src/test/java/org/eclipse/hono/client/device/amqp/AmqpAdapterClientSenderTestBase.java
  clients/device-amqp/src/test/java/org/eclipse/hono/client/device/amqp/CommandResponderTest.java
  clients/device-amqp/src/test/java/org/eclipse/hono/client/device/amqp/EventSenderTest.java
  clients/device-amqp/src/test/java/org/eclipse/hono/client/device/amqp/TelemetrySenderTest.java
  examples/hono-client-examples/src/main/java/org/eclipse/hono/devices/AmqpExampleDevice.java
  examples/protocol-gateway-example/src/main/java/org/eclipse/hono/example/protocolgateway/controller/ProtocolGateway.java
  site/homepage/content/release-notes.md
Labels: Client, AMQP Adapter

#3159 [#3157] Fix setting of common metrics tags in Quarkus based hono-auth and device registry (1.12.x)
  adapters/amqp-vertx-quarkus/src/main/java/org/eclipse/hono/adapter/amqp/quarkus/MetricsFactory.java
  adapters/coap-vertx-quarkus/src/main/java/org/eclipse/hono/adapter/coap/quarkus/MetricsFactory.java
  adapters/http-vertx-quarkus/src/main/java/org/eclipse/hono/adapter/http/quarkus/MetricsFactory.java
  adapters/lora-vertx-quarkus/src/main/java/org/eclipse/hono/adapter/lora/quarkus/MetricsFactory.java
  adapters/mqtt-vertx-quarkus/src/main/java/org/eclipse/hono/adapter/mqtt/quarkus/MetricsFactory.java
  service-base-quarkus/src/main/java/org/eclipse/hono/service/quarkus/AbstractServiceApplication.java
  services/auth-quarkus/src/main/java/org/eclipse/hono/authentication/quarkus/Application.java
  services/device-registry-mongodb-quarkus/src/main/java/org/eclipse/hono/deviceregistry/mongodb/quarkus/Application.java
  site/homepage/content/release-notes.md
Labels: bug, Auth Server, MongoDB Device Registry

#3165 [#3162] Do not send message properties to north bound C&C API
  cli/src/main/java/org/eclipse/hono/cli/app/Commander.java
  clients/application-amqp/src/main/java/org/eclipse/hono/application/client/amqp/ProtonBasedCommandSender.java
  clients/application-amqp/src/main/java/org/eclipse/hono/application/client/amqp/ProtonBasedDownstreamMessage.java
  clients/application-amqp/src/main/java/org/eclipse/hono/application/client/amqp/ProtonBasedRequestResponseCommandClient.java
  clients/application-amqp/src/test/java/org/eclipse/hono/application/client/amqp/ProtonBasedCommandSenderTest.java
  clients/application-amqp/src/test/java/org/eclipse/hono/application/client/amqp/ProtonBasedRequestResponseCommandClientTest.java
  clients/application-kafka/src/main/java/org/eclipse/hono/application/client/kafka/impl/KafkaBasedCommandSender.java
  clients/application-kafka/src/test/java/org/eclipse/hono/application/client/kafka/impl/KafkaBasedCommandSenderTest.java
  clients/application/src/main/java/org/eclipse/hono/application/client/CommandSender.java
  examples/hono-client-examples/src/main/java/org/eclipse/hono/vertx/example/base/HonoExampleApplicationBase.java
  site/homepage/content/release-notes.md
  tests/src/test/java/org/eclipse/hono/tests/IntegrationTestSupport.java
Labels: Client

#3167 [#3158] Add support for Kafka client metrics in device registry
  services/device-registry-jdbc-quarkus/src/main/java/org/eclipse/hono/deviceregistry/jdbc/quarkus/AmqpServerFactory.java
  services/device-registry-jdbc-quarkus/src/main/java/org/eclipse/hono/deviceregistry/jdbc/quarkus/KafkaMetricsSupportProducer.java
  services/device-registry-jdbc-quarkus/src/main/java/org/eclipse/hono/deviceregistry/jdbc/quarkus/NotificationSenderProducer.java
  services/device-registry-mongodb-quarkus/src/main/java/org/eclipse/hono/deviceregistry/mongodb/quarkus/AmqpServerFactory.java
  services/device-registry-mongodb-quarkus/src/main/java/org/eclipse/hono/deviceregistry/mongodb/quarkus/KafkaMetricsSupportProducer.java
  services/device-registry-mongodb-quarkus/src/main/java/org/eclipse/hono/deviceregistry/mongodb/quarkus/NotificationSenderProducer.java
  site/documentation/content/admin-guide/hono-kafka-client-configuration.md
  site/homepage/content/release-notes.md
Labels: Device Registry

#3168 Allow sending non-empty commands without content type
  cli/src/main/java/org/eclipse/hono/cli/app/Commander.java
  clients/application-amqp/src/main/java/org/eclipse/hono/application/client/amqp/ProtonBasedCommandSender.java
  clients/application-amqp/src/test/java/org/eclipse/hono/application/client/amqp/ProtonBasedCommandSenderTest.java
  clients/application-kafka/src/main/java/org/eclipse/hono/application/client/kafka/impl/KafkaBasedCommandSender.java
  clients/application-kafka/src/test/java/org/eclipse/hono/application/client/kafka/impl/KafkaBasedCommandSenderTest.java
  clients/application/src/main/java/org/eclipse/hono/application/client/CommandSender.java
  examples/hono-client-examples/src/main/java/org/eclipse/hono/vertx/example/base/HonoExampleApplicationBase.java
  site/homepage/content/release-notes.md
  tests/src/test/java/org/eclipse/hono/tests/IntegrationTestSupport.java
  tests/src/test/java/org/eclipse/hono/tests/amqp/CommandAndControlAmqpIT.java
Labels: enhancement, Client

#3169 Support sending of failure notification metadata
  clients/application-kafka/src/main/java/org/eclipse/hono/application/client/kafka/KafkaCommandSender.java
  clients/application-kafka/src/main/java/org/eclipse/hono/application/client/kafka/impl/KafkaBasedCommandSender.java
  clients/application-kafka/src/test/java/org/eclipse/hono/application/client/kafka/impl/KafkaBasedCommandSenderTest.java
  clients/command-kafka/src/main/java/org/eclipse/hono/client/command/kafka/KafkaBasedCommand.java
  clients/command-kafka/src/test/java/org/eclipse/hono/client/command/kafka/KafkaBasedCommandTest.java
  clients/kafka-common/src/main/java/org/eclipse/hono/client/kafka/KafkaRecordHelper.java
  tests/src/test/java/org/eclipse/hono/tests/GenericKafkaSender.java
  tests/src/test/java/org/eclipse/hono/tests/amqp/CommandAndControlAmqpIT.java
Labels: Client, C&C

#3170 Extract common quarkus-related device registry classes
  services/device-registry-base/pom.xml
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/quarkus/AbstractAmqpServerFactory.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/quarkus/AbstractDeviceRegistryApplication.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/quarkus/AbstractHttpServerFactory.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/quarkus/CommonConfigPropertiesProducer.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/quarkus/KafkaMetricsSupportProducer.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/quarkus/NotificationSenderProducer.java
  services/device-registry-jdbc-quarkus/src/main/java/org/eclipse/hono/deviceregistry/jdbc/quarkus/AmqpServerFactory.java
  services/device-registry-jdbc-quarkus/src/main/java/org/eclipse/hono/deviceregistry/jdbc/quarkus/Application.java
  services/device-registry-jdbc-quarkus/src/main/java/org/eclipse/hono/deviceregistry/jdbc/quarkus/ConfigPropertiesProducer.java
  services/device-registry-jdbc-quarkus/src/main/java/org/eclipse/hono/deviceregistry/jdbc/quarkus/HttpServerFactory.java
  services/device-registry-jdbc-quarkus/src/main/java/org/eclipse/hono/deviceregistry/jdbc/quarkus/KafkaMetricsSupportProducer.java
  services/device-registry-jdbc-quarkus/src/main/java/org/eclipse/hono/deviceregistry/jdbc/quarkus/NotificationSenderProducer.java
  services/device-registry-mongodb-quarkus/src/main/java/org/eclipse/hono/deviceregistry/mongodb/quarkus/AmqpServerFactory.java
  services/device-registry-mongodb-quarkus/src/main/java/org/eclipse/hono/deviceregistry/mongodb/quarkus/Application.java
  services/device-registry-mongodb-quarkus/src/main/java/org/eclipse/hono/deviceregistry/mongodb/quarkus/ConfigPropertiesProducer.java
  services/device-registry-mongodb-quarkus/src/main/java/org/eclipse/hono/deviceregistry/mongodb/quarkus/HttpServerFactory.java
Labels: Device Registry

#3173 [#3172] Remove hono-adapter-base-quarkus module
  adapter-base-quarkus/pom.xml
  adapter-base/pom.xml
  adapter-base/src/main/java/org/eclipse/hono/adapter/quarkus/AbstractProtocolAdapterApplication.java
  adapter-base/src/main/resources/META-INF/native-image/org.eclipse.hono/hono-adapter-base-quarkus/native-image.properties
  adapters/amqp-vertx-quarkus/pom.xml
  adapters/base-quarkus/pom.xml
  adapters/coap-vertx-quarkus/pom.xml
  adapters/http-vertx-quarkus/pom.xml
  adapters/lora-vertx-quarkus/pom.xml
  adapters/mqtt-vertx-quarkus/pom.xml
  adapters/pom.xml
  adapters/sigfox-vertx/pom.xml
  bom/pom.xml
  pom.xml
Labels: enhancement

#3171 [#3078] Use Java source code level 17
  .github/workflows/ci.yml
  .github/workflows/native-images-tests.yml
  adapters/pom.xml
  bom/pom.xml
  jenkins/Hono-Deploy-Eclipse-Pipeline-Declarative.groovy
  jenkins/Hono-Deploy-Maven-Central-Pipeline-Declarative.groovy
  jenkins/Hono-Nightly-Pipeline-Declarative.groovy
  jenkins/Hono-PipelineUtils.groovy
  jenkins/Hono-Release-Pipeline.groovy
  jenkins/Hono-Sonar-Pipeline.groovy
  pom.xml
  services/base-quarkus/pom.xml
  site/documentation/content/dev-guide/building_hono.md
  site/homepage/content/release-notes.md
Labels: enhancement, build system

#3177 Simplified server names validation at COAP adapter
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/DeviceRegistryBasedCertificateVerifier.java
Labels: CoAP Adapter

#3180 [#3172] Use quarkus-junit5 in service and adapter modules
  adapter-base/pom.xml
  adapter-base/src/test/resources/application.yml
  adapter-base/src/test/resources/logback-test.xml
  adapters/amqp-vertx-base/pom.xml
  adapters/amqp-vertx-base/src/test/resources/application.yml
  adapters/amqp-vertx-base/src/test/resources/logback-test.xml
  adapters/coap-vertx-base/pom.xml
  adapters/coap-vertx-base/src/test/resources/application.yml
  adapters/coap-vertx-base/src/test/resources/logback-test.xml
  adapters/http-vertx-base/pom.xml
  adapters/http-vertx-base/src/test/resources/application.yml
  adapters/http-vertx-base/src/test/resources/logback-test.xml
  adapters/lora-vertx-base/pom.xml
  adapters/lora-vertx-base/src/test/resources/application.yml
  adapters/lora-vertx-base/src/test/resources/logback-test.xml
  adapters/mqtt-vertx-base/pom.xml
  adapters/mqtt-vertx-base/src/test/resources/application.yml
  adapters/mqtt-vertx-base/src/test/resources/logback-test.xml
  service-base/pom.xml
  service-base/src/test/resources/application.yml
  service-base/src/test/resources/logback-test.xml
  services/auth-base/pom.xml
  services/auth-base/src/test/resources/application.yml
  services/auth-base/src/test/resources/logback-test.xml
  services/command-router-base/pom.xml
  services/command-router-base/src/test/resources/application.yml
  services/command-router-base/src/test/resources/logback-test.xml
  services/device-registry-base/pom.xml
  services/device-registry-base/src/test/resources/application.yml
  services/device-registry-base/src/test/resources/logback-test.xml
  services/device-registry-jdbc-quarkus/pom.xml
  services/device-registry-jdbc-quarkus/src/test/resources/application.yml
  services/device-registry-jdbc-quarkus/src/test/resources/logback-test.xml
  services/device-registry-mongodb-base/pom.xml
  services/device-registry-mongodb-base/src/test/resources/application.yml
  services/device-registry-mongodb-base/src/test/resources/logback-test.xml
Labels: enhancement

#3182 Use custom root resource to handle requests on vert.x context
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/AbstractVertxBasedCoapAdapter.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/HonoRootResource.java
  adapters/coap-vertx-base/src/main/java/org/eclipse/hono/adapter/coap/VertxCoapResource.java
  adapters/coap-vertx-base/src/test/java/org/eclipse/hono/adapter/coap/AbstractVertxBasedCoapAdapterTest.java
  core/src/main/java/org/eclipse/hono/util/ConfigurationSupportingVerticle.java
  tests/pom.xml
  tests/src/test/java/org/eclipse/hono/tests/coap/CoapTestBase.java
  tests/src/test/java/org/eclipse/hono/tests/coap/TelemetryCoapIT.java
  tests/src/test/resources/coap/logging-quarkus-prod.yml
Labels: enhancement, CoAP Adapter
