Repository eclipse-hono/hono, pull requests merged in 2022-06, with the labels that each got.

#3280 [#3279] Fix handling of PUT requests with hono-ttd query param
  adapters/http-base/src/main/java/org/eclipse/hono/adapter/http/impl/VertxBasedHttpProtocolAdapter.java
  site/documentation/content/user-guide/http-adapter.md
  tests/src/test/java/org/eclipse/hono/tests/http/HttpTestBase.java
Labels: bug, HTTP Adapter

#3282 Add KafkaApplicationClient.addOnClientReadyHandler()
  clients/application-kafka/src/main/java/org/eclipse/hono/application/client/kafka/KafkaApplicationClient.java
  clients/application-kafka/src/main/java/org/eclipse/hono/application/client/kafka/impl/KafkaApplicationClientImpl.java
Labels: enhancement, Client

#3283 Update to latest Hugo documentation theme version
  site/build-site.bat
  site/build-site.sh
  site/documentation/config.toml
  site/documentation/layouts/partials/custom-header.html
  site/documentation/static/css/theme-hono.css
Labels: website

#3284 [#3272] Rename metrics
  adapter-base/src/main/java/org/eclipse/hono/adapter/resourcelimits/DataVolumeAsyncCacheLoader.java
  adapter-base/src/test/java/org/eclipse/hono/adapter/resourcelimits/DataVolumeAsyncCacheLoaderTest.java
  clients/amqp-common/src/main/java/org/eclipse/hono/client/amqp/GenericSenderLink.java
  clients/amqp-common/src/main/java/org/eclipse/hono/client/amqp/RequestResponseClient.java
  clients/amqp-connection/src/main/java/org/eclipse/hono/client/amqp/connection/SendMessageSampler.java
  service-base/src/main/java/org/eclipse/hono/service/metric/MicrometerBasedMetrics.java
  service-base/src/test/java/org/eclipse/hono/service/metric/MicrometerBasedMetricsTest.java
  site/documentation/content/api/Metrics.md
  site/homepage/content/release-notes.md
Labels: Metrics

#3289 Fix 'command-endpoint' not getting set if 'defaults' is null
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/device/AbstractRegistrationService.java
Labels: bug, Device Registry

#3290 Fix deserialization of CommandEndpoint class in native image
  core/src/main/java/org/eclipse/hono/util/CommandEndpoint.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/device/Device.java
  site/homepage/content/release-notes.md
  tests/src/test/java/org/eclipse/hono/tests/registry/DeviceRegistrationApiTests.java
Labels: bug

#3293 Add release notes entry for health check server changes
  site/homepage/content/release-notes.md
Labels: documentation

#3296 [#3295] Fix HTTP adapter request URI parts not getting decoded
  adapter-base/src/main/java/org/eclipse/hono/adapter/HttpContext.java
  adapter-base/src/test/java/org/eclipse/hono/adapter/HttpContextTest.java
  tests/src/test/java/org/eclipse/hono/tests/http/HttpTestBase.java
Labels: bug, HTTP Adapter

#3298 [#3297] Set fixed span name for invalid HTTP requests
  adapters/http-base/src/main/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapter.java
  service-base/src/main/java/org/eclipse/hono/service/http/HttpServerSpanHelper.java
  service-base/src/main/java/org/eclipse/hono/service/http/HttpServiceBase.java
Labels: bug, HTTP Adapter, Device Registry

#3299 Add default error handler for HTTP requests with status 404
  adapters/http-base/src/main/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapter.java
  service-base/src/main/java/org/eclipse/hono/service/http/HttpServiceBase.java
  service-base/src/main/java/org/eclipse/hono/service/http/HttpUtils.java
Labels: enhancement, HTTP Adapter, Device Registry

#3304 Use SubstrateVM specific min RAM requirement
  adapters/coap/src/main/java/org/eclipse/hono/adapter/coap/impl/ConfigBasedCoapEndpointFactory.java
Labels: bug, CoAP Adapter

#3291 [#3263] Add idle timeout.
  adapters/http-base/src/main/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapter.java
  core/src/main/java/org/eclipse/hono/config/ServerConfig.java
  core/src/main/java/org/eclipse/hono/config/ServerOptions.java
  core/src/test/java/org/eclipse/hono/config/ConfigMappingTest.java
  core/src/test/resources/server-options.yaml
  service-base/src/main/java/org/eclipse/hono/service/http/HttpServiceBase.java
  site/documentation/content/admin-guide/http-adapter-config.md
  site/documentation/content/admin-guide/jdbc-device-registry-config.md
  site/documentation/content/admin-guide/mongodb-device-registry-config.md
  site/homepage/content/release-notes.md
Labels: enhancement, HTTP Adapter, Device Registry

#3309 [#3263] Remove the BodyHandler.
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapter.java
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/impl/VertxBasedHttpProtocolAdapter.java
  adapters/lora-vertx-base/src/main/java/org/eclipse/hono/adapter/lora/LoraProtocolAdapter.java
  adapters/sigfox-vertx/src/main/java/org/eclipse/hono/adapter/sigfox/impl/SigfoxProtocolAdapter.java
  service-base/src/main/java/org/eclipse/hono/service/http/AbstractHttpEndpoint.java
  service-base/src/main/java/org/eclipse/hono/service/http/HttpServiceBase.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/credentials/DelegatingCredentialsManagementHttpEndpoint.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/device/DelegatingDeviceManagementHttpEndpoint.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/tenant/DelegatingTenantManagementHttpEndpoint.java
Labels: bug, HTTP Adapter, LoRa Adapter, SigFox Adapter, MongoDB Device Registry, JDBC Device Registry

#3311 [#3263] Add idle timeout.
  adapters/http-base/src/main/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapter.java
  adapters/http-base/src/main/java/org/eclipse/hono/adapter/http/HttpProtocolAdapterOptions.java
  adapters/http-base/src/main/java/org/eclipse/hono/adapter/http/HttpProtocolAdapterProperties.java
  service-base/src/main/java/org/eclipse/hono/service/http/HttpServiceBase.java
  service-base/src/main/java/org/eclipse/hono/service/http/HttpServiceConfigOptions.java
  service-base/src/main/java/org/eclipse/hono/service/http/HttpServiceConfigProperties.java
  service-base/src/test/java/org/eclipse/hono/service/http/HttpServiceConfigOptionsTest.java
  service-base/src/test/resources/http-service-config-options.yaml
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/server/DeviceRegistryHttpServer.java
  site/documentation/content/admin-guide/http-adapter-config.md
  site/documentation/content/admin-guide/jdbc-device-registry-config.md
  site/documentation/content/admin-guide/mongodb-device-registry-config.md
  site/homepage/content/release-notes.md
Labels: bug, HTTP Adapter, MongoDB Device Registry, JDBC Device Registry

#3310 [#3263] Add idle timeout.
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapter.java
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/HttpProtocolAdapterOptions.java
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/HttpProtocolAdapterProperties.java
  service-base/src/main/java/org/eclipse/hono/service/http/HttpServiceBase.java
  service-base/src/main/java/org/eclipse/hono/service/http/HttpServiceConfigOptions.java
  service-base/src/main/java/org/eclipse/hono/service/http/HttpServiceConfigProperties.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/server/DeviceRegistryHttpServer.java
  site/documentation/content/admin-guide/http-adapter-config.md
  site/documentation/content/admin-guide/jdbc-device-registry-config.md
  site/documentation/content/admin-guide/mongodb-device-registry-config.md
  site/homepage/content/release-notes.md
Labels: bug, HTTP Adapter, MongoDB Device Registry, JDBC Device Registry

#3313 [#3263] Move Idle Timeout Configuration
  adapters/http-base/src/main/java/org/eclipse/hono/adapter/http/HttpProtocolAdapterOptions.java
  adapters/http-base/src/main/java/org/eclipse/hono/adapter/http/HttpProtocolAdapterProperties.java
  core/src/main/java/org/eclipse/hono/config/ServerConfig.java
  core/src/main/java/org/eclipse/hono/config/ServerOptions.java
  core/src/test/java/org/eclipse/hono/config/ConfigMappingTest.java
  core/src/test/resources/server-options.yaml
  service-base/src/main/java/org/eclipse/hono/service/http/HttpServiceBase.java
  service-base/src/main/java/org/eclipse/hono/service/http/HttpServiceConfigOptions.java
  service-base/src/main/java/org/eclipse/hono/service/http/HttpServiceConfigProperties.java
  service-base/src/test/java/org/eclipse/hono/service/http/HttpServiceConfigOptionsTest.java
  service-base/src/test/resources/http-service-config-options.yaml
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/server/DeviceRegistryHttpServer.java
Labels: enhancement, HTTP Adapter, Device Registry

#3319 [#3305] Apply authHandler only on LoRa provider HTTP routes
  adapters/lora/src/main/java/org/eclipse/hono/adapter/lora/LoraProtocolAdapter.java
Labels: bug, LoRa Adapter

#3320 [#3314] Fix skipping command or error subscription in MQTT adapter
  adapters/mqtt-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractSubscription.java
  adapters/mqtt-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
  adapters/mqtt-base/src/main/java/org/eclipse/hono/adapter/mqtt/CommandSubscription.java
  adapters/mqtt-base/src/main/java/org/eclipse/hono/adapter/mqtt/ErrorSubscription.java
  adapters/mqtt-base/src/test/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapterTest.java
  site/homepage/content/release-notes.md
Labels: bug, MQTT Adapter

#3323 [#3314] Fix skipping command or error subscription in MQTT adapter
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractSubscription.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/CommandSubscription.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/ErrorSubscription.java
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapterTest.java
  site/homepage/content/release-notes.md
Labels: bug, MQTT Adapter
