Repository eclipse-hono/hono, pull requests merged in 2022-05, with the labels that each got.

#3227 [#3161] Add quarkus-logging-gelf dependency
  adapters/base-quarkus/pom.xml
  legal/src/main/resources/legal/DEPENDENCIES
  legal/src/main/resources/legal/LICENSE.logstash-gelf.txt
  legal/src/main/resources/legal/NOTICE.md
  legal/src/main/resources/legal/hono-maven.deps
  services/base-quarkus/pom.xml
  site/documentation/content/admin-guide/monitoring-tracing-config.md
Labels: enhancement

#3229 [#3214] Decouple topic cleanup service from command router
  clients/kafka-common/src/main/java/org/eclipse/hono/client/kafka/KafkaClientFactory.java
  core/src/main/java/org/eclipse/hono/util/LifecycleStatus.java
  services/command-router-quarkus/src/main/java/org/eclipse/hono/commandrouter/impl/kafka/InternalKafkaTopicCleanupService.java
  services/command-router-quarkus/src/main/java/org/eclipse/hono/commandrouter/impl/kafka/KafkaBasedCommandConsumerFactoryImpl.java
  services/command-router-quarkus/src/main/java/org/eclipse/hono/commandrouter/quarkus/Application.java
  services/command-router-quarkus/src/test/java/org/eclipse/hono/commandrouter/impl/kafka/InternalKafkaTopicCleanupServiceTest.java
  tests/src/test/java/org/eclipse/hono/tests/commandrouter/KafkaBasedCommandConsumerFactoryImplIT.java
Labels: enhancement, C&C

#3230 [#3199] Allow gateways to omit tenant ID with HTTP adapter
  adapter-base/src/main/java/org/eclipse/hono/adapter/HttpContext.java
  adapter-base/src/test/java/org/eclipse/hono/adapter/HttpContextTest.java
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapter.java
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/impl/VertxBasedHttpProtocolAdapter.java
  adapters/http-vertx-base/src/test/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapterTest.java
  adapters/http-vertx-base/src/test/java/org/eclipse/hono/adapter/http/HonoBasicAuthHandlerTest.java
  adapters/http-vertx-base/src/test/java/org/eclipse/hono/adapter/http/impl/VertxBasedHttpProtocolAdapterTest.java
  adapters/lora-vertx-quarkus/src/main/java/org/eclipse/hono/adapter/lora/LoraProtocolAdapter.java
  adapters/lora-vertx-quarkus/src/test/java/org/eclipse/hono/adapter/lora/LoraProtocolAdapterTest.java
  adapters/sigfox-vertx/src/main/java/org/eclipse/hono/adapter/sigfox/impl/SigfoxProtocolAdapter.java
  adapters/sigfox-vertx/src/main/java/org/eclipse/hono/adapter/sigfox/impl/SigfoxProtocolAdapterProperties.java
  service-base/src/main/java/org/eclipse/hono/service/http/HttpUtils.java
  site/documentation/content/user-guide/http-adapter.md
  site/homepage/content/release-notes.md
  tests/src/test/java/org/eclipse/hono/tests/http/HttpTestBase.java
  tests/src/test/resources/http/application.yml
Labels: HTTP Adapter, Feature Request

#3231 Remove support for Jaeger context propagation
  adapters/base-quarkus/pom.xml
  bom/pom.xml
  clients/amqp-connection/pom.xml
  clients/amqp-connection/src/test/java/org/eclipse/hono/client/amqp/tracing/MessageAnnotationsInjectExtractAdapterTest.java
  clients/kafka-common/pom.xml
  clients/kafka-common/src/test/java/org/eclipse/hono/client/kafka/tracing/KafkaHeadersInjectExtractAdapterTest.java
  core/pom.xml
  core/src/test/java/org/eclipse/hono/tracing/JsonObjectInjectExtractAdapterTest.java
  core/src/test/java/org/eclipse/hono/tracing/MultiMapInjectExtractAdapterTest.java
  legal/src/main/resources/legal/DEPENDENCIES
  legal/src/main/resources/legal/hono-maven.deps
  services/base-quarkus/pom.xml
  site/documentation/content/admin-guide/monitoring-tracing-config.md
  site/homepage/content/release-notes.md
  tests/pom.xml
  tests/src/test/java/org/eclipse/hono/tests/IntegrationTestSupport.java
Labels: Tracing

#3234 [#2914] Remove original cli module
  bom/pom.xml
  cli/README.md
  cli/pom.xml
  cli/src/main/java/org/eclipse/hono/cli/AbstractCliClient.java
  cli/src/main/java/org/eclipse/hono/cli/AppConfiguration.java
  cli/src/main/java/org/eclipse/hono/cli/Application.java
  cli/src/main/java/org/eclipse/hono/cli/adapter/AmqpCliClient.java
  cli/src/main/java/org/eclipse/hono/cli/adapter/CommandAndControlClient.java
  cli/src/main/java/org/eclipse/hono/cli/adapter/TelemetryAndEventCli.java
  cli/src/main/java/org/eclipse/hono/cli/app/AbstractApplicationClient.java
  cli/src/main/java/org/eclipse/hono/cli/app/Commander.java
  cli/src/main/java/org/eclipse/hono/cli/app/Receiver.java
  cli/src/main/java/org/eclipse/hono/cli/app/ReceiverStatistics.java
  cli/src/main/resources/application.yml
  cli/src/main/resources/banner.txt
  cli/src/main/resources/logback-spring.xml
  cli/src/test/java/org/eclipse/hono/cli/app/ReceiverTest.java
  cli/src/test/resources/logback-test.xml
  legal/src/main/resources/legal/DEPENDENCIES
  legal/src/main/resources/legal/NOTICE.md
  legal/src/main/resources/legal/hono-maven.deps
  legal/src/main/resources/legal/spring/license.txt
  legal/src/main/resources/legal/spring/notice.txt
  pom.xml
  site/homepage/content/release-notes.md
Labels: Client

#3223 [#3214] Decouple readiness checks from verticle deployment
  adapter-base/src/main/java/org/eclipse/hono/adapter/AbstractProtocolAdapterBase.java
  adapter-base/src/main/java/org/eclipse/hono/adapter/quarkus/AbstractProtocolAdapterApplication.java
  clients/application-kafka/src/main/java/org/eclipse/hono/application/client/kafka/impl/KafkaApplicationClientImpl.java
  clients/application-kafka/src/main/java/org/eclipse/hono/application/client/kafka/impl/KafkaBasedCommandSender.java
  clients/application-kafka/src/test/java/org/eclipse/hono/application/client/kafka/impl/KafkaApplicationClientImplTest.java
  clients/application-kafka/src/test/java/org/eclipse/hono/application/client/kafka/impl/KafkaBasedCommandSenderTest.java
  clients/application-kafka/src/test/resources/logback-test.xml
  clients/command-kafka/src/main/java/org/eclipse/hono/client/command/kafka/KafkaBasedInternalCommandConsumer.java
  clients/command-kafka/src/test/java/org/eclipse/hono/client/command/kafka/KafkaBasedCommandResponseSenderTest.java
  clients/kafka-common/pom.xml
  clients/kafka-common/src/main/java/org/eclipse/hono/client/kafka/KafkaClientFactory.java
  clients/kafka-common/src/main/java/org/eclipse/hono/client/kafka/consumer/AsyncHandlingAutoCommitKafkaConsumer.java
  clients/kafka-common/src/main/java/org/eclipse/hono/client/kafka/consumer/HonoKafkaConsumer.java
  clients/kafka-common/src/main/java/org/eclipse/hono/client/kafka/producer/AbstractKafkaBasedMessageSender.java
  clients/kafka-common/src/main/java/org/eclipse/hono/client/kafka/producer/CachingKafkaProducerFactory.java
  clients/kafka-common/src/main/java/org/eclipse/hono/client/kafka/producer/KafkaProducerFactory.java
  clients/kafka-common/src/test/java/org/eclipse/hono/client/kafka/KafkaClientFactoryTest.java
  clients/kafka-common/src/test/java/org/eclipse/hono/client/kafka/consumer/AsyncHandlingAutoCommitKafkaConsumerTest.java
  clients/kafka-common/src/test/java/org/eclipse/hono/client/kafka/consumer/HonoKafkaConsumerTest.java
  clients/kafka-common/src/test/java/org/eclipse/hono/client/kafka/producer/AbstractKafkaBasedMessageSenderTest.java
  clients/notification-kafka/src/main/java/org/eclipse/hono/client/notification/kafka/KafkaBasedNotificationReceiver.java
  clients/notification-kafka/src/main/java/org/eclipse/hono/client/notification/kafka/KafkaBasedNotificationSender.java
  clients/notification-kafka/src/test/java/org/eclipse/hono/client/notification/kafka/KafkaBasedNotificationReceiverTest.java
  clients/notification-kafka/src/test/java/org/eclipse/hono/client/notification/kafka/KafkaBasedNotificationSenderTest.java
  clients/telemetry-kafka/src/test/java/org/eclipse/hono/client/telemetry/kafka/KafkaBasedEventSenderTest.java
  clients/telemetry-kafka/src/test/java/org/eclipse/hono/client/telemetry/kafka/KafkaBasedTelemetrySenderTest.java
  core/src/main/java/org/eclipse/hono/util/LifecycleStatus.java
  services/command-router-quarkus/src/main/java/org/eclipse/hono/commandrouter/impl/kafka/InternalKafkaTopicCleanupService.java
  services/command-router-quarkus/src/main/java/org/eclipse/hono/commandrouter/impl/kafka/KafkaBasedCommandConsumerFactoryImpl.java
  tests/src/test/java/org/eclipse/hono/tests/IntegrationTestSupport.java
  tests/src/test/java/org/eclipse/hono/tests/client/HonoKafkaConsumerIT.java
  tests/src/test/java/org/eclipse/hono/tests/commandrouter/KafkaBasedCommandConsumerFactoryImplIT.java
Labels: enhancement, Client

#3232 [#3199] Allow gateways to omit tenant ID with CoAP adapter
  adapters/coap-vertx-quarkus/src/main/java/org/eclipse/hono/adapter/coap/AbstractHonoResource.java
  adapters/coap-vertx-quarkus/src/main/java/org/eclipse/hono/adapter/coap/RequestDeviceAndAuth.java
  adapters/coap-vertx-quarkus/src/main/java/org/eclipse/hono/adapter/coap/TracingSupportingHonoResource.java
  adapters/coap-vertx-quarkus/src/test/java/org/eclipse/hono/adapter/coap/AbstractHonoResourceTest.java
  adapters/coap-vertx-quarkus/src/test/java/org/eclipse/hono/adapter/coap/ResourceTestBase.java
  site/documentation/content/user-guide/coap-adapter.md
  site/homepage/content/release-notes.md
  tests/src/test/java/org/eclipse/hono/tests/coap/CoapTestBase.java
  tests/src/test/resources/coap/application.yml
Labels: CoAP Adapter, Feature Request

#3237 [#3199] Allow gateways to omit tenant ID with MQTT adapter
  site/documentation/content/user-guide/mqtt-adapter.md
  site/homepage/content/release-notes.md
  tests/src/test/java/org/eclipse/hono/tests/mqtt/EventMqttIT.java
  tests/src/test/java/org/eclipse/hono/tests/mqtt/MqttPublishTestBase.java
  tests/src/test/java/org/eclipse/hono/tests/mqtt/TelemetryMqttQoS0IT.java
  tests/src/test/java/org/eclipse/hono/tests/mqtt/TelemetryMqttQoS1IT.java
Labels: MQTT Adapter, Feature Request

#3244 [#3218] Adapt API naming to better reflect messaging infrastructure
  site/documentation/content/api/command-and-control-kafka/index.md
  site/documentation/content/api/command-and-control/index.md
  site/documentation/content/api/event-kafka/index.md
  site/documentation/content/api/event/index.md
  site/documentation/content/api/telemetry-kafka/index.md
  site/documentation/content/api/telemetry/index.md
Labels: enhancement, documentation

#3224 [#3185] Add interceptor for internal CoAP errors
  adapters/coap-vertx-quarkus/src/main/java/org/eclipse/hono/adapter/coap/AbstractVertxBasedCoapAdapter.java
  adapters/coap-vertx-quarkus/src/main/java/org/eclipse/hono/adapter/coap/InternalErrorTracer.java
Labels: enhancement, CoAP Adapter

#3249 Exit create certs on error.
  demo-certs/create_certs.sh
Labels: enhancement

#3251 Improve MQTT adapter documentation concerning SUBACK packets
  site/documentation/content/user-guide/mqtt-adapter.md
Labels: MQTT Adapter, documentation

#3253 Add an "IDE setup" chapter in the "Building Hono" guide
  site/documentation/content/dev-guide/building_hono.md
Labels: enhancement, documentation

#3252 Stay on duplicated context in HonoConnectionImpl
  clients/amqp-connection/src/main/java/org/eclipse/hono/client/amqp/connection/HonoProtonHelper.java
  clients/amqp-connection/src/main/java/org/eclipse/hono/client/amqp/connection/impl/HonoConnectionImpl.java
  clients/amqp-connection/src/test/java/org/eclipse/hono/client/amqp/connection/HonoProtonHelperTest.java
  core/pom.xml
  core/src/main/java/org/eclipse/hono/util/Futures.java
  core/src/test/java/org/eclipse/hono/util/FuturesTest.java
Labels: enhancement, Client

#3248 [#3247] Support short endpoint names in CoAP adapter
  adapters/coap-vertx-quarkus/src/main/java/org/eclipse/hono/adapter/coap/AbstractHonoResource.java
  adapters/coap-vertx-quarkus/src/main/java/org/eclipse/hono/adapter/coap/CoapContext.java
  adapters/coap-vertx-quarkus/src/main/java/org/eclipse/hono/adapter/coap/app/Application.java
  adapters/coap-vertx-quarkus/src/test/java/org/eclipse/hono/adapter/coap/TelemetryResourceTest.java
  core/src/main/java/org/eclipse/hono/util/CommandConstants.java
  site/documentation/content/user-guide/coap-adapter.md
  site/homepage/content/release-notes.md
  tests/src/test/java/org/eclipse/hono/tests/coap/CoapCommandEndpointConfiguration.java
  tests/src/test/java/org/eclipse/hono/tests/coap/CoapTestBase.java
  tests/src/test/java/org/eclipse/hono/tests/coap/EventCoapIT.java
  tests/src/test/java/org/eclipse/hono/tests/coap/TelemetryCoapIT.java
Labels: CoAP Adapter, Feature Request

#3255 Upgrade to Quarkus 2.8.3
  bom/pom.xml
  legal/src/main/resources/legal/DEPENDENCIES
  legal/src/main/resources/legal/hono-maven.deps
Labels: enhancement

#3256 Adapt getting started guides to new CLI
  site/documentation/content/getting-started/Hono_instance_amqp.svg
  site/documentation/content/getting-started/Hono_instance_kafka.svg
  site/documentation/content/getting-started/_index.md
  site/documentation/content/getting-started/amqp/index.md
  site/documentation/content/getting-started/kafka/index.md
  site/homepage/config.toml
Labels: documentation

#3258 [#3257] Upgrade to Swagger UI 4.11.1
  site/documentation/layouts/partials/custom-header.html
  site/documentation/static/css/swagger-ui-3.23.11.css
  site/documentation/static/js/swagger-ui-bundle-3.23.11.js
  site/documentation/static/js/swagger-ui-standalone-preset-3.23.11.js
Labels: documentation, website

#3261 [#3218] Update Authentication component diagram
  site/documentation/content/architecture/auth/Hono-Auth-Overview-Today.drawio.svg
  site/documentation/content/architecture/auth/Hono-Auth-Overview-Today.jpg
  site/documentation/content/architecture/auth/index.md
Labels: enhancement, documentation

#3260 [#3259] Use AsyncHandlingAutoCommitKafkaConsumer in adapters
  adapters/amqp-vertx-quarkus/src/main/java/org/eclipse/hono/adapter/amqp/VertxBasedAmqpProtocolAdapter.java
  adapters/amqp-vertx-quarkus/src/test/java/org/eclipse/hono/adapter/amqp/VertxBasedAmqpProtocolAdapterTest.java
  adapters/coap-vertx-quarkus/src/main/java/org/eclipse/hono/adapter/coap/AbstractHonoResource.java
  adapters/coap-vertx-quarkus/src/test/java/org/eclipse/hono/adapter/coap/CoapProtocolAdapterMockSupport.java
  adapters/coap-vertx-quarkus/src/test/java/org/eclipse/hono/adapter/coap/TelemetryResourceTest.java
  adapters/http-vertx-base/src/main/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapter.java
  adapters/http-vertx-base/src/test/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapterTest.java
  adapters/http-vertx-base/src/test/java/org/eclipse/hono/adapter/http/impl/VertxBasedHttpProtocolAdapterTest.java
  adapters/lora-vertx-quarkus/src/main/java/org/eclipse/hono/adapter/lora/LoraProtocolAdapter.java
  adapters/lora-vertx-quarkus/src/test/java/org/eclipse/hono/adapter/lora/LoraProtocolAdapterTest.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapterTest.java
  clients/command-amqp/src/test/java/org/eclipse/hono/client/command/amqp/ProtonBasedInternalCommandConsumerTest.java
  clients/command-kafka/src/main/java/org/eclipse/hono/client/command/kafka/KafkaBasedInternalCommandConsumer.java
  clients/command-kafka/src/test/java/org/eclipse/hono/client/command/kafka/KafkaBasedInternalCommandConsumerTest.java
  clients/command/src/main/java/org/eclipse/hono/client/command/CommandConsumerFactory.java
  clients/command/src/main/java/org/eclipse/hono/client/command/CommandHandlerWrapper.java
  clients/command/src/main/java/org/eclipse/hono/client/command/CommandHandlers.java
  clients/command/src/main/java/org/eclipse/hono/client/command/CommandRouterCommandConsumerFactory.java
  clients/command/src/test/java/org/eclipse/hono/client/command/CommandRouterCommandConsumerFactoryTest.java
Labels: enhancement, C&C

#3262 [#3218] Add Kafka related information to architecture chapter
  site/documentation/content/admin-guide/amqp-network-config.md
  site/documentation/content/architecture/component-view/index.md
  site/documentation/content/architecture/component-view/top-level.png
  site/documentation/content/architecture/component-view/top-level.svg
  site/documentation/content/architecture/component-view/top-level.xml
  site/documentation/content/user-guide/amqp-adapter.md
Labels: documentation

#3269 [#3092] Rename cli module
  CODEOWNERS
  cli/README.md
  cli/pom.xml
  cli/src/main/java/org/eclipse/hono/cli/HonoCommand.java
  cli/src/main/java/org/eclipse/hono/cli/adapter/amqp/AmqpAdapter.java
  cli/src/main/java/org/eclipse/hono/cli/app/CommandAndControl.java
  cli/src/main/java/org/eclipse/hono/cli/app/NorthBoundApis.java
  cli/src/main/java/org/eclipse/hono/cli/app/TelemetryAndEvent.java
  cli/src/main/java/org/eclipse/hono/cli/util/AbstractVariableConverter.java
  cli/src/main/java/org/eclipse/hono/cli/util/ClientCertInfo.java
  cli/src/main/java/org/eclipse/hono/cli/util/CommandUtils.java
  cli/src/main/java/org/eclipse/hono/cli/util/ConnectionOptions.java
  cli/src/main/java/org/eclipse/hono/cli/util/IntegerVariableConverter.java
  cli/src/main/java/org/eclipse/hono/cli/util/PropertiesVersionProvider.java
  cli/src/main/java/org/eclipse/hono/cli/util/StringVariableConverter.java
  cli/src/main/resources/application.yaml
  cli/src/main/resources/default_banner.txt
  cli/src/main/resources/hono-cli-build.properties
  cli/src/test/java/org/eclipse/hono/cli/util/StringVariableConverterTest.java
  pom.xml
  site/documentation/content/user-guide/amqp-adapter.md
Labels: enhancement

#3268 [#3092] Rename adapter K8s service references
  clients/kafka-common/src/test/java/org/eclipse/hono/client/kafka/KafkaAdminClientConfigPropertiesTest.java
  clients/kafka-common/src/test/java/org/eclipse/hono/client/kafka/consumer/KafkaConsumerConfigPropertiesTest.java
  clients/kafka-common/src/test/java/org/eclipse/hono/client/kafka/producer/KafkaProducerConfigPropertiesTest.java
  clients/notification-kafka/src/test/java/org/eclipse/hono/client/notification/kafka/NotificationKafkaConsumerConfigPropertiesTest.java
  clients/notification-kafka/src/test/java/org/eclipse/hono/client/notification/kafka/NotificationKafkaProducerConfigPropertiesTest.java
  demo-certs/ca_opts
  deploy/src/main/deploy/services.sh
  examples/protocol-gateway-example/scripts/create_hono_device.sh
  site/documentation/content/deployment/resource-limitation.md
  site/documentation/content/getting-started/_index.md
Labels: enhancement

#3270 [#3266] Fix HTTP request span names
  adapters/http-base/src/main/java/org/eclipse/hono/adapter/http/AbstractVertxBasedHttpProtocolAdapter.java
  service-base/src/main/java/org/eclipse/hono/service/http/HttpServiceBase.java
Labels: bug, HTTP Adapter, Device Registry

#3271 [#3092] Rename service and adapter "base-quarkus" modules
  adapters/amqp/pom.xml
  adapters/coap/pom.xml
  adapters/http/pom.xml
  adapters/lora/pom.xml
  adapters/mqtt/pom.xml
  adapters/parent/pom.xml
  adapters/pom.xml
  adapters/sigfox/pom.xml
  services/auth/pom.xml
  services/command-router/pom.xml
  services/device-registry-jdbc/pom.xml
  services/device-registry-mongodb/pom.xml
  services/parent/pom.xml
  services/pom.xml
  site/homepage/content/release-notes.md
Labels: enhancement

#3274 Update bouncycastle; make the dependency more explicit
  adapter-base/pom.xml
  bom/pom.xml
  core/pom.xml
  pom.xml
  services/device-registry-base/pom.xml
  services/device-registry-jdbc/pom.xml
  services/device-registry-mongodb/pom.xml
  tests/pom.xml
Labels: build system

#3276 [#3275] Fix NPE on Command Router startup
  services/command-router/src/main/java/org/eclipse/hono/commandrouter/impl/kafka/InternalKafkaTopicCleanupService.java
Labels: bug, C&C
