Repository eclipse-hono/hono, pull requests merged in 2022-10, with the labels that each got.

#3430 [#3411] Documentation for MongoDB compatibility.
  site/documentation/content/admin-guide/mongodb-device-registry-config.md
Labels: documentation, MongoDB Device Registry

#3434 [#2760] Optimized AMQP adapter shutdown
  adapter-base/src/main/java/org/eclipse/hono/adapter/AbstractProtocolAdapterBase.java
  adapters/amqp/src/main/java/org/eclipse/hono/adapter/amqp/VertxBasedAmqpProtocolAdapter.java
  adapters/amqp/src/test/java/org/eclipse/hono/adapter/amqp/VertxBasedAmqpProtocolAdapterTest.java
  site/documentation/content/admin-guide/command-router-config.md
  site/documentation/content/concepts/device-notifications/index.md
  site/documentation/content/user-guide/amqp-adapter.md
  site/homepage/content/release-notes.md
Labels: C&C, AMQP Adapter

#3421 [#2726] Shared command consumer map for Lora adapter verticles
  adapters/lora/src/main/java/org/eclipse/hono/adapter/lora/LoraCommandSubscriptions.java
  adapters/lora/src/main/java/org/eclipse/hono/adapter/lora/LoraProtocolAdapter.java
  adapters/lora/src/main/java/org/eclipse/hono/adapter/lora/app/Application.java
  adapters/lora/src/main/java/org/eclipse/hono/adapter/lora/app/LoraCommandSubscriptionsFactory.java
  adapters/lora/src/test/java/org/eclipse/hono/adapter/lora/LoraProtocolAdapterTest.java
Labels: C&C, LoRa Adapter
