Repository eclipse-hono/hono, pull requests merged in 2022-02, with the labels that each got.

#3052 Run ITs using the Quarkus based components by default
  tests/pom.xml
  tests/readme.md
Labels: enhancement, build system

#3051 [#2981] Support usage of SNI to indicate tenant (AMQP adapter)
  adapters/amqp-vertx-base/src/main/java/org/eclipse/hono/adapter/amqp/AmqpAdapterSaslAuthenticatorFactory.java
  adapters/amqp-vertx-base/src/main/java/org/eclipse/hono/adapter/amqp/SaslExternalAuthHandler.java
  adapters/amqp-vertx-base/src/main/java/org/eclipse/hono/adapter/amqp/SaslPlainAuthHandler.java
  adapters/amqp-vertx-base/src/main/java/org/eclipse/hono/adapter/amqp/SaslResponseContext.java
  tests/src/test/java/org/eclipse/hono/tests/amqp/AmqpAdapterTestBase.java
  tests/src/test/java/org/eclipse/hono/tests/amqp/AmqpConnectionIT.java
Labels: AMQP Adapter, Feature Request

#3059 [#3057] Add workaround for vertx-auth-mongo hash creation issue
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/ApplicationConfig.java
Labels: bug, MongoDB Device Registry

#3062 Fix NPE concerning connection events of unauthenticated devices
  adapter-base/src/main/java/org/eclipse/hono/adapter/AbstractProtocolAdapterBase.java
  adapter-base/src/main/java/org/eclipse/hono/adapter/monitoring/AbstractMessageSenderConnectionEventProducer.java
  adapter-base/src/main/java/org/eclipse/hono/adapter/monitoring/ConnectionEventProducer.java
Labels: bug, MQTT Adapter, AMQP Adapter

#3063 Upgrade to Quarkus 2.6.3
  adapter-base-quarkus/pom.xml
  adapter-base/pom.xml
  adapters/base-quarkus/pom.xml
  bom/pom.xml
  client-device-connection-infinispan/pom.xml
  clients/amqp-common/src/test/resources/logback-test.xml
  clients/client-common/src/test/resources/logback-test.xml
  clients/kafka-common/pom.xml
  clients/notification-kafka/src/test/resources/logback-test.xml
  clients/notification/src/test/resources/logback-test.xml
  legal/src/main/resources/legal/DEPENDENCIES
  legal/src/main/resources/legal/hono-maven.deps
  service-base-quarkus/pom.xml
  services/auth-base/pom.xml
  services/base-quarkus/pom.xml
  services/command-router-quarkus/pom.xml
Labels: enhancement

#3067 [#3066] Fix MongoDB config options
  services/device-registry-mongodb-base/pom.xml
  services/device-registry-mongodb-base/src/main/java/org/eclipse/hono/deviceregistry/mongodb/config/MongoDbConfigOptions.java
  services/device-registry-mongodb-base/src/main/java/org/eclipse/hono/deviceregistry/mongodb/config/MongoDbConfigProperties.java
  services/device-registry-mongodb-base/src/test/java/org/eclipse/hono/deviceregistry/mongodb/config/QuarkusConfigMappingTest.java
  services/device-registry-mongodb-base/src/test/java/org/eclipse/hono/deviceregistry/mongodb/config/QuarkusPropertyBindingTest.java
  services/device-registry-mongodb-base/src/test/resources/http-endpoint-config.yaml
  services/device-registry-mongodb-base/src/test/resources/mongodb-connection-string-only.yaml
  services/device-registry-mongodb-base/src/test/resources/mongodb-separate-props.yaml
  tests/pom.xml
  tests/src/test/resources/deviceregistry-mongodb/application.yml
Labels: bug, MongoDB Device Registry

#3065 Consider logging.profile when running Quarkus based ITs
  tests/pom.xml
  tests/src/test/resources/amqp/application.yml
  tests/src/test/resources/amqp/logging-quarkus-dev.yml
  tests/src/test/resources/amqp/logging-quarkus-prod.yml
  tests/src/test/resources/amqp/logging-quarkus-trace.yml
  tests/src/test/resources/auth/application.yml
  tests/src/test/resources/auth/logging-quarkus-dev.yml
  tests/src/test/resources/auth/logging-quarkus-prod.yml
  tests/src/test/resources/auth/logging-quarkus-trace.yml
  tests/src/test/resources/coap/application.yml
  tests/src/test/resources/coap/logging-quarkus-dev.yml
  tests/src/test/resources/coap/logging-quarkus-prod.yml
  tests/src/test/resources/coap/logging-quarkus-trace.yml
  tests/src/test/resources/commandrouter/clustered-cache/application.yml
  tests/src/test/resources/commandrouter/embedded-cache/application.yml
  tests/src/test/resources/commandrouter/logback-spring.xml
  tests/src/test/resources/commandrouter/logging-quarkus-dev.yml
  tests/src/test/resources/commandrouter/logging-quarkus-prod.yml
  tests/src/test/resources/commandrouter/logging-quarkus-trace.yml
  tests/src/test/resources/deviceregistry-mongodb/application.yml
  tests/src/test/resources/deviceregistry-mongodb/logback-spring.xml
  tests/src/test/resources/deviceregistry-mongodb/logging-quarkus-dev.yml
  tests/src/test/resources/deviceregistry-mongodb/logging-quarkus-prod.yml
  tests/src/test/resources/deviceregistry-mongodb/logging-quarkus-trace.yml
  tests/src/test/resources/http/application.yml
  tests/src/test/resources/http/logging-quarkus-dev.yml
  tests/src/test/resources/http/logging-quarkus-prod.yml
  tests/src/test/resources/http/logging-quarkus-trace.yml
  tests/src/test/resources/mqtt/application.yml
  tests/src/test/resources/mqtt/logging-quarkus-dev.yml
  tests/src/test/resources/mqtt/logging-quarkus-prod.yml
  tests/src/test/resources/mqtt/logging-quarkus-trace.yml
Labels: enhancement, build system

#3071 [#3069] Fix non-existing maven property in "embed-dependencies"
  core/pom.xml
Labels: bug

#3070 Use SmallRye Config classes for testing config mapping
  adapter-base-quarkus/pom.xml
  adapter-base-quarkus/src/main/java/org/eclipse/hono/adapter/quarkus/AbstractProtocolAdapterApplication.java
  adapter-base-quarkus/src/test/java/org/eclipse/hono/adapter/quarkus/QuarkusPropertyBindingTest.java
  adapter-base/pom.xml
  adapter-base/src/test/java/org/eclipse/hono/adapter/monitoring/ConnectionEventProducerOptionsTest.java
  adapter-base/src/test/java/org/eclipse/hono/adapter/quarkus/QuarkusPropertyBindingTest.java
  adapter-base/src/test/java/org/eclipse/hono/adapter/resourcelimits/PrometheusBasedResourceLimitCheckOptionsTest.java
  adapter-base/src/test/resources/connection-event-producer-options.yaml
  adapter-base/src/test/resources/resource-limit-check-options.yaml
  client-device-connection-infinispan/pom.xml
  client-device-connection-infinispan/src/test/java/org/eclipse/hono/deviceconnection/infinispan/client/QuarkusPropertyBindingTest.java
  client-device-connection-infinispan/src/test/resources/common-cache-options.yaml
  client-device-connection-infinispan/src/test/resources/remote-cache-options.yaml
  client/pom.xml
  client/src/main/java/org/eclipse/hono/client/RequestResponseClientConfigProperties.java
  client/src/main/java/org/eclipse/hono/client/RequestResponseClientOptions.java
  client/src/test/java/org/eclipse/hono/client/RequestResponseClientOptionsTest.java
  client/src/test/resources/request-response-client-options.yaml
  core/src/test/java/org/eclipse/hono/config/quarkus/QuarkusConfigMappingTest.java
  core/src/test/resources/application-options.yaml
  core/src/test/resources/client-options.yaml
  core/src/test/resources/protocol-adapter-options.yaml
  core/src/test/resources/server-options.yaml
  core/src/test/resources/service-options.yaml
  service-base-quarkus/pom.xml
  service-base-quarkus/src/test/resources/application.yaml
  service-base/src/test/java/org/eclipse/hono/service/auth/delegating/AuthenticationServerClientOptionsTest.java
  service-base/src/test/java/org/eclipse/hono/service/http/HttpServiceConfigOptionsTest.java
  service-base/src/test/resources/auth-server-client-options.yaml
  service-base/src/test/resources/http-service-config-options.yaml
  services/auth-base/pom.xml
  services/auth-base/src/test/java/org/eclipse/hono/authentication/file/FileBasedAuthenticationServiceOptionsTest.java
  services/auth-base/src/test/resources/auth-service-options.yaml
  services/command-router-quarkus/src/main/java/org/eclipse/hono/commandrouter/quarkus/Application.java
  services/device-registry-mongodb-base/pom.xml
  services/device-registry-mongodb-base/src/test/java/org/eclipse/hono/deviceregistry/mongodb/config/QuarkusConfigMappingTest.java
  test-utils/core-test-utils/pom.xml
  test-utils/core-test-utils/src/main/java/org/eclipse/hono/test/ConfigMappingSupport.java
Labels: enhancement, build system

#3074 Explicitly annotate notification classes for reflection
  clients/notification-amqp/src/main/java/org/eclipse/hono/client/notification/amqp/ProtonBasedNotificationReceiver.java
  clients/notification-kafka/src/main/java/org/eclipse/hono/client/notification/kafka/KafkaBasedNotificationReceiver.java
  clients/notification/pom.xml
  clients/notification/src/main/java/org/eclipse/hono/notification/AbstractNotification.java
  clients/notification/src/main/java/org/eclipse/hono/notification/NotificationTypeResolver.java
  clients/notification/src/main/java/org/eclipse/hono/notification/deviceregistry/AllDevicesOfTenantDeletedNotification.java
  clients/notification/src/main/java/org/eclipse/hono/notification/deviceregistry/CredentialsChangeNotification.java
  clients/notification/src/main/java/org/eclipse/hono/notification/deviceregistry/DeviceChangeNotification.java
  clients/notification/src/main/java/org/eclipse/hono/notification/deviceregistry/TenantChangeNotification.java
  clients/notification/src/main/resources/META-INF/native-image/org.eclipse.hono/hono-client-notification/native-image.properties
  clients/notification/src/main/resources/META-INF/native-image/org.eclipse.hono/hono-client-notification/reflection-config.json
  clients/notification/src/main/resources/META-INF/native-image/org.eclipse.hono/hono-client-notification/resources-config.json
Labels: enhancement

#3075 Use remote sampling configuration for running ITs
  .github/workflows/ci.yml
  .github/workflows/native-images-tests.yml
  bom/pom.xml
  service-base-quarkus/pom.xml
  service-base-quarkus/src/main/java/org/eclipse/hono/service/quarkus/TracerProducer.java
  tests/pom.xml
  tests/src/test/resources/amqp/application.yml
  tests/src/test/resources/coap/application.yml
  tests/src/test/resources/commandrouter/clustered-cache/application.yml
  tests/src/test/resources/commandrouter/embedded-cache/application.yml
  tests/src/test/resources/deviceregistry-mongodb/application.yml
  tests/src/test/resources/http/application.yml
  tests/src/test/resources/jaeger/default-sampling-strategies.json
  tests/src/test/resources/mqtt/application.yml
Labels: enhancement, build system

#3076 Use annotation to register service-base classes for reflection
  adapters/base-quarkus/pom.xml
  service-base-quarkus/src/main/java/org/eclipse/hono/service/quarkus/QuarkusReflectionRegistration.java
  service-base-quarkus/src/main/resources/META-INF/native-image/org.eclipse.hono/hono-service-base-quarkus/native-image.properties
  service-base-quarkus/src/main/resources/META-INF/native-image/org.eclipse.hono/hono-service-base-quarkus/reflection-config-jaeger.json
  service-base-quarkus/src/main/resources/META-INF/native-image/org.eclipse.hono/hono-service-base-quarkus/reflection-config.json
  service-base-quarkus/src/main/resources/META-INF/native-image/org.eclipse.hono/hono-service-base-quarkus/resources-config.json
  service-base/pom.xml
  service-base/src/main/java/org/eclipse/hono/service/auth/AuthTokenHelperImpl.java
  service-base/src/main/java/org/eclipse/hono/service/cache/Caches.java
  service-base/src/main/resources/application.properties
  services/base-quarkus/pom.xml
Labels: enhancement

#3082 [#3068] Add hashAlgorithm config entry in docs and release notes
  site/documentation/content/admin-guide/mongodb-device-registry-config.md
  site/homepage/content/release-notes.md
Labels: documentation

#3080 [#293] Close MQTT connection when tenant/device is deleted/disabled
  adapters/mqtt-vertx-base/pom.xml
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapterTest.java
  tests/src/test/java/org/eclipse/hono/tests/mqtt/MqttConnectionIT.java
  tests/src/test/java/org/eclipse/hono/tests/mqtt/MqttTestBase.java
Labels: enhancement, MQTT Adapter

#3081 [#3079] Close AMQP connection when tenant/device is deleted/disabled
  adapters/amqp-vertx-base/pom.xml
  adapters/amqp-vertx-base/src/main/java/org/eclipse/hono/adapter/amqp/VertxBasedAmqpProtocolAdapter.java
  adapters/amqp-vertx-base/src/test/java/org/eclipse/hono/adapter/amqp/VertxBasedAmqpProtocolAdapterTest.java
  tests/src/test/java/org/eclipse/hono/tests/amqp/AmqpAdapterTestBase.java
  tests/src/test/java/org/eclipse/hono/tests/amqp/AmqpConnectionIT.java
Labels: enhancement, AMQP Adapter

#3087 Improve tracing/logging on MQTT protocol errors
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
  tests/src/test/java/org/eclipse/hono/tests/mqtt/MqttPublishTestBase.java
Labels: enhancement, MQTT Adapter

#3091 Improve tracing/logging concerning AMQP message size check
  adapters/amqp-vertx-base/src/main/java/org/eclipse/hono/adapter/amqp/VertxBasedAmqpProtocolAdapter.java
Labels: enhancement, AMQP Adapter

#3097 [#3096] Migrate the experimental Sigfox adapter to Quarkus
  adapters/sigfox-vertx/pom.xml
  adapters/sigfox-vertx/src/main/java/org/eclipse/hono/adapter/sigfox/impl/Application.java
  adapters/sigfox-vertx/src/main/java/org/eclipse/hono/adapter/sigfox/impl/Config.java
  adapters/sigfox-vertx/src/main/java/org/eclipse/hono/adapter/sigfox/impl/SigfoxProtocolAdapterOptions.java
  adapters/sigfox-vertx/src/main/java/org/eclipse/hono/adapter/sigfox/impl/SigfoxProtocolAdapterProperties.java
  adapters/sigfox-vertx/src/main/java/org/eclipse/hono/adapter/sigfox/quarkus/Application.java
  adapters/sigfox-vertx/src/main/java/org/eclipse/hono/adapter/sigfox/quarkus/MetricsFactory.java
  push_hono_images.sh
Labels: SigFox Adapter

#3095 [#3077] Upgrade to Quarkus 2.7.1
  bom/pom.xml
  legal/src/main/resources/legal/DEPENDENCIES
  legal/src/main/resources/legal/hono-maven.deps
  services/command-router-base/src/test/java/org/eclipse/hono/commandrouter/impl/KubernetesBasedAdapterInstanceStatusServiceTest.java
Labels: enhancement

#3094 [#3093] Remove support for wild card character in topic filter
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractSubscription.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/CommandSubscription.java
  adapters/mqtt-vertx-base/src/test/java/org/eclipse/hono/adapter/mqtt/CommandSubscriptionTest.java
  site/documentation/content/user-guide/mqtt-adapter.md
  site/homepage/content/release-notes.md
  tests/src/test/java/org/eclipse/hono/tests/mqtt/CommandAndControlMqttIT.java
  tests/src/test/java/org/eclipse/hono/tests/mqtt/MqttCommandEndpointConfiguration.java
Labels: MQTT Adapter, C&C

#3099 [#3086] Remove support for deprecated configuration properties
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/MqttProtocolAdapterOptions.java
  adapters/mqtt-vertx-base/src/main/java/org/eclipse/hono/adapter/mqtt/MqttProtocolAdapterProperties.java
  services/device-registry-mongodb-base/src/main/java/org/eclipse/hono/deviceregistry/mongodb/config/MongoDbBasedCredentialsConfigProperties.java
  site/documentation/content/admin-guide/mongodb-device-registry-config.md
  site/documentation/content/admin-guide/mqtt-adapter-config.md
  site/homepage/content/release-notes.md
Labels: documentation

#3098 [#3089] Remove Kura protocol adapter
  adapters/kura/pom.xml
  adapters/kura/src/main/java/org/eclipse/hono/adapter/kura/impl/Application.java
  adapters/kura/src/main/java/org/eclipse/hono/adapter/kura/impl/Config.java
  adapters/kura/src/main/java/org/eclipse/hono/adapter/kura/impl/KuraAdapterProperties.java
  adapters/kura/src/main/java/org/eclipse/hono/adapter/kura/impl/KuraProtocolAdapter.java
  adapters/kura/src/main/resources/banner.txt
  adapters/kura/src/main/resources/logback-spring.xml
  adapters/kura/src/test/java/org/eclipse/hono/adapter/kura/impl/KuraProtocolAdapterTest.java
  adapters/kura/src/test/resources/logback-test.xml
  adapters/pom.xml
  core/src/main/java/org/eclipse/hono/util/Constants.java
  demo-certs/README.md
  demo-certs/ca_opts
  demo-certs/certs/kura-adapter-cert.pem
  demo-certs/certs/kura-adapter-key.pem
  demo-certs/certs/kuraKeyStore.p12
  demo-certs/create_certs.sh
  jenkins/Hono-Deploy-Eclipse-Pipeline-Declarative.groovy
  jenkins/Hono-Deploy-Maven-Central-Pipeline-Declarative.groovy
  push_hono_images.sh
  site/diagrams/Hono_instance.odg
  site/diagrams/Hono_instance_custom_adapter.svg
  site/documentation/content/admin-guide/kura-adapter-config.md
  site/documentation/content/admin-guide/secure_communication.md
  site/documentation/content/api/Metrics.md
  site/documentation/content/user-guide/kura-adapter.md
  site/homepage/content/release-notes.md
Labels: Kura Adapter

#3100 [#2959] Remove file based device registry
  CODEOWNERS
  jenkins/Hono-Deploy-Eclipse-Pipeline-Declarative.groovy
  jenkins/Hono-Deploy-Maven-Central-Pipeline-Declarative.groovy
  push_hono_images.sh
  services/device-registry-file/pom.xml
  services/device-registry-file/readme.md
  services/device-registry-file/src/main/java/org/eclipse/hono/deviceregistry/file/AbstractFileBasedRegistryConfigProperties.java
  services/device-registry-file/src/main/java/org/eclipse/hono/deviceregistry/file/Application.java
  services/device-registry-file/src/main/java/org/eclipse/hono/deviceregistry/file/ApplicationConfig.java
  services/device-registry-file/src/main/java/org/eclipse/hono/deviceregistry/file/DeviceBackend.java
  services/device-registry-file/src/main/java/org/eclipse/hono/deviceregistry/file/FileBasedCredentialsConfigProperties.java
  services/device-registry-file/src/main/java/org/eclipse/hono/deviceregistry/file/FileBasedCredentialsService.java
  services/device-registry-file/src/main/java/org/eclipse/hono/deviceregistry/file/FileBasedDeviceBackend.java
  services/device-registry-file/src/main/java/org/eclipse/hono/deviceregistry/file/FileBasedRegistrationConfigProperties.java
  services/device-registry-file/src/main/java/org/eclipse/hono/deviceregistry/file/FileBasedRegistrationService.java
  services/device-registry-file/src/main/java/org/eclipse/hono/deviceregistry/file/FileBasedServiceConfig.java
  services/device-registry-file/src/main/java/org/eclipse/hono/deviceregistry/file/FileBasedTenantService.java
  services/device-registry-file/src/main/java/org/eclipse/hono/deviceregistry/file/FileBasedTenantsConfigProperties.java
  services/device-registry-file/src/main/java/org/eclipse/hono/deviceregistry/file/NoopServiceConfig.java
  services/device-registry-file/src/main/resources/banner.txt
  services/device-registry-file/src/main/resources/logback-spring.xml
  services/device-registry-file/src/test/java/org/eclipse/hono/deviceregistry/DeviceRegistryTestUtils.java
  services/device-registry-file/src/test/java/org/eclipse/hono/deviceregistry/file/FileBasedCredentialsServiceTest.java
  services/device-registry-file/src/test/java/org/eclipse/hono/deviceregistry/file/FileBasedDeviceManagementSearchDevicesTest.java
  services/device-registry-file/src/test/java/org/eclipse/hono/deviceregistry/file/FileBasedRegistrationServiceTest.java
  services/device-registry-file/src/test/java/org/eclipse/hono/deviceregistry/file/FileBasedTenantServiceTest.java
  services/device-registry-file/src/test/resources/credentials.json
  services/device-registry-file/src/test/resources/device-identities.json
  services/device-registry-file/src/test/resources/logback-test.xml
  services/device-registry-file/src/test/resources/tenants.json
  services/pom.xml
  site/documentation/content/admin-guide/file-based-device-registry-config.md
  site/documentation/content/admin-guide/jdbc-device-registry-config.md
  site/documentation/content/admin-guide/mongodb-device-registry-config.md
  site/documentation/content/admin-guide/secure_communication.md
  site/documentation/content/concepts/command-and-control/index.md
  site/documentation/content/concepts/connecting-devices/index.md
  site/documentation/content/deployment/helm-based-deployment.md
  site/documentation/content/user-guide/amqp-adapter.md
  site/documentation/content/user-guide/coap-adapter.md
  site/documentation/content/user-guide/device-registry.md
  site/documentation/content/user-guide/file-based-device-registry.md
  site/documentation/content/user-guide/http-adapter.md
  site/documentation/content/user-guide/mqtt-adapter.md
  site/homepage/content/release-notes.md
Labels: Device Registry

#3109 [#3106] Allow nested HotRod config keys to be in camel-case
  client-device-connection-infinispan/src/main/java/org/eclipse/hono/deviceconnection/infinispan/client/InfinispanRemoteConfigurationOptions.java
  client-device-connection-infinispan/src/main/java/org/eclipse/hono/deviceconnection/infinispan/client/InfinispanRemoteConfigurationProperties.java
  client-device-connection-infinispan/src/test/java/org/eclipse/hono/deviceconnection/infinispan/client/InfinispanRemoteConfigurationPropertiesTest.java
  client-device-connection-infinispan/src/test/java/org/eclipse/hono/deviceconnection/infinispan/client/QuarkusPropertyBindingTest.java
  client-device-connection-infinispan/src/test/resources/remote-cache-options.yaml
Labels: C&C

#3105 [#3101] Remove Spring Boot based Authentication server
  jenkins/Hono-Deploy-Eclipse-Pipeline-Declarative.groovy
  jenkins/Hono-Deploy-Maven-Central-Pipeline-Declarative.groovy
  push_hono_images.sh
  services/auth/pom.xml
  services/auth/src/main/java/org/eclipse/hono/authentication/spring/Application.java
  services/auth/src/main/java/org/eclipse/hono/authentication/spring/ApplicationConfig.java
  services/auth/src/main/resources/banner.txt
  services/auth/src/main/resources/logback-spring.xml
  services/pom.xml
  site/documentation/content/admin-guide/auth-server-config.md
  site/documentation/content/admin-guide/secure_communication.md
  site/documentation/content/api/authentication/index.md
  tests/pom.xml
  tests/src/test/resources/auth/application.yml
  tests/src/test/resources/auth/logback-spring.xml
Labels: Auth Server

#3110 [#2932] Remove Spring Boot based MongoDB device registry
  CODEOWNERS
  jenkins/Hono-Deploy-Eclipse-Pipeline-Declarative.groovy
  jenkins/Hono-Deploy-Maven-Central-Pipeline-Declarative.groovy
  push_hono_images.sh
  services/device-registry-base/pom.xml
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/credentials/AbstractCredentialsManagementService.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/credentials/AbstractCredentialsService.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/device/AbstractDeviceManagementService.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/device/AbstractRegistrationService.java
  services/device-registry-mongodb-quarkus/pom.xml
  services/device-registry-mongodb/pom.xml
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/Application.java
  services/device-registry-mongodb/src/main/resources/banner.txt
  services/device-registry-mongodb/src/main/resources/logback-spring.xml
  services/pom.xml
  site/documentation/content/admin-guide/mongodb-device-registry-config.md
  tests/pom.xml
  tests/src/test/resources/deviceregistry-mongodb/application.yml
  tests/src/test/resources/deviceregistry-mongodb/logback-spring.xml
Labels: MongoDB Device Registry

#3112 Remove hono-client CommandConsumer class
  client/src/main/java/org/eclipse/hono/client/device/amqp/internal/AmqpAdapterClientCommandConsumer.java
  client/src/main/java/org/eclipse/hono/client/impl/CommandConsumer.java
  clients/command-amqp/src/main/java/org/eclipse/hono/client/command/amqp/ProtonBasedInternalCommandConsumer.java
  clients/command-kafka/src/main/java/org/eclipse/hono/client/command/kafka/KafkaBasedInternalCommandConsumer.java
  clients/command/src/main/java/org/eclipse/hono/client/command/CommandContext.java
  examples/protocol-gateway-example/src/main/java/org/eclipse/hono/example/protocolgateway/controller/ProtocolGateway.java
  services/command-router-base/src/main/java/org/eclipse/hono/commandrouter/impl/AbstractMappingAndDelegatingCommandHandler.java
  services/command-router-base/src/main/java/org/eclipse/hono/commandrouter/impl/amqp/ProtonBasedMappingAndDelegatingCommandHandler.java
  services/command-router-base/src/main/java/org/eclipse/hono/commandrouter/impl/kafka/KafkaBasedMappingAndDelegatingCommandHandler.java
Labels: Client

#3118 [#3114] Remove Spring Boot based CoAP adapter
  CODEOWNERS
  adapters/coap-vertx/pom.xml
  adapters/coap-vertx/src/main/java/org/eclipse/hono/adapter/coap/spring/Application.java
  adapters/coap-vertx/src/main/java/org/eclipse/hono/adapter/coap/spring/Config.java
  adapters/coap-vertx/src/main/resources/banner.txt
  adapters/coap-vertx/src/main/resources/logback-spring.xml
  adapters/pom.xml
  jenkins/Hono-Deploy-Eclipse-Pipeline-Declarative.groovy
  jenkins/Hono-Deploy-Maven-Central-Pipeline-Declarative.groovy
  push_hono_images.sh
  site/documentation/content/admin-guide/coap-adapter-config.md
  tests/pom.xml
  tests/src/test/resources/coap/application.yml
  tests/src/test/resources/coap/logback-spring.xml
Labels: CoAP Adapter

#3119 [#3116] Remove Spring Boot based Lora adapter
  CODEOWNERS
  adapters/lora-vertx/pom.xml
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/impl/Application.java
  adapters/lora-vertx/src/main/java/org/eclipse/hono/adapter/lora/impl/Config.java
  adapters/lora-vertx/src/main/resources/banner.txt
  adapters/lora-vertx/src/main/resources/logback-spring.xml
  adapters/pom.xml
  jenkins/Hono-Deploy-Eclipse-Pipeline-Declarative.groovy
  jenkins/Hono-Deploy-Maven-Central-Pipeline-Declarative.groovy
  push_hono_images.sh
Labels: LoRa Adapter

#3117 [#3113] Remove Spring Boot based AMQP adapter
  CODEOWNERS
  adapters/amqp-vertx/pom.xml
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/spring/Application.java
  adapters/amqp-vertx/src/main/java/org/eclipse/hono/adapter/amqp/spring/Config.java
  adapters/amqp-vertx/src/main/resources/banner.txt
  adapters/amqp-vertx/src/main/resources/logback-spring.xml
  adapters/pom.xml
  jenkins/Hono-Deploy-Eclipse-Pipeline-Declarative.groovy
  jenkins/Hono-Deploy-Maven-Central-Pipeline-Declarative.groovy
  push_hono_images.sh
  site/documentation/content/admin-guide/amqp-adapter-config.md
  site/homepage/content/release-notes.md
  tests/pom.xml
  tests/src/test/resources/amqp/application.yml
  tests/src/test/resources/amqp/logback-spring.xml
Labels: AMQP Adapter

#3120 [#3115] Remove Spring Boot based HTTP adapter
  CODEOWNERS
  adapters/http-vertx/pom.xml
  adapters/http-vertx/postman/Hono Eclipse Sandbox.postman_environment.json
  adapters/http-vertx/postman/Hono Examples.postman_collection.json
  adapters/http-vertx/postman/Hono local.postman_environment.json
  adapters/http-vertx/readme.md
  adapters/http-vertx/src/main/java/org/eclipse/hono/adapter/http/spring/Application.java
  adapters/http-vertx/src/main/java/org/eclipse/hono/adapter/http/spring/Config.java
  adapters/http-vertx/src/main/resources/banner.txt
  adapters/http-vertx/src/main/resources/logback-spring.xml
  adapters/pom.xml
  jenkins/Hono-Deploy-Eclipse-Pipeline-Declarative.groovy
  jenkins/Hono-Deploy-Maven-Central-Pipeline-Declarative.groovy
  push_hono_images.sh
  site/documentation/content/admin-guide/http-adapter-config.md
  site/homepage/content/release-notes.md
  tests/pom.xml
  tests/src/test/resources/http/application.yml
  tests/src/test/resources/http/logback-spring.xml
Labels: HTTP Adapter

#3125 [#3111] Move AMQP adapter client classes to new module
  bom/pom.xml
  clients/device-amqp/pom.xml
  clients/device-amqp/src/main/java/org/eclipse/hono/client/device/amqp/AmqpAdapterClientFactory.java
  clients/device-amqp/src/main/java/org/eclipse/hono/client/device/amqp/AmqpSenderLink.java
  clients/device-amqp/src/main/java/org/eclipse/hono/client/device/amqp/CommandResponder.java
  clients/device-amqp/src/main/java/org/eclipse/hono/client/device/amqp/EventSender.java
  clients/device-amqp/src/main/java/org/eclipse/hono/client/device/amqp/TelemetrySender.java
  clients/device-amqp/src/main/java/org/eclipse/hono/client/device/amqp/TraceableCommandResponder.java
  clients/device-amqp/src/main/java/org/eclipse/hono/client/device/amqp/TraceableEventSender.java
  clients/device-amqp/src/main/java/org/eclipse/hono/client/device/amqp/TraceableTelemetrySender.java
  clients/device-amqp/src/main/java/org/eclipse/hono/client/device/amqp/internal/AmqpAdapterClientCommandConsumer.java
  clients/device-amqp/src/main/java/org/eclipse/hono/client/device/amqp/internal/AmqpAdapterClientCommandResponseSender.java
  clients/device-amqp/src/main/java/org/eclipse/hono/client/device/amqp/internal/AmqpAdapterClientEventSenderImpl.java
  clients/device-amqp/src/main/java/org/eclipse/hono/client/device/amqp/internal/AmqpAdapterClientTelemetrySenderImpl.java
  clients/device-amqp/src/main/java/org/eclipse/hono/client/impl/AmqpAdapterClientFactoryImpl.java
  clients/device-amqp/src/test/java/org/eclipse/hono/client/AbstractAmqpAdapterClientDownstreamSenderTestBase.java
  clients/device-amqp/src/test/java/org/eclipse/hono/client/device/amqp/AmqpAdapterClientFactoryTest.java
  clients/device-amqp/src/test/java/org/eclipse/hono/client/device/amqp/CommandResponderTest.java
  clients/device-amqp/src/test/java/org/eclipse/hono/client/device/amqp/EventSenderTest.java
  clients/device-amqp/src/test/java/org/eclipse/hono/client/device/amqp/TelemetrySenderTest.java
  clients/device-amqp/src/test/java/org/eclipse/hono/client/device/amqp/internal/AmqpAdapterClientCommandConsumerTest.java
  clients/device-amqp/src/test/resources/logback-test.xml
  clients/pom.xml
  examples/hono-client-examples/pom.xml
  examples/protocol-gateway-example/pom.xml
Labels: Client

#3122 [#2818] Remove Device Connection service from documentation
  site/documentation/content/admin-guide/common-config.md
  site/documentation/content/admin-guide/device-connection-config.md
  site/documentation/content/api/command-router/index.md
  site/documentation/content/api/device-connection/index.md
  site/documentation/content/concepts/command-and-control/command_control_concept.svg
  site/documentation/content/concepts/command-and-control/command_control_concept_amqp.svg
  site/documentation/content/concepts/command-and-control/command_control_concept_delegate_1.svg
  site/documentation/content/concepts/command-and-control/command_control_concept_delegate_2.svg
  site/documentation/content/concepts/command-and-control/command_control_concept_delegate_3.svg
  site/documentation/content/concepts/command-and-control/command_control_concept_gateway_1.svg
  site/documentation/content/concepts/command-and-control/command_control_concept_gateway_2.svg
  site/documentation/content/concepts/command-and-control/command_control_concept_gateway_3.svg
  site/documentation/content/concepts/command-and-control/command_control_concept_gateway_all_devices_1.svg
  site/documentation/content/concepts/command-and-control/command_control_concept_gateway_all_devices_2.svg
  site/documentation/content/concepts/command-and-control/command_control_concept_http.svg
  site/documentation/content/concepts/command-and-control/command_control_concept_mqtt.svg
  site/documentation/content/concepts/command-and-control/command_control_concept_one_way_http.svg
  site/documentation/content/concepts/command-and-control/command_control_concept_one_way_mqtt.svg
  site/documentation/content/concepts/command-and-control/index.md
Labels: documentation, C&C
