Repository eclipse-hono/hono, pull requests merged in 2023-02, with the labels that each got.

#3459 [#3460] uppercase devEUI in lorawan adapter
  adapters/lora/src/main/java/org/eclipse/hono/adapter/lora/providers/ActilityBaseProvider.java
  adapters/lora/src/main/java/org/eclipse/hono/adapter/lora/providers/ChirpStackProvider.java
  adapters/lora/src/main/java/org/eclipse/hono/adapter/lora/providers/ChirpStackV4Provider.java
  adapters/lora/src/main/java/org/eclipse/hono/adapter/lora/providers/EverynetProvider.java
  adapters/lora/src/main/java/org/eclipse/hono/adapter/lora/providers/FireflyProvider.java
  adapters/lora/src/main/java/org/eclipse/hono/adapter/lora/providers/JsonBasedLoraProvider.java
  adapters/lora/src/main/java/org/eclipse/hono/adapter/lora/providers/KerlinkProvider.java
  adapters/lora/src/main/java/org/eclipse/hono/adapter/lora/providers/KerlinkProviderCustomContentType.java
  adapters/lora/src/main/java/org/eclipse/hono/adapter/lora/providers/LiveObjectsProvider.java
  adapters/lora/src/main/java/org/eclipse/hono/adapter/lora/providers/LoraUtils.java
  adapters/lora/src/main/java/org/eclipse/hono/adapter/lora/providers/LoriotProvider.java
  adapters/lora/src/main/java/org/eclipse/hono/adapter/lora/providers/MultiTechProvider.java
  adapters/lora/src/main/java/org/eclipse/hono/adapter/lora/providers/ObjeniousProvider.java
  adapters/lora/src/main/java/org/eclipse/hono/adapter/lora/providers/OrbiwiseProvider.java
  adapters/lora/src/main/java/org/eclipse/hono/adapter/lora/providers/ProximusProvider.java
  adapters/lora/src/main/java/org/eclipse/hono/adapter/lora/providers/TheThingsStackProvider.java
  adapters/lora/src/main/java/org/eclipse/hono/adapter/lora/providers/ThingsNetworkProvider.java
  adapters/lora/src/test/java/org/eclipse/hono/adapter/lora/providers/LoraProviderTestBase.java
  adapters/lora/src/test/java/org/eclipse/hono/adapter/lora/providers/LoraUtilsTest.java
  adapters/lora/src/test/java/org/eclipse/hono/adapter/lora/providers/ThingsNetworkProviderTest.java
  adapters/lora/src/test/resources/payload/actilityEnterprise.uplink.json
  adapters/lora/src/test/resources/payload/actilityWireless.uplink.json
  adapters/lora/src/test/resources/payload/chirpStack.uplink.json
  adapters/lora/src/test/resources/payload/chirpStackV4.uplink.json
  adapters/lora/src/test/resources/payload/everynet.uplink.json
  adapters/lora/src/test/resources/payload/firefly.uplink.json
  adapters/lora/src/test/resources/payload/kerlink-custom-content-type.uplink.json
  adapters/lora/src/test/resources/payload/kerlink.uplink.json
  adapters/lora/src/test/resources/payload/liveObjects.uplink.json
  adapters/lora/src/test/resources/payload/loriot.uplink.json
  adapters/lora/src/test/resources/payload/multiTech.uplink.json
  adapters/lora/src/test/resources/payload/objenious.uplink.json
  adapters/lora/src/test/resources/payload/orbiwise.uplink.json
  adapters/lora/src/test/resources/payload/proximus.uplink.json
  adapters/lora/src/test/resources/payload/theThingsStack.uplink.json
  adapters/lora/src/test/resources/payload/ttn.uplink.json
  adapters/lora/src/test/resources/payload/ttn.uplink.with-null-payload.json
  site/homepage/content/release-notes.md
Labels: enhancement, LoRa Adapter

#3465 [#3441] Automatically disconnect mqtt devices, connected via JWT authentication, once JWT expires
  adapter-base/src/main/java/org/eclipse/hono/adapter/auth/device/jwt/JwtAuthProvider.java
  adapter-base/src/test/java/org/eclipse/hono/adapter/auth/device/jwt/JwtAuthProviderTest.java
  adapters/mqtt-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
  adapters/mqtt-base/src/main/java/org/eclipse/hono/adapter/mqtt/JwtAuthHandler.java
  adapters/mqtt-base/src/test/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapterTest.java
  service-base/src/main/java/org/eclipse/hono/service/auth/ExternalJwtAuthTokenValidator.java
Labels: enhancement, MQTT Adapter

#3463 [#2311] Search for tenants and devices in JDBC based registry
  services/base-jdbc/src/main/java/org/eclipse/hono/service/base/jdbc/store/device/TableManagementStore.java
  services/base-jdbc/src/main/java/org/eclipse/hono/service/base/jdbc/store/tenant/ManagementStore.java
  services/base-jdbc/src/main/resources/org/eclipse/hono/service/base/jdbc/store/device/base.sql.yaml
  services/base-jdbc/src/main/resources/org/eclipse/hono/service/base/jdbc/store/tenant/base.sql.yaml
  services/device-registry-jdbc/src/main/java/org/eclipse/hono/deviceregistry/jdbc/impl/DeviceManagementServiceImpl.java
  services/device-registry-jdbc/src/main/java/org/eclipse/hono/deviceregistry/jdbc/impl/TenantManagementServiceImpl.java
  site/documentation/content/user-guide/device-registry.md
Labels: enhancement, JDBC Device Registry
