Repository eclipse-hono/hono, pull requests merged in 2023-11, with the labels that each got.

#3550 [#3549] Improved getOrCreateTopic/Subscription flow for Pub/Sub
  adapter-base/src/main/java/org/eclipse/hono/adapter/AbstractProtocolAdapterApplication.java
  clients/command-pubsub/src/main/java/org/eclipse/hono/client/command/pubsub/PubSubBasedInternalCommandConsumer.java
  clients/command-pubsub/src/test/java/org/eclipse/hono/client/command/pubsub/PubSubBasedInternalCommandConsumerTest.java
  clients/pubsub-common/src/main/java/org/eclipse/hono/client/pubsub/PubSubBasedAdminClientManager.java
  clients/pubsub-common/src/main/java/org/eclipse/hono/client/pubsub/PubSubConfigProperties.java
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/app/CommonConfigPropertiesProducer.java
Labels: enhancement, C&C

#3548 [#3542] Added additional parameters to the JDBC configuration
  services/base-jdbc/src/main/java/org/eclipse/hono/service/base/jdbc/config/JdbcOptions.java
  services/base-jdbc/src/main/java/org/eclipse/hono/service/base/jdbc/config/JdbcProperties.java
  site/documentation/content/admin-guide/jdbc-device-registry-config.md
Labels: JDBC Device Registry

#3580 Add Hono Open Hour community event to get in touch page
  site/homepage/content/community/get-in-touch.md
  site/homepage/content/community/hono-open-hour.ics
  site/homepage/content/community/project-call.ics
Labels: website

#3584 Fix protocol gateway sandbox config.
  examples/protocol-gateway-example/README.md
  examples/protocol-gateway-example/scripts/create_hono_device.sh
  examples/protocol-gateway-example/src/main/resources/application.yml
Labels: bug

#3583 [#3582] Fix env setup in 'Getting Started' guide.
  site/documentation/content/getting-started/_index.md
Labels: documentation

#3518 JDBC backend search filter for listing only devices or only gateways
  clients/command-pubsub/src/main/java/org/eclipse/hono/client/command/pubsub/PubSubBasedInternalCommandSender.java
  core/src/main/java/org/eclipse/hono/util/RegistryManagementConstants.java
  service-base/src/main/java/org/eclipse/hono/service/http/AbstractHttpEndpoint.java
  services/base-jdbc/src/main/java/org/eclipse/hono/service/base/jdbc/store/device/TableManagementStore.java
  services/base-jdbc/src/main/resources/org/eclipse/hono/service/base/jdbc/store/device/base.h2.sql.yaml
  services/base-jdbc/src/main/resources/org/eclipse/hono/service/base/jdbc/store/device/base.postgresql.sql.yaml
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/device/AbstractDeviceManagementService.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/device/DelegatingDeviceManagementHttpEndpoint.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/device/DeviceManagementService.java
  services/device-registry-base/src/test/java/org/eclipse/hono/service/management/device/AbstractDeviceManagementSearchDevicesTest.java
  services/device-registry-base/src/test/java/org/eclipse/hono/service/management/device/DelegatingDeviceManagementHttpEndpointTest.java
  services/device-registry-jdbc/src/main/java/org/eclipse/hono/deviceregistry/jdbc/impl/DeviceManagementServiceImpl.java
  services/device-registry-jdbc/src/test/java/org/eclipse/hono/deviceregistry/jdbc/impl/BaseRegistryServiceTest.java
  services/device-registry-jdbc/src/test/java/org/eclipse/hono/deviceregistry/jdbc/impl/JdbcBasedDeviceManagementSearchDevicesTest.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedDeviceManagementService.java
  site/documentation/content/api/management/device-registry-v1.yaml
  site/documentation/content/user-guide/device-registry.md
Labels: JDBC Device Registry
