Repository eclipse-hono/hono, pull requests merged in 2023-03, with the labels that each got.

#3469 Read tenant from JWT's "tid" claim
  adapters/mqtt-base/src/main/java/org/eclipse/hono/adapter/mqtt/JwtAuthHandler.java
  adapters/mqtt-base/src/test/java/org/eclipse/hono/adapter/mqtt/JwtAuthHandlerTest.java
  service-base/src/main/java/org/eclipse/hono/service/auth/ExternalJwtAuthTokenValidator.java
  site/documentation/content/concepts/device-identity.md
Labels: MQTT Adapter, security

#3470 Improve JWT validation
  adapter-base/src/main/java/org/eclipse/hono/adapter/auth/device/jwt/DefaultJwsValidator.java
  adapter-base/src/main/java/org/eclipse/hono/adapter/auth/device/jwt/JwsValidator.java
  adapter-base/src/main/java/org/eclipse/hono/adapter/auth/device/jwt/JwtAuthProvider.java
  adapter-base/src/main/java/org/eclipse/hono/adapter/auth/device/jwt/JwtCredentials.java
  adapter-base/src/test/java/org/eclipse/hono/adapter/auth/device/jwt/DefaultJwsValidatorTest.java
  adapter-base/src/test/java/org/eclipse/hono/adapter/auth/device/jwt/JwtAuthProviderTest.java
  adapter-base/src/test/java/org/eclipse/hono/adapter/auth/device/jwt/JwtCredentialsTest.java
  adapters/mqtt-base/pom.xml
  adapters/mqtt-base/src/main/java/org/eclipse/hono/adapter/mqtt/AbstractVertxBasedMqttProtocolAdapter.java
  adapters/mqtt-base/src/main/java/org/eclipse/hono/adapter/mqtt/JwtAuthHandler.java
  adapters/mqtt-base/src/test/java/org/eclipse/hono/adapter/mqtt/JwtAuthHandlerTest.java
  core/src/main/java/org/eclipse/hono/util/CredentialsConstants.java
  service-base/src/test/java/org/eclipse/hono/service/auth/ExternalJwtAuthTokenValidatorTest.java
  tests/src/test/java/org/eclipse/hono/tests/mqtt/MqttPublishTestBase.java
  tests/src/test/java/org/eclipse/hono/tests/mqtt/MqttTestBase.java
  tests/src/test/java/org/eclipse/hono/tests/registry/CredentialsManagementIT.java
Labels: enhancement, MQTT Adapter

#3452 [#3321] MQTT test improvements
  tests/src/test/java/org/eclipse/hono/tests/mqtt/MqttPublishTestBase.java
Labels: enhancement

#3472 Simplify MQTT ITs that expect error messages
  tests/src/test/java/org/eclipse/hono/tests/mqtt/MqttPublishTestBase.java
  tests/src/test/java/org/eclipse/hono/tests/mqtt/TelemetryMqttQoS1IT.java
Labels: enhancement, build system
