Repository eclipse-hono/hono, pull requests merged in 2024-05, with the labels that each got.

#3631 Update to jjwt 0.12.5
  adapter-base/src/main/java/org/eclipse/hono/adapter/auth/device/jwt/DefaultJwsValidator.java
  adapter-base/src/test/java/org/eclipse/hono/adapter/auth/device/jwt/DefaultJwsValidatorTest.java
  adapters/mqtt-base/src/main/java/org/eclipse/hono/adapter/mqtt/JwtAuthHandler.java
  adapters/mqtt-base/src/test/java/org/eclipse/hono/adapter/mqtt/JwtAuthHandlerTest.java
  bom/pom.xml
  core/src/test/java/org/eclipse/hono/auth/AuthoritiesImplTest.java
  legal/src/main/resources/legal/DEPENDENCIES
  legal/src/main/resources/legal/hono-maven.deps
  service-base/src/main/java/org/eclipse/hono/service/auth/AuthTokenFactory.java
  service-base/src/main/java/org/eclipse/hono/service/auth/EventBusAuthenticationService.java
  service-base/src/main/java/org/eclipse/hono/service/auth/ExternalJwtAuthTokenValidator.java
  service-base/src/main/java/org/eclipse/hono/service/auth/JjwtBasedAuthTokenFactory.java
  service-base/src/main/java/org/eclipse/hono/service/auth/JjwtBasedAuthTokenValidator.java
  service-base/src/main/java/org/eclipse/hono/service/auth/JwtSupport.java
  service-base/src/main/java/org/eclipse/hono/service/auth/delegating/AuthenticationServerClientConfigProperties.java
  service-base/src/main/java/org/eclipse/hono/service/auth/delegating/AuthenticationServerClientOptions.java
  service-base/src/main/resources/META-INF/native-image/org.eclipse.hono/hono-service-base/native-image.properties
  service-base/src/test/java/org/eclipse/hono/service/auth/AuthTokenFactoryTest.java
  services/auth-base/pom.xml
  services/auth-base/src/main/java/org/eclipse/hono/authentication/JwkResource.java
  site/homepage/content/release-notes.md
  tests/pom.xml
  tests/src/test/java/org/eclipse/hono/tests/auth/AuthServerAmqpIT.java
  tests/src/test/java/org/eclipse/hono/tests/mqtt/MqttConnectionIT.java
Labels: enhancement, Auth Server

#3620 Update CoAP adapter to use Eclipse Californium 3.11.0
  bom/pom.xml
  legal/src/main/resources/legal/DEPENDENCIES
  legal/src/main/resources/legal/hono-maven.deps
  site/homepage/content/release-notes.md
Labels: enhancement, CoAP Adapter

#3633 Remove support for MongoDB 4.4
  .github/workflows/ci.yml
  site/documentation/content/admin-guide/mongodb-device-registry-config.md
Labels: MongoDB Device Registry

#3635 Use KRaft mode for Sandbox deployment
  deploy/src/main/sandbox/hono-values.yml
Labels: enhancement, Sandbox

#3626 [#3595] migrate to Vert.x SQL Client API
  services/base-jdbc/src/main/java/org/eclipse/hono/service/base/jdbc/config/JdbcProperties.java
  services/base-jdbc/src/main/java/org/eclipse/hono/service/base/jdbc/store/AbstractStore.java
  services/base-jdbc/src/main/java/org/eclipse/hono/service/base/jdbc/store/SQL.java
  services/base-jdbc/src/main/java/org/eclipse/hono/service/base/jdbc/store/Statement.java
  services/base-jdbc/src/main/java/org/eclipse/hono/service/base/jdbc/store/device/AbstractDeviceStore.java
  services/base-jdbc/src/main/java/org/eclipse/hono/service/base/jdbc/store/device/TableAdapterStore.java
  services/base-jdbc/src/main/java/org/eclipse/hono/service/base/jdbc/store/device/TableManagementStore.java
  services/base-jdbc/src/main/java/org/eclipse/hono/service/base/jdbc/store/tenant/AbstractTenantStore.java
  services/base-jdbc/src/main/java/org/eclipse/hono/service/base/jdbc/store/tenant/AdapterStore.java
  services/base-jdbc/src/main/java/org/eclipse/hono/service/base/jdbc/store/tenant/ManagementStore.java
  services/device-registry-jdbc/src/main/java/org/eclipse/hono/deviceregistry/jdbc/impl/ClasspathSchemaCreator.java
Labels: enhancement, JDBC Device Registry
