Repository eclipse-hono/hono, pull requests merged in 2024-01, with the labels that each got.

#3599 [#3597] Use more generic AMQP trace context propagation format.
  clients/amqp-common/src/main/java/org/eclipse/hono/client/amqp/GenericSenderLink.java
  clients/amqp-common/src/main/java/org/eclipse/hono/client/amqp/RequestResponseClient.java
  clients/amqp-connection/src/main/java/org/eclipse/hono/client/amqp/config/ClientConfigProperties.java
  clients/amqp-connection/src/main/java/org/eclipse/hono/client/amqp/config/ClientOptions.java
  clients/amqp-connection/src/main/java/org/eclipse/hono/client/amqp/connection/AmqpUtils.java
  clients/amqp-connection/src/main/java/org/eclipse/hono/client/amqp/tracing/AmqpMessageExtractAdapter.java
  clients/amqp-connection/src/main/java/org/eclipse/hono/client/amqp/tracing/AmqpMessageInjectAdapter.java
  clients/amqp-connection/src/main/java/org/eclipse/hono/client/amqp/tracing/MessageAnnotationsExtractAdapter.java
  clients/amqp-connection/src/main/java/org/eclipse/hono/client/amqp/tracing/MessageAnnotationsInjectAdapter.java
  clients/amqp-connection/src/test/java/org/eclipse/hono/client/amqp/tracing/AmqpMessageInjectExtractAdapterTest.java
  site/documentation/content/admin-guide/hono-client-configuration.md
  site/homepage/content/release-notes.md
Labels: Tracing

#3591 Support filtering for gateway or edge devices only
  services/device-registry-base/src/main/java/org/eclipse/hono/deviceregistry/service/device/AbstractDeviceManagementService.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/Filter.java
  services/device-registry-base/src/main/java/org/eclipse/hono/service/management/device/DeviceManagementService.java
  services/device-registry-base/src/test/java/org/eclipse/hono/deviceregistry/service/device/AbstractDeviceManagementServiceTest.java
  services/device-registry-base/src/test/java/org/eclipse/hono/service/management/device/AbstractDeviceManagementSearchDevicesTest.java
  services/device-registry-jdbc/src/test/java/org/eclipse/hono/deviceregistry/jdbc/impl/AbstractJdbcRegistryTest.java
  services/device-registry-jdbc/src/test/java/org/eclipse/hono/deviceregistry/jdbc/impl/JdbcBasedDeviceManagementSearchDevicesTest.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/model/DeviceDao.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/model/MongoDbBasedDeviceDao.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDbBasedDeviceManagementService.java
  services/device-registry-mongodb/src/main/java/org/eclipse/hono/deviceregistry/mongodb/utils/MongoDbDocumentBuilder.java
  services/device-registry-mongodb/src/test/java/org/eclipse/hono/deviceregistry/mongodb/service/MongoDBBasedDeviceManagementSearchDevicesTest.java
  site/documentation/content/user-guide/device-registry.md
  site/homepage/content/release-notes.md
  tests/src/test/java/org/eclipse/hono/tests/DeviceRegistryHttpClient.java
  tests/src/test/java/org/eclipse/hono/tests/registry/DeviceManagementIT.java
Labels: Feature Request, MongoDB Device Registry

#3603 Upgrade to Californium 3.10.0
  bom/pom.xml
  legal/src/main/resources/legal/DEPENDENCIES
  legal/src/main/resources/legal/hono-maven.deps
  site/homepage/content/release-notes.md
Labels: enhancement, CoAP Adapter

#3606 [#3604] Add native JDBC device registry to pushed images
  push_hono_images.sh
Labels: bug

#3607 [#3604] Add native JDBC device registry to pushed images
  push_hono_images.sh
Labels: bug

#3610 custom mapper should not always return a 503 when the mapping fails
  adapters/mqtt-base/src/main/java/org/eclipse/hono/adapter/mqtt/impl/HttpBasedMessageMapping.java
  adapters/mqtt-base/src/test/java/org/eclipse/hono/adapter/mqtt/impl/HttpBasedMessageMappingTest.java
Labels: enhancement, LoRa Adapter
